
#admin-main .widget {
  float: left;
  display: block;
  margin: 0 24px 15px 0;
}

#admin-main .widget:nth-of-type(4) {
  margin-right: 0px
}

#admin-main .widget:nth-of-type(5) {
  clear: both;
  margin: 0;
}
