.fl-a-container {
	width: 100%;
	height: 0px;
	background: #599ba1;
	z-index: 1035;
	position: fixed;
	top: 0px;
	overflow: hidden;
}

.fl-a-container-show{
	height: 90px;
	animation-name: poppin-down;
	animation-duration: 0.45s;
}
@keyframes poppin-down {
	0%   { height: 0;   }
	67%  { height: 100px  }
	100%  { height: 90px;  }
}

.fl-a-container-hide{
	height: 0;
	animation-name: poppin-up;
	animation-duration: 0.45s;
}
@keyframes poppin-up {
	0%   { height: 90px;   }
	33%  { height: 100px  }
	100%  { height: 0;  }
}

.fl-a-orange {
	background: #f3672f;
}

.fl-a-textHolder {
	text-align: center;
	margin-top: 37px;
}

.fl-a-text {
	color: #fff;
	font-size: 16px;
}

.fl-a-dismiss {
	float: right;
	display: inline-block;
	position: relative;
	top: -28px;
	margin-right: 102px;
	color: #fff;
	font-size: 20px;
}

.fl-a-dismissCircle {
	margin-right: -15px;
	font-size: 27px;
	top: -32px;
}

.fl-a-dismiss:hover {
	cursor: pointer;
}
