.modal-mobile-name {
	width: 65px;
	height: 19px;
	color: #253e74;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 19px;
	position: absolute;
	top: 40px;
	right: 98px;
	text-align: right;
	margin-bottom: 0px;
}

.modal-mobile-phone-title {
	width: 211px;
	height: 56px;
	color: #172568;
	font-family: Lato;
	font-size: 23px;
	font-weight: 300;
	line-height: 28px;
	position: absolute;
	top: 108px;
	margin-left:26px;
	margin-right: 26px;
}

.modal-mobile-phone-device {
	width: 211px;
	height: 56px;
	color: #172568;
	font-family: Lato;
	font-size: 23px;
	font-weight: 300;
	line-height: 28px;
	position: absolute;
	top: 136px;
	margin-left:26px;
	margin-right: 26px;
}

.modal-mobile-phone-icon {
	position: absolute;
	top: 232px;
	left: 0px;
	margin-left:86px;
	margin-right: 86px;
	width:95px;
}

.modal-mobile-phone-uid {
	width: 175px;
	height: 12px;
	color: #172568;
	font-family: Lato;
	font-size: 10px;
	font-weight: 400;
	line-height: 12px;
	position: absolute;
	top: 432px;
	margin-left:43px;
	margin-right: 43px;
}

.modal-mobile-card-title {
	width: 100%;
	color: #363a3c;
	font-family: Lato;
	font-size: 52px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 58px;
	margin-bottom:24px;
}

.modal-mobile-card-description {
	width: 430px;
	color: #707070;
	font-family: Lato;
	font-size: 22px;
	font-weight: 300;
	line-height: 32px;
}

.modal-mobile-content {
/*	width: 905px;
	height: 534px;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
}

.modal-mobile-grayBtn {
	background-color: #e1e1e1;
	color: #707070;
	border-radius: 2px;
	margin-right: 4px;
	font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 34px;
}
.modal-mobile-grayBtn:hover {background:#707070; color:#e1e1e1; outline:none;}
.modal-mobile-grayBtn:active {background:#707070; color:#e1e1e1; outline:none;}
.modal-mobile-grayBtn:focus {background:#e1e1e1; color:#707070; outline:none;}

.modal-mobile-greenBtn {
	min-width: 192px;
	height: 48px;
	background-color: #599ba1;
	border-radius: 2px;
	margin-left: 4px;
	font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 40px;
}
.modal-mobile-greenBtn:hover {background:#5b9ea2; outline:none;}
.modal-mobile-greenBtn:active {background:#5b9ea2; outline:none;}
.modal-mobile-greenBtn:focus {background:#599ba1; outline:none;}

.modal-mobile-sub-link {
	margin-left: 3px;
	text-decoration: underline;
	cursor: pointer;
}
.modal-mobile-sub-link:hover { color:blue; }

.a-mobile-tr {
	width:500px;
	height:20px;
	list-style-type:none;
}

.modal-mobile-card-title-login {
	width:271px;
	height:29px;
	color:black;
	font-family:Lato;
	font-size:24px;
	font-weight:300 !important;
	line-height:29px;
}

.modal-mobile-card-description-in {
	font-weight: 300;
	color: #314052;
	font-family: 'Lato', Helvetica, sans-serif;
}
.modal-mobile-card-description-sub {
	font-size: 13px;
	font-weight: 300;
	color: #757575;
	line-height: 17px;
	letter-spacing: 0.5px;
}
.modal-mobileLogin-subSection {
	display: none;
}
.modal-mobile-phoneContainer {
	position: absolute;
	top: 85px;
	right: 229px;
	display: inherit;
}

.modal-mobile-input {
	position: static;
	margin-left: 0px;
}

.modal-mobile-emailBtn {
	position: absolute;
	float: none;
	right: initial;
	top: initial;
}

.modal-mobile-textingInput {
	width: 193px;
	height: 48px;
}
.modal-mobile-textingBtn {
	width: 137px;
	padding: 0;
	height: 48px;
}

.modal-login-successContainer {
	margin-left: 90px;
}
.modal-login-successCheck {
	color: #50baa8;
}
.modal-login-successTxt {
	color: #50baa8;
	font-size: 16px;
	font-weight: 400;
	margin-left: 8px;
}
.modal-login-alertCheck {
	color: #f3672f;
	margin-right: 4px;
}
.modal-login-alertContainer {
	margin-top: 4px;

}
.modal-login-alertTxt {
	color: #fd6d47;
	font-size: 16px;
}
.modal-login-alertTimes {
	color: #fd6d47;
	font-size: 18px;
	margin-right: 8px;
}
