<h3>Last revised: January 16th, 2017</h3>

<p>Auvenir uses cookies to improve the user experience and ensure that it is functioning effectively.</p>
<p>This Cookie Notice is part of our <a href="/privacy" target="_blank">Privacy Statement</a>. For more information about us, and how we protect visitor information, please see our <a href="/privacy" target="_blank">Privacy Statement</a>.</p>
<p>In order to provide you with a more personalized and responsive service we need to remember and store information about how you use Auvenir. This is done using small text files called cookies. Cookies contain small amounts of information and are downloaded to your computer or other device by a server for Auvenir. Your web browser then sends these cookies back to Auvenir on each subsequent visit so that it can recognize you and remember things like your user preferences. You can find more detailed information about cookies and how they work at <a href="http://www.aboutcookies.org/" target="_blank">http://www.aboutcookies.org/</a>.</p>
<p>Whenever you use Auvenir, information may be collected through the use of cookies and other technologies. By using Auvenir you agree to our use of cookies as described in this Cookie Notice and also to the use of cookies on the other country, regional or practice specific websites contained in deloitte.com that you may visit, as described in their accompanying cookie notices.</p>

<h3>WHAT COOKIES DO WE USE AND WHY?</h3>
<p>Some of the cookies we use are necessary to enable you to move around Auvenir and use its features such as accessing secure areas that may contain content for registered users.</p>
<p>We also use functional cookies to record information about the choices you have made and to allow us to tailor the site to our users; for example, to remember your language or region or that you have already completed a survey. This information is usually anonymized and is not used for any other purpose.</p>
<p>We or our service providers also use analytic services to help us understand how effective our content is, what interests our users have, and to improve how Auvenir works. In addition, we use web beacons or tracking pixels to count visitor numbers and performance cookies to track how many individual users access Auvenir and how often. This information is used for statistical purposes only and it is not our intention to use such information to personally identify any user. However, if you have registered and signed into Auvenir we may combine this information with information from our web analytic services and cookies to analyze how you use Auvenir in more detail.</p>
<p>Auvenir does not use Targeting Cookies to deliver targeted advertising to visitors.</p>
<p>Please contact us at <a href="mailto:info@auvenir.com">info@auvenir.com</a> if you would like more detailed information on the cookies we use.</p>

<h3>HOW TO CONTROL COOKIES?</h3>
<p>By using Auvenir you agree that we can place cookies on your computer or device as explained above. However, you can control and manage cookies in various ways. Please bear in mind that removing or blocking cookies can impact on your user experience and parts of Auvenir may no longer be fully accessible.</p>

<h3>BROWSER CONTROLS</h3>
<p>Most browsers will allow you to see what cookies you have and delete them on an individual basis or block cookies from particular or all websites. Be aware that any preference you have set will be lost if you delete all cookies, including your preference to opt-out from cookies as this itself requires an opt-out cookie to have been set. For more information on how to modify your browser settings to block or filter cookies, see <a href="http://www.aboutcookies.org/" target="_blank">http://www.aboutcookies.org/</a> or <a href="http://www.cookiecentral.com/faq/" target="_blank">http://www.cookiecentral.com/faq/</a>.</p>

<strong><u>Managing Analytics cookies</u></strong>
<p>You can opt-out of having your anonymized browsing activity within websites recorded by analytics cookies. We use the following service providers and you can learn more about their privacy policies and how to opt-out of their cookies by clicking on following links:</p>
<p>Adobe: <a href="http://www.adobe.com/privacy/opt-out.html" target="_blank">http://www.adobe.com/privacy/opt-out.html</a></p>
<p>Google Analytics: <a href="http://www.google.com/analytics/learn/privacy.html" target="_blank">http://www.google.com/analytics/learn/privacy.html</a></p>

<strong><u>Managing Local Shared Objects or Flash Cookies</u></strong>
<p>A local shared object or flash cookie is like most other browser cookies except that it can store additional types of information. These cookies cannot be controlled using the mechanisms listed above. Some parts of Auvenir use these types of cookies to store user preferences for media player functionality and without them some video content may not play properly. These cookies can be controlled manually by visiting the Adobe website.</p>
<p><a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_blank">http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html</a></p>

<h3>SOCIAL BUTTONS</h3>
<p>We use &lsquo;social buttons&rsquo; to enable our users to share or bookmark web pages. These are buttons for third party social media sites and these sites may log information about your activities on the Internet including on Auvenir. Please review the respective terms of use and privacy policies of these sites to understand exactly how they use your information and to find out how to opt-out, or delete, such information.</p>

<h3>EXTERNAL WEB SERVICES</h3>
<p>We sometimes use external web services on Auvenir to display content within the web pages of Auvenir, for example to display images, show videos or run polls. As with the social buttons, we cannot prevent these sites, or external domains, from collecting information on your use of this embedded content.</p>

<h3>EMAIL COMMUNICATIONS</h3>
<p>We may also use tracking technologies to determine whether you have read, clicked on, or forwarded certain email communications we send to you so that we can make our communications more helpful and interesting. If you do not wish us to confirm whether you have opened, clicked on or forwarded our communications, you will need to unsubscribe, as it is not possible for us to send these emails without tracking enabled. Registered subscribers can update their communication preferences at any time by contacting us at <a href="mailto:info@auvenir.com">info@auvenir.com</a>, or you can unsubscribe following the instructions in the individual email communications you receive from us.</p>

<h3>CHANGES TO THIS COOKIE NOTICE</h3>
<p>We may modify or amend this Cookie Notice from time to time at our discretion. When we make changes to this notice, we will amend the revision date at the top of this page, and such modified or amended Cookie Notice shall be effective as to you and your information as of that revision date. We encourage you to periodically review this Cookie Notice to be informed about how we are using cookies.</p>
