<h3>Last revised: January 16th, 2017</h3>

<h3>INTRODUCTION</h3>
<p>This Privacy Statement applies to the Auvenir.com website (the &ldquo;<strong>Auvenir Site</strong>&rdquo;) and all related software, mobile applications, documentation, services, products, and content (collectively, and together with the Auvenir Site, &ldquo;<strong>Auvenir</strong>&rdquo;)</p>
<p>When used in this Privacy Statement, &ldquo;<strong>we</strong>,&rdquo; &ldquo;<strong>us</strong>,&rdquo; and &ldquo;<strong>our</strong>&rdquo; refers to Auvenir, a general partnership formed under the laws of Canada.</p>
<p>This Privacy Statement explains how we protect visitors&rsquo; information gathered via Auvenir.</p>
<p>By using Auvenir you are agreeing to the use of your information as described in this Privacy Statement.</p>
<p>Auvenir may contain links to other sites which may not be governed by this privacy statement. We encourage users to review each website&rsquo;s privacy statement before disclosing any personal information.</p>
<p>If you have any questions regarding this Privacy Statement, please contact <a href="mailto:info@auvenir.com">info@auvenir.com</a>.</p>

<h3>INFORMATION COLLECTION</h3>
<p>To use Auvenir, you must first complete a registration form and provide certain personal information to sign up for an Auvenir account. We only collect personal information that is specifically and voluntarily provided by you. Such information may consist of, but is not limited to, your name, email, phone number, position, organization, and profile photo.</p>
<p>We do not usually seek information relating to your race or ethnic origin, religious beliefs, criminal record, physical or mental health, or sexual orientation. We will, if applicable, obtain your explicit consent to collect and use such information in accordance with applicable laws.</p>

<h3>LOG INFORMATION, COOKIES, AND WEB BEACONS</h3>
<p>Auvenir may collect standard internet log information including your IP address, browser type and language, access times, and referring website addresses. We may also automatically collect information about you such as your device type, mobile network, and version of the app being used.</p>
<p>Auvenir may use cookies (small text files stored in a user&rsquo;s browser) to identify users when they connect to Auvenir. If Auvenir uses cookies, a user&rsquo;s browser must be enabled to allow cookies in order to access Auvenir. Upon successful login, cookies are created and placed on the user&rsquo;s computer or device. In addition to information related to authentication, information may be stored in the cookies in order to direct a user to the correct site location. To ensure that Auvenir is well managed and to facilitate improved navigation, we or our service providers may also use cookies or Web beacons (electronic images that allow the Website to count visitors who have accessed a particular page and to access certain cookies) to collect aggregate data. Additional information on how we use cookies and other tracking technologies and how you can control these can be found in our <a href="/cookies" target="_blank">cookie notice</a>. By using this Website, you agree that we can place cookies on your computer or device.</p>
<p>Most browsers can be set to inform you when a cookie has been sent to you and provide you with the opportunity to reject that cookie. However, refusing a cookie may, in some cases, preclude you from using, or negatively impact the display or function of, Auvenir or some of its areas or features.</p>

<h3>INFORMATION USE</h3>
<p>We use the information we collect to provide, maintain and improve Auvenir.&nbsp; For example, we may use this information to verify your eligibility to use Auvenir, to manage your Auvenir account, to confirm your identity each time you log into Auvenir, to notify you of new releases and upcoming changes or downtime, and to otherwise improve your user experience.</p>
<p>In addition, to the extent permitted by local jurisdiction applicable laws and regulations on data privacy protection and data security, and subject to strict application of this Privacy Statement and with your consent where required by law, we may also use your personal information for marketing purposes or to send you promotional materials or communications regarding services that we feel may be of interest to you. We may also contact you to seek feedback on services provided or for market or other research purposes.</p>
<p>You may at any time request that we discontinue sending you marketing or promotional emails. However, you may continue to receive system-generated emails, or messages generated or other commercial messages generated in response to your registration for, and use of Auvenir, as permitted by law.</p>
<p>Use of Auvenir may be subject to review, monitoring and recording at any time to help us ensure compliance with the <a href="/terms" target="_blank">Terms of Service</a> and that only authorized parties are accessing Auvenir using your account. Your personal information may also be used to protect our rights or property and that of our users and, where appropriate, to comply with legal process.</p>

<h3>DISCLOSURE OF INFORMATION TO THIRD PARTIES</h3>
<p>Personal information may be disclosed to other Deloitte Network entities and other third parties in order to respond to your requests or inquiries, as part of a corporate transaction (such as a sale, divestiture, reorganization, merger or acquisition), or where those parties handle information on our behalf. All of these disclosures may involve the transfer of personal information to countries, regions, or areas where other Deloitte Network entities, our service providers, and other third parties are located, and these may not have data protection rules similar to those in effect in your area of residence.&nbsp; As used in this Privacy Statement, the &ldquo;<strong>Deloitte Network</strong>&rdquo; refers to Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (&ldquo;<strong>DTTL</strong>&rdquo;), its network of member firms, and their related entities.</p>
<p>Personal information may also be disclosed to law enforcement, regulatory, or other government agencies, or to other third parties, in each case to comply with legal or regulatory obligations or requests.</p>
<p>By using or providing information through Auvenir, you are consenting to the disclosures described above.</p>

<h3>BLOGS, FORUMS, WIKIS, AND OTHER SOCIAL MEDIA </h3>
<p>Auvenir may host or provide access to various blogs, forums, wikis, and other social media applications or services that allow you to share content with other users (collectively, &ldquo;<strong>Social Media Applications</strong>&rdquo;). Any personal information or other information that you contribute to any Social Media Application can be read, collected, and used by other users of that Social Media Application over whom we have little or no control. Therefore, we are not responsible for any other user&rsquo;s use, misuse, or misappropriation of any personal information or other information that you contribute to any Social Media Application.</p>

<h3>ACCESS TO INFORMATION</h3>
<p>Visitors who choose to register on or with Auvenir may access their user profile, correct, and update their details, or unsubscribe from communications at any time. Visitors who have any problem accessing their profiles, or would like to request a copy of their personal information should contact webmaster services using the contact us link in Auvenir. In all cases we will treat requests to access information or change information in accordance with applicable legal requirements.</p>

<h3>INFORMATION SECURITY</h3>
<p>We have in place reasonable commercial standards of technology and operational security to protect all information provided by visitors via Auvenir from unauthorized access, disclosure, alteration, or destruction.</p>

<h3>CHANGES TO OUR PRIVACY STATEMENT</h3>
<p>We may modify or amend this Privacy Statement from time to time at our discretion. When we make changes to this Privacy Statement, we will amend the revision date at the top of this page, and such modified or amended Privacy Statement shall be effective as to you and your information as of that revision date. We encourage you to periodically review this Privacy Statement to be informed about how we are protecting your information.</p>

<h3>QUESTIONS</h3>
<p>If you have any questions or concerns regarding your privacy while using Auvenir, please send an email to <a href="mailto:info@auvenir.com">info@auvenir.com</a>.</p>
