<h3>Derni&egrave;re mise &agrave; jour&nbsp;: le 16 janvier, 2017</h3>

<h3>INTRODUCTION</h3>
<p>Le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute; s&rsquo;applique au site Web Auvenir.com (le &laquo;<strong>&nbsp;site d&rsquo;Auvenir&nbsp;</strong>&raquo;) ainsi qu&rsquo;&agrave; l&rsquo;ensemble des logiciels, des applications mobiles, de la documentation, des services, des produits et du contenu (collectivement, et avec le site d&rsquo;Auvenir, d&eacute;sign&eacute;s par &laquo;&nbsp;<strong>Auvenir&nbsp;</strong>&raquo;).</p>
<p>Dans le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute;, les termes &laquo;&nbsp;<strong>nous</strong>&nbsp;&raquo;, &laquo;&nbsp;<strong>notre&nbsp;&raquo; </strong>et&nbsp;&laquo;&nbsp;<strong>nos</strong>&nbsp;&raquo; font r&eacute;f&eacute;rence &agrave; Auvenir, une soci&eacute;t&eacute; en nom collectif constitu&eacute;e en vertu des lois du Canada.</p>
<p>Le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute; explique comment nous prot&eacute;geons les renseignements des visiteurs recueillis par l&rsquo;interm&eacute;diaire d&rsquo;Auvenir.</p>
<p>En utilisant Auvenir, vous confirmez que vous acceptez que vos renseignements soient utilis&eacute;s de la mani&egrave;re d&eacute;crite dans le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute;.</p>
<p>Auvenir peut contenir des liens vers d&rsquo;autres sites qui pourraient ne pas &ecirc;tre assujettis au pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute;. Nous encourageons les utilisateurs &agrave; lire l&rsquo;&eacute;nonc&eacute; de confidentialit&eacute; de chaque site Web avant de divulguer des renseignements personnels.</p>
<p>Si vous avez des questions concernant le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute;, communiquez avec nous &agrave; l&rsquo;adresse &eacute;lectronique suivante: <a href="mailto:info@auvenir.com">info@auvenir.com</a>. &nbsp;</p>

<h3>COLLECTE DES RENSEIGNEMENTS</h3>
<p>Pour utiliser Auvenir, vous devez commencer par remplir un formulaire d&rsquo;inscription et fournir certains renseignements personnels afin d&rsquo;ouvrir un compte Auvenir. Nous recueillons uniquement les renseignements personnels que vous nous fournissez express&eacute;ment et volontairement. Ces renseignements peuvent comprendre, sans s&rsquo;y limiter, votre nom, votre adresse &eacute;lectronique, votre num&eacute;ro de t&eacute;l&eacute;phone, le poste que vous occupez, votre organisation ainsi qu&rsquo;une photo de profil.</p>
<p>En g&eacute;n&eacute;ral, nous ne demandons pas de renseignements sur la race ou l&rsquo;origine ethnique, les croyances religieuses, le casier judiciaire, la sant&eacute; physique ou mentale ou l&rsquo;orientation sexuelle. Le cas &eacute;ch&eacute;ant, nous solliciterons votre consentement explicite s&rsquo;il y a lieu de recueillir et d&rsquo;utiliser de tels renseignements, en conformit&eacute; avec les lois applicables.</p>

<h3>RENSEIGNEMENTS D&rsquo;OUVERTURE DE SESSION, T&Eacute;MOINS ET PIXELS INVISIBLES</h3>
<p>Auvenir peut recueillir les renseignements courants relatifs &agrave; la connexion &agrave; &nbsp;Internet, tels que votre adresse IP, le type et la langue de votre navigateur, vos heures d&rsquo;acc&egrave;s, ainsi que les adresses des sites Web vous ayant r&eacute;f&eacute;r&eacute;s au site d'Auvenir. Nous pouvons &eacute;galement recueillir automatiquement des renseignements &agrave; votre sujet tels que le type de votre appareil ainsi que &nbsp;le r&eacute;seau mobile et la version de l&rsquo;application que vous utilisez.</p>
<p>Auvenir peut utiliser des t&eacute;moins (petits fichiers texte stock&eacute;s dans le navigateur de l&rsquo;utilisateur) afin d&rsquo;identifier les utilisateurs lorsqu&rsquo;ils se connectent &agrave; Auvenir. Si Auvenir utilise des t&eacute;moins, votre navigateur doit &ecirc;tre configur&eacute; de fa&ccedil;on &agrave; accepter les t&eacute;moins pour que vous puissiez acc&eacute;der &agrave; Auvenir. Une fois la connexion r&eacute;ussie, des t&eacute;moins sont cr&eacute;&eacute;s et sont stock&eacute;s sur l&rsquo;ordinateur ou l&rsquo;appareil de l'utilisateur. En plus des informations li&eacute;es &agrave; l&rsquo;authentification, d&rsquo;autres informations peuvent &ecirc;tre enregistr&eacute;es dans les t&eacute;moins dans le but de diriger les utilisateurs vers l&rsquo;emplacement appropri&eacute; du site. Afin d&rsquo;assurer une bonne gestion d&rsquo;Auvenir et de faciliter l'am&eacute;lioration de sa navigation, nous ou nos fournisseurs de services pouvons utiliser &eacute;galement des t&eacute;moins ou des pixels invisibles (images &eacute;lectroniques qui permettent au site Web de compter les visiteurs qui acc&egrave;dent &agrave; une page en particulier et qui permettent d&rsquo;acc&eacute;der &agrave; certains t&eacute;moins) pour recueillir des donn&eacute;es agr&eacute;g&eacute;es. Des informations additionnelles sur notre utilisation des t&eacute;moins et d&rsquo;autres technologies de suivi, ainsi que sur les moyens que vous pouvez prendre pour assurer un contr&ocirc;le &agrave; cet &eacute;gard, sont fournies dans notre <a href="/cookies" target="_blank">D&eacute;claration sur l&rsquo;utilisation des t&eacute;moins</a>. Si vous utilisez ce site Web, vous consentez &agrave; ce que nous stockions des t&eacute;moins dans votre ordinateur ou dans votre appareil.</p>
<p>La plupart des navigateurs peuvent &ecirc;tre configur&eacute;s de fa&ccedil;on &agrave; vous avertir lorsqu&rsquo;un t&eacute;moin vous est envoy&eacute; et &agrave; vous permettre de refuser ce t&eacute;moin; cependant, le fait de refuser un t&eacute;moin pourrait, dans certains cas, vous emp&ecirc;cher d&rsquo;utiliser Auvenir ou certaines de ses sections ou fonctions.</p>

<h3>UTILISATION DES RENSEIGNEMENTS</h3>
<p>Nous utilisons les renseignements que nous recueillons afin de fournir la prestation de services d&rsquo;Auvenir et d&rsquo;en assurer la maintenance et l&rsquo;am&eacute;lioration. Par exemple, ces renseignements peuvent nous servir &agrave; v&eacute;rifier que vous remplissez les conditions d&rsquo;utilisation d&rsquo;Auvenir, &agrave; g&eacute;rer votre compte Auvenir, &agrave; confirmer votre identit&eacute; chaque fois que vous ouvrez une session dans Auvenir, &agrave; vous aviser des nouvelles versions et des changements &agrave; venir, ou encore des temps d&rsquo;arr&ecirc;t, ainsi qu&rsquo;&agrave; am&eacute;liorer votre exp&eacute;rience d&rsquo;utilisateur.</p>
<p>En outre, dans la mesure permise par les lois et r&egrave;glements de la juridiction applicable en mati&egrave;re de protection de la confidentialit&eacute; des donn&eacute;es et de s&eacute;curit&eacute; des donn&eacute;es, et sous r&eacute;serve de la stricte application du pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute; et de l&rsquo;obtention de votre consentement lorsqu'exig&eacute; par la loi, nous pouvons &eacute;galement utiliser vos renseignements personnels &agrave; des fins commerciales ou dans le but de vous envoyer de la documentation promotionnelle ou des communications concernant des services qui, &agrave; notre avis, sont susceptibles de susciter votre int&eacute;r&ecirc;t. Nous pouvons &eacute;galement communiquer avec vous pour obtenir vos commentaires sur les services fournis ou aux fins d&rsquo;&eacute;tudes de march&eacute; ou d&rsquo;autres recherches.</p>
<p>Vous pouvez &agrave; tout moment demander que nous cessions de vous envoyer des courriels promotionnels ou de marketing. Toutefois, vous pourriez continuer &agrave; recevoir des courriels g&eacute;n&eacute;r&eacute;s par le syst&egrave;me ou d&rsquo;autres communications de nature commerciale g&eacute;n&eacute;r&eacute;es en r&eacute;ponse &agrave; votre inscription et &agrave; votre utilisation d'Auvenir, tel que permis par la loi.</p>
<p>L&rsquo;utilisation d&rsquo;Auvenir peut en tout temps faire l&rsquo;objet d&rsquo;un examen, d&rsquo;une surveillance ou d&rsquo;un enregistrement afin de garantir que les <a href="/terms" target="_blank">Conditions d&rsquo;utilisation</a> soient respect&eacute;es et afin de veiller &agrave; ce que seules les parties autoris&eacute;es aient acc&egrave;s &agrave; Auvenir au moyen de votre compte. Vos renseignements personnels peuvent &eacute;galement &ecirc;tre utilis&eacute;s pour prot&eacute;ger nos droits ou nos biens et ceux de nos utilisateurs et, au besoin, pour nous conformer &agrave; une proc&eacute;dure judiciaire.</p>

<h3>DIVULGATION DE RENSEIGNEMENTS &Agrave; DES TIERS</h3>
<p>Des renseignements personnels peuvent &ecirc;tre divulgu&eacute;s &agrave; d&rsquo;autres entit&eacute;s du r&eacute;seau de Deloitte et &agrave; d&rsquo;autres tiers dans le but de r&eacute;pondre &agrave; vos demandes ou &agrave; vos questions, dans le cadre d&rsquo;une transaction commerciale (telle qu'une vente, un d&eacute;sinvestissement, une r&eacute;organisation, une fusion ou une acquisition) ou lorsque l&rsquo;une de ces parties traite des renseignements en notre nom. Ces divulgations peuvent comprendre le transfert de renseignements personnels vers des pays, des r&eacute;gions ou des secteurs o&ugrave; se trouvent d&rsquo;autres entit&eacute;s du r&eacute;seau de Deloitte ainsi qu'o&ugrave; se trouvent nos fournisseurs de services et d&rsquo;autres tiers, o&ugrave; les r&egrave;gles relatives &agrave; la protection des renseignements personnels diff&egrave;rent de celles de votre lieu de r&eacute;sidence. Tel qu&rsquo;utilis&eacute; dans le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute;, le &laquo;&nbsp;<strong>r&eacute;seau de Deloitte&nbsp;</strong>&raquo; d&eacute;signe Deloitte Touche Tohmatsu Limited, soci&eacute;t&eacute; ferm&eacute;e &agrave; responsabilit&eacute; limit&eacute;e par garanties du Royaume-Uni (&laquo;&nbsp;<strong>DTTL</strong>&nbsp;&raquo;), ainsi que son r&eacute;seau de cabinets membres et leurs entit&eacute;s li&eacute;es.</p>
<p>Les renseignements personnels peuvent &eacute;galement &ecirc;tre divulgu&eacute;s &agrave; des organismes d&rsquo;application de la loi ou de r&eacute;glementation, &agrave; d&rsquo;autres organismes gouvernementaux ou &agrave; d&rsquo;autres tiers, uniquement afin de satisfaire &agrave; des obligations ou &agrave; des demandes d&rsquo;ordre juridique ou r&eacute;glementaire.</p>
<p>En utilisant Auvenir ou en fournissant des renseignements par l&rsquo;entremise d&rsquo;Auvenir, vous consentez aux divulgations susmentionn&eacute;es.</p>

<h3>BLOGUES, FORUMS, WIKIS ET AUTRES M&Eacute;DIAS SOCIAUX</h3>
<p>Auvenir peut h&eacute;berger divers blogues, forums, wikis et autres applications ou services de m&eacute;dias sociaux, ou fournir l&rsquo;acc&egrave;s &agrave; ceux-ci, qui vous permettent de communiquer du contenu &agrave; d&rsquo;autres utilisateurs (collectivement, les &laquo;&nbsp;<strong>Applications de m&eacute;dias sociaux</strong>&nbsp;&raquo;). Tous les renseignements personnels et autres informations que vous divulguez en utilisant une Application de m&eacute;dias sociaux peuvent &ecirc;tre lus, recueillis et utilis&eacute;s par d&rsquo;autres utilisateurs de cette Application de m&eacute;dias sociaux sur laquelle nous avons peu ou pas de contr&ocirc;le. Par cons&eacute;quent, nous ne sommes pas responsables de l&rsquo;utilisation, d&rsquo;une mauvaise utilisation ou d&rsquo;une appropriation illicite, par un autre utilisateur, de renseignements personnels ou de toute autre information que vous divulguez en utilisant une Application de m&eacute;dias sociaux.</p>

<h3>ACC&Egrave;S &Agrave; L&rsquo;INFORMATION</h3>
<p>Les visiteurs qui choisissent de s&rsquo;inscrire &agrave; Auvenir peuvent acc&eacute;der &agrave; leur profil d&rsquo;utilisateur, corriger et mettre &agrave; jour leurs renseignements personnels ou se d&eacute;sabonner des communications en tout temps. Les visiteurs qui &eacute;prouvent des probl&egrave;mes &agrave; acc&eacute;der &agrave; leur profil ou qui aimeraient demander une copie de leurs renseignements personnels doivent communiquer avec le webmestre &agrave; l&rsquo;aide du lien <em>Nous joindre</em> qui se trouve dans Auvenir. Dans tous les cas, nous traiterons vos demandes pour acc&eacute;der aux renseignements ou pour les modifier conform&eacute;ment aux dispositions l&eacute;gales applicables.</p>

<h3>S&Eacute;CURIT&Eacute; DES RENSEIGNEMENTS</h3>
<p>Nous avons mis en place des normes commerciales raisonnables en mati&egrave;re de s&eacute;curit&eacute; de la technologie et des op&eacute;rations afin de prot&eacute;ger tous les renseignements fournis par les visiteurs d&rsquo;Auvenir contre les acc&egrave;s non autoris&eacute;s, les divulgations non autoris&eacute;es, leur modification ou leur destruction.</p>

<h3>CHANGEMENTS &Agrave; NOTRE &Eacute;NONC&Eacute; DE CONFIDENTIALIT&Eacute;</h3>
<p>Nous pouvons modifier le pr&eacute;sent &Eacute;nonc&eacute; de confidentialit&eacute; de temps &agrave; autre, &agrave; notre discr&eacute;tion. Lorsque des changements seront faits &agrave; cet &Eacute;nonc&eacute; de confidentialit&eacute;, nous modifierons la date de r&eacute;vision au haut de la page, et cet &eacute;nonc&eacute; modifi&eacute; sera en vigueur, &agrave; votre &eacute;gard et quant &agrave; vos renseignements, &agrave; compter de cette date de r&eacute;vision. Nous vous encourageons &agrave; relire cet &Eacute;nonc&eacute; de confidentialit&eacute; r&eacute;guli&egrave;rement afin de savoir comment nous prot&eacute;geons vos renseignements.</p>

<h3>QUESTIONS</h3>
<p>Si vous avez des questions ou des pr&eacute;occupations &agrave; l&rsquo;&eacute;gard de la confidentialit&eacute; de vos renseignements lorsque vous utilisez Auvenir, veuillez nous envoyer un courriel &agrave; l&rsquo;adresse suivante: <a href="mailto:info@auvenir.com">info@auvenir.com</a>. &nbsp;</p>
