<h3>Prise d&rsquo;effet&nbsp;: le 16 janvier, 2017</h3>

<p>Les pr&eacute;sentes Conditions d&rsquo;utilisation (&laquo;&nbsp;<strong>Conditions</strong>&nbsp;&raquo;) r&eacute;gissent votre acc&egrave;s au site Web Auvenir.com et votre utilisation de ce dernier (&laquo;&nbsp;<strong>site d&rsquo;Auvenir&nbsp;</strong>&raquo;)
  ainsi que l&rsquo;ensemble des logiciels, des applications mobiles, de la documentation, des services, des produits et du contenu (collectivement, et avec le site d&rsquo;Auvenir, &laquo;&nbsp;<strong>Auvenir&nbsp;</strong>&raquo;).</p>

<p><strong>Vous acceptez les pr&eacute;sentes Conditions si vous utilisez Auvenir ou si vous cliquez dans la case &laquo;&nbsp;J&rsquo;ACCEPTE&nbsp;&raquo; (ou une case similaire) lorsque vous cr&eacute;ez votre compte d&rsquo;utilisateur d&rsquo;Auvenir.</strong><strong> Si vous n&rsquo;acceptez pas ces conditions, vous n&rsquo;&ecirc;tes pas autoris&eacute; &agrave; utiliser Auvenir et vous devriez cesser imm&eacute;diatement de l&rsquo;utiliser.</strong></p>

<p>Si vous avez des questions concernant les pr&eacute;sentes Conditions ou Auvenir, communiquez avec nous &agrave; l&rsquo;adresse <a href='mailto:info@auvenir.com'>info@auvenir.com</a>.</p>

<p>Dans les pr&eacute;sentes Conditions, les termes &laquo;&nbsp;<strong>nous</strong>&nbsp;&raquo; et &laquo;&nbsp;<strong>notre&nbsp;&raquo; et&nbsp;&laquo;&nbsp;nos&nbsp;</strong>&raquo; font r&eacute;f&eacute;rence &agrave; Auvenir, une soci&eacute;t&eacute;
  en nom collectif constitu&eacute;e en vertu des lois du Canada.</p>

<h3>1. &Agrave; QUI S&rsquo;APPLIQUENT LES PR&Eacute;SENTES CONDITIONS ET CE QU&rsquo;ELLES R&Eacute;GISSENT.</h3>
  <p><strong>1.1. Applicabilit&eacute;</strong><strong>.</strong> Pour pouvoir utiliser Auvenir, vous devez accepter les pr&eacute;sentes Conditions en votre propre nom ainsi qu&rsquo;au nom de votre soci&eacute;t&eacute;, organisation ou autre entit&eacute;
    juridique pour laquelle vous travaillez &agrave; titre d&rsquo;associ&eacute;, d&rsquo;associ&eacute; d&eacute;l&eacute;gu&eacute;, de directeur, d&rsquo;employ&eacute;, ou pour laquelle vous agissez &agrave; titre d&rsquo;entrepreneur (&laquo;&nbsp;<strong>votre soci&eacute;t&eacute;&nbsp;</strong>&raquo;).
    Par la suite, ces conditions constitueront un contrat juridiquement contraignant entre nous, d&rsquo;une part, et vous et votre soci&eacute;t&eacute;, d&rsquo;autre part.</p>
  <p><strong>1.2. Affili&eacute;s de votre soci&eacute;t&eacute;. </strong>Aux termes de ces conditions, les affili&eacute;s de votre soci&eacute;t&eacute; peuvent &eacute;galement utiliser Auvenir dans la m&ecirc;me mesure que votre soci&eacute;t&eacute;.
    Si les affili&eacute;s de votre soci&eacute;t&eacute; utilisent Auvenir soit, a) vous avez le pouvoir et l&rsquo;autorit&eacute; de les lier contractuellement &agrave; ces conditions, soit b)&nbsp;vous n&rsquo;avez ni le pouvoir ni l&rsquo;autorit&eacute;
    de les lier contractuellement &agrave; ces conditions et, dans ce cas, votre soci&eacute;t&eacute; sera tenue responsable de toute action ou inaction de ses affili&eacute;s qui constitue un manquement aux pr&eacute;sentes Conditions. Si vous avez
    le pouvoir et l&rsquo;autorit&eacute; de lier contractuellement &agrave; ces conditions les affili&eacute;s de votre soci&eacute;t&eacute;, alors i) chaque affili&eacute; est assujetti &agrave; ces conditions, ii) ces conditions constituent un
    contrat juridiquement contraignant entre nous, d&rsquo;une part, et vous, votre soci&eacute;t&eacute; et chacun de vos affili&eacute;s, d&rsquo;autre part et iii) aux fins de l&rsquo;application de ces conditions, &laquo;&nbsp;<strong>votre soci&eacute;t&eacute;</strong>&raquo;
    d&eacute;signe, collectivement, votre soci&eacute;t&eacute; et les affili&eacute;s de celle-ci. Aux termes de ces conditions, &laquo;&nbsp;<strong>affili&eacute;</strong>&nbsp;&raquo; d&eacute;signe une entit&eacute; qui contr&ocirc;le votre soci&eacute;t&eacute;,
    ou qui est contr&ocirc;l&eacute;e par celle-ci, ou qui fait l&rsquo;objet d&rsquo;un contr&ocirc;le commun auquel votre soci&eacute;t&eacute; est partie.</p>
  <p><strong>1.3. Affiliation au r&eacute;seau Deloitte.</strong> M&ecirc;me si nous sommes affili&eacute;s au r&eacute;seau de Deloitte et que des parties de ces conditions mentionnent d&rsquo;autres entit&eacute;s du r&eacute;seau de Deloitte, les pr&eacute;sentes
    Conditions sont conclues uniquement avec nous, et non pas avec l&rsquo;une ou l&rsquo;autre de ces entit&eacute;s. Dans les pr&eacute;sentes Conditions, le &laquo;&nbsp;<strong>r&eacute;seau de Deloitte</strong>&raquo; d&eacute;signe Deloitte
    Touche Tohmatsu Limited, soci&eacute;t&eacute; ferm&eacute;e &agrave; responsabilit&eacute; limit&eacute;e par garanties du Royaume-Uni (&laquo;&nbsp;<strong>DTTL</strong>&nbsp;&raquo;), ainsi que son r&eacute;seau de cabinets membres et ses entit&eacute;s
    li&eacute;es. Consulter <a href='http://www.deloitte.com/ca/apropos' target='_blank'>deloitte.com/ca/apropos</a> pour en savoir davantage sur le r&eacute;seau Deloitte.</p>
  <p><strong>1.4. Services de tiers. </strong>Auvenir peut contenir des fonctions con&ccedil;ues pour op&eacute;rer des applications, des sites Web, des outils et des ressources de tiers (&laquo;&nbsp;<strong>services de tiers&nbsp;</strong>&raquo;), comme
    Quickbooks, Xero et des services bancaires en ligne. En plus des services de tiers, certains liens et certaines coordonn&eacute;es fournies dans Auvenir peuvent mener &agrave; des ressources, &agrave; des sites Web ou &agrave; des outils de tiers
    (&laquo;&nbsp;<strong>ressources de tiers&nbsp;</strong>&raquo;). Si vous utilisez des services ou des ressources de tiers, vous ou votre soci&eacute;t&eacute; devrez peut-&ecirc;tre cr&eacute;er un compte aupr&egrave;s du fournisseur de ces services
    ou ressources et devrez accepter et respecter toute condition d&rsquo;utilisation, condition li&eacute;e au service ou politique sur la confidentialit&eacute; de tiers ou toute autre convention relative &agrave; ces services ou ressources de tiers
    pouvant s&rsquo;appliquer (&laquo;&nbsp;<strong>conditions de tiers</strong>&raquo;).</p>
  <p><strong>1.5. Conditions suppl&eacute;mentaires</strong><strong>. </strong>Auvenir comprend une gamme de services, d&rsquo;applications, d&rsquo;outils et de sites Web et, en plus des pr&eacute;sentes Conditions et des conditions de tiers applicables,
    vous et votre soci&eacute;t&eacute; devrez peut-&ecirc;tre accepter des conditions suppl&eacute;mentaires s&rsquo;appliquant &agrave; votre acc&egrave;s et &agrave; votre utilisation d&rsquo;un service, d&rsquo;une application, d&rsquo;un outil
    ou d&rsquo;un site Web en particulier (&laquo;&nbsp;<strong>conditions suppl&eacute;mentaires&nbsp;</strong>&raquo;). Nous &eacute;noncerons ces conditions suppl&eacute;mentaires dans le service, l&rsquo;application, l&rsquo;outil ou le site applicable,
    ou alors nous les int&eacute;grerons aux pr&eacute;sentes Conditions, ou y ins&eacute;rerons un lien vers ces conditions suppl&eacute;mentaires.</p>

<h3>2. INSCRIPTION POUR UTILISER AUVENIR ET COMPTES D&rsquo;UTILISATEUR.</h3>
  <p><strong>2.1. Exigences g&eacute;n&eacute;rales relatives &agrave; l&rsquo;admissibilit&eacute;</strong><strong>.</strong> Afin d&rsquo;&ecirc;tre admissible &agrave; utiliser Auvenir&nbsp;: a) vous devez avoir au moins 18&nbsp;ans; b) vous devez poss&eacute;der
    la capacit&eacute; juridique et l&rsquo;autorit&eacute; n&eacute;cessaire pour consentir &agrave; ces conditions en votre propre nom ainsi qu&rsquo;au nom de votre soci&eacute;t&eacute;; et c) vous ne devez &ecirc;tre frapp&eacute; d&rsquo;interdiction
    de consentir &agrave; ces conditions ou d&rsquo;utiliser toute partie d&rsquo;Auvenir, impos&eacute;e par nous, par votre soci&eacute;t&eacute; ou par toute autre partie, ou &ecirc;tre vis&eacute; par toute restriction d&rsquo;ordre contractuel,
    l&eacute;gal ou r&eacute;glementaire, ou par toute autre restriction d&eacute;coulant d&rsquo;une r&egrave;gle ou de normes professionnelles. Vous d&eacute;clarez et garantissez par les pr&eacute;sentes que vous r&eacute;pondez &agrave; ces exigences
    relatives &agrave; l&rsquo;admissibilit&eacute;, et vous devez nous aviser promptement si un changement de circonstances fait en sorte que vous ne r&eacute;pondez plus &agrave; ces exigences.</p>
  <p><strong>2.2. Exigences suppl&eacute;mentaires relatives &agrave; l&rsquo;admissibilit&eacute; pour les auditeurs</strong><strong>.</strong> Si vous &ecirc;tes un auditeur, en plus des exigences relatives &agrave; l&rsquo;admissibilit&eacute; susmentionn&eacute;es&nbsp;:
    a) vous et votre soci&eacute;t&eacute; devez &ecirc;tre en r&egrave;gle et d&eacute;tenir les permis, certification ou autres autorisations n&eacute;cessaires pour fournir des services d&rsquo;audit ou d&rsquo;attestation dans les juridictions
    o&ugrave; ils sont requis; b) vous et votre soci&eacute;t&eacute; devez avoir re&ccedil;u toutes les approbations, autorisations et consentements n&eacute;cessaires pour utiliser Auvenir, exig&eacute;s par les organismes de r&eacute;glementation
    et autres autorit&eacute;s gouvernementales ainsi que par vos clients; et c) vos services d&rsquo;audit ou d&rsquo;attestation, et ceux de votre soci&eacute;t&eacute;, doivent &ecirc;tre fournis conform&eacute;ment aux normes canadiennes d&rsquo;audit,
    et toute opinion d&rsquo;audit qui en d&eacute;coule doit &ecirc;tre exprim&eacute;e conform&eacute;ment &agrave; ces normes. Vous et votre soci&eacute;t&eacute; d&eacute;clarez et garantissez par les pr&eacute;sentes que ces exigences relatives
    &agrave; l&rsquo;admissibilit&eacute; sont respect&eacute;es, et vous devez nous aviser promptement si vous ou votre soci&eacute;t&eacute; ne respectez plus ces exigences en raison d&rsquo;un changement de circonstances.</p>
  <p><strong>2.3. Cr&eacute;er et utiliser votre compte d&rsquo;utilisateur</strong><strong>.</strong> Vous aurez besoin d&rsquo;un nom d&rsquo;utilisateur et d&rsquo;un mot de passe pour avoir acc&egrave;s &agrave; Auvenir et l&rsquo;utiliser (&laquo;&nbsp;<strong>compte d&rsquo;utilisateur&nbsp;</strong>&raquo;).
    Vous pouvez cr&eacute;er votre compte d&rsquo;utilisateur en vous inscrivant sur le site d&rsquo;Auvenir. Lorsque vous ouvrez un compte d&rsquo;utilisateur, vous ne devez fournir aucune information fausse, inexacte ou trompeuse. Vous ne pouvez
    cr&eacute;er et conserver qu&rsquo;un seul compte d&rsquo;utilisateur pour vous-m&ecirc;me, vous ne pouvez avoir de multiples comptes d&rsquo;utilisateur, &agrave; moins d&rsquo;avoir une raison de nature op&eacute;rationnelle pour ce faire (p.
    ex. vous travaillez pour plusieurs soci&eacute;t&eacute;s). Votre compte d&rsquo;utilisateur sert strictement &agrave; votre usage personnel et vous ne pouvez le partager avec qui que ce soit ni le transf&eacute;rer &agrave; qui que ce soit. Vous
    et votre soci&eacute;t&eacute; &ecirc;tes responsables de tout ce qui pourrait survenir par l&rsquo;entremise de votre compte d&rsquo;utilisateur, et ce, jusqu&rsquo;&agrave; ce que vous ou votre soci&eacute;t&eacute; demandiez sa d&eacute;sactivation
    conform&eacute;ment aux pr&eacute;sentes Conditions. Vous et votre soci&eacute;t&eacute; devez assurer la protection et la confidentialit&eacute; des informations relatives &agrave; votre compte d&rsquo;utilisateur et &agrave; votre mot de passe.
    En cas de cessation d&rsquo;emploi ou de toute autre relation de travail avec votre soci&eacute;t&eacute;, pour une raison ou une autre, vous devez cesser imm&eacute;diatement toute utilisation de votre compte d&rsquo;utilisateur, et votre soci&eacute;t&eacute;
    doit nous aviser promptement par &eacute;crit d&rsquo;une telle cessation ainsi que pr&eacute;senter une demande de d&eacute;sactivation de votre compte d&rsquo;utilisateur conform&eacute;ment aux exigences &agrave; cet &eacute;gard &eacute;nonc&eacute;es
    dans la prochaine section.</p>
  <p><strong>2.4. D&eacute;sactiver votre compte d&rsquo;utilisateur</strong><strong>.</strong> Vous ou votre soci&eacute;t&eacute; pouvez d&eacute;sactiver en tout temps votre compte d&rsquo;utilisateur. Pour le d&eacute;sactiver, vous ou votre soci&eacute;t&eacute;
    devez nous transmettre un avis &eacute;crit conform&eacute;ment &agrave; la section&nbsp;15, et cet avis entrera en vigueur lorsque nous le traiterons. Nous pouvons d&eacute;sactiver votre compte d&rsquo;utilisateur en tout temps, avec ou sans
    motifs, en vous transmettant ou non un avis &agrave; cet effet, notamment si votre compte d&rsquo;utilisateur est inactif pendant une p&eacute;riode prolong&eacute;e. La d&eacute;sactivation par nous de votre compte d&rsquo;utilisateur entrera
    en vigueur sur-le-champ, sauf indication contraire dans un avis que nous vous transmettrons, ou que nous transmettrons &agrave; votre soci&eacute;t&eacute;. La d&eacute;sactivation de votre compte d&rsquo;utilisateur entra&icirc;nera la suppression
    imm&eacute;diate de votre acc&egrave;s &agrave; Auvenir. En outre, nous pouvons emp&ecirc;cher votre utilisation d&rsquo;Auvenir et en bloquer l&rsquo;acc&egrave;s &agrave; partir de toute adresse IP ou plage d&rsquo;adresses IP qui vous sont
    associ&eacute;es. Les pr&eacute;sentes Conditions seront maintenues en vigueur apr&egrave;s la d&eacute;sactivation de votre compte d&rsquo;utilisateur, sauf pour ce qui est de la section&nbsp;3.1 qui sera r&eacute;sili&eacute;e au moment o&ugrave;
    votre compte d&rsquo;utilisateur sera d&eacute;sactiv&eacute;.</p>

<h3>3. UTILISATION D&rsquo;AUVENIR.</h3>
  <p><strong>3.1. Droit d&rsquo;acc&egrave;s et d&rsquo;utilisation.</strong> &Agrave; condition que vous respectiez toutes vos obligations en vertu des pr&eacute;sentes Conditions (ainsi que des conditions suppl&eacute;mentaires) et toute obligation de paiement
    stipul&eacute;e dans un document distinct, nous vous accordons un droit limit&eacute;, r&eacute;vocable, non exclusif, incessible et ne pouvant donner lieu &agrave; l&rsquo;octroi d&rsquo;une sous-licence d&rsquo;acc&eacute;der &agrave; Auvenir
    et de l&rsquo;utiliser.</p>
  <p><strong>3.2. Utilisation acceptable.</strong> Vous pouvez utiliser Auvenir uniquement si vous respectez les pr&eacute;sentes Conditions (y compris toute condition suppl&eacute;mentaire applicable) et, lorsque vous utilisez Auvenir, les
    conditions suivantes s&rsquo;appliquent&nbsp;:
    <ol type='a'>
      <li>Ni vous ni votre soci&eacute;t&eacute; ne pouvez&nbsp;:
        <ol type='i'>
          <li>louer, revendre, pr&ecirc;ter, octroyer une sous-licence ou tenter d&rsquo;une autre mani&egrave;re de c&eacute;der ou de transf&eacute;rer l&rsquo;un ou l&rsquo;autre de vos droits, ou ceux de votre soci&eacute;t&eacute;, d&rsquo;acc&eacute;der
            &agrave; Auvenir et de l&rsquo;utiliser;</li>
          <li>proc&eacute;der &agrave; l&rsquo;ing&eacute;nierie inverse, d&eacute;compiler ou faire tout autre proc&eacute;d&eacute; visant &agrave; obtenir le code des logiciels li&eacute;s &agrave; Auvenir, ou adapter ou modifier Auvenir ou le code
            des logiciels (y compris les applications mobiles [d&eacute;finies ci-apr&egrave;s]), les programmes, la m&eacute;thodologie, les processus, les outils ou les dispositifs faisant partie d&rsquo;Auvenir ou &eacute;tant sous-jacents &agrave;
            celui-ci (collectivement, &laquo;&nbsp;<strong>technologie d&rsquo;Auvenir&nbsp;</strong>&raquo;), ou cr&eacute;er des travaux d&eacute;riv&eacute;s de ceux-ci;</li>
          <li>exception faite de ce qui est express&eacute;ment permis par les pr&eacute;sentes Conditions, copier, t&eacute;l&eacute;charger, reproduire, modifier, ou distribuer la technologie d&rsquo;Auvenir, sauf dans la mesure o&ugrave; vous en auriez
            express&eacute;ment re&ccedil;u l&rsquo;autorisation par &eacute;crit ailleurs, hors du cadre des pr&eacute;sentes Conditions;</li>
          <li>contourner les mesures que nous pouvons mettre en place pour emp&ecirc;cher ou restreindre l&rsquo;acc&egrave;s &agrave; Auvenir (ou &agrave; d&rsquo;autres comptes, syst&egrave;mes informatiques ou r&eacute;seaux reli&eacute;s &agrave;
            Auvenir).</li>
        </ol>
      </li>
      <li>Vous et votre soci&eacute;t&eacute; devez respecter toutes les lois et tous les r&egrave;glements s&rsquo;appliquant &agrave; l&rsquo;acc&egrave;s &agrave; Auvenir et &agrave; son utilisation, y compris les lois et les r&egrave;glements visant
        la confidentialit&eacute; des donn&eacute;es, le contr&ocirc;le des exportations, le droit d&rsquo;auteur et la s&eacute;curit&eacute;. Vous et votre soci&eacute;t&eacute; d&eacute;clarez et garantissez &eacute;galement que ni vous ni votre
        soci&eacute;t&eacute; i) n&rsquo;&ecirc;tes pas &eacute;tablis dans un pays vis&eacute; par un embargo d&eacute;cr&eacute;t&eacute; par les &Eacute;tats-Unis ou par un autre pays ou d&eacute;sign&eacute; par les &Eacute;tats-Unis ou par un
        autre pays comme &eacute;tant un pays qui &laquo;&nbsp;soutient le terrorisme&nbsp;&raquo; ou ii) ne figurez pas sur la liste des parties interdites ou restreintes &eacute;tablie par les &Eacute;tats-Unis ou par un autre pays.</li>
      <li>En outre, si vous &ecirc;tes un auditeur, vous et votre soci&eacute;t&eacute; devez respecter toutes les r&egrave;gles de d&eacute;ontologie applicables relativement &agrave; la prestation de services d&rsquo;audit ou d&rsquo;attestation.</li>
      <li>Vous ne devez supprimer aucun droit d&rsquo;auteur, aucune marque de commerce, ni aucun autre avis relatif &agrave; la propri&eacute;t&eacute; intellectuelle se trouvant sur le site d&rsquo;Auvenir ou dans son contenu. Dans les pr&eacute;sentes
        Conditions, le &laquo;&nbsp;<strong>contenu d&rsquo;Auvenir</strong>&raquo; d&eacute;signe, exception faite de vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es (d&eacute;finies ci-apr&egrave;s), les donn&eacute;es, le texte, le contenu
        audio et vid&eacute;o, les images ou tout autre type de contenu se trouvant sur le site d&rsquo;Auvenir ou s&rsquo;y rapportant de quelque fa&ccedil;on que ce soit, y compris les donn&eacute;es, le texte, le contenu audio et vid&eacute;o,
        les images ou tout autre type de contenu mis &agrave; votre disposition par des tiers.</li>
      <li>Ni vous ni votre soci&eacute;t&eacute; ne pouvez&nbsp;:
        <ol type='i'>
          <li>utiliser des logiciels, des dispositifs ou tout autre processus manuels ou automatis&eacute;s pour faire de la r&eacute;cup&eacute;ration de donn&eacute;es ou indexer du contenu (parcourir, capturer ou balayer) provenant des pages d&rsquo;Auvenir;</li>
          <li>effectuer toute autre action venant nuire, directement ou indirectement, au bon fonctionnement de notre infrastructure ou de celle de notre fournisseur, ou venant placer sur celle-ci une charge d&eacute;raisonnable, y compris en proc&eacute;dant
            &agrave; du pollupostage ou en diffusant des virus ou tout autre programme malveillant.</li>
        </ol>
      </li>
      <li>Vous et votre soci&eacute;t&eacute; devez prot&eacute;ger la confidentialit&eacute; du contenu d&rsquo;Auvenir et de la technologie d&rsquo;Auvenir en faisant preuve d&rsquo;au moins le m&ecirc;me degr&eacute; de diligence auquel vous-m&ecirc;me
        ou votre soci&eacute;t&eacute; a recours &agrave; l&rsquo;&eacute;gard des renseignements exclusifs et confidentiels qu&rsquo;elle d&eacute;tient, et, dans tous les cas, en faisant preuve d&rsquo;un degr&eacute; raisonnable de diligence.</li>
      <li>Ni vous ni votre soci&eacute;t&eacute; ne devez utiliser Auvenir pour i) faire circuler de la publicit&eacute; non autoris&eacute;e ou non sollicit&eacute;e, ou transmettre des pourriels ou des courriels de masse (&laquo;&nbsp;pollupostage&nbsp;&raquo;)
        ou ii) pour annoncer des concours ou des tirages au sort.</li>
      <li>Vous et votre soci&eacute;t&eacute; devez nous aviser promptement si vous prenez connaissance de toute utilisation non autoris&eacute;e de votre compte d&rsquo;utilisateur ou de tout autre manquement aux obligations de la pr&eacute;sente section&nbsp;3.2.</li>
    </ol>
  </li>

<h3>4. DONN&Eacute;ES T&Eacute;L&Eacute;CHARG&Eacute;ES</h3>
  <p><strong>4.1. Propri&eacute;t&eacute; des donn&eacute;es t&eacute;l&eacute;charg&eacute;es</strong><strong>.</strong> Dans les pr&eacute;sentes Conditions, les &laquo;&nbsp;<strong>donn&eacute;es t&eacute;l&eacute;charg&eacute;es&nbsp;</strong>&raquo;
    d&eacute;signent les donn&eacute;es, documents, dossiers, commentaires et autres renseignements ou informations que vous avez t&eacute;l&eacute;charg&eacute;s ou que vous nous avez transf&eacute;r&eacute;s &agrave; des fins de traitement, de stockage
    ou d&rsquo;h&eacute;bergement dans le cadre de votre utilisation d&rsquo;Auvenir. Vous ou votre soci&eacute;t&eacute;, le cas &eacute;ch&eacute;ant, &ecirc;tes propri&eacute;taire des donn&eacute;es t&eacute;l&eacute;charg&eacute;es et nous ne
    revendiquons pas les droits de propri&eacute;t&eacute; &agrave; l&rsquo;&eacute;gard de ces donn&eacute;es.</p>
  <p><strong>4.2. Obligations relatives aux donn&eacute;es t&eacute;l&eacute;charg&eacute;es</strong><strong>.</strong> Vous et votre soci&eacute;t&eacute; &ecirc;tes les seuls responsables de vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es et, sans
    restreindre la port&eacute;e de ce qui pr&eacute;c&egrave;de, vous et votre soci&eacute;t&eacute; devez respecter les exigences suivantes&nbsp;:
    <ol type='a'>
      <li>votre soci&eacute;t&eacute; vous a autoris&eacute; en bonne et due forme &agrave; fournir les donn&eacute;es t&eacute;l&eacute;charg&eacute;es;</li>
      <li>les donn&eacute;es t&eacute;l&eacute;charg&eacute;es ne comportent pas d&rsquo;&eacute;l&eacute;ments pouvant &ecirc;tre raisonnablement consid&eacute;r&eacute;s comme &eacute;tant faux, offensants, ind&eacute;cents, diffamatoires, harcelants,
        mena&ccedil;ants ou autrement dommageables;</li>
      <li>les donn&eacute;es t&eacute;l&eacute;charg&eacute;es, et le fait que ce soit vous qui les transmettiez, ne violent aucune loi, aucune r&egrave;gle, aucun r&egrave;glement ou aucune norme professionnelle applicable, y compris les droits de confidentialit&eacute;
        de tiers, ou encore les droits d&rsquo;auteur, les marques de commerce ou tout droit de propri&eacute;t&eacute; intellectuelle de tiers.</li>
    </ol>
  </p>
  <p><strong>4.3. Acc&egrave;s aux donn&eacute;es t&eacute;l&eacute;charg&eacute;es et utilisation de celles-ci</strong><strong>.</strong> Vous et votre soci&eacute;t&eacute; acceptez ce qui suit relativement &agrave; l&rsquo;acc&egrave;s aux donn&eacute;es
    t&eacute;l&eacute;charg&eacute;es et &agrave; leur utilisation&nbsp;:
    <ol type='a'>
      <li>Nous pourrons consulter les donn&eacute;es t&eacute;l&eacute;charg&eacute;es et nos fournisseurs (d&eacute;finis ci-apr&egrave;s) pourront &eacute;galement les consulter, s&rsquo;il y a lieu, et nous ainsi que nos fournisseurs pourrons consulter
        les donn&eacute;es t&eacute;l&eacute;charg&eacute;es pour des p&eacute;riodes de temps limit&eacute;es, dans certaines circonstances seulement, notamment pour l&rsquo;administration du site, le d&eacute;pannage, la maintenance des syst&egrave;mes,
        les urgences et d&rsquo;autres formes de soutien technique, ou pour nous conformer &agrave; des dispositions l&eacute;gislatives ou &agrave; tout autre proc&eacute;dure l&eacute;gale valide. Si nous devons nous soumettre &agrave; une citation
        &agrave; compara&icirc;tre notifi&eacute;e par un tiers ou &agrave; tout autre ordre ou proc&eacute;dure l&eacute;gale et de nature obligatoire, votre soci&eacute;t&eacute; doit nous rembourser les frais de justice et honoraires d&rsquo;avocats
        raisonnables ainsi que les sommes correspondant au temps et au mat&eacute;riel requis de nos employ&eacute;s et de nos fournisseurs pour r&eacute;pondre &agrave; la citation &agrave; compara&icirc;tre notifi&eacute;e par un tiers ou &agrave;
        tout autre ordre ou proc&eacute;dure l&eacute;gale et de nature obligatoire, et ce, &agrave; nos taux horaires alors en vigueur.</li>
      <li>Afin d&rsquo;am&eacute;liorer Auvenir et ses services, Auvenir peut proc&eacute;der &agrave; l&rsquo;analyse des donn&eacute;es t&eacute;l&eacute;charg&eacute;es &agrave; l&rsquo;aide de techniques d&rsquo;apprentissage automatique (Machine
        Learning) et autres techniques automatis&eacute;es. Cette analyse peut &ecirc;tre effectu&eacute;e au moment de la transmission ou de la r&eacute;ception des donn&eacute;es t&eacute;l&eacute;charg&eacute;es, ou une fois que ces donn&eacute;es
        sont stock&eacute;es. Nous pouvons &eacute;galement extraire des donn&eacute;es anonymis&eacute;es des donn&eacute;es t&eacute;l&eacute;charg&eacute;es afin de les regrouper avec des donn&eacute;es similaires provenant d&rsquo;autres utilisateurs
        d&rsquo;Auvenir et de tiers, et ces donn&eacute;es agr&eacute;g&eacute;es et anonymis&eacute;es peuvent &ecirc;tre mises &agrave; votre disposition et &agrave; celle d&rsquo;autres utilisateurs d&rsquo;Auvenir et de tiers (y compris d&rsquo;autres
        entit&eacute;s du r&eacute;seau de Deloitte), &agrave; des fins d&rsquo;analyse comparative, d&rsquo;analyse de donn&eacute;es, de publication et &agrave; d&rsquo;autres fins. Dans l&rsquo;ex&eacute;cution de ces t&acirc;ches, nous garantissons
        de conserver votre identit&eacute; et celle de votre soci&eacute;t&eacute; confidentielles. Nous ne sommes toutefois pas tenus de vous fournir, ni &agrave; vous ou ni &agrave; votre soci&eacute;t&eacute;, lesdites donn&eacute;es agr&eacute;g&eacute;es
        et anonymis&eacute;es.</li>
      <li>Si vous autorisez d&rsquo;autres tiers &agrave; acc&eacute;der &agrave; vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es, nous pouvons les leur fournir, mais nous n&rsquo;assumons aucune responsabilit&eacute; &agrave; l&rsquo;&eacute;gard
        de l&rsquo;utilisation de ces donn&eacute;es par ces tiers.</li>
      <li>Bien que nous n&rsquo;y soyons pas tenus, nous pouvons passer en revue et supprimer une partie ou la totalit&eacute; des donn&eacute;es t&eacute;l&eacute;charg&eacute;es si nous jugeons qu&rsquo;elles contreviennent aux pr&eacute;sentes Conditions,
        ou encore si elles sont d&eacute;su&egrave;tes ou ne sont plus pertinentes pour votre utilisation d&rsquo;Auvenir.</li>
      <li>L&rsquo;h&eacute;bergement, le soutien ou la maintenance d&rsquo;Auvenir peut &ecirc;tre effectu&eacute; dans d&rsquo;autres pays que votre lieu de r&eacute;sidence, et les donn&eacute;es t&eacute;l&eacute;charg&eacute;es peuvent &ecirc;tre
        stock&eacute;es dans ces pays. En cons&eacute;quence, il est possible que les donn&eacute;es t&eacute;l&eacute;charg&eacute;es (notamment des renseignements personnels) soient transf&eacute;r&eacute;es vers des pays, des r&eacute;gions ou
        des secteurs dans lesquels il n&rsquo;existe peut-&ecirc;tre pas de r&egrave;gles sur la protection des donn&eacute;es semblables &agrave; celles en vigueur dans votre juridiction. En vous inscrivant &agrave; Auvenir ou en l&rsquo;utilisant,
        vous et votre soci&eacute;t&eacute; confirmez que toutes les autorisations requises par la loi ont &eacute;t&eacute; obtenues &agrave; l&rsquo;&eacute;gard de ces transferts et du stockage des donn&eacute;es t&eacute;l&eacute;charg&eacute;es
        (notamment les renseignements personnels) dans ces pays, et y consentez. Pour plus d&rsquo;information, nous vous invitons &agrave; consulter notre &Eacute;nonc&eacute; de confidentialit&eacute; [Insert link to Privacy Statement].</li>
    </ol>
  </p>
  <p><strong>4.4. Aucune garantie &agrave; l&rsquo;&eacute;gard du stockage</strong><strong>.</strong>
    <ol type='a'>
      <li>Auvenir n&rsquo;est pas un service d&rsquo;archivage ou de stockage de documents &agrave; long terme. Nous ne sommes pas tenus de stocker, de conserver ou de vous fournir, &agrave; vous ou &agrave; votre soci&eacute;t&eacute;, des donn&eacute;es
        t&eacute;l&eacute;charg&eacute;es. Si votre acc&egrave;s &agrave; Auvenir est r&eacute;sili&eacute;, pour quelque raison que ce soit, vous n&rsquo;aurez plus acc&egrave;s &agrave; vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es, et nous
        pourrons les supprimer. <strong>Par cons&eacute;quent, vous et votre soci&eacute;t&eacute; devez sauvegarder toutes vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es et en conserver des copies sur un support distinct.</strong></li>
      <li>Si vous &ecirc;tes un auditeur, vous ne devez pas utiliser Auvenir pour le stockage &agrave; long terme de vos feuilles de travail, et vous et votre soci&eacute;t&eacute; avez la responsabilit&eacute; de recourir &agrave; d&rsquo;autres moyens
        pour vous conformer aux normes professionnelles relatives au stockage des feuilles de travail et des donn&eacute;es de missions d&rsquo;audit.</li>
    </ol>
  </p>

<h3>5. COMMUNAUT&Eacute; D&rsquo;UTILISATEURS.</h3>
  <p><strong>5.1. Applications et contenu de la communaut&eacute; d&rsquo;utilisateurs</strong><strong>.</strong> Auvenir peut h&eacute;berger ou fournir l&rsquo;acc&egrave;s &agrave; divers blogues, forums, wikis et autres applications ou services de m&eacute;dias
    sociaux qui vous permettent de communiquer du contenu &agrave; d&rsquo;autres utilisateurs d&rsquo;Auvenir (collectivement, &laquo;&nbsp;<strong>applications de la communaut&eacute; d&rsquo;utilisateurs</strong>&raquo;). Ces applications de la
    communaut&eacute; d&rsquo;utilisateurs permettent aux utilisateurs d&rsquo;Auvenir de soumettre, d&rsquo;afficher, d&rsquo;envoyer par courriel, de transmettre ou de rendre autrement disponibles des commentaires, des revues, des liens, des documents,
    des id&eacute;es, des opinions, des messages et d&rsquo;autres formes de contenu ou d&rsquo;information (&laquo;&nbsp;<strong>contenu de la communaut&eacute; d&rsquo;utilisateurs&nbsp;</strong>&raquo;).</p>
  <p><strong>5.2. Affichage du contenu de la communaut&eacute; d&rsquo;utilisateurs</strong><strong>.</strong> Si vous soumettez, affichez, envoyez par courriel, transmettez ou rendez autrement disponible tout contenu de la communaut&eacute; d&rsquo;utilisateurs,
    vous d&eacute;clarez d&eacute;tenir tous les droits l&eacute;gaux n&eacute;cessaires pour ce faire, et que le contenu de la communaut&eacute; d&rsquo;utilisateurs ne contreviendra &agrave; aucune loi ni &agrave; aucun droit de qui que ce soit.
    Lorsque vous soumettez, affichez, envoyez par courriel, transmettez ou rendez autrement disponible du contenu de la communaut&eacute; d&rsquo;utilisateurs dans une application de la communaut&eacute; d&rsquo;utilisateurs, vous nous conf&eacute;rez
    un droit et une licence d&rsquo;utilisation non exclusifs, cessibles, transf&eacute;rables, mondiaux, enti&egrave;rement lib&eacute;r&eacute;s, libres de redevances, perp&eacute;tuels, irr&eacute;vocables et pouvant &ecirc;tre conc&eacute;d&eacute;e
    par une sous-licence aux fins d&rsquo;utiliser, de distribuer, d&rsquo;ex&eacute;cuter publiquement, d&rsquo;afficher, de traduire, d&rsquo;adapter, de reproduire et de cr&eacute;er des travaux d&eacute;riv&eacute;s de votre contenu de la communaut&eacute;
    d&rsquo;utilisateurs, dans tout m&eacute;dia ou au moyen de toute technologie connue ou d&eacute;velopp&eacute;e ult&eacute;rieurement, d&rsquo;une mani&egrave;re ou d&rsquo;une autre, en totalit&eacute; ou en partie, avec ou sans attribution,
    sans obligation de vous d&eacute;dommager. Vous renoncez &eacute;galement &agrave; tous les droits moraux que vous pourriez d&eacute;tenir &agrave; l&rsquo;&eacute;gard de votre contenu de la communaut&eacute; d&rsquo;utilisateurs. Nous pouvons
    modifier votre contenu de la communaut&eacute; d&rsquo;utilisateurs sans obtenir votre permission, et nous pouvons &eacute;galement supprimer tout contenu de la communaut&eacute; d&rsquo;utilisateurs pour quelque raison que ce soit et sans vous
    en en informer au pr&eacute;alable.</p>
  <p><strong>5.3. Contenu d&rsquo;autres utilisateurs</strong><strong>.</strong> Vous comprenez et convenez que le contenu de la communaut&eacute; d&rsquo;utilisateurs comprend des informations, des points de vue, des opinions et des recommandations &eacute;manant
    de diff&eacute;rents utilisateurs d&rsquo;Auvenir, et vous &ecirc;tes responsable d&rsquo;analyser de fa&ccedil;on ad&eacute;quate et de v&eacute;rifier toute information sur laquelle vous avez l&rsquo;intention de vous fier. Nous ne cautionnons
    aucunement le contenu de la communaut&eacute; d&rsquo;utilisateurs, incluant les recommandations ou les opinions des utilisateurs. Nous n&rsquo;effectuons aucun contr&ocirc;le, aucune modification, ni aucun examen du contenu de la communaut&eacute;
    d&rsquo;utilisateurs de mani&egrave;re syst&eacute;matique. Vous devez &eacute;galement &ecirc;tre conscient du fait que d&rsquo;autres utilisateurs peuvent utiliser Auvenir pour en tirer un gain personnel et, par cons&eacute;quent, nous vous
    invitons &agrave; faire preuve d&rsquo;un esprit critique &agrave; l&rsquo;&eacute;gard du contenu. Le contenu d&rsquo;utilisateurs peut &ecirc;tre trompeur ou erron&eacute;. Nous ne serons en aucune circonstance tenus responsables &agrave; l&rsquo;&eacute;gard
    du contenu de la communaut&eacute; d&rsquo;utilisateurs, notamment en raison d&rsquo;erreurs ou d&rsquo;omissions dans ce contenu, ou de pertes ou de dommages de quelque nature que ce soit, subis en raison du contenu de la communaut&eacute; d&rsquo;utilisateurs.</p>

<h3>6. CONFIDENTIALIT&Eacute; ET AUTRE DIVULGATION DE VOS RENSEIGNEMENTS</h3>
  <p>Notre <a href='/privacy' target='_blank'>&Eacute;nonc&eacute; de confidentialit&eacute;</a> est int&eacute;gr&eacute; aux pr&eacute;sentes Conditions, et vous acceptez les conditions de celui-ci par les pr&eacute;sentes. En plus des divulgations
  d&eacute;crites ailleurs dans les pr&eacute;sentes Conditions et dans notre &Eacute;nonc&eacute; de confidentialit&eacute;, nous pouvons divulguer les renseignements li&eacute;s &agrave; votre compte d&rsquo;utilisateur et les donn&eacute;es t&eacute;l&eacute;charg&eacute;es
  si nous estimons, de bonne foi, qu&rsquo;il est raisonnablement n&eacute;cessaire de le faire afin de respecter les lois, les exigences r&eacute;glementaires et les normes professionnelles, ou encore afin d&rsquo;&eacute;viter les pr&eacute;judices.</p>

<h3>7. EXCLUSION DE RESPONSABILIT&Eacute; &Agrave; L&rsquo;&Eacute;GARD D&rsquo;UNE RELATION PROFESSIONNELLE OU DE SERVICES.</h3>
  <p><strong>7.1. Aucune relation professionnelle ni aucun service</strong> Nous sommes un fournisseur de technologie. <strong>Nous ne sommes pas des auditeurs et nous ne fournissons pas de services ni de conseils en audit ou en comptabilit&eacute; ni aucun autre service professionnel</strong><strong>.</strong>        Aucune relation professionnelle de quelque nature que ce soit ne d&eacute;coule de votre utilisation d&rsquo;Auvenir, ou de celle de votre soci&eacute;t&eacute;, ni de toute correspondance ou communication avec nous ou avec toute autre personne
    ou entit&eacute; (y compris toute entit&eacute; du r&eacute;seau de Deloitte) reli&eacute;e &agrave; Auvenir. Votre utilisation d&rsquo;Auvenir ne constitue pas un engagement de notre part, ou de celle de toute autre entit&eacute; du r&eacute;seau
    de Deloitte, &agrave; fournir des services d&rsquo;audit, de compilation, d&rsquo;examen, d&rsquo;attestation ou de tout autre service professionnel, de sorte que ni nous ni aucune autre entit&eacute; du r&eacute;seau de Deloitte n&rsquo;exprimerons
    d&rsquo;opinion ou ne donnerons aucune autre forme d&rsquo;assurance en lien avec l&rsquo;acc&egrave;s &agrave; Auvenir et son utilisation par vous et votre soci&eacute;t&eacute;.</p>
  <p><strong>7.2. Aucun cautionnement d&rsquo;auditeurs ni d&rsquo;autres fournisseurs de services</strong><strong>.</strong> Les auditeurs et autres fournisseurs de services peuvent offrir et fournir leurs services par l&rsquo;interm&eacute;diaire d&rsquo;Auvenir.
    Nous ne cautionnons aucun de ces auditeurs ou fournisseurs de services, ni n&rsquo;&eacute;valuons leurs services, leurs &eacute;ducation, leur formation, leur exp&eacute;rience, leur accr&eacute;diation ou leurs dipl&ocirc;mes. Par ailleurs,
    nous n&rsquo;assumons aucune responsabilit&eacute; &agrave; l&rsquo;&eacute;gard des services fournis (ou non fournis) par ces auditeurs ou autres fournisseurs de services. Il vous incombe de proc&eacute;der aux v&eacute;rifications appropri&eacute;es
    sur tout auditeur ou fournisseur de services avant son embauche. Si vous vous fiez aux informations fournies par l&rsquo;interm&eacute;diaire d&rsquo;Auvenir, que vous receviez ou fournissiez des services d&rsquo;audit ou d&rsquo;autres services,
    cela est fait &agrave; vos propres risques. Nous nous limitons &agrave; offrir une plateforme commerciale permettant aux auditeurs et autres fournisseurs de services de faire conna&icirc;tre et de fournir leurs services.</p>

<h3>8. CONFLITS.</h3>
  <p> &rsquo;utilisation d&rsquo;Auvenir, par vous et votre soci&eacute;t&eacute;, ne nous emp&ecirc;che pas ou n&rsquo;emp&ecirc;che aucune autre entit&eacute; du r&eacute;seau de Deloitte i)&nbsp;d&rsquo;utiliser ou de communiquer &agrave; n&rsquo;importe
  quelles fins les connaissances, exp&eacute;riences ou comp&eacute;tences utilis&eacute;es, acquises ou autrement reli&eacute;es au fait que nous vous offrons, &agrave; vous et &agrave; votre soci&eacute;t&eacute;, l&rsquo;acc&egrave;s &agrave; Auvenir,
  m&ecirc;me si les int&eacute;r&ecirc;ts de cette personne ou de cette entit&eacute; sont en concurrence avec vos int&eacute;r&ecirc;ts ou ceux de votre soci&eacute;t&eacute; ou ii) de fournir des services &agrave; toute personne ou &agrave; toute
  entit&eacute; (notamment, si vous &ecirc;tes un auditeur, &agrave; vos clients ou &agrave; ceux de votre soci&eacute;t&eacute;).</p>

<h3>9. NOS TIERS FOURNISSEURS.</h3>
  <p> Il est possible qu&rsquo;une licence visant des fonctionnalit&eacute;s d&rsquo;Auvenir nous soit octroy&eacute;e par des fournisseurs. Nous pouvons &eacute;galement recourir &agrave; des fournisseurs pour l&rsquo;h&eacute;bergement, le soutien ou
  la maintenance d&rsquo;Auvenir. &Agrave; l&rsquo;exception des conditions de tiers ou &agrave; moins d&rsquo;une disposition expresse contraire dans un accord &eacute;crit distinct, i) aucun de nos fournisseurs ne fournit de services &agrave; vous
  ou &agrave; votre soci&eacute;t&eacute;, ni n&rsquo;&eacute;tablit de relation avec vous ou avec votre soci&eacute;t&eacute; et ii)&nbsp;ces conditions r&eacute;giront l&rsquo;utilisation d&rsquo;Auvenir par vous et votre soci&eacute;t&eacute;. Dans
  les pr&eacute;sentes Conditions, le terme &laquo;&nbsp;<strong>fournisseur&nbsp;</strong>&raquo; d&eacute;signe l&rsquo;une ou l&rsquo;autre des parties suivantes&nbsp;: a) l&rsquo;un ou l&rsquo;autre de nos tiers fournisseurs ou de nos fournisseurs
  de services (notamment, le cas &eacute;ch&eacute;ant, d&rsquo;autres entit&eacute;s du r&eacute;seau de Deloitte), b) relativement aux applications mobiles, Apple Inc., BlackBerry Limited ou Google Inc., c) tout autre fournisseur ou fabricant de logiciels
  ou d&rsquo;appareils, d) tout fournisseur d&rsquo;acc&egrave;s mobile (notamment tout fournisseur de temps d&rsquo;antenne et toute entreprise de t&eacute;l&eacute;communication), e) tout distributeur, commer&ccedil;ant adh&eacute;rent ou vendeur
  enregistr&eacute; d&rsquo;une application mobile, ou f) tout affili&eacute; de l&rsquo;une ou l&rsquo;autre des parties susmentionn&eacute;es.</p>

<h3>10. DISPONIBILIT&Eacute; ET SUSPENSION.</h3>
  <p>Nous nous effor&ccedil;ons de maintenir Auvenir op&eacute;rationnel. Il peut toutefois arriver qu&rsquo;il soit indisponible, et nous ne garantissons pas qu&rsquo;il sera disponible au moment o&ugrave; vous ou votre soci&eacute;t&eacute; aurez besoin
  de l&rsquo;utiliser. Nous pouvons &eacute;galement modifier ou discontinuer Auvenir, ou encore supprimer certaines fonctionnalit&eacute;s &agrave; tout moment. Nous ne sommes responsables d&rsquo;aucune perturbation ou d&rsquo;aucune perte que vous
  ou votre soci&eacute;t&eacute; pourriez subir du fait de l&rsquo;indisponibilit&eacute; d&rsquo;Auvenir ou de la modification de ses fonctionnalit&eacute;s. Nous pouvons &eacute;galement suspendre votre droit d&rsquo;acc&egrave;s &agrave; la totalit&eacute;
  ou &agrave; une partie d&rsquo;Auvenir ou votre droit d&rsquo;utilisation de la totalit&eacute; ou d&rsquo;une partie d&rsquo;Auvenir, &agrave; tout moment, &agrave; notre seule discr&eacute;tion.</p>

<h3>11. ACC&Egrave;S INTERNET ET APPLICATIONS.</h3>
  <p><strong>Acc&egrave;s &agrave; Auvenir</strong><strong>.</strong> Vous et votre soci&eacute;t&eacute; &ecirc;tes responsables de vous assurer que vous disposez des logiciels et du mat&eacute;riel vous permettant d&rsquo;acc&eacute;der efficacement
    &agrave; Auvenir sur Internet. Vous et votre soci&eacute;t&eacute; &ecirc;tes &eacute;galement responsables de tous les frais et toutes les autorisations n&eacute;cessaires pour acc&eacute;der &agrave; Auvenir par l&rsquo;interm&eacute;diaire
    de votre fournisseur Internet, et vous devez par ailleurs vous conformer aux dispositions de votre entente avec ce dernier lorsque vous utilisez Auvenir.</p>
  <p><strong>Applications mobiles</strong>. Auvenir peut inclure des applications mobiles cr&eacute;&eacute;es par nous ou par des tiers d&eacute;veloppeurs (individuellement, une &laquo;&nbsp;<strong>application mobile&nbsp;</strong>&raquo;). Si vous
    avez acc&egrave;s &agrave; Auvenir et l&rsquo;utilisez au moyen d&rsquo;une application mobile, il se pourrait que vous soyez tenu de donner votre accord &agrave; l&rsquo;&eacute;gard de conditions suppl&eacute;mentaires, comme une convention
    de licence d&rsquo;utilisateur final, associ&eacute;es &agrave; cette application mobile (&laquo;&nbsp;<strong>conditions des applications mobiles&nbsp;</strong>&raquo;). Si aucune condition ne s&rsquo;applique &agrave; l&rsquo;application mobile
    ou s&rsquo;il n&rsquo;est fait r&eacute;f&eacute;rence &agrave; aucune condition quant &agrave; son utilisation, alors les pr&eacute;sentes Conditions, y compris les suivantes, s&rsquo;appliquent&nbsp;:
    <ol type='a'>
      <li>Pourvu que vous et votre soci&eacute;t&eacute; respectiez toutes les obligations qui vous incombent en vertu des pr&eacute;sentes Conditions et sous r&eacute;serve des autres restrictions &eacute;nonc&eacute;es dans les pr&eacute;sentes Conditions,
        vous et votre soci&eacute;t&eacute; pouvez t&eacute;l&eacute;charger et utiliser une application mobile sur des appareils mobiles autoris&eacute;s dont vous ou votre soci&eacute;t&eacute; d&eacute;tenez la propri&eacute;t&eacute; ou sur lesquels
        vous ou votre soci&eacute;t&eacute; exercez le contr&ocirc;le. Vous ou votre soci&eacute;t&eacute; ne pouvez toutefois t&eacute;l&eacute;charger et utiliser une application mobile qu&rsquo;aux fins &eacute;nonc&eacute;es dans les pr&eacute;sentes
        Conditions. Cette licence visant l&rsquo;utilisation d&rsquo;une application mobile est personnelle, limit&eacute;e, r&eacute;vocable, non exclusive, incessible, non transf&eacute;rable et ne peut &ecirc;tre conc&eacute;d&eacute;e par une
        sous-licence.</li>
      <li>Cette licence n&rsquo;autorise ni vous ni votre soci&eacute;t&eacute; &agrave; utiliser l&rsquo;application mobile sur tout appareil dont vous ou votre soci&eacute;t&eacute; ne d&eacute;tenez pas la propri&eacute;t&eacute; ou sur lesquels vous
        ou votre soci&eacute;t&eacute; n&rsquo;exercez pas le contr&ocirc;le, et ni vous ni votre soci&eacute;t&eacute; ne pouvez distribuer ou rendre disponible une application mobile sur un r&eacute;seau o&ugrave; elle peut &ecirc;tre utilis&eacute;e
        simultan&eacute;ment par de multiples appareils. Vous et votre soci&eacute;t&eacute; ne pouvez louer, pr&ecirc;ter, vendre, c&eacute;der, transf&eacute;rer, redistribuer une applicabtion mobile ou en conc&eacute;der une sous-licence. Si vous
        ou votre soci&eacute;t&eacute; vendez ou donnez votre appareil &agrave; un tiers, vous ou votre soci&eacute;t&eacute; devez pr&eacute;alablement retirer toutes les applications mobiles de cet appareil.</li>
      <li>Vous et votre soci&eacute;t&eacute; convenez que les pr&eacute;sentes Conditions sont conclues entre nous, d&rsquo;une part, et vous et votre soci&eacute;t&eacute;, d&rsquo;autre part, et non avec l&rsquo;un ou l&rsquo;autre de nos fournisseurs.
        Aucun de nos fournisseurs n&rsquo;assume d&rsquo;obligation ou de responsabilit&eacute; (n&eacute;gligence ou autrement) envers vous ou votre soci&eacute;t&eacute; relativement &agrave; toute application mobile.</li>
      <li>Aucun de nos fournisseurs ne pourra &ecirc;tre tenu responsable de toute r&eacute;clamation qui serait pr&eacute;sent&eacute;e par vous, votre soci&eacute;t&eacute; ou un tiers relativement &agrave; une application mobile que vous ou votre soci&eacute;t&eacute;
        pourriez d&eacute;tenir et utiliser, y compris a) de toute r&eacute;clamation en responsabilit&eacute; du fait du produit, b) de toute r&eacute;clamation d&eacute;coulant du fait qu&rsquo;une application mobile contrevient &agrave; une exigence
        l&eacute;gale ou r&eacute;glementaire, c) de toute r&eacute;clamation en vertu d&rsquo;une loi sur la protection des consommateurs ou d&rsquo;une loi semblable, ou d) de toute r&eacute;clamation pr&eacute;sent&eacute;e par un tiers au motif
        qu&rsquo;une application mobile que vous ou votre soci&eacute;t&eacute; poss&eacute;dez ou utilisez porte atteinte &agrave; ses droits de propri&eacute;t&eacute; intellectuelle.</li>
      <li>Vous et votre soci&eacute;t&eacute; reconnaissez et convenez que&nbsp;: i) chaque fournisseur reli&eacute; &agrave; une application mobile est un tiers b&eacute;n&eacute;ficiaire des pr&eacute;sentes Conditions, et ii) sur acceptation par vous
        et votre soci&eacute;t&eacute; des pr&eacute;sentes Conditions, chaque fournisseur aura le droit (et sera r&eacute;put&eacute; avoir accept&eacute; le droit) de vous obliger, vous et votre soci&eacute;t&eacute;, &agrave; respecter les parties
        pertinentes des pr&eacute;sentes Conditions, &agrave; titre de tiers b&eacute;n&eacute;ficiaire de ces conditions.</li>
      <li>Dans le cas des applications mobiles cr&eacute;&eacute;es pour des appareils Apple (p.&nbsp;ex. fonctionnant sous iOS ou Mac OS), en plus des autres dispositions &eacute;nonc&eacute;es dans les pr&eacute;sentes Conditions, la licence qui est
        octroy&eacute;e &agrave; vous et &agrave; votre soci&eacute;t&eacute; pour cette application mobile est une licence de nature incessible et non transf&eacute;rable (sauf si cette application mobile cr&eacute;&eacute;e pour des appareils Apple
        peut &ecirc;tre consult&eacute;e, acquise et utilis&eacute;e par d&rsquo;autres comptes associ&eacute;s &agrave; l&rsquo;acheteur d&rsquo;Apple dans le cadre du Partage familial) visant l&rsquo;utilisation de l&rsquo;application mobile sur
        tout appareil Apple dont vous ou votre soci&eacute;t&eacute; d&eacute;tenez la propri&eacute;t&eacute; ou sur lequel vous ou votre soci&eacute;t&eacute; exercez le contr&ocirc;le, conform&eacute;ment aux r&egrave;gles et conditions d&rsquo;utilisation
        &eacute;nonc&eacute;es dans les boutiques iTunes, Mac App, App Store et iBookstore.</li>
    </ol>
  </p>

<h3>12. DROITS DE PROPRI&Eacute;T&Eacute; INTELLECTUELLE.</h3>
  <p><strong>12.1. Droits de propri&eacute;t&eacute; intellectuelle relatifs &agrave; Auvenir</strong> Auvenir (incluant le contenu d&rsquo;Auvenir et la technologie d&rsquo;Auvenir) est prot&eacute;g&eacute; par les lois sur les droits d&rsquo;auteur,
    les marques de commerce ainsi que d&rsquo;autres lois de divers pays. Nous nous r&eacute;servons, de m&ecirc;me que nos fournisseurs, tous les droits non express&eacute;ment accord&eacute;s dans les pr&eacute;sentes Conditions.</p>
  <p><strong>12.2. D&eacute;nominations et logos. </strong>&laquo;&nbsp;Auvenir&nbsp;&raquo; et le logo d&rsquo;Auvenir, ainsi que les variantes en langue locale de l&rsquo;une ou l&rsquo;autre de ces marques de commerce, et certains noms de produits et logos
    qui figurent dans Auvenir (collectivement, les &laquo;&nbsp;<strong>marques d&rsquo;Auvenir</strong>&raquo;) sont des marques de commerce ou des marques d&eacute;pos&eacute;es d&rsquo;entit&eacute;s au sein du r&eacute;seau de Deloitte. Sauf en
    cas de disposition expresse dans les pr&eacute;sentes Conditions ou &agrave; moins d&rsquo;une autorisation expresse donn&eacute;e par &eacute;crit par le d&eacute;tenteur pertinent de la marque de commerce, ni vous ni votre soci&eacute;t&eacute;
    ne devez utiliser les marques d&rsquo;Auvenir, seules ou de concert avec d&rsquo;autres mots ou &eacute;l&eacute;ments de conception, y compris dans des communiqu&eacute;s de presse, des publicit&eacute;s, ni aucun autre mat&eacute;riel ou m&eacute;dia
    promotionnel ou de marketing, que ce soit sous forme &eacute;crite, verbale, &eacute;lectronique, visuelle ou autre. Les marques de commerce de tierces parties figurant dans Auvenir ne sont mentionn&eacute;es qu&rsquo;&agrave; des fins d&rsquo;identification
    et ne signifient pas que les parties en cause ont approuv&eacute; Auvenir. Les pr&eacute;sentes Conditions d&rsquo;utilisation ne vous accordent aucun droit d&rsquo;utilisation des marques de commerce de tierces parties.</p>
  <p><strong>12.3. Commentaires</strong> Vous ou votre soci&eacute;t&eacute; pouvez nous soumettre des commentaires, des id&eacute;es ou d&rsquo;autres suggestions relativement &agrave; Auvenir (&laquo;&nbsp;<strong>commentaires</strong>&raquo;).
    Si vous ou votre soci&eacute;t&eacute; soumettez des commentaires, vous ou votre soci&eacute;t&eacute; (le cas &eacute;ch&eacute;ant) c&eacute;dez par les pr&eacute;sentes en notre faveur, sans contrepartie additionnelle, tous les droits, titres
    et int&eacute;r&ecirc;ts, et ce &agrave; l&rsquo;&eacute;chelle mondiale, relativement &agrave; ces commentaires, ce qui comprend tous les brevets, droits d&rsquo;auteur, marques de commerce, secrets industriels et autres droits de propri&eacute;t&eacute;
    intellectuelle y aff&eacute;rents, ainsi que toute valorisation commerciale et toute revendication connexe. Ces dispositions comprennent un droit de modifier et de cr&eacute;er des travaux d&eacute;riv&eacute;s des commentaires, selon des modalit&eacute;s
    d&eacute;termin&eacute;es &agrave; notre seule discr&eacute;tion. Vous ou votre soci&eacute;t&eacute; (le cas &eacute;ch&eacute;ant) renoncez &eacute;galement de mani&egrave;re irr&eacute;vocable &agrave; tous les droits relatifs aux commentaires,
    y compris tous les droits d&rsquo;attribution, les droits &agrave; l&rsquo;int&eacute;grit&eacute;, les droits de publicit&eacute; ou de confidentialit&eacute;, les droits moraux et les droits d&rsquo;examiner ou d&rsquo;approuver tout &eacute;l&eacute;ment
    utilisant ou incorporant ces commentaires. Vous et votre soci&eacute;t&eacute; convenez que nous ne sommes pas tenus d&rsquo;utiliser ou d&rsquo;incorporer les commentaires.</p>

<h3>13. INDEMNISATION</h3>
  <p>Vous et votre soci&eacute;t&eacute; devez nous d&eacute;fendre, nous d&eacute;dommager et nous d&eacute;gager de toute responsabilit&eacute;, ainsi que chacune des autres entit&eacute;s du r&eacute;seau de Deloitte, chacun des membres du personnel
  de ces entit&eacute;s et chacun des fournisseurs susmentionn&eacute;s, &agrave; l&rsquo;&eacute;gard de l&rsquo;ensemble des r&eacute;clamations, des pertes, des dommages-int&eacute;r&ecirc;ts, des obligations, des co&ucirc;ts et des frais (y compris
  les frais de justice et honoraires d&rsquo;avocats raisonnables) d&eacute;coulant de toute r&eacute;clamation de tiers, ou y &eacute;tant associ&eacute;s, concernant&nbsp;: a)&nbsp;l&rsquo;utilisation d&rsquo;Auvenir par vous ou votre soci&eacute;t&eacute;;
  b) le manquement aux pr&eacute;sentes Conditions ou la violation, par vous ou votre soci&eacute;t&eacute;, de toute loi, de tout r&egrave;glement, de toute r&egrave;gle ou de toute norme professionnelle applicable; c) vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es,
  y compris toute r&eacute;clamation au motif d&rsquo;une atteinte aux droits de tierces parties par vos donn&eacute;es t&eacute;l&eacute;charg&eacute;es, ou d&rsquo;une violation ou d&rsquo;un d&eacute;tournement de tels droits, ou toute r&eacute;clamation
  concernant une atteinte aux donn&eacute;es ou &agrave; la s&eacute;curit&eacute; que vous auriez caus&eacute;e; ou d) un diff&eacute;rend opposant le tiers, d&rsquo;une part, et vous ou votre soci&eacute;t&eacute;, d&rsquo;autre part.</p>

<h3>14. EXCLUSION DE RESPONSABILIT&Eacute; &Agrave; L&rsquo;&Eacute;GARD DES GARANTIES ET LIMITATIONS DE RESPONSABILIT&Eacute;</h3>
  <p><strong>Aucun service professionnel</strong> Tel que mentionn&eacute; &agrave; la section&nbsp;7, en vous permettant d&rsquo;acc&eacute;der &agrave; Auvenir, nous, ou toute autre entit&eacute; du r&eacute;seau de Deloitte, ne fournissons
    aucun conseil ou service professionnel.</p>
  <p><strong>Aucune garantie</strong> M&ecirc;me si nous prenons des mesures commercialement raisonnables pour faire en sorte qu&rsquo;Auvenir soit utile et s&eacute;curis&eacute;, ce dernier (y compris toute la technologie d&rsquo;Auvenir,
    tout le contenu d&rsquo;Auvenir et toute application mobile s&rsquo;y rapportant) est fourni &laquo;&nbsp;tel quel&nbsp;&raquo; et &laquo;&nbsp;si disponible&nbsp;&raquo;, sans garantie d&rsquo;aucune sorte. Ni nous ni aucun fournisseur n&rsquo;avons
    l&rsquo;obligation de fournir des services de maintenance ou de soutien, ou encore des mises &agrave; jour, des mises &agrave; niveau, des am&eacute;liorations, de nouvelles fonctions, des modifications, des correctifs, des corrections de bogues
    ou tout livrable similaire relativement &agrave; Auvenir (notamment la technologie d&rsquo;Auvenir, le contenu d&rsquo;Auvenir et les applications mobiles s&rsquo;y rapportant). Sans limiter la port&eacute;e de ce qui pr&eacute;c&egrave;de, nous
    ne garantissons pas qu&rsquo;Auvenir (y compris toute la technologie d&rsquo;Auvenir, tout le contenu d&rsquo;Auvenir et toute application mobile s&rsquo;y rapportant) est disponible, s&eacute;curis&eacute; et exempt d&rsquo;erreurs, de virus
    ou d&rsquo;un programme malveillant, ni qu&rsquo;il respecte des crit&egrave;res pr&eacute;cis en mati&egrave;re de rendement ou de qualit&eacute;, et nous nous d&eacute;gageons express&eacute;ment de toute responsabilit&eacute; relativement &agrave;
    toute garantie implicite, y compris en ce qui a trait &agrave; la qualit&eacute; marchande, au titre de propri&eacute;t&eacute;, &agrave; la pertinence &agrave; une fin particuli&egrave;re, &agrave; l&rsquo;absence de violation, &agrave; la compatibilit&eacute;,
    &agrave; la s&eacute;curit&eacute; et &agrave; l&rsquo;exactitude.</p>
  <p><strong>Aucune promesse quant &agrave; l&rsquo;exactitude des r&eacute;sultats</strong><strong>.</strong> Certaines fonctions d&rsquo;Auvenir peuvent traiter des donn&eacute;es t&eacute;l&eacute;charg&eacute;es et vous fournir des r&eacute;sultats
    analytiques ou de calculs. Sans porter pr&eacute;judice aux autres conditions &eacute;nonc&eacute;es dans la pr&eacute;sente section&nbsp;14, a) nous n&rsquo;assumons aucune responsabilit&eacute; &agrave; l&rsquo;&eacute;gard de l&rsquo;exactitude,
    de l&rsquo;int&eacute;grit&eacute;, de la qualit&eacute;, de la l&eacute;galit&eacute; ou de l&rsquo;utilit&eacute; de ces r&eacute;sultats, b) vous et votre soci&eacute;t&eacute; renoncez &agrave; toute r&eacute;clamation relative &agrave; ces
    r&eacute;sultats, et c) nous n&rsquo;assumons aucune responsabilit&eacute; &agrave; l&rsquo;&eacute;gard des dommages ou des inconv&eacute;nients que vous ou votre soci&eacute;t&eacute; pourriez subir en raison de r&eacute;sultats inexacts ou
    incomplets.</p>
  <p><strong>Aucune responsabilit&eacute; ni aucun cautionnement de services ou de ressources de tiers</strong>. Nous n&rsquo;assumons aucune responsabilit&eacute; quant &agrave; la disponibilit&eacute;, aux services ou au contenu fournis par des services
    de tiers ou des ressources de tiers. Nous ne cautionnons pas non plus les services de tiers ou les ressources de tiers, et nous ne faisons aucune d&eacute;claration ni n&rsquo;offrons aucune garantie quant &agrave; l&rsquo;exactitude de ces services
    ou ressources ni de tout autre aspect connexe. Les services de tiers ou les ressources de tiers seront assujettis aux conditions d&eacute;termin&eacute;es uniquement entre le tiers, d&rsquo;une part, et vous ou votre soci&eacute;t&eacute;, d&rsquo;autre
    part.</p>
  <p><strong>Aucune responsabilit&eacute;.</strong> Vous et votre soci&eacute;t&eacute; utilisez Auvenir &agrave; vos propres risques et assumez l&rsquo;enti&egrave;re responsabilit&eacute; et le risque de perte d&eacute;coulant de cette utilisation,
    notamment en ce qui concerne toute perte du service ou de donn&eacute;es. Nous ne serons tenus responsables d&rsquo;aucun dommage quel qu&rsquo;il soit relativement &agrave; l&rsquo;utilisation d&rsquo;Auvenir, peu importe que le dommage soit
    direct, indirect, particulier, fortuit, accessoire, punitif ou autre, et peu importe la nature de l&rsquo;action intent&eacute;e.</p>
  <p><strong>Entit&eacute;s et fournisseurs li&eacute;s</strong>. Les clauses d&rsquo;exclusion de garantie et de limitations de responsabilit&eacute; de m&ecirc;me que les autres conditions de la pr&eacute;sente section&nbsp;14 s&rsquo;appliquent non
    seulement &agrave; nous, mais aussi &agrave; toutes les autres entit&eacute;s du r&eacute;seau Deloitte ainsi qu&rsquo;&agrave; notre personnel et &agrave; leur personnel respectif, et &agrave; nos fournisseurs.</p>
  <p><strong>Applicabilit&eacute; des limitations</strong><strong>.</strong> Les pr&eacute;sentes Conditions (y compris la pr&eacute;sente section&nbsp;14) s&rsquo;appliquent dans la mesure o&ugrave; la loi le permet, qu&rsquo;il s&rsquo;agisse d&rsquo;un
    dommage, d&rsquo;un co&ucirc;t, d&rsquo;une charge ou d&rsquo;une perte d&eacute;coulant d&rsquo;une obligation contractuelle, juridique ou d&eacute;lictuelle (y compris la n&eacute;gligence) ou autre. Les dispositions de la pr&eacute;sente section&nbsp;14
    ne sont pas applicables &agrave; une responsabilit&eacute; qu&rsquo;il est ill&eacute;gal de limiter ou d&rsquo;exclure en vertu d&rsquo;une loi r&eacute;gissant les pr&eacute;sentes Conditions.</p>

<h3>15. AVIS.</h3>
  <p><strong>15.1. Avis de notre part qui vous est adress&eacute;</strong><strong>.</strong> Tout avis de notre part qui vous est adress&eacute; &agrave; propos des pr&eacute;sentes Conditions ou d&rsquo;Auvenir peut &ecirc;tre transmis par l&rsquo;une des
    m&eacute;thodes suivantes&nbsp;: 1) des publications g&eacute;n&eacute;rales destin&eacute;es aux utilisateurs d&rsquo;Auvenir, 2) tout moyen de communication disponible par l&rsquo;entremise de votre compte d&rsquo;utilisateur ou 3) l&rsquo;adresse
    &eacute;lectronique ou l&rsquo;adresse physique associ&eacute;e &agrave; votre compte d&rsquo;utilisateur (lesquelles doivent &ecirc;tre tenues exactes et &agrave; jour).</p>
  <p><strong>15.2. Avis de votre part qui nous est adress&eacute;</strong><strong>.</strong> Tout avis de votre part ou de la part de votre soci&eacute;t&eacute; conform&eacute;ment aux pr&eacute;sentes Conditions doit &ecirc;tre transmis par l&rsquo;une des
    m&eacute;thodes suivantes&nbsp;: 1) par courriel, 2) en personne ou 3) par un service postal, de messagerie ou de livraison express reconnu &agrave; l&rsquo;&eacute;chelle mondiale ou nationale, selon le cas (&laquo;&nbsp;<strong>courrier express</strong>&raquo;).
    Un avis envoy&eacute; par courriel sera r&eacute;put&eacute; avoir &eacute;t&eacute; transmis &agrave; la date o&ugrave; la r&eacute;ception a &eacute;t&eacute; confirm&eacute;e par voie &eacute;lectronique. Un avis transmis en personne ou par
    courrier express sera r&eacute;put&eacute; avoir &eacute;t&eacute; donn&eacute; &agrave; la date de r&eacute;ception ou de refus de la r&eacute;ception. Vous ou votre soci&eacute;t&eacute; devez adresser votre avis comme suit&nbsp;:
    </br>
    </br>Auvenir
    </br>225, rue Richmond O., Bureau 402,
    </br>Toronto ON M5V 2W1
    </br>Canada
    </br>Courriel&nbsp;: <a href='mailto:info@auvenir.com'>info@auvenir.com</a>
  </p>

<h3>16. CONDITIONS G&Eacute;N&Eacute;RALES.</h3>
  <p><strong>16.1. Int&eacute;gralit&eacute; de l&rsquo;accord et ordre de pr&eacute;s&eacute;ance en cas de conflit</strong><strong>. </strong>Les pr&eacute;sentes Conditions (y compris, le cas &eacute;ch&eacute;ant, toutes les conditions suppl&eacute;mentaires
    et les conditions relatives aux applications mobiles) constituent l&rsquo;accord complet conclu entre vous et votre soci&eacute;t&eacute;, d&rsquo;une part, et nous, d&rsquo;autre part, relativement &agrave; l&rsquo;objet des pr&eacute;sentes,
    et ont pr&eacute;s&eacute;ance sur tout accord oral ou &eacute;crit conclu entre les parties. Advenant un conflit ou des divergences entre les pr&eacute;sentes Conditions et l&rsquo;un ou l&rsquo;autre des documents suivants, le probl&egrave;me
    sera r&eacute;gl&eacute; suivant l&rsquo;ordre de pr&eacute;s&eacute;ance suivant&nbsp;: i) les conditions suppl&eacute;mentaires (mais seulement en ce qui concerne la partie d&rsquo;Auvenir &agrave; laquelle ces conditions suppl&eacute;mentaires
    s&rsquo;appliquent), ii) les conditions des applications mobiles (mais seulement en ce qui concerne l&rsquo;application mobile &agrave; laquelle les conditions des applications mobiles s&rsquo;appliquent) et iii) les pr&eacute;sentes Conditions.</p>
  <p><strong>16.2. Modification des </strong><strong>pr&eacute;sentes Conditions</strong>. Nous pouvons modifier les pr&eacute;sentes Conditions en tout temps, &agrave; notre seule discr&eacute;tion. Si nous effectuons une modification, nous 1) afficherons
    les conditions r&eacute;vis&eacute;es sur le pr&eacute;sent site Web ou ailleurs dans Auvenir ou 2) nous vous transmettrons un avis indiquant les conditions r&eacute;vis&eacute;es, conform&eacute;ment aux dispositions de la section&nbsp;15. Ces
    modifications r&eacute;vis&eacute;es seront en vigueur au moment de leur publication ou de l&rsquo;&eacute;mission d&rsquo;un autre avis, sauf indication contraire expresse de notre part. Il vous incombe, ainsi qu&rsquo;&agrave; votre soci&eacute;t&eacute;,
    de vous tenir inform&eacute; de toute modification apport&eacute;e aux conditions en consultant ce site Web et en lisant vos avis. Si vous ou votre soci&eacute;t&eacute; n&rsquo;&ecirc;tes pas d&rsquo;accord avec les conditions r&eacute;vis&eacute;es,
    vous n&rsquo;&ecirc;tes alors pas autoris&eacute;s &agrave; utiliser Auvenir et vous devriez cesser de l&rsquo;utiliser sur-le-champ et d&eacute;sactiver votre compte d&rsquo;utilisateur, conform&eacute;ment aux dispositions de la section&nbsp;2.4.</p>
  <p><strong>16.3. Aucune renonciation, entente ou d&eacute;claration officieuse</strong><strong>.</strong> Aucune renonciation &agrave; toute violation par vous ou votre soci&eacute;t&eacute;, ou &agrave; toute objection &agrave; un acte ou &agrave; une omission
    relatif aux pr&eacute;sentes, ne sera implicite ou r&eacute;clam&eacute;e par vous ou votre soci&eacute;t&eacute; ni &ecirc;tre r&eacute;put&eacute;e constituer un consentement &agrave; la poursuite de cette violation, de cet acte ou de cette
    omission, &agrave; moins que nous ne l&rsquo;ayons indiqu&eacute; par &eacute;crit.</p>
  <p><strong>16.4. Lois applicables, lieu et renonciation &agrave; un proc&egrave;s devant jury</strong><strong>.</strong> Les lois de la province de l&rsquo;Ontario, au Canada, sans &eacute;gard aux principes r&eacute;gissant les conflits de lois, r&eacute;gissent
    toutes les proc&eacute;dures judiciaires engag&eacute;es relativement aux pr&eacute;sentes Conditions ou &agrave; l&rsquo;utilisation d&rsquo;Auvenir par vous ou votre soci&eacute;t&eacute;. La Convention des Nations Unies sur les contrats de
    vente internationale de marchandises ne s&rsquo;applique pas aux pr&eacute;sentes Conditions. Si une partie pr&eacute;sente une r&eacute;clamation ou intente une action en justice relativement aux pr&eacute;sentes Conditions, cette partie ne peut
    le faire qu&rsquo;&agrave; Toronto (Ontario), et chaque partie se soumet par les pr&eacute;sentes &agrave; l&rsquo;exclusivit&eacute; de la comp&eacute;tence de ces tribunaux pour statuer sur ces r&eacute;clamations ou ces actions en justice.
    Cependant et en d&eacute;pit des autres conditions de la pr&eacute;sente section, nous serons en mesure de pr&eacute;senter une demande d&rsquo;injonction ou une mesure de r&eacute;paration urgente &eacute;quivalente dans quelque territoire que
    ce soit.</p>
  <p><strong>16.5. Redressement &eacute;quitable</strong><strong>.</strong> Vous ou votre soci&eacute;t&eacute; ne pourrez et ne serez autoris&eacute;s &agrave; demander une r&eacute;siliation, une injonction ou toute autre mesure de redressement &eacute;quitable,
    ni &agrave; imposer ou &agrave; restreindre le fonctionnement, l&rsquo;utilisation ou l&rsquo;exploitation d&rsquo;Auvenir ou d&rsquo;une partie de celui-ci, y compris la technologie d&rsquo;Auvenir et le contenu d&rsquo;Auvenir. Nous serons autoris&eacute;s
    &agrave; pr&eacute;senter une demande d&rsquo;injonction ou toute autre mesure de redressement &eacute;quitable afin de pr&eacute;venir ou d&rsquo;att&eacute;nuer la violation ou la violation continue des pr&eacute;sentes Conditions, ou d&rsquo;y
    rem&eacute;dier.</p>
  <p><strong>16.6. Recours non exclusifs</strong>. L&rsquo;exercice ou l&rsquo;application d&rsquo;un droit ou d&rsquo;un recours &eacute;nonc&eacute; dans les pr&eacute;sentes Conditions ne doit pas &ecirc;tre consid&eacute;r&eacute; comme pouvant remplacer
    l&rsquo;application d&rsquo;autres droits ou recours existant en droit ou en &eacute;quit&eacute;, &agrave; moins d&rsquo;avoir fait l&rsquo;objet d&rsquo;une renonciation par &eacute;crit.</p>
  <p><strong>16.7. Dissociabilit&eacute;</strong>. Advenant que l&rsquo;une ou l&rsquo;autre des pr&eacute;sentes Conditions soit invalide ou inex&eacute;cutable dans un territoire donn&eacute;, alors 1) dans ce territoire, cette condition sera interpr&eacute;t&eacute;e
    de fa&ccedil;on &agrave; donner effet autant que possible &agrave; son intention initiale dans la mesure permise par la loi, et les autres conditions demeureront pleinement en vigueur et 2) dans les autres territoires, toutes les conditions demeureront
    pleinement en vigueur. Faire fi de</p>
  <p><strong>16.8. Aucune interpr&eacute;tation d&eacute;favorisant le r&eacute;dacteur</strong>. Si les pr&eacute;sentes Conditions suscitent de l&rsquo;ambigu&iuml;t&eacute; ou une question d&rsquo;intention ou d&rsquo;interpr&eacute;tation, elles seront
    interpr&eacute;t&eacute;es comme si elles avaient &eacute;t&eacute; r&eacute;dig&eacute;es conjointement par vous, votre soci&eacute;t&eacute; et nous, et aucune pr&eacute;somption ni aucun fardeau de la preuve ne favorisera ni ne d&eacute;favorisera
    l&rsquo;une ou l&rsquo;autre de ces parties en raison de la paternit&eacute; des pr&eacute;sentes Conditions.</p>
  <p><strong>16.9. Attribution et d&eacute;l&eacute;gation</strong>. Ni vous ni votre soci&eacute;t&eacute; ne pouvez attribuer ou d&eacute;l&eacute;guer de droits ni d&rsquo;obligations en vertu des pr&eacute;sentes Conditions, et une telle attribution ou
    d&eacute;l&eacute;gation pr&eacute;sum&eacute;e sera entach&eacute;e de nullit&eacute;. Si votre soci&eacute;t&eacute; fait l&rsquo;objet d&rsquo;un changement quant &agrave; son contr&ocirc;le, que ce soit &agrave; la suite d&rsquo;une fusion,
    d&rsquo;une vente ou d&rsquo;une autre fa&ccedil;on, vous devez cr&eacute;er un nouveau compte d&rsquo;utilisateur pour la nouvelle entit&eacute;. Nous pouvons librement attribuer ou d&eacute;l&eacute;guer l&rsquo;ensemble des droits et obligations
    vis&eacute;s par les pr&eacute;sentes Conditions, en totalit&eacute; ou en partie, sans qu&rsquo;aucun avis ne soit transmis &agrave; vous ou &agrave; votre soci&eacute;t&eacute;. Les pr&eacute;sentes Conditions lient vos successeurs et ayants
    droit autoris&eacute;s, ceux de votre soci&eacute;t&eacute; et les n&ocirc;tres.</p>
  <p><strong>16.10. Relation des parties et tiers b&eacute;n&eacute;ficiaires</strong>. Aucune relation de mandataire, soci&eacute;t&eacute; de personnes, franchise, ni coentreprise n&rsquo;est cr&eacute;&eacute;e par les pr&eacute;sentes Conditions entre vous
    et votre soci&eacute;t&eacute;, d&rsquo;une part, et nous, d&rsquo;autre part. Aucune disposition du pr&eacute;sent accord (expresse ou implicite) ne conf&egrave;re, ou ne vise &agrave; conf&eacute;rer, &agrave; toute personne ou entit&eacute;
    autre que les parties, un droit, un avantage ou un recours, &agrave; l&rsquo;exception du fait que les entit&eacute;s du r&eacute;seau de Deloitte et nos fournisseurs sont des tiers b&eacute;n&eacute;ficiaires &agrave; l&rsquo;&eacute;gard de
    certaines sections des pr&eacute;sentes Conditions et peuvent donner effet &agrave; des droits sp&eacute;cifiques en vertu de ces conditions.</p>
  <p><strong>16.11. Interpr&eacute;tation</strong>. Les num&eacute;ros de paragraphe et de section ainsi que les titres contenus dans les pr&eacute;sentes Conditions ne servent qu&rsquo;&agrave; des fins pratiques et, s&rsquo;il y a un conflit entre ces num&eacute;ros
    et titres et le texte, ce dernier a pr&eacute;s&eacute;ance. Dans les pr&eacute;sentes Conditions, le mot &laquo;&nbsp;y compris&nbsp;&raquo; signifie &laquo;&nbsp;y&nbsp;compris, sans s&rsquo;y limiter&nbsp;&raquo;, et le mot &laquo;&nbsp;comprend&nbsp;&raquo;
    signifie &laquo;&nbsp;comprend, sans s&rsquo;y limiter&nbsp;&raquo;.</p>
