<h3>Effective: 16th January, 2017</h3>
<p>These Terms of Service (these &ldquo;<strong>Terms</strong>&rdquo;) govern your access to and use of the Auvenir.com website (the &ldquo;<strong>Auvenir Site</strong>&rdquo;) and all related software, mobile applications, documentation, services,
products, and content (collectively, and together with the Auvenir Site, &ldquo;<strong>Auvenir</strong>&rdquo;).
<br/><br/><strong>You agree to these Terms either by using Auvenir or by clicking the &ldquo;I AGREE&rdquo; (or similar) box when creating your Auvenir user account. If you do not agree with these Terms, then you are not allowed to use Auvenir, and you should stop using it immediately.</strong>
<br/><br/>If you have questions about these Terms or Auvenir, you should contact <a href="mailto:info@auvenir.com">info@auvenir.com</a>.
</p>
<p>When used in these Terms, &ldquo;<strong>we</strong>,&rdquo; &ldquo;<strong>us</strong>,&rdquo; and &ldquo;<strong>our</strong>&rdquo; refers to Auvenir, a general partnership formed under the laws of Canada.</p>
<h3>1. WHO THESE TERMS APPLY TO AND WHAT THEY GOVERN.</h3>
  <p> 1.1. To use Auvenir, you must agree to these Terms on behalf of yourself and the company, organization, or other legal entity that you work for as a partner, principal, director, employee, or contractor (&ldquo;<strong>Your Company</strong>&rdquo;).
      Thereafter, these Terms will be a legally binding contract between us, on the one hand, and you and Your Company, on the other.</p>
  <p><strong>1.2. Your Company&rsquo;s Affiliates.</strong> Subject to the terms of service of these Terms, Your Company&rsquo;s Affiliates may also use Auvenir to the same extent Your Company is permitted under these Terms. If Your Company&rsquo;s
    Affiliates use Auvenir, then either (a) you have the power and authority to bind each Affiliate these Terms or (b) if you do not have the power and authority to do so, then Your Company will be liable for any action or inaction of its
    Affiliates that violates these Terms. If you have the power and authority to bind Your Company&rsquo;s Affiliates, then (i) each Affiliate will be a party to these Terms, (ii) these Terms will be a legally binding contract between us,
    on the one hand, and you, Your Company, and each those Affiliates, on the other, and (iii) for purposes of these Terms, &ldquo;<strong>Your Company</strong>&rdquo; will mean, collectively, Your Company and its Affiliates. As used in these
    Terms, &ldquo;<strong>Affiliate</strong>&rdquo; means an entity that controls, is controlled by, or under common control with, Your Company.</p>
  <p><strong>1.3. Deloitte Network Affiliation.</strong> Although we are affiliated with the Deloitte Network and parts of these Terms may refer to other Deloitte Network entities, these Terms are only with us and not with any of those other entities.
    As used in these Terms, the &ldquo;<strong>Deloitte Network</strong>&rdquo; refers to Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (&ldquo;<strong>DTTL</strong>&rdquo;), its network of member firms, and their
    related entities. Please visit <a href="https://www2.deloitte.com/us/en/legal/about-deloitte.html" target="_blank">deloitte.com/about</a> to learn more about the Deloitte Network.</p>
  <p><strong>1.4. Third Party Services.</strong> Auvenir may contain features designed to operate with third-party applications, websites, tools, and resources (&ldquo;<strong>Third Party Services</strong>&rdquo;), such as Quickbooks, Xero, and online
    banking services. In addition to Third Party Services, some of Auvenir&rsquo;s links and contact information may lead to third party resources, websites, or tools (&ldquo;<strong>Third Party Resources</strong>&rdquo;). If you use any Third
    Party Service or Third Party Resource, you or Your Company may need to create an account with the applicable provider and agree to and comply with terms of use, terms of service, privacy statement, or other related agreement for that Third
    Party Service or Third Party Resource, as applicable (&ldquo;<strong>Third Party Terms</strong>&rdquo;).</p>
  <p><strong>1.5. Supplemental Terms.</strong> Auvenir consists of various services, applications, tools, and websites, and in addition to these Terms and any applicable Third Party Terms, you and Your Company may need to agree to supplemental terms
    tha5 will apply to your access and use of a specific service, application, tool, or website (&ldquo;<strong>Supplemental Terms</strong>&rdquo;). We will either display those Supplemental Terms in the applicable service, application, tool,
    or website, or we will include them in, or link to them from, these Terms.</p>
<h3>2. REGISTERING TO USE AUVENIR; USER ACCOUNTS.</h3>
  <p><strong>2.1. General Eligibility Requirements</strong>. To be eligible to use Auvenir: (a) you must be at least 18 years old; (b) you must have full power and authority to enter into these Terms on behalf of yourself and Your Company; and (c) you
      cannot be prohibited from entering into these Terms or using any portion of Auvenir by us, Your Company, or any other party, or by any contract, law, regulation, rule, or professional standard. You hereby represent and warrant to us that
      you meet these eligibility requirements, and you shall promptly notify us if you no longer comply with them due to a change in circumstances.</p>
  <p><strong>2.2. Additional Eligibility Requirements for Auditors</strong>. If you are an auditor, then, in addition to the eligibility requirements listed above: (a) you and Your Company must have in good standing all licenses, certifications or other
      authorizations required to perform audit or attest services in each jurisdiction where they are required; (b) you and Your Company have received all necessary approvals, consents and other authorizations to use Auvenir that are required
      from regulators, other governmental authorities, and your clients; and (c) your and Your Company&rsquo;s audit or attest services must be performed in accordance with, and any resulting audit opinion must be issued under, Canadian Auditing
      Standards. You and Your Company hereby represent and warrant to us that you and Your Company meet these eligibility requirements, and you shall promptly notify us if you or Your Company no longer comply with them due to a change in circumstances.</p>
  <p><strong>2.3. Creating and Using Your User Account</strong>. You will need a username and password to access and use Auvenir (a &ldquo;<strong>User Account</strong>&rdquo;). You can create your User Account by signing up on the Auvenir Site. When
      signing up for a User Account, you shall not submit any false, inaccurate, or misleading information. You may create and maintain only one User Account for yourself, and you cannot have multiple User Accounts, unless you have a business
      reason to do so (e.g., you work for multiple companies). Your User Account is for you alone, and you cannot share or transfer it to anyone else. You and Your Company are responsible for anything that happens through your User Account,
      unless and until you or Your Company request deactivation in accordance with these Terms. You and Your Company shall keep your User Account details and password secure and confidential. If your employment or other work relationship with
      Your Company is terminated for any reason, then you must immediately stop using your User Account, and Your Company shall promptly notify us in writing of that termination and request deactivation of your User Account in accordance with
      the next section.</p>
  <p><strong>2.4. Deactivating Your User Account</strong>. At any time, you or Your Company may deactivate your User Account. To deactivate it, you or Your Company must send us a written notice in accordance with Section 15, which will be effective
      when we process it. We may deactivate your User Account at any time for any reason or no reason, with or without notice to you, including if your User Account is inactive for an extended time period. Our deactivation will be effective
      immediately, unless we specify otherwise in a notice that we send to you or Your Company. Deactivating your User Account will result in the immediate termination of your ability to access Auvenir. We may also bar you from using Auvenir
      and block access from any IP address or range of IP addresses associated with you. These Terms will survive deactivation of your User Account, except for Section 3.1 which will terminate when your User Account is deactivated.</p>

<h3>3. USING AUVENIR.</h3>
  <p><strong>3.1. Right to Access and Use</strong>. On the condition that you comply with these Terms (including any Supplemental Terms) and any separately documented payment obligation to us, we grant you a limited, revocable, nonexclusive, non-assignable,
      non-sublicensable right to access and use Auvenir.</li>
  <p><strong>3.2. Acceptable Use</strong>. You may use Auvenir only in accordance with these Terms (including any applicable Supplemental Terms), and when using Auvenir, the following terms apply:
  <ol type='a'>
    <li>You and Your Company shall not:
      <ol type="i">
        <li>Rent, resell, lease, lend, sublicense, or otherwise attempt to transfer any of your or Your Company&rsquo;s rights to access and use Auvenir;</li>
        <li>Reverse engineer, decompile or otherwise attempt to derive the source code for any software related to Auvenir, or adapt, modify, or create derivative works based on Auvenir or any software code (including any Mobile App (as
            defined below)), program, methodology, process, tool, or device contained in or underlying Auvenir (collectively, the &ldquo;<strong>Auvenir Technology</strong>&rdquo;);</li>
        <li>Except as expressly permitted in these Terms, copy, download, reproduce, modify, or distribute any Auvenir Technology, except as expressly permitted elsewhere in writing outside of these Terms; or</li>
        <li>Bypass any measures we may use to prevent or restrict access to Auvenir (or other accounts, computer systems or networks connected to Auvenir).</li>
      </ol>
    </li>
    <li>You and Your Company shall comply with all laws and regulations applicable to accessing and using Auvenir, including all data privacy, export control, copyright, and securities laws and regulations. You and Your Company also represent
        and warrant that neither you nor Your Company are (i) located in a country that is subject to a U.S. or other government embargo, or that has been designated by the U.S. or another government as a &ldquo;terrorist supporting&rdquo;
        country or (ii) listed on any U.S. or another government&rsquo;s list of prohibited or restricted parties.</li>
    <li>In addition, if you are an auditor, then you and Your Company shall comply with all applicable rules of professional conduct relating to the provision of audit or attest services.</li>
    <li>You shall not remove any copyright, trademark, or other proprietary rights notices found in Auvenir or any Auvenir Content. As used in these Terms, &ldquo;<strong>Auvenir Content</strong>&rdquo; means, other than any of your Uploaded
        Data (as defined below), any data, text, audio, video, image or other content that is made available on the Auvenir Site or otherwise in connection with Auvenir, including any data, text, audio, video, image or other content made
        available by third parties.</li>
    <li>You and Your Company shall not:
      <ol type="i">
        <li>Employ manual or automated software, devices, or other processes to &ldquo;crawl,&rdquo; &ldquo;web-scrape&rdquo; or &ldquo;spider&rdquo; any page of Auvenir; or</li>
        <li>Otherwise engage in any action that directly or indirectly interferes with the proper working of, or places an unreasonable load on, our or our Supplier&rsquo;s infrastructure, including spamming or the distribution of computer
            viruses or other malicious code.</li>
      </ol>
    </li>
    <li>You and Your Company shall maintain the confidentiality of the Auvenir Content and Auvenir Technology using at least the same degree of care as you and Your Company use in maintaining your own proprietary and/or confidential information,
        but in no event using less than a reasonable degree of care.</li>
    <li>You and Your Company shall not use Auvenir to (i) distribute any unauthorized or unsolicited advertising or junk or bulk email (&ldquo;spamming&rdquo;) or (ii) advertise any contests or sweepstakes.</li>
    <li>You and Your Company shall promptly notify us upon becoming aware of any unauthorized use of your User Account or any other breach of this Section 3.2.</li>
  </ol>

<h3>4. UPLOADED DATA.</h3>
  <p><strong>4.1. Ownership of Uploaded Data.</strong> As used in these Terms, &ldquo;<strong>Uploaded Data</strong>&rdquo; means the data, documents, files, comments and other information or materials that you upload or otherwise transfer to us for
      processing, storage or hosting in connection with your use of Auvenir. You or Your Company, as applicable, owns the Uploaded Data, and we do not claim ownership to it.</p>
  <p><strong>4.2. Obligations Related to Uploaded Data</strong>. You and Your Company are solely responsible for your Uploaded Data, and without limiting the foregoing, you and Your Company shall ensure the following:
    <ol type='a'>
        <li>Your Company has appropriately authorized you to provide the Uploaded Data.</li>
        <li>The Uploaded Data does not contain any content that could be reasonably viewed as false, offensive, indecent, defamatory, libelous, harassing, threatening, or otherwise harmful.</li>
        <li>The Uploaded Data, and your providing of it, does not violate any applicable law, regulation, rule, or professional standard, including any third party privacy right, or third party copyright, trademark, or other intellectual property
            right.
        </li>
    </ol>
  </p>
  <p><strong>4.3. Access to and Use of Uploaded Data</strong>. You and Your Company agree to the following with respect to access and use of Uploaded Data:
    <ol type='a'>
      <li>Uploaded Data will be available to us and may be available to our Suppliers (defined below), and we and our Suppliers may access Uploaded Data for limited periods of time in some limited circumstances, such as site administration,
          troubleshooting, system maintenance, emergencies, or other technical support, or if required by law or other valid legal process. If we are obligated to respond to a third party subpoena or other compulsory legal order or process,
          Your Company shall reimburse us for reasonable attorneys&rsquo; fees, as well as our employees&rsquo; and Suppliers&rsquo; time and materials spent responding to the third party subpoena or other compulsory legal order or process
          at our then-current hourly rates.</li>
      <li>To improve Auvenir and its services, Auvenir may analyze Uploaded Data using machine learning and other automated techniques. This analysis may happen when the Uploaded Data is sent or received or while it is being stored. We may also
          extract anonymized data from Uploaded Data for aggregation with similar data from other Auvenir users and third parties and such aggregated and anonymized data may be made available to you, other Auvenir users, and other third
          parties (including other entities in the Deloitte Network) for benchmarking purposes, data analysis, publications, and other activities. We will maintain the confidentiality of your and Your Company&rsquo;s identity when performing
          such tasks. We are not obligated, however, to provide you or Your Company with any such aggregated and anonymized data.</li>
      <li>If you authorize other third parties to access your Uploaded Data, we may provide the Uploaded Data to them, and we have no responsibility or liability for their use of the Uploaded Data.</li>
      <li>Although we are not required to do so, we may review and remove some or all of the Uploaded Data if we believe it violates these Terms or if it is outdated or no longer relevant to your use of Auvenir.</li>
      <li>Auvenir may be hosted, supported, or maintained in countries outside of your home jurisdiction, and Uploaded Data may be stored in those countries. As such, this may involve the transfer of Uploaded Data (including personal information)
          to countries or regions without data protection rules similar to those in effect in your home jurisdiction. By registering for or using Auvenir, you and Your Company consent to, and confirm that all legally required authorizations
          have been obtained for, those transfers and the storage of Uploaded Data (including personal information) in those countries. For more information, please see our Privacy Statement <a href="/privacy" target="_blank">Privacy Statement</a>.</li>
    </ol>
  </p>
  <p><strong>4.4. No Guarantee of Storage</strong>.
      <ol type='a'>
          <li>Auvenir is not a long-term document archive or storage service. We are not required to store, maintain, or provide you or Your Company with any Uploaded Data. If your access to Auvenir is terminated for any reason, you will no longer
              be able to access your Uploaded Data and we may delete it. <strong>Therefore, you and Your Company will need to backup all of your Uploaded Data and keep separate copies of it.</strong></li>
          <li>If you are an auditor, you should not use Auvenir for long-term storage of your work papers, and you and Your Company will be responsible for using other methods to comply with professional standards relating to the storage of work
              papers and audit engagement data.</li>
      </ol>
  </p>

<h3>5. USER COMMUNITY.</h3>
  <p><strong>5.1. User Community Applications and Content</strong>. Auvenir may host or provide access to various blogs, forums, wikis, and other social media applications or services that allow you to share content with other Auvenir users (collectively,
      &ldquo;
      <strong>User Community Applications</strong>&rdquo;). These User Community Applications will allow Auvenir users to submit, post, email, display, transmit or otherwise make available comments, reviews, links, materials, ideas, opinions,
      messages and other content and information (&ldquo;<strong>User Community Content</strong>&rdquo;).</p>
  <p><strong>5.2. Posting User Community Content</strong>. If you submit, post, email, display, transmit or otherwise make available any User Community Content, you represent to us that you have all the necessary legal rights to do so and that User
      Community Content will not violate any law or the rights of any person. When you submit, post, email, display, transmit or otherwise make available User Community Content in a User Community Application, you grant us a non-exclusive, transferable,
      worldwide, fully paid-up, royalty-free, perpetual, irrevocable, sub-licensable right and license to use, distribute, publicly perform, display, translate, adapt, reproduce, and create derivative works from your User Community Content in
      any and all media or technology, now known or later developed, in any manner, in whole or part, with or without attribution, without any duty to compensate you. You also waive all moral rights you may have in any of your User Community
      Content. We may modify or alter your User Community Content without seeking your permission, and we may also remove any User Community Content for any reason and without notice to you.</p>
  <p><strong>5.3. Other Users&rsquo; Content.</strong> You understand and agree that User Community Content includes information, views, opinions, and recommendations of many different Auvenir users, and you are responsible for properly analyzing and
      verifying any information you intend to rely upon. We do not endorse any User Community Content, including any recommendation or opinion made by any user. We do not routinely screen, edit, or review User Community Content. You should also
      be aware that other users may use Auvenir for personal gain, and therefore, please approach messages with appropriate skepticism. User Content may be misleading, deceptive, or in error. We will not be liable under any circumstance for
      any User Community Content, including errors or omissions in any User Community Content, or any loss or damage of any kind incurred as a result of any User Community Content.</p>

<h3>6. PRIVACY AND OTHER DISCLOSURES.</h3>
  <p> These Terms incorporate our <a href="/privacy" target="_blank">Privacy Statement</a>, and you hereby agree to its terms. In addition to the disclosures described elsewhere in these Terms and our Privacy Statement, we may disclose your User
  Account information and Uploaded Data to others if we have a good faith belief that such action is reasonably necessary to comply with law, regulatory requirements, professional standards, or to prevent harm.</p>

<h3>7. DISCLAIMER OF PROFESSIONAL RELATIONSHIP AND SERVICES. </h3>
  <p><strong>7.1. No Professional Relationship or Services</strong>. We are a technology provider. <strong>We are not an auditor and do not provide auditing or other accounting services or advice or any other professional service.</strong> No professional
      relationship of any nature is created by your or Your Company&rsquo;s use of Auvenir or by any correspondence or communication with us or any other person or entity (including any Deloitte Network entity) relating to Auvenir. Your use
      of Auvenir will not constitute an engagement of us or any other Deloitte Network entity to provide audit, compilation, review, attestation services or any other professional services, and therefore, neither we nor any other Deloitte Network
      entity will express an opinion or any other form of assurance as a result of you and Your Company having access to, or otherwise using, Auvenir.</p>
  <p><strong>7.2. No Endorsement of Auditors and Other Service Providers</strong>. Auditors and other service providers may offer and provide their services through Auvenir. We do not endorse any of these auditors or service providers, nor do we evaluate
      their services, education, training, experience, licensing, or credentials. We also are not responsible for any services provided (or not provided) by these auditors or other service providers. You should conduct appropriate checks of
      any auditor or service provider before you hire them. Reliance on any information provided through Auvenir, whether you receive or provide audit or other services, is solely at your own risk. We simply offer a marketplace platform that
      allows auditors and other service providers to advertise and provide their services.</p>

<h3>8. CONFLICTS.</h3>
  <p> Your and Your Company&rsquo;s use of Auvenir will not prevent or restrict us or any other Deloitte Network entity from (i) using or sharing for any purpose any knowledge, experience or skills used in, gained from, or otherwise related to, us
  making Auvenir available to you and Your Company, even if the interests of such person or entity are in competition with you or Your Company or (ii) providing services to any person or entity (including if you are an auditor, your and Your Company&rsquo;s
  clients).</p>

<h3>9. OUR THIRD PARTY SUPPLIERS. </h3>
  <p> Portions of Auvenir may be licensed to us from Suppliers. We may also use Suppliers to host, support, or maintain Auvenir. Except for Third Party Terms or as specifically stated otherwise in a separate written agreement, (i) none of our Suppliers
  is providing a service to, or has any relationship with, you or Your Company, and (ii) these Terms will govern your and Your Company&rsquo;s use of Auvenir. As used in these Terms, &ldquo;<strong>Supplier</strong>&rdquo; refers to any of the following:
  (a) any of our third party suppliers or service providers (including, if applicable, other Deloitte Network entities), (b) with respect to a Mobile App, Apple, Inc., BlackBerry Limited, or Google Inc., (c) any other software or device supplier
  or manufacturer, (d) any mobile access provider (including any airtime service providers and telecommunications carriers), (e) any distributor, merchant of record, or seller of record of a Mobile App, or (f) any affiliate of any of the foregoing.</p>

<h3>10. AVAILABILITY; SUSPENSION. </h3>
  <p> We strive to keep Auvenir up-and-running. However, it may be unavailable, and we do not guarantee that it will be available for your or Your Company&rsquo;s use when needed. We may also change or discontinue Auvenir or change or remove some of
  its functionality at any time. We are not liable for any disruption or loss that you or Your Company may suffer as a result of Auvenir not being available or changes to its functionality. We may also suspend your right to access or use some or
  all Auvenir at any time in our sole discretion.</p>

<h3>11. INTERNET ACCESS AND MOBILE APPLICATIONS.</h3>
  <p><strong>11.1. Accessing Auvenir</strong>. You and Your Company are responsible for ensuring that you have software and hardware capable of effectively accessing Auvenir over the internet. You and Your Company are also responsible for all charges
      and necessary permissions related to accessing Auvenir through your internet provider and must otherwise comply with your agreement with them when using Auvenir.</p>
  <p><strong>11.2. Mobile Apps</strong>. Auvenir may include mobile apppcations created by us or third party developers (each, a &ldquo;<strong>Mobile App</strong>&rdquo;). If you access and use Auvenir through a Mobile App, you may be required to agree
      to additional terms, such as an end-user license agreement, associated with that Mobile App (&ldquo;<strong>Mobile App Terms</strong>&rdquo;). If the Mobile App does not contain or reference Mobile App Terms, then these Terms, including
      the following, will apply:
      <ol type='i'>
          <li>On the condition that you and Your Company comply with all of your obligations and Your Company&rsquo;s obligations under these Terms and subject to the other limitations contained in these Terms, you and Your Company may download
              and use a Mobile App on authorized mobile devices that you or Your Company own or control. Your download and use of a Mobile App must be solely for the purposes set forth in these Terms. This license to use a Mobile App is personal,
              limited, revocable, non-exclusive, non-assignable, non-transferable, and non-sublicenseable.</li>
          <li>This license does not allow you or Your Company to use the Mobile App on any device that you or Your Company do not own or control, and you and Your Company may not distribute or make a Mobile App available over a network where it
              could be used by multiple devices at the same time. You and Your Company may not rent, lease, lend, sell, transfer, redistribute, or sublicense a Mobile App. If you or Your Company sell or give your device to a third party, you
              or Your Company must remove all Mobile Apps from that device before doing so.</li>
          <li>You and Your Company acknowledge that these Terms are between us and you and Your Company, and they are not with any our Suppliers. None of our Suppliers has any responsibility, obligation, or liability (negligence or otherwise) to
              you or Your Company with respect to any Mobile App.</li>
          <li>None of our Suppliers will be responsible for any claims by you, Your Company, or any third party relating to your or Your Company&rsquo;s possession or use of a Mobile App, including (a) any product liability claims, (b) any claim
              that a Mobile App fails to conform to any applicable legal or regulatory requirement, (c) any claims arising under consumer protection laws or similar legislation, or (d) any claims by any third party that a Mobile App or your
              or Your Company&rsquo;s possession or use of it infringes a third party&rsquo;s intellectual property rights.</li>
          <li>You and Your Company acknowledge and agree that: (i) each applicable Supplier with respect to a Mobile App is a third party beneficiary of these Terms, and (ii) upon your and Your Company&rsquo;s agreement to these Terms, each such
              Supplier will have the right (and will be deemed to have accepted the right) to enforce the relevant portions of these Terms against you and Your Company as a third-party beneficiary of them.</li>
          <li>For any Mobile App created for Apple devices (e.g., containing iOS or Mac OS), in addition to the other terms contained in these Terms, the license granted to you and Your Company for that Mobile App is limited to a non-transferable
              license (except that such Mobile App created for Apple devices may be accessed, acquired, and used by other accounts associated with Apple&rsquo;s Purchaser via Family Sharing) to use the Mobile App on any Apple devices that you
              or Your Company own or control as permitted by the usage rules set forth in the iTunes Store, Mac App Store, App Store, and iBookstore Terms and Conditions.</li>
      </ol>
  </p>
<h3>12. INTELLECTUAL PROPERTY RIGHTS.</h3>
  <p><strong>12.1. Intellectual Property Rights in Auvenir</strong>. Auvenir (including the Auvenir Content and Auvenir Technology) are protected by copyright, trademark, and other laws of various countries around the world. We and our Suppliers reserve
      all rights not expressly granted in these Terms.</p>
  <p><strong>12.2. Names and Logos.</strong> &ldquo;Auvenir&rdquo; and the Auvenir logo, and local language variants of the foregoing trademarks, and certain product names and logos that appear in Auvenir (collectively, the &ldquo;<strong>Auvenir Marks</strong>&rdquo;)
      are trademarks or registered trademarks of entities within the Deloitte Network. Except as expressly provided in these Terms or as expressly authorized in writing by the relevant trademark owner, neither you nor Your Company shall use
      any Auvenir Marks either alone or in combination with other words or design elements, including in any press release, advertisement, or other promotional or marketing material or media, whether in written, oral, electronic, visual or any
      other form. References to other parties&rsquo; trademarks in Auvenir are for identification purposes only and do not indicate that such parties have approved Auvenir. These Terms do not grant you any right to use the trademarks of other
      parties.
  </p>
  <p><strong>12.3. Feedback</strong>. You or Your Company may provide us with feedback, ideas or other suggestions related to Auvenir (&ldquo;<strong>Feedback</strong>&rdquo;). If you or Your Company provides Feedback, then you or Your Company (as applicable)
      hereby assign and convey to us, without additional compensation, all right, title, and interest worldwide in and to that Feedback, including all patent, copyright, trademark, trade secret, and other intellectual property rights in it,
      together with all goodwill and claims appurtenant thereto. This includes a right to modify and create derivative works of the Feedback as we may determine in our sole discretion. You or Your Company (as applicable) also hereby irrevocably
      waive all rights with respect to the Feedback, including all rights of attribution, rights of integrity, rights of publicity or privacy, moral rights, and rights to inspect or approve anything that uses or incorporates the Feedback. You
      and Your Company acknowledge that we are not required to use or incorporate Feedback.</p>

<h3>13. INDEMNIFICATION.</h3>
  <p> You and Your Company shall defend, indemnify and hold harmless us, each of the other entities within the Deloitte Network, and each of the foregoing&rsquo;s personnel and Suppliers against any claims, losses, damages, liabilities, costs and expenses
  (including reasonable attorneys&rsquo; fees) arising out of or relating to any third party claim concerning: (a) your or Your Company&rsquo;s use of Auvenir; (b) your or your Company&rsquo;s breach of these Terms or violation of any applicable
  law, regulation, rule or professional standard; (c) your Uploaded Data, including any claim involving alleged infringement, violation or misappropriation of third-party rights by your Uploaded Data, or any claim concerning any data or other security
  breach caused by you; or (d) a dispute between the third party and you or Your Company.</p>

<h3>14. DISCLAIMER OF WARRANTIES; LIMITATIONS OF LIABILITY.</h3>
  <p><strong>14.1. No Professional Services.</strong> As stated in Section 7, neither we nor any other entity within the Deloitte Network is, by means of permitting you access to Auvenir, rendering professional advice or services.</p>
  <p><strong>14.2. No Warranties</strong>. Although we take commercially reasonable steps to make Auvenir useful and secure, Auvenir (including all Auvenir Technology, Auvenir Content and Mobile Apps) is provided &ldquo;as is&rdquo; and &ldquo;as available&rdquo;
      and without warranty of any kind. Neither we nor any Supplier has any obligation to provide maintenance and support services or any update, upgrade, enhancement, new functionality, modification, patch, bug fixes, or similar deliverable
      with respect to Auvenir (including any Auvenir Technology, Auvneir Content, or Mobile App). Without limiting the foregoing, we do not warrant that Auvenir (including any Auvenir Technology, Auvneir Content, or Mobile App) will be available,
      secure, error-free, free from viruses or malicious code, or will meet any particular criteria of performance or quality, and we expressly disclaim all implied warranties, including any warranties of merchantability, title, fitness for
      a particular purpose, non-infringement, compatibility, security, and accuracy.</p>
  <p><strong>14.3. No Promises on Accuracy of Results.</strong> Some of Auvenir&rsquo;s features may process Uploaded Data and provide you with analytical or computational results. Without limiting the other terms of this Section 14, (a) we are not responsible
      for the accuracy, integrity, quality, legality, or usefulness of those results, (b) you and Your Company waive any claims related to those results, and (c) we will not be liable for any damages or inconveniences you or Your Company may
      suffer as a result of inaccurate or incomplete results.</p>
  <p><strong>14.4. No Responsibility or Endorsement of Third Party Services or Resources. </strong>We are not responsible for the availability, services, or content provided by Third Party Services or Third Party Resources. We also do not endorse any
      Third Party Service or Third Party Resources, and we make no representations or warranties as to the accuracy of, or any other aspect relating to, them. Third Party Services and Third Party Resources will be provided under terms determined
      solely between the third party and you or Your Company.</p>
  <p><strong>14.5. No Liability.</strong> Your and Your Company&rsquo;s use of Auvenir is at your own risk and you and Your Company assume full responsibility and risk of loss resulting from its use, including with respect to any loss of service or data.
      We will not be liable for any damages whatsoever relating to use of Auvenir, regardless of whether the damage is direct, indirect, special, incidental, consequential, punitive or otherwise.</p>
  <p><strong>14.6. Related Entities and Suppliers.</strong> The disclaimer of warranties, limitations of liability and other terms of this Section 14 apply not only to us, but also to all of the other entities within the Deloitte Network and to our and
      their respective personnel and Suppliers.</p>
  <p><strong>14.7. Applicability of Limitations.</strong> These Terms (including this Section 14) will apply to the fullest extent of the law and regardless of whether the damage, cost, expense, or loss is based in contract, statute, tort (including
      negligence) or otherwise. The provisions of this Section 14 will not apply to any disclaimer of warrant or limitation of liability which by the governing law of these Terms is unlawful to limit or exclude.</p>

<h3>15. DISCLAIMER OF WARRANTIES; LIMITATIONS OF LIABILITY.</h3>
  <p><strong>15.1. Notices from us to you</strong>. Any notice from us to you regarding these Terms or Auvenir may be made by any of the following methods: (1) a general posting to Auvenir users; (2) any communication function available through your
      User Account; or (3) the email address or physical address contact information associated with your User Account (which you are responsible for keeping current and accurate).</p>
  <p><strong>15.2. Notices from you to us</strong>. Any notice from you or Your Company under these Terms must be delivered by one of the following methods: (1) email; (2) personal delivery; or (3) a globally or nationally (as applicable) recognized
      express mail, courier, or delivery service (&ldquo;<strong>Express Courier</strong>&rdquo;). A notice sent by electronic mail will be deemed given on the date of electronic confirmation of receipt. A notice sent by personal delivery or
      Express Courier will be deemed given on the date of receipt or refusal of receipt. The notice from you or Your Company must be addressed as follows:
      </br>
      </br>Auvenir</br>Suite 402, 225 Richmond St. W.,</br>Toronto, ON M5V 2W1</br>Canada</br>Email: <a href="mailto:info@auvenir.com">info@auvenir.com</a>
  </p>

<h3>16. GENERAL TERMS.</h3>
  <p><strong>16.1. Entire Agreement; Order of Precedence for Conflicts. </strong>These Terms (including, if applicable, any Supplemental Terms and Mobile App Terms) constitute the full and complete agreement between you and Your Company, on the one hand,
      and us, on the other, with respect to their subject matter, and supersede all other agreements, whether written or oral, between the parties. If there is an inconsistency or conflict among these Terms and any of the following documents,
      it will be resolved using the following order of precedence: (i) the Supplemental Terms (but only with respect to the part of Auvenir to which those Supplemental Terms apply), (ii) the Mobile App Terms (but only with respect to the Mobile
      App to which those Mobile App Terms apply), and (iii) these Terms.</p>
  <p><strong>16.2. Amendments to these Terms</strong>. We may change these Terms at any time in our sole discretion. If we make a change, we will either (1) display the revised Terms on this website or elsewhere in Auvenir or (2) send you a notice of
      the revised Terms in accordance with Section 15. The revised Terms will be effective upon posting or other notice, unless we explicitly state otherwise. You and Your Company are responsible to be aware of any such revised Terms by checking
      this website and reading your notices. If you or Your Company do not agree with the revised Terms, then you are not allowed to use Auvenir and should stop using them immediately and deactivate your User Account under Section 2.4.</p>
  <p><strong>16.3. No Informal Waivers, Agreements or Representations</strong>. No waiver of any breach by you or Your Company, or of any objection to any act or omission connected therewith, will be implied or claimed by you or Your Company or be deemed
      to constitute a consent to any continuation of such breach, act or omission, unless contained in a writing signed by us.</p>
  <p><strong>16.4. Governing Law; Venue; Jury Trial Waiver</strong>. The laws of Ontario, Canada, without giving effect to its principles of conflicts of law, govern all proceedings arising out of these Terms or arising out of your or your Company&rsquo;s
      use of Auvenir. The United Nations Convention on Contracts for the International Sale of Goods do not apply to these Terms. If any party brings any claim or proceeding arising out of these Terms, that party may bring that claim or proceeding
      only in Toronto, Ontario, and each party hereby submits to the exclusive jurisdiction of those courts for purposes of any such claim or proceeding. However, despite the other terms in this section, we may apply in any jurisdiction for
      injunctive remedies or other equivalent type of urgent legal relief.</p>
  <p><strong>16.5. Equitable Relief</strong>. You and Your Company shall not seek or be entitled to rescission, injunctive, or other equitable relief, or to enjoin or restrain the operation, use, or exploitation of Auvenir or any part of it, including
      any Auvenir Technology or Auvenir Content. We shall be entitled to injunctive or other equitable relief in order to prevent, mitigate, or remedy the breach or continuing breach of these Terms.</p>
  <p><strong>16.6. Remedies Not Exclusive</strong>. Exercise or enforcement of a right or remedy given in these Terms shall not be considered to be in lieu of enforcement of other rights or remedies otherwise existing at law or equity, unless specifically
      waived in writing.</p>
  <p><strong>16.7. Severability</strong>. If any term in these Terms is invalid or unenforceable in any jurisdiction, then (1) in that jurisdiction it shall be re-construed to the maximum extent permitted by law to effect its intent as nearly as possible
      and the remaining terms shall remain in full force and effect, and (2) in every other jurisdiction all of these Terms shall remain in full force and effect.</p>
  <p><strong>16.8. No Construction Against the Drafter</strong>. If an ambiguity or question of intent or interpretation arises with respect to these Terms, these Terms will be construed as if drafted jointly by you, Your Company and us, and no presumption
      or burden of proof will arise favoring or disfavoring any of those parties by virtue of authorship of these Terms.</p>
  <p><strong>16.9. Assignment and Delegation</strong>. You and Your Company may not assign or delegate any rights or obligations under these Terms, and any such purported assignment or delegation will be void. If Your Company undergoes a change of control,
      whether through merger, sale or otherwise, you must create a new User Account for the new entity. We may freely assign or delegate all rights and obligations under these Terms, fully or partially, without notice to you or Your Company.
      These Terms will be binding on your, Your Company&rsquo;s and our successors and permitted assigns.</p>
  <p><strong>16.10. Relationship of the Parties; Third Party Beneficiaries</strong>. No agency, partnership, franchise, or joint venture is created by these Terms between you and Your Company, on the one hand, and us, on the other. Nothing in this Agreement
      (express or implied) confers, or is intended to confer, on any person or entity other than the parties any right, benefit or remedy, except that the Deloitte Network entities and our Suppliers are third party beneficiaries to certain sections
      of these Terms and may enforce specific rights under them.</p>
  <p><strong>16.11. Construction</strong>. Paragraph or section numbers and headings that are used in these Terms are included for convenience only, and if there is any conflict between any such numbers and headings and the text of these Terms, the text
      shall control. As used in these Terms, the word &ldquo;including&rdquo; means &ldquo;including, without limitation,&rdquo; and the word &ldquo;include&rdquo; means &ldquo;include, without limitation,&rdquo;.</p>
