polygon.svgColor {
  fill:red;
}

.au-modal-container {
  width:800px;
  height:auto;
  background:#fff;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  box-shadow: 0 5px 10px rgba(0,0,0,.5);
  text-align:center;
  position: relative;
}
.au-modal-container.au-modal-fullScreen {
  width:100%;
  height:100%;
  margin-top:0px;
}

.au-modal-countainer.rounded {
  border-radius:20px;
}

.au-modal-header {
  width:100%;
  height:100px;
  position: absolute;
  z-index: 2;
}

.au-modal-title {
  position:relative;
  z-index:2;
  padding-top: 37px;
  height:100px;
}

.au-modal-title-text {
  /*width: 100%;*/
  /*text-align: center;*/
  /*z-index: 3;*/
  /*position: absolute;*/
  font-size: 24px;
  font-family: Lato;
  color: #f3672f;
  /*top: 0px;*/
  /*margin-top: 40px;*/
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  margin-bottom: 0px;
}

.au-modal-title-icon {
  vertical-align: initial;
  margin-right:12px;
}

.au-modal-closeBtn {
  cursor: pointer;
  position: absolute;
  top:16px;
  right:16px;
  z-index: 4;
}

.au-modal-body {
  padding: 15px 15px 15px 15px;
  position: relative;
}

.au-modal-body.down {
  /*padding: 115px 15px 15px 15px;*/
}

.au-modal-closeBtn:hover { color:#393b47; }


.au-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.au-modal-display {
  /* !important is required in order to ensure it locks the scroll */
  overflow: hidden !important;
}

.au-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  background: #fff;
}

.au-modal-backdrop-display {
  filter: alpha(opacity=50);
  opacity: 0.8;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.au-modal-backdrop-out {
  filter: alpha(opacity=50);
  opacity: .5;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.au-display {
  opacity: 1;
}

/* MODAL TRANSITIONS */

/* FULL PAGE TRANSITION */
.modalTransition-fp-container {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.modalTransition-fp-sub {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}
.modalTransition-fp-containerOut {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.modalTransition-fp-subOut {
  opacity: 1;
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/* POP-UP TRANSITION */
.modalTransition-popUp-container,
.modalTransition-popUp-containerOut {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modalTransition-popUp-container {
  -webkit-animation-name: anim-open;
  animation-name: anim-open;
  -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
  animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

.modalTransition-popUp-containerOut {
  -webkit-animation-name: anim-close;
  animation-name: anim-close;
  -webkit-animation-timing-function: cubic-bezier(0.6,0,0.4,1);
  animation-timing-function: cubic-bezier(0.6,0,0.4,1);
}

@-webkit-keyframes anim-open {
  0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); }
}

@keyframes anim-open {
  0% { opacity: 0; -webkit-transform: scale3d(0, 0, 1); transform: scale3d(0, 0, 1); }
  100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

@-webkit-keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); }
}

@keyframes anim-close {
  0% { opacity: 1; }
  100% { opacity: 0; -webkit-transform: scale3d(0.5, 0.5, 1); transform: scale3d(0.5, 0.5, 1); }
}
