.delete-request-modal-container{
  text-align: center;
}

.delete-request-modal-tip{
  margin: 33px auto 48px;
  width: 303px;
  height: 72px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.delete-request-confirm-btn{
  width: 128px;
  height: 40px;
  background-color: #f3672f;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 7px 40px 10px 40px;
  margin-top: 35px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.delete-request-cancel-btn{
  padding: 7px 40px 10px 40px;
  margin-left: 16px;
  margin-top: 35px;
  width: 128px;
  height: 40px;
  background-color: #e1e1e1;
  border-radius: 6px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
