.addClient-header {
  color: #4A4A4A;
  font-size: 26px;
}

.addClient-leftContainer {
  width: 50%;
  float:left;
}
.addClient-rightContainer {
  width: 50%;
  float: right;
}
.addClient-leftSection {
  position: relative;
  float: right;
  text-align: left;
  margin-top: 57px;
  margin-right: 59px;
}
.addClient-rightSection {
  position: relative;
  text-align: left;
  margin-top: 57px;
  float: left;
  margin-left: 59px;
}
.addClient-sectionHead {
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 27px;
}

.addClient-checkContainer {
  margin-top: 25px;
}

.addClient-photoContainer {
  height: 144px;
  width: 144px;
  border-radius: 72px;
  background-color: #f6f6f6;
  text-align: center;
  margin-top: 6px;
}
.addClient-profileImg {
  width: 142px;
  height: 142px;
  border-radius: 72px;
}
.addClient-emptyPhoto {
  font-size: 74px;
  top: 32px;
  position: relative;
  color: #999;
}
.addClient-photoSection {
  margin-top: 19px;
}
.addClient-photoErr {
  color: #f3672f;
  font-size: 23px;
  float: right;
  position: relative;
  margin-right: 28px;
  margin-top: -210px;
}
.addClient-photoErrMsg {
  margin-top: 12px;
  color: #f3672f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.addClient-uploadCoverBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 32px;
  background-color: #fff;
  border: 0.5px solid #979797;
  border-radius: 4px;
  margin-top: 0px;
  outline: none;
}
.addClient-uploadCoverBtn:active {
  outline: none;
}
.addClient-uploadCoverBtn:focus {
  outline: none;
}

.addClient-footer {
  border-top: 1px solid #e1e1e1;
  clear: both;
  margin-top: 10px;
  /*position: absolute;
  bottom: 0;*/
  background: #fff;
  width: 96%;
  margin-left: 2%;
}

.addClient-footerBtnHolder {
  width: 260px;
  margin: auto;
}
