#engagement-container {
    background-color: #ffffff;
    font-family: Lato;
    min-width: 1024px!important;
    max-width: 1440px!important;
    margin: 0 20px;
    margin-top: 10px;
}

#engagement-filters {
    font-size: 1rem;
    font-weight: bold;
}

#engagement-filters .filter.icon {
    background-color: #ffffff;
    color: #757575;
    z-index: -1;
}

#engagement-filters .filter.icon:before{
  top: 47%;
}

#engagement-filters .menu.lv1 {
    margin-top: 3px!important;
}

#engagement-filters .menu.lv1 .item{
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
}

#engagement-filters .menu .item:hover {
  background: #d4d6d6;
  border-radius: 0px;
}

#engagement-container #search-box {
    float: right;
}

#engagement-container #search-box input {
    width: 139px;
    height: 32px;
    box-shadow: inset 0 1px 0 #ececec;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    padding: 5px 10px;
}

#engagement-container .container-header {
    padding: 1em;
}
#engagement-container table {
    margin: 0 0 1em;
}
#engagement-container .ui[class*="very basic"].table th:first-child,
#engagement-container .ui[class*="very basic"].table td:first-child {
    padding-left: 1em;
}
#engagement-container table thead th,
#engagement-container table thead td {
    border: none;
}

#engagement-container table thead th span{
    cursor: pointer;
}

#engagement-container table thead .icon {
    display: inline;
    margin-left: 2px;
    font-size: 12px;
}

#engagement-container table thead tr th {
    height: 17px;
    color: #363a3c;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 700 !important;
}

#engagement-container table tbody {
  font-weight: 400;
}

#engagement-container table tbody span {
    color: #292c2e;
    font-size: 14px;
}

#engagement-container table tbody tr:hover {
    background-color: #eaeaea!important;
}

#engagement-container table tbody .status{
    text-align: center;
}

#engagement-container table tbody .status .warning {
    background-color: #d95b29!important;
}

#engagement-container table tbody .status .label{
    font-size: 11px;
    font-weight: 700;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

#engagement-container table tbody .engagement-name a {
    color: #599ba1;
    text-decoration: underline;
    max-width: 225px;
    word-wrap:break-word;
}

#engagement-container table tbody .engagement-name {
  max-width: 225px;
}

#engagement-container table tbody span.label.active {
    background-color: #2c8188;
}

#engagement-container table tbody span.label.abandoned{
    background-color: #757575;
}

#engagement-container table tbody span.label.planning{
    background-color: #294678;
}

#engagement-container table tbody span.label.completed{
    background-color: #406f8c;
}

#engagement-container table tbody span.label.archived{
    background-color: #000000;
}

#engagement-container .warning{
    color: #d95b29;
}

#engagement-container .completed-todos span,
#engagement-container .completed-docs span{
    cursor: pointer;
}

#engagement-container .completed-todo-popup {
    min-width: 288px;
    max-height: 100px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: 1px solid #5cd4c0;
    background-color: #ffffff;
    padding: 15px 0 5px 15px;
}
/*
#engagement-container .completed-todo-popup:before {
  box-shadow: 0 1px 1px 1px #599ba1;
}*/

#engagement-container .completed-todo-popup span {
  display: block;
}

#engagement-container .completed-todo-popup .remove.icon{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline;
}

#engagement-container .completed-todo-popup .oustanding {
  margin-right: 10px;
}

#engagement-container .completed-todo-popup .overdue span{
    color: #d95b29;
    font-size: 14px;
}

#engagement-container .completed-todo-popup .number {
    font-size: 28px!important;
    display: block;
    margin-bottom: 5px;
}

#engagement-container .completed-todo-popup div{
    width: 32%;
    display: inline-block;
}

.unt-text:hover {
  border-bottom: 1px dashed #999 !important;
}

.unt-text-edit  {
  border-bottom: 1px dashed #999 !important;
}
.unt-text{
  width: auto;
  height: 39px;
  color: #636363;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  margin-left: 15px;
  padding-left: 5px;
  position: relative;
  vertical-align: middle;
}
.unt-edit {
  position: relative;
}

.dashboard .widget {
  display: block;
  float: left;
}

#cpa-main div:nth-child(4), #cpa-main div:nth-child(8),
#cpa-main div:nth-child(12), #cpa-main div:nth-child(16),
#cpa-main div:nth-child(20), #cpa-main div:nth-child(24),
#cpa-main div:nth-child(28), #cpa-main div:nth-child(32),
#cpa-main div:nth-child(36), #cpa-main div:nth-child(40),
#cpa-main div:nth-child(44), #cpa-main div:nth-child(48) {
  margin-right: 0px !important;
}

/* OverRide Auvicon */
.engagement-cal.auvicon-calendar:before {
  margin-right: 10px;
}
