.m-ce-evidence-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}

.m-ce-evidence-inputContainer {
  width: 550px;
  padding: 10px 15px;
  margin: auto;
  text-align: left;
}

.m-ce-evidence-hr {
  position: absolute;
  width: 11px;
  border-color: #7d7d7d;
  top: 48px;
  left: 170px;
  margin: 0;
}

.input-left-align-block > div {
  display: block;
  float: left;
}

.input-left-align-block > div > p.auv-inputTitle {
  width: 250px;
}
