.m-ce-procedure-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 12px;
}

.m-ce-procedure-title{
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.item-checkbox {
  padding-bottom: 10px;
}

.m-ce-procedure-inputContainer {
  width: 550px;
  padding: 0px 15px;
  margin: auto;
  text-align: left;
}

.auv-inputTitle-checkbox {
  width: auto !important;
  display: inline-block;
  position: inherit !important;
  margin-bottom: 0px;
}

.m-ce-procedure-hr {
  position: absolute;
  width: 11px;
  border-color: #7d7d7d;
  top: 48px;
  left: 170px;
  margin: 0;
}

.mag-top-35
{
  margin-top: 35px;
}

.auv-inputTitle-checkbox{
  line-height: 20px;
  position: absolute;
}

.working-paper-accordion-item {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
}

.show-detail-active {
  display: block !important;
}

.icon-collapse {
  display: inline-block;
  vertical-align: middle;
  transition: all 0.3s;
}

#ce-workingpaper-procedure-container {
  overflow:scroll;
  height:400px;
}
