.m-ce-samples-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}


.m-ce-samples-title{
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.m-ce-samples-inputContainer {
  width: 550px;
  margin: auto;
  text-align: left;
}

.auv-inputTitle-checkbox {
  width: auto !important;
; display: inline-block;
}

.m-ce-samples-hr {
  position: absolute;
  width: 11px;
  border-color: #7d7d7d;
  top: 48px;
  left: 170px;
  margin: 0;
}

.samples-information {
  padding: 10px;
}

.samples-information p {
  font-size: 12px;
  text-align: left;
  line-height: 10px;
  color: #9B9B9B;
  margin-right: 16px;
  vertical-align: bottom;
}

.performance-materiality {
  font-size: 24px !important;
  color: #599ba1 !important;
}

#samples-table {
  width: 100%;
  font-size: 11px;
  line-height: 2em;
  color: #000;
  font-weight: 400;
}
