.m-ce-success-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}

.m-ce-success-inputContainer {
  width: 520px;
  margin: auto;
  text-align: left;
}

.m-ce-success-hr {
  position: absolute;
  width: 11px;
  border-color: #7d7d7d;
  top: 48px;
  left: 170px;
  margin: 0;
}

.m-ce-success-inputContainer .success-alert {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
  color: #737373;
  padding: 20px 48px 0px 48px;
}
