.m-ce-technique-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}


.m-ce-technique-title{
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
}

.m-ce-technique-inputContainer {
  width: 550px;
  padding: 10px 15px;
  margin: auto;
  text-align: left;
}

.auv-inputTitle-checkbox {
  width: auto !important;
; display: inline-block;
}

.m-ce-technique-hr {
  position: absolute;
  width: 11px;
  border-color: #7d7d7d;
  top: 48px;
  left: 170px;
  margin: 0;
}

.auv-inputTitle-checkbox{
  line-height: 20px;
  position: absolute;
}

.input-inline-block {
  display: inline-block;
}

.input-inline-block > div{
  display: block;
  width: 160px;
  float: left;
}

#editSampleSizeInput {
  color: #599ba1;
  text-decoration: underline;
  cursor: pointer;
  vertical-align: middle;
  min-height: 60px;
  padding-top: 40px;
  width: auto;
}
