/**
 * Code for Activity widget, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

.w-activity-row {
    border-bottom: 1px solid #efefef;
}

.w-activity-photoContainer {/*@CHANGE photo and container should be merged together*/
    padding-left: 32px;
    width:36px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.w-activity-photo {
    height:36px;
    width:36px;
    border-radius: 18px;
}

.w-activity-update {
    color: #9b9b9b;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.w-activity-date {
    width: 72px;
    height: 22px;
    background-color: #50baa8;
    border-radius: 100px;
    position: absolute;
    left: -40px;
}
.w-activity-date-text {
    color: white;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align:center;
    margin-top:3px;
}
.w-activity-timeStamp {
    color: #aaa;
    font-family: Lato;
    font-size: 13px;
    font-style: italic;
    line-height: 16px;
    position:relative;
}
.w-activity-timeStampText {
    position:absolute;
    top:-2px;
    left:21px;
}
.w-activity-border-circle {
    position:absolute;left:-33px;width: 14px;height: 14px;background-color: #599ba1; border-radius:50%;
}
.w-activity-timeStampIcon {
    font-size:13px;
    color:#aaa;
}
.w-activity-activityDIV
{
    margin-left: 25px;
    margin-top: 30px;
}
.w-activity-text {
    color: #707070;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    line-height: 21px;
    margin-top:10px;
    width: 980px;
}
.w-activity-text-client {
    color: #707070;
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    line-height: 21px;
    margin-top:10px;
    width: 650px;
}
.w-activity-name {
    color: #707070;
    font-weight: 700;
    margin-left: 8px;
    padding-top:10px;
}
.w-activity-activeColor {
    color: #50baa8;
    font-weight: 700;
}
.w-activity-profilePicture {
    width: 24px;
    height: 24px;
    border-radius:50%;
}
.w-activity-profileEmpty {
  width: 28px;
  height: 28px;
  background-color: #cacaca;
  border-radius: 50%;
  float: left;
  text-align: center;
}
.w-activity-initial {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.55px;
  position: relative;
  top: 3px;
}
