/**
 * Code for the widgets, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

.card-account-title {
  color: #314052;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 19px;
  margin-left: 4px;
  margin-top: 4px;
}
.card-account-hr {
  color: #e1e1e1;
}
.card-account-photoEdit{
  width:0px;
  height:0px;
  z-index: 1;
  top: 30px;
  left : 20px;
  position:absolute;
  cursor: pointer;
  opacity: 0;
}
.card-account-photoDivEmpty{
  width:150px;height:150px;border:dashed 1px grey;
  position:relative;
  text-align:center;
}

.card-account-photo {
  width:150px;
  position:relative;
  cursor:pointer;
}
.card-account-uploadText{
  height: 17px;
  padding-top: 10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align:center;
  color:#363a3c;
}
.card-account-browseText{
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top:28px;
  color:#50baa8;
  cursor:pointer;
}
.card-account-photo #acc-ay-photo {
  height: 130px;
  width: 130px;
  border-radius: 65px;
}
.card-account-camera {
  position:absolute;
  left:35px;
  top:40px;
  width : 60px;
  height: 50px;
  display:none;
}

.card-account-photo:hover .card-account-camera {
  display: block;
}

.card-account-photo:hover {
  opacity: 0.7;
}

.m-s-navSystemAuditor {
  width: 264px;
  height: 181px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  float: left;
}

.card-account-hr-auditorTitle {
  width: 232px;
  margin: 16px 16px 10px 16px;
}

#m-s-navSystemAuditor-id .m-s-navLink {
  width: 231px;
  height: 31px;
  color: #707070;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

div#m-s-navSystemAuditor-id .m-s-navLink-active {
  width: 231px;
  height: 31px;
  background-color: #ededed;
  border-radius: 4px;

  color: #707070;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.m-s-navSystemAuditorHead{
  width: 61px;
  height: 19px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  margin: 24px 0px 0px 24px;
}
div#settings-auditorAccount-container input#acc-ay-phoneNumber {
  width: 30%;
}

div#settings-auditorAccount-container{
  padding-bottom: 4%;
}
div#settings-auditorAccount-container input.blockInput{
  height: 40px !important;
  padding-left: 1%;
  width: 52.2%;
}
div#settings-auditorAccount-container p.auv-inputTitle {
  margin-bottom: 15px;
  color: #363a3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
input#acc-ay-firmSize:hover {
  box-shadow: 0px 0px 4px #599ba1;
}
div#settings-auditorAccount-container .auv-inputErrorIcon {
  left: 0px;
}
#divPhoneNumber div p.auvicon-caution.auv-inputErrorIcon {
  margin-left: 30%;
}

/**** Card Account Text Inputs ****/
.card-account-textInputContainer {
  margin: 0px 0px 16px 5px;
}

.card-account-label{
  color: #363a3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin: 14px 0px 6px 0px;
}

.card-account-input {
  width: 465px;
  height: 40px;
  border: 1px solid #dedede;
  border-radius: 4px;
  display: block;
  color: #314052;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.card-account-input:hover {
  border: 1px solid #599ba1;
}

#contentContainer input[type="text"] {
  padding: 10px 0px 12px 8px;
}

#uploadButtonLabel {
  margin: 5px 0px 8px 0px;
}
/**** Card Account Text Inputs End ****/

/**** Card Account Deactivate Account ****/
.card-account-deactivateContainer {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.card-account-deactivateHr {
  width: 840px;
  border: 1px solid rgba(150, 150, 150, 0.27);
  margin: 0px 0px 24px 0px;
}

/**** Card Account Profile Picture ****/
.card-account-profileContainer {
  height: 104px;
  width: 221px;
  padding: 8px 0px 24px 5px;
}

.card-account-profilePictureImage {
  float: left;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: #f5f5f5;
  margin: 0px 17px 0px 0px;
}

.account-error-message {
  width: 200px;
  color: #f3672f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

/**** Card Account Profile Picture End ****/

/**** Helpers ****/
.disabledMouse {
  pointer-events: none;
  cursor: not-allowed;
}
/**** Helpers End ****/

/**** Errors ****/
.card-account-error {
  color: #F3672F;

}

.card-account-errorImage {
  width: 12px;
  height: 12px;
}
/**** Errors End ****/

/**** styles specific to auditor ****/
/**** TODO: remove?? ****/
.card-account-logoEdit{
  width:0px;
  height:0px;
  z-index: 1;
  top: 30px;
  left : 20px;
  position:absolute;
  cursor: pointer;
  opacity: 0;
}

/*!**** TODO: see what this actually does... ****!*/
.card-account-pic {
  z-index: 10;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: #f5f5f5;
}
.card-account-logo {
  z-index: 10;
  width: 80px;
  height: 80px;
  object-fit: cover;
  background: #f5f5f5;
}
#firmLogoDiv{
  height:80px;
  width:80px;
}

/**** Generic Image Classes Start ****/

.card-account-photoEdit{
  width: 0px;
  height: 0px;
  z-index: 1;
  top: 30px;
  left : 20px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

/**** Generic Image Classes End ****/

#acc-ay-photo:hover, #settingNewPhotoUpload:hover, #acc-ay-firmLogo:hover, #settingNewLogoUpload:hover {
  display: block;
  opacity: 0.7;
}

#ac-updatebtn {
  position: relative;
}

.update-loader {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #5cd4c0;
}
