.vpw-parent {
    height: 100%;
    overflow: auto;
}

.vpw-header {
    background: -webkit-linear-gradient(right, #72c8b6 0%, #142166 100%);
    background-image: linear-gradient(93deg, #142166 0%, #72c8b6 100%);
    margin: 0;
}

.vpw-titleContainer {
    margin: 0;
    text-align: left;
    border-bottom: 1px solid #B7B7B7;
    padding: 20px 0;
}

.vpw-headerTitle {
    font-size: 24px;
    color: #636363;
    margin: auto;
    min-width: 1028px;
    max-width: 1440px;
    padding: 0px;
}

.vpw-componentContainer {
    position: relative;
    margin: 0 auto;
    min-width: 1028px;
    max-width: 1440px;
    padding: 0;
    min-height: 600px;
    text-align: left;
}

.vpw-descContainer {
    margin: 30px 0 0;
    font-size: 16px;
}

.vpw-descContainer input[type=text].sup {
    color: #21226b!important;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 400px;
    margin-left: 20px;
}

.vpw-descContainer input[type=text].sub {
    color: #21226b!important;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    width: 250px;
    margin-right: 25px;
    text-align: center;
}

#opening-address-editor {
    clear: both;
    display: none;
}
    #opening-address-editor textarea {
        width: 800px;
        height: 220px;
        font-size: 12px;
        font-family: 'Lato', Helvetica, sans-serif;
        padding: 5px;
    }
    #opening-address-editor button {
        background-color: #eaeaea;
        padding: 5px 15px;
        border: 1px solid #ddd;
        color: #666;
        font-size: 13px;
        font-weight: bold;
        margin-right: 15px;
        cursor: pointer;
    }
        #opening-address-editor button:hover {
            color: #333;
            background-color: #dedede;
        }

#closing-address-editor {
    clear: both;
    display: none;
}
    #closing-address-editor textarea {
        width: 800px;
        height: 220px;
        font-size: 12px;
        font-family: 'Lato', Helvetica, sans-serif;
        padding: 5px;
    }
    #closing-address-editor button {
        background-color: #eaeaea;
        padding: 5px 15px;
        border: 1px solid #ddd;
        color: #666;
        font-size: 13px;
        font-weight: bold;
        margin-right: 15px;
        cursor: pointer;
    }
        #closing-address-editor button:hover {
            color: #333;
            background-color: #dedede;
        }

.edit-lnk {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
}

.vpw-blue-bold {
    font-weight: bold;
    color: #21226b;
}

.vpw-gray-bold {
    font-weight: bold;
    color: #9b9b9b;
}

.vpw-listHeader {
    width: 100%;
    background-color: #1B2C69;
    padding: 10px 20px;
    color: #cdcdcd;
    font-weight: bold;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vpw-listTable {
    width: 100%;
    border-collapse: collapse;
}

.vpw-listTable th, .vpw-listTable td {
    padding: 10px;
}

.vpw-listTable th {
    background-color: #F6F6F6;
}

.vpw-listTable th a {
    text-decoration: none;
    color: #21226b;
    font-size: 12px;
    font-weight: bold;
}

.vpw-listTable td {
    border-bottom: 1px solid #cdcdcd;
    color: #21226b;
    font-size: 12px;
    font-weight: bold;
}

.vpw-listTable td input[type=text] {
    width: 100%;
    color: #21226b;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.vpw-systemContainer {
    position: relative;
    height: auto;
    margin: 0px auto 24px;
    background: #fff;
}

.vpw-footer {
    clear: both;
    margin-top: 28px;
    background: #fff;
    width: 100%;
}

.vpw-footerCancelBtn {
    color: #707070;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 32px;
    float: right;
}

.vpw-footerCancelBtn:hover {
    text-decoration: none;
    cursor: pointer;
    color: #707070;
}

.vpw-footerBtnHolder {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}