.modal-submit-submitContainer {
	width: 185px;
	height: 50px;
	display: inline-block;
	overflow: hidden;
/*	border: 1px solid blue;*/
	margin: 0px 20px -22px 0px;
}

.modal-submit-submitText {
	color: #fff;
	padding: 0px;
	margin: 0px;
	position: absolute;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	z-index: 20;
	bottom: 31px;
	left: 95px;
}

.modal-submit-submitting {
	width: 380px;
	height: 52px;
	position: relative;
	top: -1px;
	right: 195px;
	-webkit-transition: all 5s linear 0.5s;
	transition: all 5s linear 0.5s;
	background: #599ba1;
	background: -webkit-linear-gradient(left, #45a191 50%,#599ba1 50%);
	background: linear-gradient(to right, #45a191 50%,#599ba1 50%);
}

.m-submit-startUpload .modal-submit-submitting {
	right: 0px;
}


/*
.m-submit-bounce {
	-webkit-transform-origin:0% 60%;
	-webkit-animation:arm 4s linear infinite alternate;

}

@-webkit-keyframes arm {
	from { -webkit-transform: rotate(0deg); }
	70% { -webkit-transform: rotate(6deg); }
	to { -webkit-transform: rotate(0deg); }
}
*/
