.terms-body {
  background: rgb(80, 186, 168);
  width: 100%;
  height: 100%;
  padding-bottom: 160px;
}
.terms-title {
  color: white;
  font-family: Lato;
  font-size: 54px;
  font-weight: 300;
  line-height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  background: #50BAA8;
  padding-top: 101px;
  padding-bottom: 55px;
  z-index: 1;
}

.terms-content {
  width: 711px;
  height:75%;
  margin-left:auto;
  margin-right:auto;
  text-align: left;
  position:relative;
  top: 200px;
  padding-right: 20px;
}

.terms-paragraph {
  color: white;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 42px;
  cursor: default;
}

.terms-scrollCover {
    height: 100%;
    width: 25px;
    background: #50BAA8;
    position: fixed;
    right: 0px;

}
.terms-fade {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  opacity: 0.5;
  background: #50BAA8;
}

.terms-scrollContainer {
  /*overflow-y: scroll;*/
}

.terms-closeBtn {
  position: fixed;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 4;
}
