body {
  background-size: cover;
}

.audLand-headerBG {
  background-image: linear-gradient(135deg, #142166 0%, #67b4ac 87%, #7cdabe 100%);
}

.audLand-headLogo {
  margin-top: 30px;
  position: absolute;
}

.audLand-login-btn {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.62px;
}
.audLand-loginChevron {
  font-size: 8px;
  color: #fff;
  margin-left: 4px;
  position: static;
}

.audLand-loginBtnHolder {
  height: 47px;
  width: 136px;
  background: transparent;
  display: inline;
  float: right;
  position: relative;
  right: 0px;
  top: 27px;
  padding-top: 10px;
  border-radius: 2px;
  z-index: 1;
}
.audLand-loginBtnHolder:hover .audLand-login-btn,
.audLand-loginBtnHolder:hover .land-profileCaret,
.audLand-loginBtnHolder:hover .audLand-loginChevron {
  color: #50baa8;
  cursor: pointer;
}

.audLand-loginDropdown {
  width: 323px;
  position: absolute;
  border-radius: 2px;
  padding-top: 11px;
  right: -36px;
  top: 24px;
}
.audLand-secondaryLoginDropdown {
  width: 320px;
  border-radius: 0px 0px 2px 2px;
  top: 123px;
  margin: 0px;
  padding-top: 11px;
  position: inherit;
}
.audLand-login-labelTop {
  position: static;
  margin-left: 1px;
  margin-right: 184px;
}
.audLand-login-input {
  position: static;
  margin-left: 17px;
  margin-top: 6px;
  color: #000;
}
.audLand-errorLoginContainer {
  display:none;
  position: absolute;
  bottom: -17px;
  background: #fff;
  padding: 0px 0px 8px 28px;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.land-login-btn {
  top: -31px;
  right: 9px;
}
.audLanding-registeringMsg {
  position: absolute;
  bottom: 0px;
  right: 22px;
}
.audLand-ld-nameHolder {
  height: 68px;
  background: #fff;
  border-bottom: 1px solid #e6e8e8;
  border-top-left-radius: 2px;
}
.audLand-ld-profilePhoto {
  margin-left: 16px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  float: left;
}
.audLand-ld-fullName {
  color: #666;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: 0px
}
.audLand-ld-email {
  color: #666;
  font-weight: 300;
  position: absolute;
  left: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
.audLand-ld-diffEmailHolder {
  height: 56px;
  background: #fff;
  border-top: solid 2px #f1f1f1;
  padding-top: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.audLand-ld-diffEmailHolder-after {
  background-color: #e6e8e8;
}
.audLand-ld-diffEmailTxt {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  margin-right: 2px;
  float: left;
}
.audLand-ld-plusCircle {
  font-size: 16px;
  color: #666;
  display: inline;
  float: left;
  margin-left: 8px;
}

.audLand-loginBtnHolder-after {
  background: #fff;
  cursor: pointer;
}

/*after dropdown triggered*/
.audLand-loginDropdown-after {
  display: inline;
}
.audLand-login-btn-after {
  color: #50baa8;
}
.audLand-profile-firstDropdown {
  position: absolute;
  right: 0px;
  top: 68px;
  margin-top: 8px;
  margin-right: 0px;
}
.audland-profile-fullNameHolder {
  position: relative;
  left: 56px;
  top: -4px;
  width: 256px;
  height: 22px;
  font-size: 16px;
}
.audland-profile-emailHolder {
  position: relative;
  width: 256px;
  height: 22px;
  left: 56px;
  top: -4px;
  font-size: 14px;
}
.audLand-profileFullName {
  margin-left: 0px;
  margin-top: 34px;
  left: 107px;
}
.audLand-profileEmail {
  margin-left: 13px;
  left: 94px;
}
.audLand-profile-subBtn {
  text-align: start;
}
.audLand-intro {
  padding-top: 130px;
}

.audLand-introTxtHolder {
  float:left;
  width: 520px;
  margin-top: 150px;
  margin-left: 40px;
}

.audLand-introTxt {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 1.2px;
  line-height: 74px;
  text-align: left;
}

.audLand-join {
  width: 500px;
  height: auto;
  padding-bottom: 25px;
  background-color: #fff;
  border-radius: 2px;
  float: right;
  margin: 84px 20px 73px 0px;
}

.audLand-join-top {
  background-color: whitesmoke;
  padding-top: 40px;
  padding-bottom: 40px;
}

.audLand-jt-head {
  color: #4a4a4a;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 40px;
}

.audLand-join-bottom {
  padding-left: 40px;
  padding-right: 40px;
}
.audLand-jb-form {
  margin-top: 32px;
  width: 420px;
  height: 65px;
}

.audLand-jb-input {
  height: 65px;
  width:320px;
  color: #363a3c;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  padding-left: 24px;
  border: 1px solid whitesmoke;
  background: whitesmoke;
  border-radius: 2px 0px 0px 2px;
}
::-webkit-input-placeholder{color: #363a3c;}
:-moz-placeholder {color: #363a3c;}
::-moz-placeholder {color: #363a3c;}
:-ms-input-placeholder {color: #363a3c;}

.audLand-jb-btn {
  text-decoration: none;
  color: #fff;
  background-color: #599ba1;
  width: 100px;
  border: none;
  margin-left: -4px;
  padding-top: 22px;
  padding-bottom: 21px;
  border-radius: 0px 2px 2px 0px;
  font-size: 16px;
}

.audLand-jb-btn:focus {outline:0;}
.audLand-jb-input:focus {outline:0;}

.audLand-jb-footer {
  width:435px;
}

.audLand-jb-footTxt,
.audLand-jb-footTxt a {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #CCC;
  margin-top: 26px;
}
.audLand-jb-footTxt a {
  text-decoration: underline;
}
.audLand-jb-footTxt a:hover {
  text-decoration: underline;
  color: #599ba1;
}
.audLand-error {
  margin-top: -64px;
  color: #599ba1;
  font-size: 12px;
  margin-right: 76px;
}
.audLand-error ul {
  list-style-type:none;
}

/*services*/
.audLand-services-section {
  padding: 50px 0px 10px 0px !important;
}
.audLand-serviceHead {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
}
.audLand-service-subTxt {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 20px;
  width: 238px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}
.audLand-serviceSubTwo {width: 226px;}
.audLand-serviceSubThree {width: 254px;}

#features-tab1 img {
  margin-left: -200px;
}

#features img {
  position: absolute;
  top: -50px;
  left: 125px;
  float: left;
}
.audLand-featuresLink {
  letter-spacing: 0.39px;
  line-height: 17px;
  text-decoration: none;
  float: left;
  background: transparent;
  color: #5CD4C0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}
.audLand-featuresLink:hover {
  text-decoration: none;
  color: #5CD4C0;
}
.audLand-row {
      float: right;
  }

.audLand-featuresList {
  float: none !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}
.audLand-inputError {
  display: inline;
  font-size: 14px;
  color: #f3672f;
  position: absolute;
  left: 28px;
}
.audLand-inputErrorIcon {
  display: inline;
  font-size: 20px;
  position: absolute;
  color: #f3672f;
  left: 0px;
}
.audLand-errorDiv {
  opacity: 0;
  position: relative;
}
.audLand-errorAfter {
  opacity: 1;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
/* RESPONSIVE FOR MOBILE ----------------------- */

@media (max-width: 1199px) {
  .audLand-featuresImg {
      margin-top: 3% !important;
      margin-left: -156px !important;
  }
  .audLand-loginBtnHolder {
      right: -20px;
  }
  .audLand-introTxtHolder, .audLand-join {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .audLand-introTxtHolder {
    margin-top: 20px;
  }
}

@media (max-width: 1170px) {
  .audLand-headLogo {
      margin-left: 32px;
  }
  .audLand-loginBtnHolder {
      right: 0;
  }
  .audLand-loginDropdown {
      right: 0px;
  }
  .audLand-errorLoginContainer {
      width: 300px !important;
  }
  .audLand-row {
      margin-right: initial;
  }
  #features-tab1 img {
      max-width: 470px !important;
      margin-left: -10% !important;
  }
  .pull-left {
      margin-left: 60px;
  }
  .upper-footer .pull-right {
      margin-right: 0px;
  }
}
@media (max-width: 1099px) {
#features-tab1 img {
      max-width: 470px !important;
      left: 125px !important;
      top: -70px;
  }
  .audLand-loginBtnHolder {
      margin-right: 16px;
  }
  .audLand-loginDropdown {
      right: 16px;
  }
  .land-login-btn {
      right: 21px;
  }
}
@media (max-width: 1024px) {
  body {
      width: 100% !important;
  }
  .audLand-headLogo {
      margin-left: 56px;
  }
  .audLand-loginBtnHolder {
      margin-right: 40px;
  }
  .audLand-secLogBtn {
      right: 7px !important;
      top: 0px !important;
      margin-top: 6px;
  }
  .audLand-loginDropdown {
      right: -24px;
      width: 320px;
      margin-top: 23px;
      margin-right: 0px;
  }
  .audLand-profile-firstDropdown {
      margin-right: 70px !important;
      margin-top: 10px !important;
  }
  .audLand-login-labelTop {
      margin-left: 0px;
  }
  .landing-formGroup {
      margin-left: 0px;
  }
  .land-login-btn {
      right: 26px;
  }
  .audLand-join {
      width: 500px;
      height: 257px;
      margin-top: 84px;
      margin-bottom: 73px;
      margin-right: auto;
      margin-left: auto;
      float: none;
  }
  .audLand-join-top {
      padding-top: 24px;
      padding-bottom: 24px;
  }
  .audLand-errorLoginContainer {
      width: 100% !important;
      padding-left: 23px;
  }
  .audLand-introTxtHolder {
      float: none;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  .audLand-introTxt {
      width: 100%;
      text-align: center;
  }
  #features .container {
      width: 100%;
  }
  .audLand-row {
      width: 100%;
      margin-right: 24px;
  }
  #features-tab1 {
      padding-left: 40px;
  }
  #features-tab1 img {
      left: 0 !important;
      margin-left: -15px !important;
      margin-bottom: auto !important;
      margin-top: 0px !important;
      top: auto;
  }
  .audLand-features-tab1 {
      width: 500px;
      height: 70px;
      float: right;
      text-align: left;
      margin-bottom: 180px;
  }
  .audLand-featuresTitle {
      font-size: 40px;
  }
  .audLand-row .features-tabs ul {
      position: relative;
      float: none;
      left: 0;
      margin-top: 60px !important;
      margin-left: 8px;
  }
  .audLand-row li {
      margin-left: 0px;
  }
  .audLand-featuresTitle {
      font-size: 35px;
      margin-bottom: -30px !important;
  }
  .audLand-featuresLink {
      line-height: 50px;
  }
  .footer .container {
      width: 94% !important;
  }
  .pull-left {
      margin-left: 0px;
  }
  .upper-footer .pull-right {
      margin-right: -60px;
  }
}
@media (max-width: 991px) {
  .audLand-headLogo {
      margin-left: 0px;
  }
  .audLand-loginBtnHolder {
      margin-right: -24px;
  }
  .audLand-introTxtHolder {
      float: none;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  .audLand-introTxt {
      width: 100%;
      text-align: center;
  }
  .audLand-join {
      width: 500px;
      height: 257px;
      margin-top: 84px;
      margin-bottom: 73px;
      margin-right: auto;
      margin-left: auto;
      float: none;
  }
  .audLand-join-top {
      padding-top: 24px;
      padding-bottom: 24px;
  }
  #features .container {
      margin-bottom: 20px;
  }
  .features-tabs #features-tab1 img {
      max-width: 85% !important;
      margin-left: -9% !important;
      margin-top: 0% !important;
      margin-bottom: 50px !important;
      position: inherit !important;
  }
  .audLand-row .features-tabs ul {
      margin-left: 70px;
  }
  .audLand-row li {
      margin-left: 0px;
      padding-left: 40px;
  }
  .audLand-features-tab1 {
      float:left;
  }
  .audLand-featuresLink {
      margin-left: 32%;
  }
  .upper-footer .pull-right {
      margin-right: -30px;
  }
}
@media (max-width: 960px) {
  .cd-selected {
      margin-right: 7px;
      margin-left: 0px !important;
  }
  .audLand-headLogo {
      margin-top: 26px !important;
  }
  .audLand-loginBtnHolder {
      margin-right: 16px;
  }
  .audLand-profile-firstDropdown {
      right: -16px;
      top: 60px;
  }
  .audLand-login-input {
      margin-left: -70px;
  }
  .land-login-btn {
      position: absolute;
      top: 0px;
      right: 26px;
      float: right;
  }
  .audLand-secLogBtn {
      top: 31px !important;
  }
  .audLand-intro {
      padding-top: 11px;
  }
  .audLand-introTxtHolder {
      float: none;
      width: 50%;
      margin-top: 100px;
      margin-bottom: 41px;
  }
  .audLand-introTxt {
      text-align: center;
      font-size: 38px;
      letter-spacing: 0.76px;
      line-height: 50px;
  }
  .audLand-loginDropdown {
      right: 16px;
  }
  .audLand-join {
      width: 380px;
      height: 239px;
      margin-right: auto;
      float: none;
      margin-left: auto;
      margin-bottom: 55px;
      margin-top: 55px;
  }
  .audLand-join-top {
      padding-top: 15px;
  }
  .audLand-jt-head {
      font-size: 21px;
      font-weight: 400;
      letter-spacing: 0.4px;
  }
  .audLand-jt-btnHolder {
      height: 32px;
  }
  .audLand-jt-btn {
      width:93px;
      font-size:13px;
      line-height: 16px;
  }
  .audLand-join-bottom {
      padding-left: 24px;
      padding-right: 24px;
  }
  .audLand-jb-input {
      height: 52px;
      width: 220px;
      padding-left: 18px;
      font-size: 15px;
      line-height: 17px;
      margin-left: 0px;
      margin-right: 0px;
  }
  .audLand-jb-form {
      margin-left: -34px;
      width: 303px;
  }
  .audLand-jb-btn {
      height: inherit;
      width: 81px;
      font-size: 13px;
      padding-top: 17px;
      padding-bottom: 16px;
      margin-right: -100px;
  }
  .audLand-jb-footer {
    width: auto;
  }
  .audLand-jb-footTxt,
  .audLand-jb-footTxt a {
      font-size: 13px;
      line-height: 16px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  #features-tabs {
      margin-left: 0px;
  }
  .features-tabs #features-tab1 img {
      max-width: 85% !important;
      margin-left: 14% !important;
      float: left;
      margin-bottom: 30px !important;
      margin-top: 5% !important;
      padding-right: 17% !important;
  }
  .audLand-features-tab1 {
      float: none;
      margin-left: auto;
      margin-right: auto;
      height: 450px;
  }
  .audLand-row .features-tabs ul {
      margin-left: 0px;
      margin-top: 0px;
  }
  .audLand-featuresTitle {
      color: #3a3a3a;
      letter-spacing: 1.82px !important;
      line-height: 34px !important;
      margin-bottom: 37px !important;
      font-size: 30px !important;
      font-weight: 600;
  }
  .audLand-featuresLink {
      margin-top:16px;
      float: none;
      margin-left: 42%;
  }
  .audLand-error {
      margin-top: 0px;
  }
  .audLand-row {
      float: none;
  }
  .landing-featuresList li {
      color: #3a3a3a !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      letter-spacing: 1.04px;
  }
  .footer {
      padding-top: 70px;
  }
  .upper-footer .pull-right {
      margin-right: 0px;
  }
  .audLand-inputError {
    font-size: 12px;
    left: 38px;
  }
  .audLand-inputErrorIcon {
    font-size: 16px;
    left: 14px;
  }
}
@media (max-width: 767px) {
  .audLand-headLogo {
      height: 28px !important;
      padding-left: 0px !important;
  }
  .audLand-loginBtnHolder {
      margin-right: 0px;
      padding: 0;
  }
  .audLand-profile-firstDropdown {
      right: -20px;
      top: 60px;
  }
  .land-profile-nameHolder {
      height: 68px;
  }
  .land-profilePhoto {
      margin-top: 17.5px;
      margin-left: 16px;
      height: 32px;
      width: 32px;
  }
  .audLand-profileFullName {
      margin-top: 16px;
      left: 64px;
      font-size: 16px;
  }
  .audLand-profileEmail {
      margin-top: 38px;
      left: 51px;
      font-size: 14px;
  }
  .audLand-errorLoginContainer {
      width: 300px;
  }
  .audLand-headLogo {
    margin-top: 8px !important;
  }
  .audLand-introTxtHolder {
      margin-left: auto;
      margin-right: auto;
      margin-top: 80px;
      width: 70%;
  }
  .audLand-introTxt {
      font-size: 24px;
      line-height: 40px;
  }
  .audLand-join {
      margin-top: 10px;
      width: 300px;
      height: 200px;
  }
  .audLand-join-top {
      padding-bottom: 15px;
  }
  .audLand-jt-head {
      font-size: 18px;
  }
  .audLand-join-bottom {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: -10px;
  }
  .audLand-jb-form {
      height: 47px;
  }
  .audLand-jb-input {
      height: 48px;
      width: 200px;
      font-size: 13px;
  }
  .audLand-jb-btn {
      height: 47px;
      width: 60px;
      font-size: 13px;
      padding-top: 15px;
      padding-bottom: 14px;
      margin-right: -70px;
  }
  #features-tab1 {
      padding-left: 0px;
  }
  .audLand-row {
      margin: 0;
  }
  .audLand-featuresTitle {
      font-size: 28px !important;
      font-weight: 700;
  }
  .landing-featuresList li {
  font-size: 13px !important;
      line-height: 15px !important;
      margin: 0px auto 18px auto !important;
}
  .features-tabs #features-tab1 img {
      max-width: 65% !important;
      margin-top: 5% !important;
      margin-bottom: 50px !important;
      padding-right: 0 !important;
      margin-left: 16% !important;
  }
}
@media (max-width: 600px) {
  #features .container {
      margin-bottom: -60px;
  }
}

@media (max-width: 550px) {
  .logo img {
      margin-left: 32px !important;
  }
  .audLand-features {
      padding-bottom: 0;
  }
  #features .container {
      margin-left: auto;
  }
  .audLand-features-tab1 {
      width: 100%;
  }
  .features-tabs #features-tab1 img {
      margin-left: 15% !important;
      margin-top: 6% !important;
      min-width: 300px;
  }
  .audLand-featuresTitle {
      font-size: 24px !important;
      font-weight: 600;
  }
  .audLand-featuresLink {
      margin-left: 41%;
  }
}

@media (max-width: 410px) {
  .features-tabs #features-tab1 img {
      margin-left: 8% !important;
      margin-top: 6% !important;
      min-width: 300px;
  }
}
/* For auvicons */
@font-face {
  font-family: "auvenir-font";
  src:url("../../fonts/auvenir/auvenir-font.eot");
  src:url("../../fonts/auvenir/auvenir-font.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/auvenir/auvenir-font.woff") format("woff"),
    url("../../fonts/auvenir/auvenir-font.ttf") format("truetype"),
    url("../../fonts/auvenir/auvenir-font.svg#auvenir-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="auvicon-"]:before,
[class*=" auvicon-"]:before {
  font-family: "auvenir-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.auvicon-caution:before {
  content: "\e005";
}
