.emailValidationContainer {
  background-color: white;
  padding: 9%;
  padding-top:8%;
  width: 66%;
  margin-left: 16%;
  top: 18%;
  position: absolute;
  margin-bottom: 12%;
  height:600px;
  border-radius: 4px;
  box-shadow: 0px 3px #ccc;
}
.emailValidationInputField {
  width: 56%;
  height: 43px;
  outline:0;
  margin-left: 16%;
  border-radius:4px 0px  0px 4px;
  border:1px solid #ccc;
  padding-left: 1%;
  color: #363a3c;
  font-family:lato;
  font-weight:400;
  font-size:16px;
  margin-top:1px;
  padding-right: 8%;
  vertical-align: bottom;
  padding-bottom: 6px;
}
.emailValidationSendBtn {
  width: 14%;
  height: 43px;
  background-color: #02d6c1;
  border-color:#02d6c1;
  color: white;
  margin-left: -3.5%;
  border-radius:0px 4px 4px 0px;
  border:0;
  padding: 3px 3px 2px 3px;
  letter-spacing: 0.5px;
  outline:0;
}
.contactSupportBtn {
  width: 28%;
  height: 43px;
  background-color: #02d6c1;
  border-color:#02d6c1;
  color: white;
  border-radius:4px;
  border:0;
  margin-left: 35%;
  margin-top: 3.7%;
  letter-spacing: 0.5px;
  outline:0;
}
.dangerBar{
  position: absolute;
  background-color: #EE6730;
  height: 16%;
  width: 100%;
  padding: 42px;
  top:0%;
  text-align: center;
  z-index:1030;
}
.emailValidationHead{
  height: 40%;
  position:fixed;
  width:100%;
}
.invalidEmailTextBox{
  border-color:#FF5C00;
  border-width:thin;
  background-position:right;
  background-repeat:no-repeat;
  background-size:26px;
  padding-right:10px;
}
.invalidEmailsendButton{
  border-color:#EBEBEB;
  background-color:#EBEBEB;
}
.warnIcon{
  color:#FF5C00 !important;
  right:35px;
}
.tryExceed{
  width: 100%;
  margin-top: 8.5%;
  font-size: 16px;
  color:#707070;
  text-align: center;
  font-weight:300;
}
.emailActivationContainer{
  background-color: white;
  width: 66%;
  margin-left: 16%;
  top: 18%;
  position: absolute;
  font-family:lato;
  line-height:52px;
  margin-bottom: 12%;
  padding:3%;
  height:600px;
  border-radius: 4px;
  box-shadow: 0px 3px #ccc;
}
.domainSelectorBtn{
  width: 170px;
  height: 40px;
  background-color: #02d6c1;
  border-color:#02d6c1;
  color: white;
  border-radius:4px 4px 4px 4px;
  letter-spacing: 0.5px;
  border:0;
  margin:auto;
  line-height:1.8;
  outline: 0;
}
.domainSelectorDiv{
  margin-top: 10px;
  margin-bottom: 22px;
}
#warningEmailAlert{
  margin-left: 16%;
  font-size:14px;
  font-family:Sans-Serif,'lato';
  font-weight: 300;
  margin-top:6px;
}
nav#landingMainNav div.container{
  padding-right: 8.5%;
  padding-left: 8%;
  width: 100%;
}
@media only screen and (min-width: 1301px) {
  #inputWarningIcon {right:18% !important; }
}
@media only screen and (min-width: 1001px) and (max-width: 1300px)  {
  #inputWarningIcon {right:25% !important; }
}
@media only screen and (min-width: 701px) and (max-width: 1000px)  {
  #inputWarningIcon {right:28% !important; font-size: small !important}
}
@media only screen  and (max-width: 700px)  {
  #inputWarningIcon {right:32% !important; font-size: x-small !important}
}

@media only screen and (min-width: 1301px) {
  .emailValidationSendBtn{font-size: 14px!important; ;margin-left: -3.5%}
}
@media only screen and (min-width: 1111px) and (max-width: 1300px) {
  .emailValidationSendBtn{width:20% !important; font-size: 14px !important; margin-left: -4.3% !important}
}
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .emailValidationSendBtn{width:20% !important; font-size: 14px !important; ;margin-left: -4.5% !important}
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .emailValidationSendBtn{width:20% !important; font-size: 14px !important; ;margin-left: -5.0% !important}
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
  .emailValidationSendBtn{width:20% !important; font-size: 14px !important;margin-left: -6.5% !important}
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
  .emailValidationSendBtn{width:20% !important; font-size: 14px !important;margin-left: -6.7% !important}
}
@media only screen and (min-width: 501px) and (max-width: 700px) {
  .emailValidationSendBtn{ width:26% !important; font-size: 14px ;margin-left: -6.9% !important}
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
  .emailValidationSendBtn{ width:26% !important; font-size: 14px ;margin-left: -7.4% !important}
}
@media only screen and (min-width: 301px) and (max-width: 400px) {
  .emailValidationSendBtn{ width:26% !important; font-size: 14px ;margin-left: -7.5% !important}
}
@media only screen and (min-width: 700px) and (max-width: 801px) {
  .emailValidationInputField{width: 56%;}
}
@media only screen and (min-width: 650px) and (max-width: 701px) {
  .emailValidationInputField{width: 56%;}
}
@media only screen and (max-width: 651px) {
  .emailValidationContainer{padding: 3%;width:80%;margin-left:10%}
  .emailValidationInputField{width: 56%;}
  ul{padding-left: 0px}
}
.emailLabelSpan{
  color: #363a3c;
  margin-left: 16%;
  font-size:16px;
  font-family:'lato';
  font-weight:400
}
.alarm-description{
  color:white;
  font-family: 'lato';
  font-size: 16px;
}
.confirm-str{
  color: #353A3C;
  font-size:25px;
  font-family: 'lato';
}
.validation-description{
  color: #707070;
  font-size:16px;
  font-family:'lato';
  font-weight:300;
}
