.BambooHR-ATS-board h2 {
	color: #3a3a3a;
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 48px;
	border-bottom: none !important;
	text-align: center;
	padding-bottom: 0px;
	display: none;  /*----This is hiding the title pulled from BambooHR which is "Open Positions"----*/
}

.BambooHR-ATS-board ul {
	color: #3a3a3a;
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 0.6px;
	line-height: 36px;
}

.BambooHR-ATS-Department-Header {
	text-align: center;
	padding-bottom: 6px;
	padding-top: 30px;
}

.BambooHR-ATS-board li {
	text-align: center;
}

.BambooHR-ATS-board a {
	color: #50baa8;
	font-family: Lato;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.32px;
	line-height: 24px;
}

.BambooHR-ATS-board .BambooHR-ATS-Location {display:none;}

.BambooHR-ATS-board ul ul {
	padding: 2px 20px 12px 20px;
    border-bottom: none;
    margin-bottom: 0px;
}

#BambooHR-Footer {display:none;}