/**
 * DEPRECATED ----- DELETE ME ?
 * Code for 'beta.html' or rather the initial splash page, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

html { height: 100%; width: 100%; }

body {
	height:100%;
	width:100%;
/*	display:table;
	table-layout:fixed;*/
	margin:0 auto;
}

/*Produces background where the colors move back and forth*/
.loginBackground {
	position: relative;
	background: #335880;
	background: -webkit-linear-gradient(148deg, #6bbbaf , #15215a);
	background: linear-gradient(302deg, #6bbbaf , #15215a);
	background-size: 200% 200%;
	margin: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-animation: AnimationName 18s ease infinite;
	animation: AnimationName 18s ease infinite;
}
@-webkit-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

/*changing the placeholder color is non standard hence the crazyness here*/
/*https://css-tricks.com/almanac/selectors/p/placeholder/*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
	color: #eaeaea;
}

.auvenirLogo {
	position: absolute;
	top: 60px;
	left: 110px;
	width:134px;
	height: 16px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.login-left {
	display: inline-block;
	width: 58%;
	padding-bottom: 124px;
}

.login-right {
	position: relative;
	left: 45%;
}

.auvenirSymbol {
	height: 90vh;
	position: fixed;
	bottom: 0px;
}

.dropdownArrow {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.buttonArea {
	font-family: 'Lato', Helvetica, sans-serif;
	width: 340px;
	height: 60px;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
}

.infoBox{
	opacity: 1;
	color: #fff;
	text-align: left;
	padding: 210px 0px 0px 110px;
}

.betaHeader{
	font-size: 71px;
	margin: 0px;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 300;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.betaText{
	width: 450px;
	font-size: 26px;
	font-family: 'Lato', Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 42px;
	padding: 0px 0px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bslFooter {
	position: absolute;
	bottom: 57px;
	margin: 0 0 0 110px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.bslText {
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: white;
}

.bslLink {
	text-decoration: none;
	font-weight: 900;
	color: white;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.bslLink:hover {
	color:#599ba1;
}

.learnMore:hover + .moreText {
	display:block;
}

.loginText {
	font-size: 16px;
	font-family: 'Lato', Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #000;
}

.loginButtons {
	background: #5CD4C0;
	border-radius: 5px;
}

.btnText {
	text-align: center;
	padding-top: 20px;
	margin: 0px;
	font-size: 18px;
}

.joinBtn {
	width: 340px;
	height: 60px;
	position: relative;
	cursor: pointer;
	top: 0px;
	right: 0px;
	z-index: 2;
	opacity: 1;
	-webkit-transition: right 1s ease, opacity 0.25s ease 0.5s;
	transition: right 1s ease, opacity 0.25s ease 0.5s;
}
/*.joinBtn:hover { background: #599ba1; }*/
.joinBtn-clicked {
	right: -344px;
	opacity: 0;
}

.submitEmail-container {
	width: 340px;
	height: 60px;
	position: relative;
	top: -60px;
	right: 0px;
	z-index: 1;
	-webkit-transition: opacity 1s ease 0.7s;
	transition: /*right 3s ease 0.5s,*/ opacity 1s ease 0.7s;
}
.submitEmail-container-slide { /*right: 340px;*/ opacity: 0;}

.emailField {
	background: transparent;
	padding: 0px 0px 0px 10px;
	font-size: 18px;
	color: #fff;
	border: 1px solid #5CD4C0;
	height: 58px;
	width: 242px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	outline: none;
}

.submitEmail-btn {
	height: 58px;
	width: 80px;
	cursor: pointer;
	background: #599ba1;
	border: 1px solid #599ba1;
	float: left;
	border-radius: 0px 5px 5px 0px;
}

.arrowSpot { font-size: 30px; padding: 13px 0px 0px 0px; }

.emailSubmitted {
	width: 340px;
	height: 60px;
	position: relative;
	top: -120px;
	right: -342px;
	z-index: 2;
	opacity: 1;
	-webkit-transition: right 1s ease 0.6s;
	transition: right 1s ease 0.6s;
}
.emailSubmitted-slide{ right: 0px; }

.loginDropdown {
	position: absolute;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	top: 20px;
	right: 60px;
}

.spinSpot { margin:14px 0px; }

.errorSpot {
	font-size: 30px;
	padding: 13px 0px 0px 0px;
}

@media screen and (max-width: 1024px) {
	.auvenirLogo {
		position: absolute;
		top: 30px;
		left: 50%; /* IE 9 */
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	.infoBox {
		padding:52px 0px 0px 0px;
		margin: auto;
		text-align: center;
	}

	.betaHeader {
		padding-top: 40px;
		font-size: 40px;
		margin: 0px;
	}

	.betaText {
		font-size: 20px;
		width: 250px;
		margin: 35px auto;
		line-height: 28px;
	}

	.learnLink { font-size: 16px; }

	.buttonArea { margin: auto; }

	.login-left { width: 100%; float: none; }

	.login-right { display: none; }

	.submitEmail-btn { float: left; }

	.emailField { width: 246px; }

	.bslFooter {
		position: relative;
		margin: auto;
		text-align: center;
	}
}


/*The following code is for the unused login dropdown menu in beta.html line 49*/
/* Styling from Line Tootlip CSS */

.tooltip {
	display: inline;
	position: relative;
	z-index: 999;
	color: #fff;
	text-decoration: none;
}

/* Gap filler */
.tooltip::after {
	content: '';
	position: absolute;
	width: 300px;
	height: 35px;
	bottom: 0px;
	left: 43px;
	pointer-events: none;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.tooltip:hover::after {
	pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
	position: absolute;
	z-index: 9999;
	width: 300px;
	right: -35px;
	top: -5px;
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	font-weight: 400;
	color: #fffaf0;
	background: transparent;
	opacity: 0;
	margin: 0 0 10px 0px;
	cursor: default;
	pointer-events: none;
	font-family: 'Lato', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.tooltip:hover .tooltip-content,
.tooltip:target .tooltip-content {
	opacity: 1;
	pointer-events: auto;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.tooltip-content span {
	display: block;
}

.tooltip-text {
	border-top: 10px solid #5CD4C0;
	overflow: hidden;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

span.tooltip-text {}

.tooltip:hover .tooltip-text {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tooltip-inner {
	background: #fff;
	padding: 10px;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.tooltip:hover .tooltip-inner {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-content::before {
	content: '';
	left: 290px;
	top: -20px;
	border: solid transparent;
	height: 0px;
	width: 0px;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-bottom-color: #5CD4C0;
	border-width: 10px;
	margin-left: -10px;
}
