.career-headerBG {
	background-image: url("../../images/jackAstorsParty.jpg");
	background-repeat:no-repeat;
	background-position:bottom;
	background-size: cover;
}

.career-introTxt {
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 1.2px;
	line-height: 74px;
	text-align: center;
}

.career-introTxtContainer {
	margin: 163px auto 279px;
	width: 555px;
}

.career-jobsTitle {
	color: #3a3a3a;
	font-family: Lato;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: 0.8px;
	line-height: 48px;
	border-bottom: none !important;
	text-align: center;
	padding-bottom: 0px;
	margin: 0px;
}

@media (max-width: 767px) {
	.career-introTxtContainer {
		width: auto;
	}

	.career-introTxt {
		font-size: 36px;
	}
}
