/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../../fonts/lato/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
  src: local('Lato Hairline'), local('Lato-Hairline'),
    url('../../fonts/lato/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Hairline.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Hairline.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-100 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('../../fonts/lato/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato HairlineItalic'), local('Lato-HairlineItalic'),
    url('../../fonts/lato/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-HairlineItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-200 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 200;
  src: url('../../fonts/lato/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
  src: local('Lato Thin'), local('Lato-Thin'),
    url('../../fonts/lato/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-200 italic- latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 200;
  src: url('../../fonts/lato/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato ThinItalic'), local('Lato-ThinItalic'),
    url('../../fonts/lato/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
    url('../../fonts/lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../../fonts/lato/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato LightItalic'), local('Lato-LightItalic'),
    url('../../fonts/lato/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
    url('../../fonts/lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-medium latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/lato/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
  src: local('Lato Medium'), local('Lato-Medium'),
    url('../../fonts/lato/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-medium-italic latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/lato/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato MediumItalic'), local('Lato-MediumItalic'),
    url('../../fonts/lato/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-600 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/lato/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
  src: local('Lato Semibold'), local('Lato-Semibold'),
    url('../../fonts/lato/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-600 italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 600;
  src: url('../../fonts/lato/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato SemiboldItalic'), local('Lato-SemiboldItalic'),
    url('../../fonts/lato/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/lato/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
    url('../../fonts/lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 Italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/lato/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato BoldItalic'), local('Lato-BoldItalic'),
    url('../../fonts/lato/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-800 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  src: url('../../fonts/lato/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
  src: local('Lato Heavy'), local('Lato-Heavy'),
    url('../../fonts/lato/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-800 - italic latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 800;
  src: url('../../fonts/lato/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato HeavyItalic'), local('Lato-HeavyItalic'),
    url('../../fonts/lato/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-HeavyItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../../fonts/lato/LatoLatin-Black.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
    url('../../fonts/lato/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-Black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - italic latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('../../fonts/lato/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
  src: local('Lato BlackItalic'), local('Lato-BlackItalic'),
    url('../../fonts/lato/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/lato/LatoLatin-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/lato/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
    url('../../fonts/lato/LatoLatin-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/lato/lato-v11-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* icons */
@font-face {
  font-family: 'Icons';
  src: url("../../fonts/semantic/icons.eot");
  src: url("../../fonts/semantic/icons.eot?#iefix") format('embedded-opentype'),
    url("../../fonts/semantic/icons.woff2") format('woff2'),
    url("../../fonts/semantic/icons.woff") format('woff'),
    url("../../fonts/semantic/icons.ttf") format('truetype'),
    url("../../fonts/semantic/icons.svg#icons") format('svg');
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
