.progress-overlay {
  width: 100%;
  height: 100%;
  background: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  text-align: center;
  vertical-align: middle;
  padding-top: 300px;
  z-index: 10000;
}
.progress-overlay-noscript {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 1.0;
  text-align: center;
  vertical-align: middle;
  padding-top: 200px;
  z-index: 10001;
  font-family:Arial;
  color:red;
}
.config-container {
  width:100%;
  height:3px;
  position:absolute;
  background-color:#ddd;
  top: 0px;
  left:0px;
  display: none;
  z-index:10001;
}
.config-bar {
  background-color:#3366ff;
  width:0px;
  height:3px;
  position:absolute;
}

/* --------------------------------------
7.FOOTER
-----------------------------------------*/

footer {
  text-align: center;
  background: #fff;
  border-top: 1px solid #e1e1e1;
}
.lower-footer span,
.lower-footer a {
  color: #707070;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.lower-footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.lower-footer a:hover {
  color: #599ba1;
  text-decoration: none;
  cursor: pointer;
}
.lower-footer .pull-right a {
  margin: 0;
  margin-left: 16px;
  float: left;
  display: inline-block;
}
.lower-footer {
  margin:auto;
  max-width:1440px;
  height:40px;
  padding: 13px 0px;
  width: 100%;
}
.footer-dot {
  line-height: 13px !important;
  font-weight: bold !important;
}
.footer-dot:hover {
  color: #707070 !important;
  cursor: auto !important;
}
