
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition: background-color 0s ease-in-out 90000s, color 0s ease-in-out 90000s;
   transition: background-color 0s ease-in-out 90000s, color 0s ease-in-out 90000s;
}
.land-dropdown-superHolder {
  position: relative;
  float: right;
}

.land-loginBtnContainer {
  background: transparent;
  padding-right: 12px;
  padding-left: 5px;
  padding-bottom: 4px;
  right: -10px;
  border-radius: 2px 2px 0px 0px;
}

.land-loginBtnContainer-after {
  background: #fff;
}

.land-loginChevron {
  font-size: 8px;
  color: transparent;
  margin-left: 4px;
  position: absolute;
  top: 18px;
  right: 17px;
}
.land-profileCaret {
  color: #fff;
  opacity: 0.8px !important;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.land-profileCaret:focus,
.land-profileCaret:hover {
  opacity: 1;
}
.land-profileBtn {
  font-size: 16px;
}
.land-loginBtn:hover + .land-loginChevron,
.land-loginBtn:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.landing-login-btn-after {
  color: #50baa8 !important;
}

.land-loginDropdown {
  width: 310px;
  height: 88px;
  background-color: white;
  border-radius: 2px;
  margin: 48px 0 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  display: none;
}
.land-loginDropdown-after {
  display: block;
}
.land-secDropDown {
  margin-top: 0px;
}

.land-login-labelTop {
  position: absolute;
  margin-left: 24px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}
.land-login-input {
  width: 199px;
  height: 32px;
  border-radius: 2px 0 0 2px;
  border: 1px solid #599ba1;
  padding-left: 13px;
  outline: none;
  margin-left: 21px;
  margin-top: 37px;
}
.land-login-btn {
  width: 70px;
  height: 32px;
  background-color: #599ba1;
  border: 1px solid #599ba1;
  border-radius: 0 2px 2px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  margin-top: 37px;
  float: right;
  position: relative;
}
.land-login-btn:focus {
  outline: none;
}
.land-profileDropContainer {
  display: none;
}
.land-profileDropContainer-after {
  display: block;
}
.land-dropdownPointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  float: right;
  margin-top: -10px;
  margin-right: 30px;
}
.land-profileDropdown {
  width: 320px;
  background-color: white;
  border-radius: 2px;
  margin-top: 56px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
.land-profilePhoto {
    margin-left: 21px;
    margin-top: 21px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    float: left;
}
.land-profile-fullName {
    color: #666;
    font-weight: 400;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.land-profile-email {
    color: #666;
    font-weight: 300;
    position: absolute;
    left: 0px;
}
.land-profile-nameHolder {
  height: 112px;
}
.land-profile-btn {
  height: 56px;
  border-top: 1px solid #e6e8e8;
  padding-top: 17px;
}
.land-profile-btn:hover {
  background: #e6e8e8;
  cursor: pointer;
}
.land-profile-btnTxt {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  margin-left: 24px;
  margin-top: 16px;
}
.audLand-ld-nameHolder {
  height: 112px;
  background: #fff;
  border-bottom: 1px solid #e6e8e8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 15px;
}
.audLand-ld-profilePhoto {
  margin-left: 21px;
  margin-top: 6px;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  float: left;
}
.land-profile-fullNameHolder {
  font-size: 18px;
  width: 215px;
  height: 27px;
  position: relative;
  left: 98px;
  top: 25px;
}
.land-profile-emailHolder {
  font-size: 16px;
  height: 27px;
  width: 215px;
  position: relative;
  top: 29px;
  left: 98px;
}

.audLand-ld-fullName {
    color: #666;
    font-size: 18px;
    font-weight: 400;
  position: absolute;
  margin-top: 23px;
    margin-left: 22px;
}
.audLand-ld-email {
  color: #666;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  margin-left: 22px;
  margin-top: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.audLand-ld-diffEmailHolder {
  height: 56px;
  background: #fff;
  border-top: solid 2px #f1f1f1;
  padding-top: 15px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.audLand-ld-diffEmailHolder:hover {
  cursor: pointer;
  background-color: #e6e8e8;
}
.audLand-ld-diffEmailHolder-after {
  background-color: #e6e8e8;
}

.audLand-ld-diffEmailTxt {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  margin-right: 2px;
  margin-left: 24px;
}
.audLand-ld-plusCircle {
  font-size: 16px;
  color: #666;
  display: inline;
}
.land-errorOnEmailLogin{
  font-size: 13px;
  font-weight: 300;
  color: #757575;
  line-height: 17px;
  letter-spacing: 0.5px;
}
.land-errorAlert {
  color: #f3672f;
  margin-right: 4px;
  margin-left: 4px;
}
.landing-learnMore-icon {
  color: #599ba1;
  margin-bottom: 26px;
}

.landing-displayNone {
  display:none;
}

.landing-modal-emailSubmitted {
  position: absolute;
  width: 400px;
  border-radius: 2px;
  height: 400px;
  color: #000;
  background: #fff;
  padding: 0 20px;
  box-shadow: 2px 2px 2px 2px #888888;
  text-align: center;
  z-index: 2;
  margin-top: -105px;
  right: 450px;
  display: block;
}

.landing-submittedText {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: 13px;
  color: #000;
}

.emailSubmitted-height {
  height:50px;
  border: 1px solid #599ba1;
  display: inline-block;
}
.landing-modal-dialog {
  margin-top: 100px;
  width: 380px;
}
.landing-modal-container {
  height: 380px;
  width:380px;
  text-align: center;
}

.landing-modal-container img {
  margin: 60px 0 0 30px;
}

.landing-modal-container h2 {
  font-weight: 700;
  margin-bottom: 2px;
  margin-top: 29px;
}

.landing-modal-container h4 {
  font-weight: 400;
  line-height: 22px;
}

.landing-modal-text {
  color: #777;
  font-family: Lato;
  font-size: 18px;
  margin: 0px 36px;
}

.landing-modal-button {
  width: 260px;
  height: 50px;
  border-radius: 4px;
  margin: 27px 0 31px 0;
  background-color: #599ba1;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.landing-modal-button:hover {
  background-color: #50BAA9;
  color: #fff;
}

.landing-modal-done {
  margin-right: 14px;
  margin-top: 4px;
  font-weight: 100;
  font-size: 31px;
}

.landingJoinAuditorLink {
  letter-spacing: 0.39px;
  line-height: 17px;
  border-bottom: 1px solid #fff;
  float: right;
  background: transparent;
  color: #fff;
  margin-right: 16px;
  opacity: 0.8;
}
.landingJoinAuditorLink:hover {
  text-decoration: none;
  opacity: 1;
}
.landing-formGroup {
  display: inline-block;
}

.landing-learnMoreFixedDiv {
  position: fixed;
  bottom: 0px;
  margin-bottom: 23px;
  margin-left: 47px;
}
.landing-learnMoreTxt {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.landing-learnMoreChevron {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  margin-right: 8px;
}
.landing-registeringMsg {
  position: absolute;
  bottom: 26px;
  margin-left: 219px;
}
.land-loginAlertContainer {
  background: #fff;
  padding: 0px 0px 8px 22px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

}
.land-preloader {
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #599ba1
}
.land-popUpClickHere {
  text-decoration: underline;
}
.land-popUpClickHere:hover {
  cursor: pointer;
}

input {
    -moz-box-shadow:none;
}

/* =======================================================================
Auvenir - Software Landing Page
======================================================================= */
/*
1. GLOBAL STYLES
2. TYPOGRAPHY
   2.1 FONTS
   2.2 HEADINGS
3. LAYOUT
   3.1 GENERAL
   3.2 PRELOADER
   3.3 LOGO
   3.4 CAROUSELS
4. MENU
5. HEADER
6. SECTIONS
   6.1 ABOUT
   6.2 FEATURES
   6.3 VIDEO
   6.4 SOLUTIONS
   6.5 PRICING
   6.6 TESTIMONIALS
   6.7 TEAM
   6.8 CLIENTS
   6.9 SUBSCRIBE
   6.10 CONTACT
7.FOOTER
8.ICONS
8.LIVE PREVIEW

*/
/* --------------------------------------
1. GLOBAL STYLES
-----------------------------------------*/

body {
  overflow-x: hidden;
  font-weight: normal;
  padding: 0;
}
a,
a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
}
a {
  color: #599ba1
}
a:hover,
a:focus{
  color: #fff;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0;
}
p {
  color: #666;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #599ba1;
  color: #fff;
}
::selection {
  text-shadow: none;
  background: #599ba1;
  color: #fff;
}
img::-moz-selection {
  background: 0 0;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
/* --------------------------------------
2. TYPOGRAPHY
-----------------------------------------*/
/* 2.1 FONTS*/


@font-face {
  font-family: 'Nucleo Outline';
  src: url('../../css/lib/Nucleo-outline.eot');
  src: url('../../css/lib/Nucleo-outline.eot') format('embedded-opentype'), url('../../css/lib/Nucleo-outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* 2.2 HEADINGS */

h1,
h2,
h3 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
ul {
  list-style-type: none;
}
section h2.section-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 40px;
}
section .section-subheading {
  margin-bottom: 95px;
  text-transform: none;
  font-size: 18px;
  font-style: normal;
  line-height: 1;
  margin-top: 25px;
  color: #666666;
  font-weight: 400;
}
.separator {
  width: 30px;
  height: 2px;
  display: block;
  margin: auto;
  background-color: #599ba1;
}
/* --------------------------------------
3. LAYOUT
-----------------------------------------*/
/* 3.1 GENERAL*/

section {
  padding: 100px 0;
}
.row {
  margin: 0;
}
.container {
  padding: 0;
}
.outer-margin {
  margin: 0 -15px;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.btn-primary {
  text-transform: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.open .dropdown-toggle.btn-primary {
  border-color: #f6bf01;
  color: #fff;
  background-color: none; /*#fec503*/
}


.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-xl {
  height: 50px;
  background-color: #599ba1;
  border-radius: 2px;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active {
  background-color: none;
  color: #fff;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
body.modal-open {
  overflow: hidden;
}
.parallax {
  background-image: url('/../../images/gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax h2.section-heading,
.parallax .section-subheading {
  color: #fff;
}
.parallax .separator {
  background: #fff;
}
.gray-bg {
  background: #f8f8f8;
}
.white-bg {
  background: #fff;
}
.header-buttons {
  margin: 20px auto 100px auto;
}
.primary-button {
  min-width: 150px;
  padding: 0 20px;
  background-color: white;
  border-radius: 2px;
  color: #599ba1;
  font-family: Lato;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  line-height: 36px;
  margin: 0 10px;
  border: 2px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primary-button:hover {
  background: none;
  color: #fff !important;
  text-decoration: none;
}

.primary-button:visited {
  text-decoration: none;
  color: #599ba1;
}
.primary-button.button-inverse {
  color: #fff;
  background: #599ba1;
  border: 2px solid #599ba1;
  margin: 0;
}
.primary-button.button-inverse:hover {
  color: #599ba1 !important;
  background: transparent;
  border: 2px solid #599ba1;
}


.secondary-button {
  min-width: 150px;
  text-align: center;
  line-height: 36px;
  display: inline-block;
  line-height: 36px;
  color: white;
  font-family: Lato;
  font-size: 14px;
  margin: 0 10px;
  font-weight: 700;
  text-transform: none;
  border: 2px solid white;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.secondary-button-inverse {
  color: #599ba1;
  border-color: #599ba1;
  background: #fff
}
.secondary-button.secondary-button-inverse:hover {
  color: #5CD4C0;
  background: #599ba1;
}



.secondary-button:visited {
  text-decoration: none;
  color: #fff;
}

.secondary-button:hover {
  background: #fff;
  color: #5CD4C0;
  text-decoration: none;
}



/*3.2 LOGO*/

.logo img {
  width: 119px;
  width: auto;
  padding-top: 14px;
}
/*3.3 PRELOADER*/

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #599ba1
}

.spinner {
  opacity: 0.9;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.spinner:after,
.spinner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-radius: 100%;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner:before {
  width: 40px;
  height: 40px;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.land-spinnerBtn:before{
  width: 25px;
  height: 25px;
}
.land-spinnerBtn:after{
  width: 25px;
  height: 25px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*3.4 CAROUSELS*/

.owl-theme .owl-controls .owl-buttons {
  display: none;
}
.owl-theme .owl-controls .owl-buttons div {
  background: url(../../images/arrow.png);
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 10px;
  text-indent: -9999px;
  height: 18px;
  font-size: 0;
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: -72px;
  top: 50%;
  padding: 0;
  filter: Alpha(Opacity=30);
  opacity: 0.3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  right: auto;
  left: 0;
  margin-left: -72px;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 20px;
  opacity: 0.22;
  background-color: #248df8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/

  opacity: 1;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}
.owl-item.loading {
  min-height: 150px;
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing {
  cursor: -webkit-grab;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/* --------------------------------------
4. MENU   ffe   142166
-----------------------------------------*/

.navbar-default {
  border-color: transparent;
  background-color: transparent;
  width: inherit;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: #fec503;
}
.navbar-default .navbar-collapse {
  border: none;
  box-shadow: none;
}
.navbar-default .navbar-toggle {
  border: none;
  margin-right: -10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .nav li a {
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
  padding: 15px 25px;
  line-height: 1;
  text-transform: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: #fff;
  opacity: 1;
}
.navbar-default.navbar-shrink .nav li a {
  opacity: 0.8;
  color: #599ba1;
}
.navbar-default.navbar-shrink .nav .secondary-button a:hover,
.navbar-default.navbar-shrink .nav .secondary-button a:focus,
.navbar-default.navbar-shrink .nav .secondary-button .active,
.navbar-default.navbar-shrink .nav .secondary-button {
  color: #fff !important;
  background: #599ba1 !important;
  border: 2px solid #599ba1 !important;
  margin: 0;
  -webkit-filter: brightness(1) !important;
}

.navbar-default.navbar-shrink .nav .active a {
  opacity: 1;
  color: #50BAA8;

}
.navbar-default.navbar-shrink .nav li a:hover,
.navbar-default.navbar-shrink .nav li a:focus {
  outline: 0;
  color: #50BAA8;
  opacity: 1;
  background: none;

  /* border: 2px solid #50BAA8;*/
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-default.navbar-shrink .navbar-nav>.active>a:focus,
.navbar-default.navbar-shrink .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  background: none;
  opacity: 1;
  color: #50BAA8;
  -webkit-filter: brightness(0.6);
}
.navbar-default .navbar-nav>.visited>a {
  opacity: 1;
  color: #50BAA8;
}
@media(min-width:960px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(27,36,50,.15);
  }

  .headerLogo path {

    fill: #000;

  }
}
/* --------------------------------------
5. HEADER
-----------------------------------------*/

header {
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #69B8AE;
  background-image: -webkit-linear-gradient(270deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
  background-image: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-heading {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 10px;
  display: block;
}
header .intro-text {
  padding-top: 165px;
  padding-bottom: 0;
}
header .intro-text .intro-lead-in {
  font-family: Lato;
  font-size: 70px;
  font-weight: 200;
  letter-spacing: -1px;
  margin: 0;
  line-height: 120px;
}
header .header-dashboard {
  display: block;
  margin: auto;
  background: url(../../images/header-shadow.png);
  margin-top: -60px;
}
header .header-dashboard .dashboard {
  margin-top: 70px;
  max-width: 100%;
}
header .container {
  position: relative;
  height: 100vh;
  max-height: 700px;
  z-index: 10;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/* --------------------------------------
6. SECTIONS
-----------------------------------------*/
/*     6.1 ABOUT*/

#services .col-md-4 {
  text-align: center;
}
#services .col-md-4.last {
  padding-right: 0;
}
#services .nc-icon-outline {
  color: #599ba1;
  margin-bottom: 36px;
  font-size: 40px
}
.service-heading {
  text-transform: none;
  color: #333;
  font-size: 22px;
  margin-top: 0;
  line-height: 22px;
  margin-bottom: 22px;
}
/*6.2 FEATURES*/


#features {overflow: hidden;}
#features .container {
  position: relative;
}
#features img {
  position: absolute;
  top: 0;
  right: 0
}
#features .section-subheading {
  margin-bottom: 30px;
  margin-top: 5px;
  max-width: 500px;
  float: left;
  line-height: 25px;
}
.features-tabs .tabs {
  margin: 0;
  padding: 0;
  width: 1170px;
  height: 60px;
  background-color: white;
  border: 1px solid #d1d1d1;
  margin-top: 100px;
}
.features-tabs .tab {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  display: inline-block;
  zoom: 1;
  background: none;
  border: none;
  border-bottom: none;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  height: 58px;
  line-height: 60px;
  background: #fafafa;
}
.features-tabs .tab a {
  color: #bbb;
  text-transform: uppercase;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.features-tabs .tab.active {
  background: #fff;
}
.features-tabs .tab a.active {
  color: #599ba1
}
.features-tabs .tab:hover a {
  color: #599ba1
}
.features-tabs .panel-container {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}
.features-tabs .tab a .triangle {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.features-tabs .tab a.active .triangle {
  border-bottom: 0;
  visibility: visible;
  width: 0;
  -webkit-transition: 0s;
  transition: 0s;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #d1d1d1;
  opacity: 1;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -10px;
}
.features-tabs .tab .triangle .inner-triangle {
  display: block;
  -webkit-transition: 0s;
  transition: 0s;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  top: 2px;
  position: absolute;
  left: -8px;
}
#features-tab1 img {
  margin-right: -200px;
}
#features-tab2 img {
  margin-right: 60px;
}
#features-tab3 img {
  margin-top: -50px;
  margin-right: 30px;
}
.features-tabs ul {
  padding-left: 0px;
  margin-bottom: 30px;
}
.features-tabs li {
  background: url(../../images/checked.png) no-repeat left 20px;
  padding-left: 40px;
  list-style: none;
  margin: 0;
  color: #666;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*6.3 VIDEO*/

#video .section-subheading {
  margin-bottom: 55px;
}
.video-container {
  position: relative;
}
.video-container a {
  display: block;
  cursor: pointer;
  width: 630px;
  margin: auto;
}
.video-container img {
  margin: auto;
  display: block;
}
.play-video {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -38px;
  margin-top: -48px;
  width: 76px;
  height: 76px;
  background-color: rgba(39, 49, 64, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  cursor: pointer;
}
.video-container a:hover .play-video {
  background-color: rgba(39, 49, 64, 1);
}
.play-video .fa-play {
  width: 22px;
  height: 26px;
  color: white;
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  top: 25px;
  left: 30px;
}
#video {
/*  background: url(/img/video/videobg.jpg);*/
  position: relative;
  background-size: 100%;
  background-attachment: fixed;
}
#video .overlay {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
}
.video-socials {
  position: relative;
  margin: auto;
  width: auto;
  text-align: center;
  margin-top: 45px;
}
.video-socials a:hover .fa {
  color: #ffe
}
.video-socials .fa {
  color: white;
  margin: 0 17px;
  font-family: FontAwesome;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  height: 25px;
  text-transform: uppercase;
}
.video-modal {
  padding: 0!important;
  background: rgba(39, 49, 64, 0.5);
}
.video-modal iframe {
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  box-sizing: content-box;
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.video-modal .modal-content {
  padding: 0;
  border: 0;
  position: fixed;
  width: 712px;
  left: 50%;
  margin-top: -200px;
  top: 50%;
  margin-left: -356px;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  box-shadow: none;
  background: none;
}
/*6.4 SOLUTIONS*/

.chart {
  position: relative;
  display: block;
  margin: 0 auto 40px auto;
  width: 230px;
  height: 230px;
  line-height: 230px;
  letter-spacing: -1px;
  font-family: Lato;
  text-align: center;
  font-weight: 300;
  font-size: 48px;
  color: #599ba1;
  background: #fff;
  border-radius: 50%;
}
.chart .percent {
  font-size: 28px;
  position: relative;
  margin-left: 3px;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart-content {
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.chart-content h4 {
  color: #666;
  font-family: Lato;
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  line-height: 30px;
  margin-left: 10px;
  position: relative;
  top: -6px;
}
.chart-content .nc-icon-outline {
  color: #599ba1;
  display: inline-block;
  font-size: 30px;
}
/*6.5 PRICING*/

.pricing {
  overflow: hidden;
  position: relative;
  border: 2px solid #e6e6e6;
  border-top: none;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
  margin: 0;
}
.pricing.active {
  background-color: #599ba1;
  border: 2px solid #599ba1;
  opacity: 0.85;
  border-top: 0;
}
.pricing-title {
  background-color: #599ba1;
  border-radius: 2px 2px 0 0;
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 62px;
  height: 60px;
}
.pricing .pricing-row {
  padding-top: 23px;
  float: left;
  padding-left: 0;
  text-align: center;
  padding-right: 0;
  width: 100%;
}
.pricing .pricing-row.selected {
  background-color: whitesmoke;
  font-weight: bold;
  color: #666;
  font-size: 14px;
  padding-top: 13px;
  margin-top: 10px;
  margin-bottom: -13px;
  padding-bottom: 13px;
}
.pricing.active .pricing-row.selected {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.pricing .col-lg-3 {
  padding: 50px 0 20px 0;
  font-family: Lato;
  font-weight: 300;
  line-height: 25px;
  color: #599ba1;
  width: 100%;
  text-align: center;
}
.pricing.active .col-lg-3 {
  color: #fff;
}
.pricing .button-container {
  text-align: center;
  position: relative;
  padding: 42px 0 45px 0;
  width: 100%;
  margin: 0;
  height: auto;
  background: none;
}
.pricing .pricing-price {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 42px;
  display: inline-block;
}
.pricing .pricing-time {
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 5px;
  font-size: 30px;
}
.pricing .iconita {
  line-height: 52px;
  font-size: 48px;
  height: 52px;
}
.pricing .pricing-title {
  font-weight: 700;
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 32px;
}
.pricing .pricing-option {
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
  color: #666;
  font-family: Lato;
  font-size: 16px;
}
.pricing .pricing-row.selected .pricing-option {
  font-size: 14px;
}
.pricing .pricing-option.selected {
  background: #3595f8;
}
.pricing.active .pricing-option {
  color: #fff;
}
.pricing .pricing-row.selected .fa {
  font-size: 13px;
  top: 0;
}
.pricing .fa {
  color: #599ba1;
  font-size: 11px;
  margin-right: 10px;
  position: relative;
  top: -1px;
}
.pricing.active .fa {
  color: #fff;
}
.pricing .currency {
  font-size: 34px;
  margin-right: 5px;
  position: relative;
  top: -20px;
}
.pricing .billing-time {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 14px;
  margin-top: 8px;
}
.pricing.active .billing-time {
  color: #fff;
}
.pricing .secondary-button {
  background: transparent;
}
.pricing .secondary-button:hover {
  background: #fff;
}
.pricing .secondary-button.secondary-button-inverse:hover {
  background: #599ba1;
}
/*6.6 TESTIMONIALS*/

#testimonials {
  padding-bottom: 0px;
  margin-bottom: 52px;
}
.tt-content h3 {
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1.65;
  text-align: center;
  color: #333;
  margin: auto;
  font-family: Lato;
  max-width: 850px;
}
.tt-content h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  padding-top: 20px;
}
.tt-content .content {
  font-size: 16px;
  font-weight: 400;
}
.tt-content .tt-container {
  margin-top: 15px;
  text-align: center;
}
.tt-images {
  text-align: center;
  margin-bottom: -42px;
  font-size: 0;
}
.tt-image {
  display: inline-block;
  margin: 0;
  /*   border: 2px solid #D1D1D1;*/

  border-radius: 90px;
  margin: 0 15px;
}
.tt-image img {
  display: inline-block;
  width: 84px;
  height: 84px;
  border-radius: 90px;
}
.tt-quote {
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  margin-right: 20px;
  float: left;
  color: #D1D1D1;
  display: block;
  margin-bottom: 40px;
  margin-left: 2px;
}
.tt-quote-right {
  float: right;
  margin-right: 0;
  position: relative;
  margin-left: 20px;
  bottom: 0;
  margin-bottom: 0;
}
#testimonials .owl-pagination {
  position: absolute;
  width: 100%;
}
#testimonials .owl-controls span {
  width: 84px;
  height: 84px;
  opacity: 0.65;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  border-radius: 90px;
  margin: 0 15px;
}
#testimonials .owl-controls .owl-page:hover span,
#testimonials .owl-controls .owl-page.active span {
  opacity: 0;
}
/*6.7 TEAM*/

.team-member {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.team-member img {
  margin: 0 auto;
  border: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.team-content {
  padding: 50px;
  background: #599ba1;
  color: #fff;
  position: relative;
  z-index: 100;
  margin-top: -50px;
}
.team-member-down .team-content {
  margin-top: 0;
  margin-bottom: -50px;
}
.team-content h5 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-bottom: 15px;
}
.team-content .team-subtitle {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 30px;
  display: block;
  line-height: 1.2;
}
.team-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.team-content .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 10px solid #599ba1;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: -10px;
}
.team-member-down .triangle {
  border-bottom: 0;
  border-top: 10px solid #599ba1;
  top: auto;
  bottom: -10px;
}
.team-member:hover .triangle {
  border-bottom: 700px solid;
  border-color: #599ba1;
  opacity: 0.85;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  margin-left: -700px;
  top: -650px;
}
.team-member-down:hover .triangle {
  border-bottom: 0;
  top: auto;
  border-top: 700px solid;
  border-color: #599ba1;
  opacity: 0.85;
  border-left: 700px solid transparent;
  border-right: 700px solid transparent;
  margin-left: -700px;
  bottom: -650px;
}
.team-member:hover img {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
.team-member-down:hover img {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.team-socials {
  position: absolute;
  top: 215px;
  width: 100%;
  z-index: 101;
  margin: auto;
  text-align: center;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.team-member-down .team-socials {
  top: auto;
  bottom: 215px;
}
.team-socials a:hover .fa {
  color: #ffe
}
.team-socials .fa {
  color: white;
  margin: 0 15px;
  font-family: FontAwesome;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 22px;
  font-weight: 400;
  line-height: 25px;
  height: 25px;
  text-transform: uppercase;
}
.team-member:hover .team-socials {
  opacity: 1;
  visibility: visible;
}
/*6.8 CLIENTS*/

#clients .owl-controls .owl-buttons {
  display: block;
}
#testimonials .owl-controls {
  text-align: center;
  margin-top: 70px;
}
#clients .owl-theme .owl-controls {
  margin-top: 0;
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  z-index: 1;
}
#clients .slider {
  max-width: 1024px;
  margin: 38px auto
}
#clients .slider img {
  display: block;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.30;
}
#clients .slider img:hover {
  opacity: 1;
}
/*6.9 SUBSCRIBE*/

#subscribe {
  padding: 100px 0;
  overflow: hidden;
}
#subscribe h3 {
  color: white;
  font-family: Lato;
  letter-spacing: -1px;
  font-size: 30px;
  font-weight: 300;
  float: left;
  margin: 0;
  line-height: 50px;
}
#subscribe .subscribe-form {
  float: right;
  position: relative;
}

#subscribe-success {
  position: absolute;
  top: 0;
  width: 100%;
}

#subscribe-success .alert-success {
  margin: 0;
  width: 100%;
  border-radius: 2px;
  background: #fff;
  text-align: center;
  color: #ffe;
}

#subscribe #subscribe-success .close {
  outline: none;
}

#subscribe #subscribe-success .close:hover {
  color: #ffe;
}



#subscribe .subscribe-form input {
  width: 400px;
  border-radius: 2px;
  height: 50px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  padding: 0 20px;
}
#subscribe .subscribe-form button[type="submit"] {
  width: 150px;
  border: 2px solid white;
  height: 50px;
  color: inherit;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
  outline: none;
  background-color: white;
  border-radius: 2px;
  float: right;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#subscribe .subscribe-form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#subscribe .subscribe-form input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#subscribe .subscribe-form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#subscribe .subscribe-form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#subscribe .subscribe-form button:hover {
  color: #fff;
  background: none;
}
#subscribe .subscribe-form input:focus {
  box-shadow: none;
  border: 1px solid #fff;
  outline: none;
}

#subscribe .text-danger {
  color: #599ba1;
}


#subscribe .text-danger ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
  text-align: right;
  font-size: 14px;
  line-height: 1;
  top: -54px;
  max-width: 130px;
  padding-top: 11px;
  right: 20px;
  position: relative;
  margin-bottom: -54px;
}
/*6.10 CONTACT*/

#contact {
  background-color: #fff;
  position: relative;
}
#contact .contact-form-container {
  float: right;
  width: 570px;
}
#contact .form-group {
  margin-bottom: 30px;
  float: left;
  width: 270px;
  position: relative;
}
#contact .form-textarea {
  width: 100%;
}
#contact .form-group input,
#contact .form-group textarea {
  padding: 20px;
  float: left;
  border-radius: 2px;
  resize: none;
}
#contact .section-subheading {
  margin-bottom: 50px;
  margin-top: 30px;
  line-height: 25px;
}
#contact .form-group input.form-control {
  border-radius: 2px;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0 20px;
  line-height: 50px;
  border: 1px solid #ccc;
}
#contact .form-group textarea.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0;
  border-radius: 2px;
  min-height: 150px;
}
#contact .form-group textarea.form-control:focus,
#contact .form-group input.form-control:focus {
  border-color: #599ba1;
  box-shadow: none;
  outline: none;
}
#contact .text-danger ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
  text-align: right;
  font-size: 14px;
  line-height: 1;
  top: 0;
  max-width: 130px;
  padding-top: 11px;
  right: 20px;
  position: absolute;
}
#contact .text-danger {
  color: #599ba1;
  margin: 0;
}
.contact-map-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  margin-left: -85px;
}
.contact-map-container #map {
  width: 100%;
  height: 100%;
}
#contactForm .alert-success {
  color: #599ba1;
  background-color: #fff;
  border-color: #599ba1;
  padding: 14px;
  border-radius: 2px;
}


/* --------------------------------------
7.FOOTER
-----------------------------------------*/

footer {
  padding: 50px 0 40px 0;
  text-align: center;
  background: #274276;
  /*background-image: url('../img/gradient.jpg');*/
  /*background: rgba(124,218,190,1);
background: -moz-linear-gradient(45deg, rgba(124,218,190,1) 0%, rgba(20,34,102,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(124,218,190,1)), color-stop(100%, rgba(20,34,102,1)));
background: -webkit-linear-gradient(45deg, rgba(124,218,190,1) 0%, rgba(20,34,102,1) 100%);
background: -o-linear-gradient(45deg, rgba(124,218,190,1) 0%, rgba(20,34,102,1) 100%);
background: -ms-linear-gradient(45deg, rgba(124,218,190,1) 0%, rgba(20,34,102,1) 100%);
background: linear-gradient(45deg, rgba(124,218,190,1) 0%, rgba(20,34,102,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cdabe ', endColorstr='#142266 ', GradientType=1 );*/
}
.lower-footer span,
.lower-footer a {
  opacity: 0.6;
  color: white;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  margin-right: 25px;
}
.lower-footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.lower-footer a:hover {
  opacity: 1;
  text-decoration: none;
}
.lower-footer .pull-right a {
  margin: 0;
  margin-left: 35px;
  float: left;
  display: inline-block;
}
.lower-footer .fa {
  margin: 0;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 20px;
  font-weight: 400;
  float: left;
  margin-right: 0;
}
.lower-footer {
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 40px;
  width: 100%;
  float: left;
}
.upper-footer {
  width: 100%
}
.upper-footer .pull-right {
  /*width: 570px;*/
  width: auto;
}
.upper-footer .pull-left p {
  opacity: 0.6;
  max-width: 250px;
  margin-top: 30px;
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 25px;
}
.footer-nav {
  float: left;
  max-width: 280px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.footer-nav li {
  width: 120px;
  display: inline-block;
  float: left;
  margin-bottom: 30px;
}
.footer-nav a {
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
  display: inline-block;
  text-align: left;
  float: left;
  line-height: 1;
  text-transform: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-nav a:hover {
  text-decoration: none;
  color: #599ba1
}
.footer-secondary-nav {
  float: left;
  padding: 0;
  width: auto;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 50px;
  max-width: 280px;
}
.footer-secondary-nav li {
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
.footer-secondary-nav a {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  float: left;
  line-height: 14px;
}
.footer-secondary-nav .fa {
  display: inline-block;
  margin-right: 15px;
  font-size: 18px;
  height: 14px;
  line-height: 13px;
}
.footer-secondary-nav .fa.fa-envelope {
  font-size: 14px;
}
/*-----------------------------------------------------------------*/
/* 8. ICONS
/*-----------------------------------------------------------------*/

.iconspage header {
  text-align: center;
  padding: 120px 0 0;
}
.iconspage header h1 {
  font-size: 2rem;
}
.iconspage header p {
  font-size: 1.4rem;
  margin-top: .6em;
}
.iconspage header a:hover {
  text-decoration: underline;
}
.iconspage section {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}
.iconspage section h2 {
  border-bottom: 1px solid #e2e2e2;
  padding: 0 0 1em .2em;
  margin-bottom: 1em;
}
.iconspage ul::after {
  clear: both;
  content: "";
  display: table;
}
.iconspage ul li {
  width: 25%;
  float: left;
  padding: 16px 0;
  text-align: center;
  border-radius: .25em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
.iconspage ul li:hover {
  background: #dbdbdb;
}
.iconspage ul p {
  display: inline-block;
  font-size: 1rem;
  margin-top: 10px;
  color: #999999;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  white-space: nowrap;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nc-icon-outline {
  display: inline-block;
  font: 100 32px/1 'Nucleo Outline';
  speak: none;
  text-transform: none;
  /* Better Font Rendering */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nc-icon-outline.air-baloon:before {
  content: "\e600";
}
.nc-icon-outline.album:before {
  content: "\e601";
}
.nc-icon-outline.banana:before {
  content: "\e602";
}
.nc-icon-outline.bear:before {
  content: "\e603";
}
.nc-icon-outline.beer:before {
  content: "\e604";
}
.nc-icon-outline.board:before {
  content: "\e605";
}
.nc-icon-outline.bookmark-add:before {
  content: "\e606";
}
.nc-icon-outline.bookmark-remove:before {
  content: "\e607";
}
.nc-icon-outline.bookmark:before {
  content: "\e608";
}
.nc-icon-outline.cake:before {
  content: "\e609";
}
.nc-icon-outline.cart-add:before {
  content: "\e60a";
}
.nc-icon-outline.cart:before {
  content: "\e60b";
}
.nc-icon-outline.chat:before {
  content: "\e60c";
}
.nc-icon-outline.cloud:before {
  content: "\e60d";
}
.nc-icon-outline.coffee:before {
  content: "\e60e";
}
.nc-icon-outline.controller:before {
  content: "\e60f";
}
.nc-icon-outline.diamond:before {
  content: "\e610";
}
.nc-icon-outline.dislike:before {
  content: "\e611";
}
.nc-icon-outline.evil:before {
  content: "\e612";
}
.nc-icon-outline.eye-ban:before {
  content: "\e613";
}
.nc-icon-outline.eye:before {
  content: "\e614";
}
.nc-icon-outline.flight:before {
  content: "\e615";
}
.nc-icon-outline.headphones:before {
  content: "\e616";
}
.nc-icon-outline.heart:before {
  content: "\e617";
}
.nc-icon-outline.home:before {
  content: "\e618";
}
.nc-icon-outline.image:before {
  content: "\e619";
}
.nc-icon-outline.keyboard:before {
  content: "\e61a";
}
.nc-icon-outline.laptop:before {
  content: "\e61b";
}
.nc-icon-outline.like:before {
  content: "\e61c";
}
.nc-icon-outline.money:before {
  content: "\e61d";
}
.nc-icon-outline.moon-storm:before {
  content: "\e61e";
}
.nc-icon-outline.moon:before {
  content: "\e61f";
}
.nc-icon-outline.moto:before {
  content: "\e620";
}
.nc-icon-outline.mouse:before {
  content: "\e621";
}
.nc-icon-outline.pc:before {
  content: "\e622";
}
.nc-icon-outline.pizza:before {
  content: "\e623";
}
.nc-icon-outline.player:before {
  content: "\e624";
}
.nc-icon-outline.print:before {
  content: "\e625";
}
.nc-icon-outline.reflex:before {
  content: "\e626";
}
.nc-icon-outline.robot:before {
  content: "\e627";
}
.nc-icon-outline.shirt:before {
  content: "\e628";
}
.nc-icon-outline.sign:before {
  content: "\e629";
}
.nc-icon-outline.skull:before {
  content: "\e62a";
}
.nc-icon-outline.suitcase:before {
  content: "\e62b";
}
.nc-icon-outline.sun-cloud:before {
  content: "\e62c";
}
.nc-icon-outline.sushi:before {
  content: "\e62d";
}
.nc-icon-outline.taxi:before {
  content: "\e62e";
}
.nc-icon-outline.vespa:before {
  content: "\e62f";
}
.nc-icon-outline.wallet:before {
  content: "\e630";
}
.nc-icon-outline.world:before {
  content: "\e631";
}
/*-----------------------------------------------------------------*/
/* 9 LIVE PREVIEW
/*-----------------------------------------------------------------*/

#customizer {
  position: fixed;
  top: 100px;
  padding: 20px;
  background: #fff;
  width: 190px;
  left: -190px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 999;
  font-weight: 300;
  border-bottom-right-radius: 2px;
}
#customizer.active {
  left: 0;
}
#customizer li {
  list-style-type: none;
}
.options {
  background: #fff;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 30px;
  top: 0;
  right: -44px;
  cursor: pointer;
  border-left: none;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.options .pc {
  color: #ffe;
  font-size: 25px;
  margin-left: 9px;
  margin-right: 9px;
  margin-top: 11px;
}
#colors li a {
  display: block;
  width: 35px;
  float: left;
  height: 35px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 0px;
  border: none;
  border-radius: 2px;
  font-size: 0;
  text-indent: -9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#colors li a:hover {
  opacity: 0.75;
}
#customizer span {
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0px;
  margin-top: 5px;
  display: block;
  float: left;
  font-weight: 900;
  font-style: normal;
  color: #ffe;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 14px;
  width: 100%;
}
#headerbg {
  padding-left: 0;
  float: left;
  margin-bottom: 15px;
}
#headerbg li a {
  color: #888;
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
  font-family: Lato;
  float: left;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
#headerbg li a.active,
#headerbg li a.active:hover { color: #599ba1 }

#headerbg li a:hover {color: #000;}

#customizer #colors {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}
#colors li #blue {
  background: #599ba1;
}
#colors li #green {
  background: #8BC34A;
}
#colors li #teal {
  background: #009688;
}
#colors li #indigo {
  background: #3f51b5;
}
#colors li #magenta {
  background: #c2185b;
}
#colors li #orange {
  background: #ff9800;
}

/*--------------------   resposive.css  -----------------------------*/

@media (min-width: 960px) and (max-width: 1170px) {
  .navbar-default .nav li a {
    padding: 15px;
  }
  header .header-dashboard .dashboard {
    max-width: 90%;
  }
  header .header-dashboard {
    background: none
  }
  #features-tab1 img {
    max-width: 500px;
    margin-top: 100px;
  }
  footer .container {
    width: 100%;
    padding: 0 30px;
  }
  #subscribe .subscribe-form {
    float: none;
    width: 570px;
    margin: auto;
  }
  .contact-map-container {
    display: none;
  }
  #features-tab2 img {
    margin-right: 0;
    max-width: 350px;
  }
  #contact .form-group {
    width: 100%;
  }
  #contact .contact-form-container {
    float: inherit !important;
    width: 100%;
  }
  #subscribe h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .team-content h5 {
    font-size: 18px;
  }
  .team-member img {
    max-width: 100%;
  }
  .team-member {
    margin: 0;
    width: 100%;
  }
  .team-wrapper {
    margin: 0;
    width: 33.33333%;
    float: left;
  }
  #features-tab3 img {
    margin-top: 0;
    margin-right: -30px;
    max-width: 300px;
  }
  .pricing {
    margin-bottom: 30px;
  }
  .features-tabs .tab {
    width: 33.33%;
    padding: 0;
    float: left;
  }
  .features-tabs .tabs {
    width: 100%;
  }
  #services .col-md-3.last {
    padding-left: 0;
  }
}
@media (max-width: 960px) {

  header .header-dashboard .dashboard {
    max-width: 90%;
  }
  #particles-js {
    opacity: 0;
    visibility: hidden;
  }
  header .header-dashboard {
    background: none;
  }
  html {
    width: 100%;
    overflow-x: hidden;
  }
  .navbar-fixed-top {
    padding: 8px 20px;
  }
  .navbar-fixed-top .page-scroll {
    margin: 0;
  }
  .logo img {
    height: 34px;
    margin-top: 8px;
  }
  header .intro-text .intro-lead-in {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 35px;
  }
  header .intro-text {
    padding: 125px 20px 0 20px;
  }
  .header-buttons {
    margin: 40px auto 40px auto;
  }
  header .intro-text .intro-heading {
    font-size: 15px;
    line-height: 21px;
    margin-top: 20px;
  }
  section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 28px;
  }
  section {
    padding: 70px 0 50px 0;
  }
  section .section-subheading {
    margin-bottom: 55px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 21px;
  }
  p {
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  #services .nc-icon-outline {
    margin-bottom: 16px;
    font-size: 40px;
    margin-top: 0;
  }
  .service-heading {
    font-size: 18px;
    margin-bottom: 18px;
  }
  #services .col-md-3.last,
  #services .col-md-3 {
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .video-container a {
    width: 80%;
  }
  .video-container a img {
    width: 100%;
    max-width: 630px;
  }
  .play-video {
    margin-top: -40px;
  }
  .features-tabs .tabs {
    width: 90%;
    height: auto;
    margin: 0 auto 20px auto;
  }
  .features-tabs .tab {
    display: block;
    width: 100%;
  }
  #features .section-subheading {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    float: none;
    line-height: 21px;
    max-width: 80%;
    text-align: center;
  }
  section h2.section-heading {
    text-align: center;
  }
  #features-tabs {
    text-align: center;
  }
  #features-tabs.features-tabs img {
    margin: 40px auto;
    max-width: 60%;
    position: relative;
    top: auto;
    right: auto;
    display: block;
    max-height: 400px;
  }
  .features-tabs .tab a.active .triangle {
    display: none;
  }
  .features-tabs li {
    background: none;
    padding-left: 0;
    list-style: none;
    margin: 0;
    text-align: center;
    color: #666;
    font-family: PTSans;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
  }
  .video-modal .modal-content {
    width: 100%;
    margin: 0;
    top: 50%;
    left: 0;
    margin-top: -150px;
    height: 300px;
    max-height: 300px;
  }
  .video-modal iframe {
    width: 90%;
    height: 300px;
  }
  .chart-content {
    margin-top: -20px;
    margin-bottom: 50px;
  }
  .chart-content h4 {
    font-size: 15px;
  }
  #pricing .col-md-4 {
    width: 90%;
    margin: 0 auto 30px;
  }
  .pricing .pricing-option {
    font-size: 14px;
  }
  .pricing .pricing-row {
    padding-top: 15px;
  }
  .pricing .button-container {
    padding: 32px 0 35px 0;
  }
  .pricing .col-lg-3 {
    padding: 35px 0 15px 0;
  }
  .pricing .pricing-price {
    font-size: 40px;
  }
  .pricing .pricing-time {
    font-size: 20px;
  }
  .pricing .currency {
    font-size: 23px;
    position: relative;
    top: -10px;
  }
  .owl-carousel {
    width: 80%;
    margin: auto;
  }
  .tt-content h3 {
    line-height: 25px;
    font-size: 18px;
  }
  .tt-quote {
    display: none;
  }
  #testimonials .owl-controls span {
    width: 50px;
    height: 50px;
  }
  #testimonials {
    padding-bottom: 18px;
  }
  .chart {
    display: none;
  }
  .tt-image {
    border: none
  }
  .tt-image img {
    width: 50px;
    height: 50px;
  }
  #solutions {
    padding-bottom: 20px;
  }
  .team-member {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
  }
  .team-member img {
    width: 100%;
  }
  .team-content p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 21px;
  }
  .owl-theme .owl-controls .owl-buttons div.owl-prev {
    margin-left: -20px
  }
  .owl-theme .owl-controls .owl-buttons div.owl-next {
    margin-right: -20px
  }
  #subscribe h3 {
    font-size: 28px;
    line-height: 28px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  #subscribe .subscribe-form {
    float: right;
    width: 100%;
  }
  #subscribe .subscribe-form input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  #subscribe .subscribe-form button {
    width: 100%;
    height: 40px;
  }
  .contact-map-container {
    position: relative;
    top: 0;
    height: 250px;
    width: 100%;
    margin-left: 0;
  }
  #contact {
    padding-top: 0;
  }
  #contact .contact-form-container {
    width: 100%;
    margin-top: 60px;
  }
  #contact .section-subheading {
    margin-top: 30px;
    line-height: 21px;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
  }
  #contactForm {
    width: 80%;
    margin: auto;
  }
  #contact .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn-xl,
  #contact .form-group input.form-control {
    height: 40px;
  }
  .lower-footer .pull-left {
    width: 100%;
  }
  .footer-nav,
  .lower-footer .pull-right {
    display: none;
  }
  .lower-footer span,
  .lower-footer a {
    width: 100%;
    display: block;
  }
  .upper-footer .logo img {
    margin: auto;
  }
  .upper-footer .pull-left {
    width: 100%;
    margin-bottom: 40px;
  }
  .upper-footer .pull-left p {
    text-align: center;
    width: 80%;
    margin: 30px auto 0;
  }
  .upper-footer .pull-right {
    width: 100%;
  }
  .footer-secondary-nav {
    max-width: 100%;
    display: block;
    padding: 0;
    width: 100%;
  }
  .lower-footer {
    margin-top: 30px;
  }
  .footer-secondary-nav a {
    margin: auto;
    display: block;
    float: none;
  }
  .footer-secondary-nav li {
    margin-bottom: 20px;
  }
  @media (min-width: 780px) and (max-width: 960px) {
    .team-member {
      margin: 0;
      width: 100%;
    }
    .team-wrapper {
      margin: 0;
      width: 33.33333%;
      float: left;
    }
  }
}

/*AUVENIR CUSTOM STYLING FOR POP UP*/

.landing-popUpTitle {
  display:inline-block;
  margin-top: 5px;
  color: #393b47;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

}
.landing-popUpBtn {
  display: inline-block;
  border-bottom: 1px solid #393b47;
  background: transparent;
  color: #393b47;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding-bottom: 2px;
}
.landing-popUpBtn:hover {
  color: #393b47;
  cursor: pointer;
}
.landing-popUpX {
  border: none;
  background: transparent;
  font-size: 37px;
  color: #393b47;
  font-weight: 300;
  outline: 0;
  margin-top: -6px;
}

.landing-popUpX-container {
  margin-top: 18px;
  float: right;
  margin-right: 40px;
}

.landing-popUpBtn-container {
  margin-right: -87px;
}

/*-------------------------------- */
/* ANIMATION FOR POP-UP DROP DOWN*/

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #000;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -webkit-transition: visibility 0s 0.5s, -webkit-transform 0.5s 0s;
  transition: visibility 0s 0.5s, -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s, -webkit-transform 0.5s 0s;
}
.cd-3d-nav-container.nav-is-visible {
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
    -webkit-transition: visibility 0.5s 0s, -webkit-transform 0.5s 0s;
    transition: visibility 0.5s 0s, -webkit-transform 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s, -webkit-transform 0.5s 0s;
}
@media only screen and (min-width: 768px) {
    .cd-3d-nav-container {
      height: 95px;
    }
}

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background: #fff;
  text-align: center;
  margin-bottom: 0px;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.cd-3d-nav::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    transition: opacity 0.5s 0s, visibility 0.5s 0s; }

.cd-3d-nav li {
    display: inline-block;
    margin-top: 23px;
    margin-left: 7px;
}

.nav-is-visible .cd-3d-nav {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.nav-is-visible .cd-3d-nav::after {
      /* menu cover layer - hide it when navigation is visible */
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
      transition: opacity 0.5s 0s, visibility 0s 0.5s;
}

@media only screen and (min-width: 768px) {

    .cd-3d-nav a::before {
        top: 4.4em;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .landing-popUpX {
      bottom: 36px
    }
}

main {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

main.nav-is-visible {
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
}
@media only screen and (min-width: 768px) {
  main.nav-is-visible {
    -webkit-transform: translateY(95px);
    transform: translateY(95px);
  }
}

/*CUSTOM AUVENIR RESPONSIVE CSS*/

@media (min-width: 1200px) {
  #features-tab1 img {
        max-width: 550px !important;
        margin-top: 50px;
    margin-right: auto;
    padding-right: 48px;
    }
  .features-tabs ul {
    float: left;
    margin-top: 65px;
    margin-left: -500px;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #landing-welcomeBack {
    display: none;
  }
  #landing-popUp-user {
    padding-left: 0px;
  }
  .headerLogo {
    margin-left: 56px;
  }
  .land-main-menu {
    margin-right: 16px;
  }
  .land-profile-btnHold {
    margin-right: 34px !important;
  }
  .land-loginBtn.land-profileBtn {
    margin-right: 8px;
  }
  .land-profileDropdown {
    margin-right: 56px;
  }
  .land-loginDropdown {
    margin-right: 56px;
  }
  .land-loginBtnContainer {
    margin-right: 8px;
  }
  .land-loginBtn {
    padding-right: 5px;
  }
  .land-busBtnHolder {
    margin-right: 40px;
  }
  #features .container {
    margin-left: 60px;
  }
  #features-tab1 {
        padding-left: 32px;
    }
  #features-tabs {
    text-align: center;
    margin-left: -7%;
  }
    #features-tab1 img {
        margin-top: 16px !important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 50% !important;
    }
  .landing-featuresList {
    text-align: center;
  }
  .landing-featuresList .section-subheading {
    float: none !important;
    max-width: 500px !important;
    margin-left: auto;
    margin-right: auto;
  }
    .features-tabs li {
    background: url(../../images/checked.png) no-repeat left 10px;
    list-style: none;
    text-align: left;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    margin-left: 240px;
    }
  .landingJoinAuditorLink {
    margin-right: 22.5%;

  }
  #contact .contact-form-container {
    padding-left: 42px !important;
    padding-right: 42px !important;
    text-align: center;
    margin-right: 0px;
  }
  .upper-footer {
    padding-left: 24px;
  }
  .upper-footer .pull-right {
    margin-right: -30px;
  }
  .upper-footer .pull-left #footerLogo {
    margin-top: 5px;
  }
  .footer-secondary-nav {
    padding-left: 30px;
  }
}

@media (max-width: 960px) {
  .logo img {
    margin-left: 58px;
    height: 28px !important;
  }
  .land-main-menu {
    margin-right: 48px;
  }
  .land-busBtnHolder {
    margin-right: 0px;
  }
  .landing-headerTitle {
    font-size: 32px;
  }
  .land-loginBtnContainer {
    padding-right: 5px;
    margin-right: 0px;
  }
  .land-loginChevron {
    right: 20px;
  }
  #subscribe .subscribe-form input {
    width: 90% !important;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .land-loginAlertContainer {
    margin-top: -7px;
  }
  #subscribe .text-danger ul  {
    right: 40px;
  }
  .land-profileDropdown {
    margin-right: 80px;
  }
  .land-login-input {
    bottom: 30px;
  }
  .landing-formGroup {
    display: block;
  }
  .landing-topForm {
    display: inline-block;
  }
  .landing-subscribeLoginBtn {
    width: 40% !important;
    margin-right: 30%;
    margin-bottom: 25px;
  }
  .landing-subscribeContainer {
    text-align: center;
  }
  .landingJoinAuditorLink {
    float: none;
    margin-right: 0px;
  }
  .landing-learnMoreBtn {
    margin-top: 15px !important;
  }
  .landingEmailError {
    margin-top: -13px;
    margin-right: 2px;
  }
  .landing-modal-container {
    width: 300px;
    margin-top: 100px
  }
  .landing-modal-dialog {
    margin-top: 100px;
    width: 300px;
  }
  .landing-modal-done {
    text-align: right;
  }
  .landing-modal-container img {
    margin: 60px 0 0 24px;
  }
  .landing-modal-dialog {
    margin-top:100px;
    width: 300px;
    margin: auto;
  }
  #features-tabs {
    margin-left: 14px;
  }
  #features-tab1 {
    padding-left: 0px;
  }
  #features .container {
    margin-left: auto;
    margin-right: auto;
  }
  .features-tabs ul {
    float: none;
  }
  .landing-featuresList li {
    font-family: Lato !important;
    line-height: 24px !important;
    margin: 0px 50px 18px 50px !important;
  }
  .img-responsive {
    margin: auto;
  }
  .upper-footer .pull-right {
    margin-right: 0px;
  }
  .lower-footer {
    border-top: none;
    padding-top: 50px;
  }
  .landing-popUpX-container {
    margin-right: 18px;
  }
}

@media (max-width:767px) {
  .cd-3d-nav-container {
        height: 60px;
    }
  #land-login-btnContainer {
    display: none;
  }
  #landingAuditPopUp {
    display: none;
  }
  .land-dropdown-superHolder {
    display: none;
  }
  main.nav-is-visible {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
  .land-main-menu {
    margin-right: 64px;
  }
  .nav li {
    width: 50%;
    float: right;
    text-align: right;
    margin-right: -24px;
    margin-top: -30px;
  }
  .navbar-default .nav li a {
    padding: 0px 13px 18px 0px;
    text-align: right;
    margin-right: 0px;
  }
  .landing-joinBusWait-btn {
    border: none;
  }
    .cd-3d-nav li {
    margin-top: 0px;
    display: block;
  }
  .cd-3d-nav {
    padding-left: 0px;
  }
  .landing-popUpX-container {
    margin-right: 18px;
  }
  .landing-popUpBtn-container {
    display: inline-block !important;
    margin-left: -40px;
  }
  .landing-popUpX {
    font-size: 26px;
    margin-top: 0px;
    position: relative;
    bottom: 36px;
    left: 7px;
  }
  .landing-audPopUp {
    padding:24px 28px;
  }
  .landing-popUpTitle{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.44px;
    line-height: 19px;
    width: 207px;
      height: 18px;
      margin: 9px auto;
  }
  .landing-popUpBtn {
    width: 142px;
    height: 39px;
    font-size: 12px;
    vertical-align: bottom;
    padding: 9px;
  }
  .navbar-fixed-top .page-scroll{
    display: inline-block;
    width: 150px;
  }
  .land-loginChevron {
    right: 0px;
    top: 4px;
  }
  .headerLogo {
    height: 28px !important;
    padding-left: 0px !important;
    margin-left: 38px !important;
  }
  #features-tabs {
    margin-left: 0px;
  }
  #features-tab1 {
    padding-left: 0px;
  }
  #features .container {
    margin-left: 8px;
    margin-right: 8px;
  }
  #features .section-subheading {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
  }
  .features-tabs ul {
    float: none;
  }
  .landing-featuresList li {
    margin: 0px 24px 15px 24px !important;
    line-height: 16px;
  }
  .land-login-labelTop {
    margin-top: 0px;
  }
  .land-profileDropdown {
    width: 320px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .land-loginDropdown {
    width: 100%;
  }
  .land-login-input {
    width: 210px;
  }
  .land-login-btn {
    top: 9px;
    right: 21px;
  }
  #features-tabs.features-tabs img {
        max-width: 80% !important;
        margin: 40px auto !important;
    }
  #contact .contact-form-container {
    padding-left: 16px !important;
    padding-right: 16px !important;
    margin-right: 0px;
  }
  .footer {
    padding-bottom: 0px;
  }
  .upper-footer {
    padding-left: 0px;
  }
  .upper-footer .pull-right {
    margin-right: 0px;
  }
  .lower-footer {
    visibility: hidden;
    margin-top: 0px !important;
    padding-top: 0px;
  }
  .lower-footer .pull-left {
    visibility: hidden;
  }
}

@media (max-width: 550px) {
  .logo img {
    height: 27px !important;
    margin-left: 12px !important;
  }
  .land-main-menu {
    margin-right: 40px;
  }
  .navbar-default .nav li a {
    font-size: 13px;
  }
  #contact .contact-form-container {
    margin-right: 0px;
  }
}
