/*CSS Styles for Support Page*/

.support-header {
	background-color: #f6f6f6;;
	height: 600px;
	overflow: hidden;
}

.support-introTxtContainer {
	margin: 158px auto 35px;
  text-align: center;

}

.support-introTxt {
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	color: #4a4a4a;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: 1px;
}
.support-teamPhoto {
  margin-left: -20px;
}
.support-callUsSection {
	background: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
	/*position: relative;
	z-index: 10;*/
}
.support-textContainer {
	margin-bottom: 41px;
}
.support-callUsTitle {
	margin-top: 14px;
	margin-bottom: 28px;
	color: #363a3c;
	font-size: 40px;
	letter-spacing: -0.95px;
}

.support-subText {
	width: 806px;
	height: 28px;
	color: #707070;
	font-family: Lato;
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
}
.support-container {
	text-align: center;
}
.support-phoneNumber {
	font-weight: 700;
}
.support-emailBtn {
	background-color: #599ba1;
	border-radius: 4px;
	padding: 10px 45px;
	color: #fff;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border: none;
	outline: none;
	margin-bottom: 21px;
}


/*Auvenir Custom Responsive CSS */

@media (min-width:992px) and (max-width: 1600px) {
	.support-teamPhoto {
		width: 957px;
	}
}

@media (min-width:768px) and (max-width: 991px) {
	.support-header {
		height: 532px;
}

	.support-teamPhoto {
		width: 738px;
	}
}

@media (max-width: 767px) {
	.support-header {
		height: 300px;
	}
	.support-headerLogo {
		width: 82px;
		margin-top: 15px;
	}
	.support-introTxtContainer {
		margin: 82px auto 23px;
		width: 290px;
	}
	.support-teamPhoto {
		width: 297px;
	}
	.support-introTxt {
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
		color: #363a3c;
		font-size: 40px;
		letter-spacing: 0.67px;
		line-height: 48px;
	}
	.support-container {
		margin-bottom: 20px;
	}
	.support-callUsSection {
		padding-top: 40px;
		padding-bottom: 40px;

	}
	.support-callUsTitle {
		margin-top: 17px;
		margin-bottom: 18px;
		font-size: 32px;
		letter-spacing: -0.76px;
		width: 223px;
	}
	.support-textContainer {
		position: relative;
		margin-bottom: 39px;
		width: 228px;
		left: 50%;
		margin-left: -114px;

	}
	.support-firstLine {
		margin-right: 52px;
		margin-left: 52px;
	}
	.support-emailBtn {
		margin-bottom: 13px;
	}
}
