.archive-engagement-Container{
  background-color: white;
  border-radius: 2px;
}
.archive-engagement-header{
  height: 110px;
  background-color: #f7f7f7;
  border-radius: 2px 2px 0 0;
}
.archive-engagement-headerText{
  height: 40px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
  padding: 40px 5px;

}
.archive-engagement-close-icon{
  float:right;
  padding:15px;
  cursor:pointer;
}
.archive-engagement-fileContainer-icon img {
  width: 100%;
}
.archive-engagement-fileContainer-icon {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.archive-engagement-fileContainer-icon::before{
  content: "";
  background: url('/images/icons/checkbox-on.svg') no-repeat;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.archive-engagement-bodyText{
  width: 310px;
  height: 72px;
  color: #656565;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top:35px;
  margin-left:90px;
}

.archive-engagement-cancel-btn{
  width: 122px;
  height: 42px;
  background-color: #e7e7e7;
  border-radius: 2px;
  margin-top: 30px;
  margin-left: 95px;
  margin-right: 5px;
  margin-bottom: 30px;
  color: #5c5f62;
  font-family: Lato;
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
}
.archive-engagement-yes-btn{
  width: 122px;
  height: 42px;
  background-color: #599ba1;
  border-radius: 2px;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 30px;
  margin-right: 95px;
  margin-bottom: 30px;

}
