.smsContainer {
	height: 50px;
	margin: 10px 0;
	font-family: "Lato";
	font-size: 14px;
	position: relative;
}

.smsInner {
	display: table;
	width: 350px;
	position: absolute;
}

.smsInputWrapper {
	position: relative;
	display: inline-block;
}

.smsInputBox {
	display: block;
	width: 210px;
	height: 48px;
	padding: 7px;
	padding-left: 59px;
	text-indent: 2%;
	float: left;
	margin: 0;
	/*margin-right:0px;*/
	/*border-radius:0px;*/
	border: 1px solid #599ba1;
	font-size: 16px;
	line-height: 19px;
	font-family: "Lato";
	font-weight: 700;
	outline: none !important;
	color: #333
}
#security-body .auv-inputError{
	max-width: 450px;
}
.smsSendBtn {
	clear: both;
	background-color: #599ba1;
	border: 0 none;
	border-radius: 0px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	height: 48px;
	line-height: 36px;
	padding: 0 12px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: 137px;
	font-size: 16px;
	margin: 0;
	font-family: "Lato", Helvetica, sans-serif;
	outline: none !important
}

.smsSendBtn:hover {
	background-color: #666;
}

.smsErrorMsg {
	font-family: Helvetica;
	color: #f3672f;
	margin-top: 5px;
	margin-left: 0;
	font-size: 14px;
}

/* Texting Response Modal */
.texting-res-modal {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
}
/*
.blockInput {
	width: 50px;
	display:inline-block;
	text-align: center;
}*/

/* @MODAL_SkipSecurity ---------------------------------------------------------------- */
.skip-security-text {
	width: 290px;
	color: #9b9b9b;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: auto;
	text-align: center;
	margin-top: 17px;
	margin-bottom:40px;
}

.skip-security-lbl {
/*	width: 168px;*/
	height: 17px;
	color: #707070;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-left: 8px;
	vertical-align: -webkit-baseline-middle;
}

.skip-security-link {
/*	width: 168px;*/
	height: 17px;
	color: #707070;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	margin-left: 3px;
	vertical-align: -sub;
	cursor:pointer;
}

.skip-security-link:hover {color:#50baa8; }

.skip-security-cancelBtn {
	width: 128px;
	height: 40px;
	background-color: #e1e1e1;
	color: #707070;
	border-radius: 2px;
	margin-right: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 40px;
}
.skip-security-cancelBtn:hover {background:#707070; color:#e1e1e1; outline:none;}
.skip-security-cancelBtn:active {background:#707070; color:#e1e1e1; outline:none;}
.skip-security-cancelBtn:focus {background:#e1e1e1; color:#707070; outline:none;}

.skip-security-acceptBtn {
	min-width: 128px;
	height: 40px;
	background-color: #f3672f;
	border-radius: 2px;
	margin-left: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 40px;
}
.skip-security-acceptBtn:hover {background:#bf5024; outline:none;}
.skip-security-acceptBtn:active {background:#bf5024; outline:none;}
.skip-security-acceptBtn:focus {background:#f3672f; outline:none;}
