.widget {
  position: relative;
  padding-bottom: 30px;
  width: auto;
  font-family: 'Lato', Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.widget-progress { height: 316px; text-align: left !important; }

.widget-title {
  color: #636363;
  padding: 14px 20px 4px 12px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 24px;
}

.widget-hr { color: #e1e1e1; margin: 20px 0px; }

.widget-edit-field { color: #000; margin-left:5px; }
.widget-edit-field:hover {text-decoration: none;}

.widget-hideMe { display: none; }

.widget-btn {
  width: 245px;
  height: 42px;
  border: 1px solid rgba(92, 212, 191, 0.41);
  border-radius: 2px;
  color: #50baa8;
  background: transparent;
  font-size: 16px;
  margin: auto;
  display: block;
}
.noBorderRadius {
  border-radius : 0px;
}
.widgetBorder{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

}
