/**
 * Code for the header, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

/* Base 4 Copy: */
.header-auvenir {
  background: -webkit-linear-gradient(right, #72c8b6 0%, #142166 100%);
  background-image: linear-gradient(93deg, #142166 0%, #72c8b6 100%);
  color: #fff;
  margin: auto;
  width: 100%;
  height: 70px;
  position: fixed;
  top:0;
  z-index:1000;
  color:white;
  padding: 0px 24px;
}
.header-auvenir-client {
  background:white;
  width:100%;
  height:70px;
  position:fixed;
  top: 0;
  z-index:1000;
  margin:auto;
  box-shadow: 0px 0px 3px #B7B7B7;
  color:#707070;
  padding: 0px 24px;
}
.header-menu {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  line-height: 17px;
  margin-left:31px;
  cursor:pointer;
}

.header-menu-client {
  color: #707070;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.header-menu-active {
  font-weight: 700;
  line-height: 19px;
  font-size: 16px;
}
.header-auvenirLogo {
  height: 17px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header-numberNotification {
  position: absolute;
  width:20px;
  height:20px;
  background-color: #ffbd50;
}

.header-onboard {
  position: absolute;
  z-index: -2;
  height:227px;
}

.header-userName {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.57px;
}

.header-alertBadge { top: -12px; left: 7px; }

.header-newAlert { color: #ff0000; }

.header-userMenu {
  color: #fff;
  opacity: 0.75;
  margin: 0px !important;
  padding: 20px 15px 20px 15px !important;
  background: transparent !important; /*Overriding bootstrap :( */
}
.header-userMenu:hover { background: transparent !important; color: #fff !important; opacity: 1;}
.header-userMenu:active { background: transparent !important; color: #fff !important; opacity: 0.5;}
.header-userMenu:focus { background: transparent !important; color: #fff !important; opacity: 0.5;}

.hearder-bellHoverFix {
  color: #fff;
  opacity: 0.75;
  margin: 0px 0px 0px 2px !important;
  padding: 20px 15px 20px 15px !important;
  font-size: 1.4em;
}
.hearder-bellHoverFix:hover { background: transparent !important; color: #fff !important; opacity: 1;}
.hearder-bellHoverFix:active { background: transparent !important; color: #fff !important; opacity: 0.5;}
.hearder-bellHoverFix:focus { background: transparent !important; color: #fff !important; opacity: 0.5;}

.header-brand {
  font-size: 24px;
  padding-top:25px;
  color: #fff;
  letter-spacing: 2.44px;
  cursor: pointer;
}

/*Header menus should be using this class*/
.header-links {
  text-align: left !important;
  width: auto;
  padding: 5px 20px 5px 20px;
  line-height: 50px;
  visibility: visible;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 14px !important;
  color: #dbdbdb !important;
}
.header-links:hover { color: #fff !important; cursor: pointer; }





/*-------------------------------------code for DROPDOWN MENU---------------------------------------*/
.au-dropdownHolder {
  margin: 25px 30px;
  overflow: visible;
  position: relative;
  margin: 25px 0px 11px;
  font-size: 18px;
  display: inherit;
  float: right;
}

.au-dropdown-trigger {
  text-align: center;
  margin-right: 10px;
  margin-top: -5px;
  padding: 5px 0px;
  float: right;
}

.au-dropdown-arrowRight {
  content: '';
  height: 0;
  width: 0;
  border-top: 0px solid red;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a2147;
  border-left: 10px solid transparent;
  position: relative;
  left: 198px;
}

.au-dropdown-hoverConnector {
  background: transparent;
  width: 320px;
  height: 15px;
  z-index:1;
  text-align: center;
  border-bottom: 1px solid rgba(49, 63, 82, 0.14);;
}

.au-dropdown-caret {
  margin-top: -16px;
  color: #fff;
  font-size: 56px;
  position: absolute;
  z-index: 1;
  right: 38px;
}

.au-dropdown-shadow {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 11px solid #707070;
  position: absolute;
  margin-top: 4px;
  left: 78%;
  margin-left: 3px;
  opacity: 0.1;
}

.au-dropdown-container {
  position: absolute;
  margin-top: -8px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height;
  transition: max-height;
  right: 0px;
  top: 30px;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.3);
}
@-moz-document url-prefix() {
  .au-dropdown-container {
    left: 100px;
    top: 0px;
    width: -moz-available;
  }
}

.au-dropdown-menu {
  background: #fff;
  width: 320px;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.au-dropdown-username {
  color: #4a4a4a;;
  font-family: Lato;
  font-weight: 300;
  line-height: 29px;
  height: 66px;
}

.au-dropdown-profileBtn {
  position: relative;
  width: 131px;
  height:50px;
  border: 1px solid #fff;
  border-radius: 2px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;
  text-decoration: none;
  opacity:0;
}

.au-dropdown-profileLink {
  color: #fff;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/*hover effect for profile button*/
.au-dropdown-profileBtn:hover,
.au-dropdown-profileBtn:active {
  background: #fff;
  text-decoration: none;
}

.au-dropdown-profileBtn:hover .au-dropdown-profileLink {
  color: #1a2147;
  text-decoration: none;
}

.au-dropdown-subContainer {
  margin-top: 18px;
}

.au-dropdownLink {
  position: relative;
  margin-left: 25px;
  top: 14px;
  padding:0;
  text-decoration: none;
  color: #666;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor:pointer
}

.au-dropdown-linkContainer {
  height: 45px;
  cursor:pointer;
}

.au-dropdownLink:hover,
.au-dropdownLink:focus {
  text-decoration: none;
  color: #666;
}

.au-dropdown-linkContainer:hover {
  background-color: #f6f6f6;
  z-index: 101;
  position: relative;
  font-size: 18px;
  display: inherit;
}

.au-dropdown-trigger:hover ~ .au-dropdown-container,
.au-dropdown-container:hover {
  max-height: 600px;
  opacity: 1;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

.hide-dropdown ~ .au-dropdown-container
{
  display:none;
}
.hide-container:hover {
  display:none;
}
.au-dropdown-trigger:hover {
  cursor:pointer;
}

.au-user-container{
  right: -110px;
  margin-top: -13px;
}

.au-dropdown-profileImg {
  background-color: #cacaca;
  border-radius: 26px;
  margin-left: 23px;
  margin-top: 19px;
  float: left;
  text-align: center;
  height: 54px;
  width: 54px;
  border-radius: 100%;
  object-fit: cover;
}

.au-dropdown-picInitials {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 0.55px;
  position: relative;
  top: 19px;
}

.au-dropdown-usernameHolder {
  width: 227px;
  height: 27px;
  margin-left: 24px;
  top: 34px;
  position:relative;
  margin-bottom: 70px;
}

.header-firmLogo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: -20px;
  float: left;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header-firmLogoView {
  opacity: 1;
  margin-top: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
