.todo-modal-container .auv-inputTitle {
  width: 132px;
  text-align: left;
}

.todo-modal-container .auv-inputError {
  text-align: left;
}

.todo-modal-container .setup-inputContainer {
  width: 258px;
  margin: auto;
}

.todo-modal-container .setup-hr {
  position: relative;
  width: 11px;
  border-color: #7d7d7d;
  top: -43px;
  margin-left: 167px;
}

.todo-modal-container .ce-header {
  background-image: linear-gradient(219deg, #142066 0%, #7cdabf 100%);
  margin-top: -20px;
}

.todo-modal-container .ce-headerTitle {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.46px;
  line-height: 28px;
  padding-top: 29px;
}

.todo-modal-container .ce-systemContainer {
  position: relative;
  height: auto;
  margin: 0px auto 24px;
  background: #fff;
}

.todo-modal-container .ce-navSystem {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0px;
}

.todo-modal-container .modal-body {
  width: 100%;
  height: 100%;
  background: #fff;
}

.todo-modal-container .ce-navLinkHolder {
  position: relative;
  display: inline-block;
  width: 130px;
}

.todo-modal-container .ce-navLinkTxt {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.83px;
}

.todo-modal-container .ce-numberCircle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: transparent;
  padding-top: 2px;
  margin: 16px auto 0px;
  color: #fff;
  cursor: default;
  border: 2px solid #fff;
}
.todo-modal-container .ce-numberCircle-active {
  background-color: white;
  color: #599ba1;
}
.todo-modal-container .ce-number {
  font-size: 12px;
  font-weight: 700;
  color: inherit;
}
.todo-modal-container .ce-number-active {
  color: #599ba1;
}
.todo-modal-container .ce-linkHr {
  position: absolute;
  width: 68px;
  color: #e1e1e1;
  border-top:none;
  bottom: 17px;
  left: -34px;
}
.todo-modal-container .ce-nav-checkmark {
  font-size: 10px;
  color: #599ba1
}

.ce-nav-checkmark {
  line-height: 23px;
}

.todo-modal-container .ce-footer {
  border-top: none;
  clear: both;
  margin-top: 10px;
  background: #fff;
  width: 100%;
}

.todo-modal-container .ce-footerCancelBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 32px;
  float: right;
}

.category-footer {
  text-align: center;
}

.todo-modal-container .ce-footerCancelBtn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #707070;
}

.todo-modal-container .ce-footerBtnHolder {
  width: 100%;
  margin: 16px auto;
}

.todo-input-container .ddlItem {
  width: 114px;
  display: inline-block;
  border: 0px solid red;
  border-radius: 3px;
  margin: 3px;
}

.todo-modal-container .setup-inputContainer > div {
  position: relative;
}

.todo-modal-container input.edit-category {
  width: auto;
  height: 41px;
  text-align: center;
  font-size: 12px;
}

.todo-modal-container .auvicon-edit, .todo-modal-container .auvicon-trash {
  display: none;
}

.todo-modal-container .edit-category-container .item:hover .auvicon-edit, .todo-modal-container .edit-category-container .item:hover .auvicon-trash {
  display: block;
}

.todo-modal-container .edit-category-container p.auv-inputError {
  margin: 0px 0px 16px 60px !important;
  text-align: left;
}

.todo-modal-container .edit-category-container .auv-inputErrorIcon {
  position: absolute;
  right: 63px;
}

.todo-modal-container .edit-category-container div.item {
  width: 268px;
  margin: 0 auto;
  margin-bottom: 1px;
  position: relative;
  text-align: center !important;
}

.todo-modal-container .edit-category-container .auv-inputTitle {
  display: none;
}

.todo-modal-container .edit-category-container .cat-edit-btn {
  float: right;
  padding-right: 2px;
  padding-top: 10px;
  cursor: pointer;
  position: absolute;
  right: 34px;
  top:-7px;
  font-size: 18px;
  color: #757575;
}

.todo-modal-container .edit-category-container .cat-trash-btn {
  float: right;
  padding-top: 11px;
  cursor: pointer;
  position: absolute;
  right: 14px;
  top:-7px;
  font-size: 19px;
  color: #757575;
}

.todo-modal-container .edit-category-container .des-edit-modal {
  font-size: 14px;
  margin: 0px auto 22px;
  line-height: 1.2;
  color: #757575;
  width: 200px;
}

.todo-modal-container .edit-category-container .fa-times {
  border-radius: 46%;
  background: #d65c33;
  color: white;
  position: absolute;
  right: 51px;
  top: -15px;
  width: 20px;
  height: 20px;
  padding: 3px;
  text-align: center;
}

.todo-modal-container .edit-category-container .auv-cat-error {
  margin-bottom: 25px;
}

.todo-modal-container .edit-category-container .auv-cat-error {
  top: 88px;
  right: 40px;
}

.todo-modal-container .modalTransition-popUp-container {
  overflow: auto;
}

.todo-modal-container {
  max-height: 660px;
  overflow-x: hidden;
}

.todo-modal-container .des-delete-modal {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 24px;
  color: #737373;
  padding: 20px 48px 0px 48px;
}

.todo-modal-container .category-componentContainer img {
  width: 140px;
  margin: 8px 0 0 0;
}
