.remove-client-Container{
  background-color: white;
  border-radius: 2px;
}
.remove-client-header{
  height: 104px;
  background-color: #f6f6f6;
  border-radius: 2px 2px 0 0;
}
.remove-client-headerText{
  height: 30px;
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  padding: 40px 5px;
  float:left;
}
.remove-client-close-icon{
  float:right;
  padding:15px;
  cursor:pointer;
}
.remove-client-bodyText{
  width: 303px;
  height: 72px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top:44px;
  margin-left:88px;
}
.remove-client-caution-icon{
 padding-top: 43px;
  padding-left:120px;
  float:left;
}
.remove-client-cancel-btn{
  width: 128px;
  height: 40px;
  background-color: #e1e1e1;
  border-radius: 2px;
  margin-top: 44px;
  margin-left: 95px;
  margin-right: 10px;
  margin-bottom: 44px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.remove-client-remove-btn{
  width: 128px;
  height: 40px;
  background-color: #f3672f;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 2px;
  margin-top: 44px;
  margin-right: 95px;
  margin-bottom: 44px;

}
