/**
 * Code for MyAuditor widgets, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

.w-auditor-title {
  color: #636363;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 24px;
}

.w-auditor-name {
  display: inline;
  color: #363636;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.w-auditor-nameDiv{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 163px;
  height: 43px;
  color: #636363;
  text-align: center;
  margin: auto;
}

.w-auditor-fullName{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 4px 0;
}

.w-auditor-company {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
}

.w-auditor-msgBtn {
  border: 1px solid #599ba1;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 216px;
  height: 40px;
  margin: 16px auto;
  border-radius: 4px;
}
.w-auditor-msgBtn:hover {
  background: #599ba1;
}
.w-auditor-msgBtn a:hover {
  text-decoration: none;
}
.w-auditor-msgBtn:hover .w-auditor-msgBtn-txt  {
  color: #fff;
}

.w-auditor-msgBtn-txt {
  width: 111px;
  height: 19px;
  color: #50baa8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  outline: none;
}

.w-auditor-badgeImg {
  width: 56px;
  height: 40px;
  margin: 0 0 0 10px;
}

.w-auditor-blerbTxt-wrap {
  width: 150px;
  padding: 0 10px 0 0;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  float: right;
}

.w-auditor-profilePicture {
  width: 77px;
  height: 77px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: top;
  margin: 23px auto 10px;
  display: block;
}
