
.business-calendarShell {
  left: -19px;
  z-index: 201;
}

.business-photoSection {
  margin-right: 140px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1;
}
.business-continueBtn {
  bottom: -66px;
}

.ui.checkbox.business-checkbox {
  display: block;
  margin-bottom: 24px;
}

/*Customized styling for the date picker*/

/*div#ui-datepicker-div {
  width: 458px;
  font-family: Lato;
  border: 1px solid #e0e0e0 !important
}
.ui-datepicker-header {
  background: #fff;
  border: none;
  color: #363a3c;
}
.ui-datepicker-title {
  margin: 15px 20px 15px 20px !important;
}
span.ui-datepicker-month {
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: -6px;
}
span.ui-datepicker-year {
  font-size: 11px;
  letter-spacing: 1px;
}
th {
  color: #363a3c;
  text-align: center !important;
  font-style: italic;
  font-weight: 400 !important;
}
a.ui-state-default {
  background: #fff !important;
}
.ui-datepicker td {
  padding: 2px;
}
a.ui-state-default {
  padding: 5px !important;
  text-align: center !important;
  color: #363a3c !important;
  border: 1px solid #e0e0e0 !important;
}
a.ui-state-default:hover, a.ui-state-default.ui-state-active {
  color: #fff !important;
  background: #5cd4c0 !important;
  border: 1px solid #5cd4c0 !important;
}
a.ui-state-default.ui-state-highlight {
    border: 1px solid #5cd4c0 !important;
    cursor: pointer;
}
span.ui-icon.ui-icon-circle-triangle-e {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #363a3c;
}
span.ui-icon.ui-icon-circle-triangle-w {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right:6px solid #363a3c;
}
.ui-state-hover {
  background: #fff !important;
  border: none !important;
  background-image: none !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker-prev-hover {
  left: 10px !important;
  top: 20px !important;
  cursor: pointer !important;
}
.ui-datepicker .ui-datepicker-next, .ui-datepicker-next-hover {
  right: 0px !important;
  top: 20px !important;
  cursor: pointer;
}*/
