﻿.newRow.todoAlert {
  font-weight: bold;
  color: #d95b29;
}

.newRow.todoCompleted {
  opacity: 0.5;
}

.todo-container .newRow {
  height: 50px;
  font-size: 14px;
  color: #363a3c;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.newTodoInput {
  border: 1px solid white;
  border-radius: 3px;
  width: 98%;
  outline: none;
  text-overflow: ellipsis;
  padding-right: 8px;
  padding-left: 5px;
  height: 35px;
}

.newTodoInput:hover, .newTodoInput:focus {
  border-color: #5c9ba0;
}

.newRow.todoAlert .newTodoInput {
  color: #d95b29;
}

.newRequestFlag {
  width: 18px;
  height: 24px;  /* FF3.6-15 */  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#d95b29),color-stop(50%, #d95b29),color-stop(50%, #ffffff),to(#ffffff));
  background: linear-gradient(to bottom, #d95b29 0%,#d95b29 50%,#ffffff 50%,#ffffff 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95b29', endColorstr='#ffffff',GradientType=0 );  /* IE6-9 */
  border-left: 1px solid #373b3c;
  position: relative;
  top: 10px;
  margin: auto;
}

.newRequestNumber {
  color: #fff;
  position: relative;
  font-size: 12px;
  text-align: center;
  width: 100%;
  bottom: 17px;
  font-weight: bold;
}

.fileIcon {
  text-align: center;
  font-size: 24px;
  vertical-align: middle;
  color: #707070;
  position: relative;
  top: 8px;
}

.fileNumber {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #707070;
  position: relative;
  bottom: 9px;
}

.commentFlag {
  font-size: 24px;
  line-height: 5px;
  color: #d95b29;
  text-align: center;
  position: relative;
  margin: 0 10px;
}

.commentNumber {
  color: #fff;
  position: relative;
  font-size: 12px;
  text-align: center;
  width: 100%;
  bottom: 10px;
  font-weight: bold;
}

.completeBtn {
  font-size: 26px;
  text-align: center;
  cursor: pointer;
}

.todo-comment-form {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  height: 54px;
  padding: 4px 10px;
}

/*I effing HATE this but it's the only quick solution to the smantic overrides.*/
.todoCategory,
.ui.dropdown.todoCategory {
  color: #fff;
  border-radius: 3px !important;
  text-align: center !important;
  font-size: 11px !important;
  font-weight: bold !important;
  padding: 0px !important;
  border: none !important;
  width: 81px !important;
  height: 18px !important;
}

.ui.dropdown.todoCategoryEmpty {
  color: #000 !important;
  border: 1px solid #ccc !important;
}

.todo-categoryChevron {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 8px;
  color: #fff;
}

.detailsName {
  height: 24px;
  color: #636363;
  font-size: 20px;
  line-height: 24px;
  border: none;
  outline: none;
  text-overflow: ellipsis;
  margin-right: 8px;
  width: 338px;
  vertical-align: top;
}

.detailsDescription {
  border: none;
  outline: none;
  height: 38px;
  width: 428px;
  color: #757575;
  margin-bottom: 8px;
  resize: none;
  font-family: Lato;
}

.detailsDnD {
  height: 15px;
  width: 607px;
  color: #757575;
  font-family: Lato;
  font-size: 12px;
  line-height: 15px;
}

.auv-todo-detailsInput {
  height: 32px;
  font-size: 14px;
  border: none;
  vertical-align: middle;
  width: 280px;
  padding: 10px;
  margin: -18px -8px;
}

.detReqForFile {
  height: 56px;
  width: 100%;
  border: 1px dashed #C4C4C4;
  border-radius: 4px;
  margin-bottom: 8px;
  color: #757575;
  font-size: 14px;
  padding: 16px 20px;
}
.detReqForFile .ui.dropdown {
  border: none;
  padding: 0;
}
.detReqForFile .ui.dropdown .menu {
  left: auto;
  right: 0;
}
.detReqForFile .ui.dropdown.active .menu {
  display: block
}
.detReqForFile .ui.dropdown .menu a {
  text-decoration: none;
  cursor: pointer;
}

.detReqWithFile {
  border: 1px solid #DEDEDE;
  color: #599ba1;
}

.detFileName {
  color: #757575;
  font-size: 14px;
}

.detCommentUser {
  color: #666666;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.detComment {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
}

/*.todo-table thead th {*/
.todo-table .table-header {
  font-size: 16px;
  font-weight: bold !important;
  line-height: 19px;
  color: #363A3C;
  font-style: normal;
  height: 38px;
  text-align: left !important;
  cursor: pointer;
}

.todo-table .table-header i {
  font-size: 13px;
  margin-left: 5px;
}

.todo-container .hide {
  display: none;
}

.todo-container .disabled {
  opacity: 0.5;
}

input.todo-name {
  width:100%;
  height: 37px;
  display: block;
  margin-top: 0px;
}

.div-name-container .auv-inputTitle,
.div-name-container .auv-inputError,
.div-name-container .auv-inputErrorIcon {
  display: none;
}

.todo-input-container {
  position: relative;
  padding-top: 2px;
}

.todo-container .input-due-date {
  margin-bottom: 0;
  margin-top: -1px;
  text-align: center;
  font-size: 14px;
  height: 28px;
  width: 115px;
  border: 1px solid;
  border-radius: 100px;
  text-align: center;
  padding-left: 24px;
}

.todo-container .ui.dropdown:hover {
  border-color: #5c9ba0;
}

.todo-container .ui.dropdown:focus {
  pointer-events: none;
}

.todo-container .ui.dropdown:focus .menu {
  display: block;
  pointer-events: auto;
}

.todo-container .ui.dropdown .menu button {
  text-align: left;
  width: 100%;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1em;
  background: transparent;
  border: 0;
  padding: 0.78571429rem 1.14285714rem
}

.todo-container .ui.dropdown .menu button:hover {
  background: #d4d6d6;
}

.todo-container .ui.dropdown .fa-filter{
  position: absolute;
}

.todo-container .ui.dropdown .parent .fa-caret-right {
  position: absolute;
  right: 5px;
}
.todo-container .ui.dropdown .parent .menu {
  display: none;
  max-height: 300px;
  overflow: auto;
  margin-left: 0px !important;
}

.todo-container .todo-table .ui.dropdown .text{
  padding-top:3px;
  display: block;
  text-align: left;
}

 .todo-container .todo-table .ui.dropdown .icon{
    display: block;
    top: 0px;
    right: 0px;
    padding-top: 11px;
    padding-left: 55px;
    height: 33px;
    width: 70px;
}

.todo-container .ui.dropdown .parent:hover .menu {
  display: block;
}

.todo-container .ui.dropdown.todo-category .menu {
  max-height: 300px;
  overflow-x: hidden;
}

.todo-container .filter-container {
  display: inline-block;
}

.todo-container .bulk-container {
  display: inline-block;
}

.todo-container {
  position: relative;
}

.todo-container .fa-undo {
  margin: 0px 10px 0px 10px;
  font-size: 26px;
  cursor: pointer;
}

.todo-container .fa-trash {
  font-size: 26px;
  cursor: pointer;
}

.fa-undo:not(.disabled):hover, .fa-trash:not(.disabled):hover {
  color: #599ba1;
}

.todo-container .act-icon-container {
  display: inline-block;
  vertical-align: middle;
}

.todo-container .ui.dropdown.filter {
  min-width: 100px;
  margin-right: 10px;
}

.todo-container .ui.dropdown.filter .text {
  min-width: 65px;
  text-align: center;
  padding-left: 17px;
}

.todo-container .bold {
  font-weight: bold;
}

.todo-bulkDdl {
  height: 37px;
}

.todo-bulkDdl .dropdown {
  top: 11px;
  position: absolute !important;
}

.todo-bulkDdl .text, .todo-category-readonly {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-name-readonly {
  display: inline-block;
  width: 376px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.todo-bulkDdl .act_item {
  color: #5c9a9e !important;
}

.todo-bulkDdl {
  width: 133px;
}

.todo-bulkDdl .menu {
  border: 1px solid #ccc;
}

.todo-bulkDdl .menu .item:hover {
  background: #d4d6d6 !important;
}

.todo-bulkDdl .menu .item {
  max-width: 323px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-category-container p.auv-inputError {
  margin: 0px 0px 16px 40px !important;
}

.setup-header {
  background: #f5f5f5;
  padding: 75px 0px 0px 0px;
  margin: 0 !important;
}

#todo-details-content {
  position: relative;
}
/*#auv-todo-detailsReqBox {
  min-height: 241px;
}*/
#auv-todo-detailsReqBox.no-request {
  text-align: center;
}
.detNoReqText {
  width: 303px;
  color: #666666;
  line-height: 20px;
  text-align: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.comment-item {
  margin-bottom: 20px;
  margin-left: 40px;
}
.comment-item .user-profile-pic {
  width: 30px;
  float: left;
  margin-left: -40px;
  margin-top: -5px;
}
.detCommentUser {
  display: inline-block;
  margin-top: 0;
  margin-right: 10px;
}
.comment-time {
  color: #999;
  font-size: .85em;
}
#comment-box .commentFlag {
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.comment-input {
  height: 40px;
  width: 500px;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 11px 35px 11px 11px;
  margin-right: 8px;
}
.comment-input:focus {
  border-color: #5c9ba0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.details-comment-count {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  line-height: 20px;
  margin: 0;
}

.newTodoInput.auv-error {
  border: 1px solid rgba(253, 109, 71, 0.4);
  border-radius: 3px;
}

.todo-calendar {
  position: absolute;
  top: 17px;
  left: 8px;
}

/* TODO - Classes should be refactored */
.todo-circle-more {
  font-size: 22px;
  color: #707070;
  vertical-align: super;
}

.todo-circle-add {
  font-size: 22px;
  color: #707070;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: super;
}

.todo-cloud-button {
  margin: 0 8px;
  display: inline-block;
  font-size: 22px;
  color: #707070;
  cursor: pointer;
  vertical-align: super;
}

.todo-download-button {
  color: #707070;
  font-size: 22px;
  margin: 0 8px;
  vertical-align: super;
  cursor: pointer;
}

.todo-icon-hover:hover {
  color: #5c9ba0;
}

/* Cloud Option Modal */
.todo-cloud-container {
  width: 184px;
  height: 48px;
  display: inline-block;
  margin-left: 24px;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
  color: #363a3c;
}

.todo-cloud-container:hover {
  border: solid 1px #599ba1;
  color: #363a3c;
}

.todo-cloud-icon {
  border: solid 1px transparent;
  border-right-color: #e1e1e1;
  display: inline-block;
  font-size: 25px;
  height: 48px;
  width: 48px;
  padding: 8px 16px 8px 4px;
}

.todo-comment-container {
  margin-bottom: 8px;
}

.todo-comment-error {
  font-size: 16px;
  color: #d95b29;
  display: none;
  margin-right: 8px;
}

.comment-attachment {
  position: absolute;
  display: inline-block;
  left: 0;
  margin-top: 11px;
  margin-left: 485px;
  font-size: 20px;
  color: rgba(99,99,99,1);
  cursor: pointer;
}

.comment-fileName {
  color: #363a3c;
  display: inline-block;
}

.clickable-attachment {
  cursor: pointer;
}
.clickable-attachment:hover {
  color: #5c9a9e;
}

/* Got it from request detail */
.req-det-itemUploadContainer {
  margin: 0 8px;
  width: 80px;
  height: 8px;
  display: inline-block;
  vertical-align: sub;
  border-radius: 10px;
  background-color: #edf0f2;
}

.req-det-itemUploadProgress {
  vertical-align: super;
  border-radius: 10px;
  background-color: #9ee1d6;
  height: 8px;
  width: 0%;
  display: inline-block;
}

.todo-table .mg5 {
  margin-right: 5px;
}

.request-progressBar {
  right: 130px;
  margin-top: 8px;
  position: fixed;
  display: none;
}

.todo-fieldSort-icon {
  color:#6d6d6d;
  cursor:pointer;
  font-size:11px;
  margin-left:4px;
  margin-top:3px;
}

.todo-sort-active, .table-header.todo-sort-active {
  color: #599ba1;
}

.ui.dropdown .menu.dropdown-empty:empty {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.auv-input.todo-due-date-error {
  border: 1px solid rgba(253, 109, 71, 0.4);
}

#auv-todo-details .processbar {
  background-color: #ededed;
  width: 70%;
  height: 6px;
  border-radius: 2px;
  margin-bottom: 20px;
}

#auv-todo-details .percent {
  background-color: #5dd4c0;
  height: 6px;
}
.generatewp {
  background-color: #ededed;
  padding: 4px 6px;
  height: 25px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Lato', Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #636363;
  display: inline-block;
}
.generatewp.complete{
  background-color: #599ba1;
  color: #fff;
}
.generatewp:hover {
  background: #e6e6e6;
}
.generatewp.complete:hover {
  background: #2c8188;
}
.wp-bulkaction {
  padding: 4px 6px;
  border-radius: 4px;
  height: 25px;
  display: inline-block;
  margin-right: 15px;
}
#todo-table-wpclient input[type='checkbox'] 
{
  margin: 0px;
}
#todo-table-wpclient .completeBtn {
  font-size: 18px;
}
#todo-table-wpclient .review {
  background-color: #FFC000;
  padding: 4px 6px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lato', Helvetica, sans-serif;
  outline: #50baa8;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
}
#todo-table-wpclient .view {
  background-color: #fff;
  padding: 4px 6px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lato', Helvetica, sans-serif;
  outline: #50baa8;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #757575;
  display: inline-block;
  border: 1px solid #000;
  margin-right: 5px;
}
#todo-table-wpclient .send {
  background-color: #599ba1;
  padding: 4px 6px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lato', Helvetica, sans-serif;
  outline: #50baa8;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  display: inline-block;
}
#todo-table-wpclient .approved {
  background-color: #00D3A7;
  padding: 4px 6px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  font-family: 'Lato', Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
}
#todo-table-wpclient tr td {
  border-top: 1px solid #ededed;
  padding-top: 5px;
  padding-bottom: 5px;
}