/**
*  New Onboarding CSS
*
*  Table of Contents
*  @Master
*  @Components
*/

/*  -------------------------------------------------------------- *
 *  @Master ------------------------------------------------------ *
 *  -------------------------------------------------------------- */
.onboarding-introDiv {
  top: 280px;
  height: 0px;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}
.onboarding-systemContainer {
  position: relative;
  width: 938px;
  height: auto;
  margin: 75px auto 24px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 5px 5px 48px;
}
.onboarding-navSystem {
  background: #fff;
  text-align: center;
  margin-top: 43px;
}
.onboarding-componentContainer {
  position: relative;
  width: 900px;
  height: auto;
  margin: 40px auto 0px;
}
.onboarding-individualContainer {
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
}
.onboarding-welcomeContainer {
  width: 100%;
  height: 100%;
  background: #fff;
}
.component-subTitle {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
  text-align: center;
}
.onboarding-navLinkHolder {
  position: relative;
  display: inline-block;
  width: 130px;
}
/*.onboarding-navLinkHolder:hover {
  cursor: pointer;
}*/
.onboarding-navLinkTxt {
  color: #707070;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.83px;
}
.onboarding-navLink-active {
  color: #2C8188;
}
.onboarding-numberCircle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #e1e1e1;
  padding-top: 3px;
  margin: 16px auto 0px;
  margin-top: 6px;
  color: #fff;
  cursor: default;
}
.onboarding-numberCircle-active {
  background-color: white;
  border: 2px solid #2C8188;
  color: #2C8188;
  padding-top: 1px;
}
.onboarding-number {
  font-size: 12px;
  font-weight: 700;
  line-height:20px;
  color: inherit;
}
.onboarding-linkHr {
  position: absolute;
  width: 68px;
  border-top:none;
  background: #f3f4f5;
  border-color: rgba(34,36,38,.15);
  bottom: 7px;
  left: -34px;
}
.onboarding-nav-checkmark {
  font-size: 10px;
  line-height: 23px;
}
.onboarding-continueBtn {
  /*margin-left: -64px;
  bottom: 135px;*/
  background-color: #599ba1;
  border-radius: 4px;
  padding: 10px 32px;
  color: #fff;
  position: absolute;
  left: 50%;
  margin-left: -51px;
  bottom: -25px;
  font-size: 16px;
  line-height: 20px;
}
.onboarding-continueBtn:hover {
  cursor: pointer;
}

.onboarding-badgesContainer {
  text-align: center;
  position: relative;
  margin: 0px auto 74px;
  /*bottom: -101px;*/
}

.onboarding-epilogue-container {
  position: relative;
  width: 938px;
  height: auto;
  margin: 95px auto 24px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  padding: 5px 5px 48px;
}
/*  -------------------------------------------------------------- *
 *  @Components -------------------------------------------------- *
 *  -------------------------------------------------------------- */
.component-title {
  color: #363a3c;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-align: center;
  margin: 48px 0px 40px;
  -webkit-transition: ease 1.5s;
  transition: ease 1.5s;
}
.component-description {
  color: #707070;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  width: 558px;
  margin-left: auto;
  margin-right: auto;
}
.component-body {
  margin: 48px auto 0;
  /* padding-bottom: 0px; */
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 4px;
  z-index: -2;
  -webkit-transition: ease 1.5s;
  transition: ease 1.5s;
}
.component-photoContainer {
  height: 144px;
  width: 144px;
  border-radius: 72px;
  background-color: #f6f6f6;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.component-uploadedImg {
  display: inherit;
  width: 142px;
  height: 142px;
  border-radius: 72px;
}
.component-emptyPhoto {
  font-size: 74px;
  top: 32px;
  position: relative;
  color: #999;
}
.component-photoErr {
  color: #f3672f;
  font-size: 23px;
  float: right;
  position: relative;
  margin-right: 24px;
  margin-top: -222px;
}
.component-photoErrMsg {
  margin-top: 12px;
  color: #f3672f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.badgeImages {
  width: 100px;
}
.component-footerDiv {
  margin: 36px auto 0px;
  width: 279px;
  height: 31px;
  text-align: center;
  color: #707070
}
.component-footer-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-top: -10px;
}

/*  -------------------------------------------------------------- *
 *  @Component_Security ------------------------------------------ *
 *  -------------------------------------------------------------- */
.component-body .reg-mb-texting {
  margin: 22px auto 20px;
  display: block;
  width: 350px;
}
.component-body .register-mb-img {
  margin: auto !important;
  display: block;
  padding-top: 12px;
  padding-bottom: 9px;
}
.skip-onboard-temp {
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: underline;
}
.skip-onboard-temp:hover {
  cursor:pointer;
}
.register-mb-appLink {
  margin: 6px auto;
  width: 316px;
}

/*  -------------------------------------------------------------- *
 *  @Component_Accounting, @ComponentBank ------------------------ *
 *  -------------------------------------------------------------- */

.onboardFinancial-selectContainer {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    height: 48px;
    width: 185px;
    display: inline-table;
    margin: 8px;
}

.onboardFinancial-selectContainer:active,
.onboardFinancial-selectContainer:focus,
.onboardFinancial-selectContainer:hover {
    border: 1px solid #599ba1;
    cursor: pointer;
}

.onboardFinancial-selectLogo {
    height: 47px;
    width: 55px;
    float: left;
    text-align: center;
}

.onboardFinancial-text {
    width: 127px;
    color: #363a3c;
    font-size: 16px;
    padding: 15px 16px;
    border-left: 1px solid #e1e1e1;
    float: right;
}

.onboardFinancial-ticketContainer {
    margin: 29px 138px 36px;
}
.onboardFinancial-leftContainer {
    margin-right: 24px;
}

.onboardFinancial-topContainer {
    margin-bottom: 24px;
}

.bankTicket-highlight {
    border: 1px solid #599ba1;
}

.onboardFinancial-questionHolder {
    font-size: 16px;
    line-height: 19px;
    color: #707070;
    font-weight: 400;
    text-align: center;
}

.onboardFinancial-questLine {
    display: inline;
}

.onboardFinancial-questLink {
    color: #50baa8;
    font-weight: 700;
    margin: 0px 4px;
}

.onboardFinancial-questLink:hover {
    cursor: pointer;
    color: #50baa8;
    text-decoration: none;
}

.onboardFinancial-footHolder {
    color: #707070;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    margin-top: 27px;
}

.onboardFinancial-footLine {
    margin-bottom: 5px;
}

#onboarding-personal-container .auv-inputErrorIcon{
  margin: -73px 0 0 426px;
}

#personal-phoneNumber + .auv-inputErrorIcon{
  margin-left:196px;
}
