.change-template-modal-container{
  text-align: center;
}

.change-template-modal-tip{
  margin: auto;
  margin-top: 33px;
  width: 303px;
  height: 72px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.change-template-confirm-btn{
  width: 128px;
  height: 40px;
  background-color: #599ba1;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 7px 40px 10px 40px;
  margin-top: 35px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.change-template-cancel-btn{
  padding: 7px 40px 10px 40px;
  margin-left: 16px;
  margin-top: 35px;
  width: 128px;
  height: 40px;
  background-color: #e1e1e1;
  border-radius: 6px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}