
.clientList-noClientDiv {
  position: relative;
  margin: auto;
  margin-top: 200px;
  width: 260px;
  text-align: center;
}

.contacts-clientContainer {
  width: 100%;
  min-width: 1024px;
  max-width: 1440px;
  margin: 24px auto auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding-top: 5px;
}

.w-cl-allClients {
  padding: 25px 16px;
}

.w-cl-photo {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 26px 0px 36px 32px;
  float: left;
}

.contacts-table {
  margin: 15px 0px;
  width: 100%;
}

.contacts-tableHeader {
  height: 30px;
  color: #363A3C;
  border-bottom: 1px solid #e7e8e7;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
}

.contacts-filterDdl-holder {
  display: inline-block;
  margin-left: 20px;
}

.contacts-filterDdl {
  background: #fff
}

.contacts-searchInput {
  display: inline-block;
  float: right;
  margin-right: 29px;
}

.contacts-tr {
  height: 49px;
  font-size: 14px;
  color: #535353;
  border-bottom: 1px solid #e7e8e7;
}

.contacts-tr-active {
  background-color: #f7f7f7;
  cursor:pointer;
  border-bottom: none;
}

.contacts-tr:first-child .contacts-td {
  border-top: 1px solid rgba(185, 185, 185, 0);
}

.contacts-td {
  color: #363a3c;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

.contacts-typeDiv {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  padding: 0px 8px;
  border-radius: 3px;
}

.contacts-expandIcon {
  color: #7D7D7D;
}

.contacts-expandIcon:hover {
  cursor: pointer;
}

.contacts-expanded-tr {
  height: 49px;
  font-size: 15px;
  color: #535353;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e8e7;
}

.contacts-extendedRowSpan {
  display: block;
  line-height: 22px;
}

.contacts-emailLink, .contacts-emailLink:hover {
  text-decoration: underline;
  color: #599ba1;
  font-size: 15px;
}

.contacts-extended-td {
  vertical-align: top;
}
.contacts-checkBoxes {
  margin-bottom: 2px !important;
  margin-left: 10px !important;
}
