.m-req-page {
  width: 1128px;
  margin: 0px auto 0px;
  min-height: calc(100vh - 412px);
}

.m-req-component {
  font-family: lato;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
}

.m-req-navigation {
  width: 264px;
  display: inline-block;
  min-height: 455px;
}

.m-req-details {
  width: 840px;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 24px;
  min-height: 455px;
  height: calc(100vh - 412px);
}

.m-req-files-scroll {
  min-height: 216px;
  height: calc(100vh - 656px);
  overflow-y: scroll
}



/**************************/
/******Navigation CSS******/

.req-nav-title {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  padding: 24px 8px 0px;
  float: left;
}
.request-dropdown-menu {
  background: #fff;
  width: 236px;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}
.request-dropdown-hoverConnector {
  background: transparent;
  width: 220px;
  height: 15px;
  z-index: 1;
  text-align: center;
  border-bottom: 1px solid #707070;
  opacity: 0.1;
}
.request-dropdown-container {
  position: absolute;
  margin-top: -8px;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  right: -90px;
  top: 30px;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.3);
}
.request-dropdownHolder {
  margin: 25px 30px;
  overflow: visible;
  position: relative;
  margin: 24px 20px 0 8px;
  font-size: 16px;
  display: inherit;
  float: left;
}

.request-navTitle {
  font-size: 16px;
  color: #4a4a4a;
  letter-spacing: 0.44px;
  font-weight: normal;
}

.req-nav-search {
  float: right;
  font-size: 17px;
  color: #707070;
  padding: 24px 8px 0px;
}

.req-nav-catBox {
  position: relative;
  cursor: pointer;
  height: auto; /* 31px; */
  padding: 7px 8px 0 16px;
  margin: 10px 0;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.req-nav-catBox:hover {
  border-radius: 4px;
}

.req-nav-catBox.req-nav-catBox-editing {
  border: 1px solid #50baa8;
  border-radius: 4px;
}

.req-nav-catTitle {
  font-size: 12px;
  font-weight:bold;
  text-transform: uppercase;
  color:#B0B0B0;
  display: inline-block;
  outline: none;
  margin-bottom: 8px;
  margin-left: 8px;
}
.req-nav-catTitle:hover {
  background: #F9F9F9;
  border-radius: 4px;
}

.req-nav-catInput {
  font-size: 12px;
  font-weight:bold;
  text-transform: uppercase;
  background: transparent;
  width: 100%;
  color:#B0B0B0;
  border: none;
}
.req-nav-catInput:focus {
  background: #F9F9F9;
  border-radius: 4px;
  outline: none;
}

.req-nav-listBox {
  cursor: pointer;
  padding: 3px 0px;
  border-radius: 4px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.req-nav-listBox:hover {
  background: #eee;
}

.req-nav-listBox.editing {
  border-radius: 4px;
  border: 1px solid #50baa8;
}

.req-nav-listTitle {
  color: #707070;
  font-size: 14px;
  display: inline-block;
  width: 520px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sortable-parent {
  color: #599ba1;
  font-weight: bold;
}

.req-nav-listAdd {
  position: absolute;
  right: 17px;
  width: 13px;
  z-index: 1;
  font-size: 12px;
  color: #599ba1;
  opacity: 0;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.req-nav-checkmark {
  position: absolute;
  right: 16px;
  color: #599ba1;
  z-index: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.req-nav-listAdd:hover .req-nav-checkmark,
.req-nav-checkmark:hover {
  display: none;
}

.req-nav-listInput {
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
}

.req-nav-listDiv {
  height: initial;
}

/* Navigation Sortable */
.no-background-hover :hover {
  background-color: transparent;
}

.req-nav-listDrag {
  color: #599ba1;
  opacity: 0;
  display: inline-block;
  float: left;
  margin-left: -16px;
  margin-top: 2px;
  font-size: 10px;
}

.no-background-hover:hover .req-nav-listDrag,
.no-background-hover:hover .req-nav-listAdd  {
  color: #599ba1;
}

.ui-sortable > div.ui-sortable-handler:hover {
  background-color: #eee;
}

.drag-helper {
  font-weight: bolder;
  background-color: #EEEEEE;
}

.req-sortable-placeholder {
  border: 1px dotted #599ba1;
  /*border-top: solid 2px #599ba1;*/
  margin: 0 1em 1em 0;
  height: 32px;
}

.drag-placeholder:hover {
  height: 32px;
  border-top: solid 2px mediumvioletred;
}

.disabled-sortable {
  background-color: transparent;
}

/**************************/
/******Detail CSS******/

.req-det-fileUploadContainer:hover {
  border: 2px dashed #599ba1;
  cursor: pointer;

}
.req-det-fileUploadContainer {
  width: 95%;
  margin: auto;
  border: 2px dashed #e3e3e3;
  padding: 10px;
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
}
.req-det-browseText {
  height: 17px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 15px;
  color: #50baa8;
  cursor: pointer;
}
.req-det-uploadText {
  height: 17px;
  padding-top: 10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
  color: #363a3c;
}
.req-det-duedateContainer {
  float: left;
  border: 1px solid #e1e1e1;
  margin: 24px 0px;
  border-radius: 100px;
  width: 160px;
  height: 32px;
  color: #707070;
  user-select: none;
}
.req-det-duedateContainer-auditor-view {
  cursor: pointer;
}
.req-det-duedateContainer-auditor-view:hover {
  border-color: #50baa8;
}
.req-det-duedateContainer-auditor-view:hover .req-det-duedate {
  color: #50baa8;
  background: url('../../../images/icons/icon-calendar-green.png') no-repeat scroll 7px 7px;
}
.req-det-duedate {
  background: url('../../../images/icons/icon-calendar-grey.png') no-repeat scroll 7px 7px;
  border: none;
  width: auto;
  height: 27px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 32px;
  padding-top: 5px;
  margin-left: 5px;
}
.req-det-duedateContainer div.ui-datepicker {
  border: none !important;
  box-shadow: 0 2px 5px 0 #c5c5c5;
  width: 300px;
  margin-left: -65px;
  margin-top: 5px;
  z-index: 100;
}
.req-det-duedateContainer table.ui-datepicker-calendar::after {
  content: '';
  display: block;
  width: 300px;
  position: absolute;
  height: 6px;
  background: #50baa8;
  margin-left: -3px;
}
.req-det-duedateContainer table.ui-datepicker-calendar thead {
  border-bottom: 1px solid #c5c5c5
}
.req-det-duedateContainer table.ui-datepicker-calendar tbody tr td a,
.req-det-duedateContainer table.ui-datepicker-calendar tbody tr td span {
  border: none !important;
  height: 38px;
  line-height: 28px;
  text-align: center;
  background: white;
}
.req-det-duedateContainer table.ui-datepicker-calendar tbody tr td a:hover, .req-det-duedateContainer table.ui-datepicker-calendar tbody tr td a.ui-state-active {
  color: white;
  background-color: black !important;
  border-radius: 20px;
  font-weight: 900;
}
.req-det-duedateContainer table.ui-datepicker-calendar thead tr th span {
  font-style: normal;
  font-weight: 800;
}

.req-det-requestName {
  margin:24px 0px 8px 20px;
  max-width: 566px;
  color: #707070;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  display: inline-block;
}

.req-det-requestDescription {
  max-width: 566px;
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin:0px 0px 20px 20px;
  display: inline-block;
}

.req-det-pencil {
  color: #B5B5B5;
  padding: 2px 8px;
  display: none;
}
.req-det-requestName-auditor-view:hover ~ .req-det-pencil {
  display: inline-block;
}
.req-det-requestDescription-auditor-view:hover ~ .req-det-pencil {
  display: inline-block;
}

.req-det-requestNameEditor {
  margin:23px 0px 8px 19px;
  width: 572px;
  height: 30px;
  color: #707070;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  border: none;
  display: none;
}
.req-det-requestDescriptionEditor {
  width: 572px;
  height: 19px;
  color: #9b9b9b;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin:0px 0px 20px 20px;
  border:none;
  display: none;
}
.req-det-confirmationDiv {
  display: none;
  background-color: white;
  position: relative;
  color: black;
  margin-top: 20px;
  border: 1px solid white;
  margin-left: -45px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 1px #599ba1;
  width: 299px;
  height: 308px;
}
.req-det-confirmationHeader {
  margin: auto;
  margin-top: 20px;
  width: 205px;
  height: 60px;
  color: #6d6d6d;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.67px;
  line-height: 29px;
}
.req-det-confirmationBtn {
  background-color: #5CD4C0;
  margin-top: 35px;
  width: 176px;
  height: 40px;
  border-radius: 4px;
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.req-det-cancelBtn:hover{
  background-color: #5CD4C0;
}
.req-det-cancelBtn {
  background-color: transparent;
  margin-top: 15px;
  width: 176px;
  height: 40px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.req-det-confirmationText {
  margin: auto;
  margin-top: 20px;
  width: 206px;
  height: 57px;
  color: #6d6d6d;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
}
.req-det-requestButtonContainer {
  margin: 15px 5px;
}

.req-det-deleteRequest {
  margin: 24px 0px 24px 8px;
  border-radius: 100%;
  border: 1px solid #e1e1e1;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 8px;
  color: #e1e1e1;
}

.req-det-deleteRequest:hover {
  cursor: pointer;
  color: #599ba1;
  border: 1px solid #599ba1;
}

.req-det-requestTitleContainer {
  float: left;
}
.req-det-requestItemHeader {
  width: 120px;
  height: 19px;
  color: #757575;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin: 24px 0px 16px 24px;
}
.req-det-noSubRequests {
  width: 471px;
  height: 19px;
  color: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  font-weight: 400;
  margin-left: 20px;
}
.req-det-addRequestSpan {
  color: #50baa8;
  font-weight: 700;
  cursor: pointer;
}
.req-delete-icon {
  src: 'images/icons/delete-icon.png';
  margin: 15px 5px;
}
.req-delete-icon:hover {
  src: 'images/icons/icon-delete-green.png';
}

.req-det-itemContainer{
  width: 786px;
  height: 48px;
  border-bottom: 1px solid #ddd;
  margin: 0px 24px;
  color: #4a4a4a;
}

.req-det-itemIcon{
  display: inline-block;
  margin: 13px 8px;
  font-size: 22px;
  float: left;
}

.req-det-itemName{
  display: inline-block;
  float: left;
  margin: 16px 0 0;
  width: 228px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*.req-det-itemUploadContainer {
  margin: 13px auto 0;
  width: 235px;
  height: 20px;
  display: inline-block;
  border-radius: 10px;
  background-color: #edf0f2;
}*/

.req-det-itemUploadProgress {
  border-radius: 10px;
  background-color: #9ee1d6;
  height: 20px;
  width: 0%;
}

.req-det-itemUploadText {
  color: #fff;
  font-size: 12px;
  position: absolute;
  width: 100%;
  top: 0px;
  text-align: center;
  font-weight: normal;
}

.req-det-itemDelete {
  float:right;
  padding: 16px 8px 0px;
  cursor: pointer;
  color: #9B9B9B;
}

.req-det-itemMover {
  margin: 4px 0 0;
  float: right;
  height: 32px;
}

.req-empty-page {
  position: absolute;
  top: 0;
  width: 840px;
  background: white;
  margin-top: 3px
}
.req-empty-page h1 {
  margin: 140px auto 0 auto;
  font-weight: normal;
  font-size: 20px;
  width: 320px;
  text-align: center;
  line-height: 30px;
  color: #4a4a4a;
}
