.onB-uploadCoverBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 32px;
  background-color: #fff;
  border: 0.5px solid #979797;
  border-radius: 4px;
  margin-top: 24px;
  outline: none;
}
.onB-uploadCoverBtn:active {
  outline: none;
}
.onB-uploadCoverBtn:focus {
  outline: none;
}
.onB-PersonalTitle {
  margin: 48px 263px 38px;
}
.onB-inputContainer {
  margin-left: 78px;
}
.personal-photoSection {
  float: right;
  margin-top: 19px;
  margin-right: 140px;
}

.personal-photoContainer {
  height: 144px;
  width: 144px;
  border-radius: 72px;
  background-color: #cacaca;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.personal-initials {
  font-size: 54px;
  top: 65px;
  position: relative;
  color: #fff;
}

.personal-footerText {
  display: inline;
  color: #707070;
}

.personal-footer {
  position: absolute;
  bottom: -72px;
  margin-left: 290px;
}

.personal-terms {
  color: #707070;
  text-decoration: underline;
}

.personal-terms:hover {
  cursor:pointer;
  color: #707070;
}
