.unt-text:hover {
  border-bottom: 1px dashed #999 !important;
}
.unt-text:hover + .unt-edit {
  opacity: 1 !important;
}

.unt-text-edit  {
  border-bottom: 1px dashed #999 !important;
}
.unt-text{
  width: auto;
  height: 39px;
  color: #636363;
  font-family: Lato;
  font-size: 32px;
  font-weight: 300;
  line-height: 39px;
  margin: 0px 0px 11px 15px;
  padding-left: 5px;
  position: relative;
  vertical-align: middle;
}
.unt-edit {
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
}

.dashboard .widget {
  display: block;
  float: left;
}

#cpa-main div:nth-child(4), #cpa-main div:nth-child(8),
#cpa-main div:nth-child(12), #cpa-main div:nth-child(16),
#cpa-main div:nth-child(20), #cpa-main div:nth-child(24),
#cpa-main div:nth-child(28), #cpa-main div:nth-child(32),
#cpa-main div:nth-child(36), #cpa-main div:nth-child(40),
#cpa-main div:nth-child(44), #cpa-main div:nth-child(48) {
  margin-right: 0px !important;
}
