.overviewOpen { /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.auv-loadingBar,
.auv-loadingToDo,
.auv-loadingDocs {
  height: 6px;
  border-radius: 3px;
}

.auv-loadingBar {
  width: 183px;
  margin-top: 7px;
  background: #ededed;
}
.auv-loadingToDo {
  background: #5c9ba0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.auv-loadingDocs {
  background: #2c4976;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.auv-engOverCard {
  -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
  background: #fff;
}

.recent-activity {
  width: 150px;
  line-height: 19px;
  color: #314052;
  font-size: 16px;
  padding: 8px 0px;
  margin: 0px 0px 8px 16px;
  border-bottom: 1px solid rgba(151,151,151,0.29);
}

.activitytext {
  font-size: 12px;
  color: #707070;
  line-height: 21px;
  padding-top: 16px;
}
