#send-message-failure-modal-container{
    margin-top: 56px;
    height: 394px;
    position: relative;
    font-family: Lato;
}

#send-message-failure-modal-tip{
    color: #363a3c;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 33px;
}

#send-message-failure-cancel-btn{
    width: 128px;
    height: 40px;
    background-color: #e1e1e1;
    border-radius: 4px;
    color: #363a3c;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 11px 40px 10px 40px;
    margin-top: 57px;
}

#send-message-failure-retry-btn{
    width: 128px;
    height: 40px;
    background-color: #599ba1;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 11px 30px 10px 30px;
    margin-left: 16px;
    margin-top: 57px;
}