.m-fm-table-div {
  border: 1px solid #e7e3e8;
  border-radius: 4px;
  height: 700px;
  overflow: auto;
}
.m-fm-table-div .module-fm-fileManTable {
  border-bottom: transparent;
}

.m-fm-buttonGroup {
  display: block;
  margin: 32px 0px;
  float: right;
}
