/* Universal class that can be used in components */
.component-vertical-center {
	display: inline-flex;
	align-items: center;
}
.component-horizontal-center {
	margin-left: auto;
	margin-right: auto;
}
.component-container {
	padding: 15px;
}