.onboardBank-rbcImg {
    padding-top: 6px;
}
.onboardBank-bmoImg {
    padding-top: 2px;
}
.onboardBank-cibcImg {
    padding-top: 4px;
}
.onboardBank-scotiabankImg {
    padding-top: 7px;
}
.onboardBank-pcImg {
    padding-top: 6px;
}
.onboardBank-tdImg {
    padding-top: 6px;
}
.onboardBank-tableHead-left {
  width: 80%;
  border-bottom: none !important;
  text-align: left !important;
}
.onboardBank-tableHead-right {
  width: 20%;
  border-bottom: none !important;
  text-align: right !important;
}
.onboardBank-tableTxt {
  color: #707070 !important;
  font-style: normal;
  font-size: 14px !important;
}
.onboardBank-blackTxt {
  color: #4A4A4A !important;
}
.onboardBank-accountTable {
  width: 745px !important;
  margin: auto !important;
}
