.terms-languages{
  font-size: 20px;
  color: white;
  font-family: Lato;
}
.terms-languages a {
  cursor: pointer;
  font-size: 20px;
  color: white;
  font-family: Lato;
}
.terms-header{
  color: white;
	font-family: Lato;
	font-size: 54px;
	font-weight: 300;
	text-align: center;
	padding-top: 101px;
	padding-bottom: 5px;
}
.terms-title {
  color: white;
	font-family: Lato;
	font-size: 54px;
	font-weight: 300;
	text-align: center;
	padding-bottom: 10px;
}
.terms-content {
  width: 711px;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
  padding-top: 100px;
  color: white;
	padding-right: 20px;
}
.terms-content h3 {
  color: white;
  font-weight: 500;
}
.terms-content p, li{
  color: white;
	font-family: Lato;
	font-size: 24px;
	font-weight: 300;
	line-height: 42px;
}
.terms-content a{
  color: white;
  text-decoration: underline;
}
