.ce-parent {
  height: 100%;
  overflow: auto;
}

.ce-header {
  background-image: linear-gradient(219deg, #142066 0%, #7cdabf 100%);
  margin-top: -20px;
}

.ce-headerTitle {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.46px;
  line-height: 28px;
  padding-top: 29px;
}

.ce-componentContainer {
  position: relative;
  width: 900px;
  height: auto;
  margin: 40px auto 0px;
  min-height: 600px;
}

.ce-systemContainer {
  position: relative;
  height: auto;
  margin: 0px auto 24px;
  background: #fff;
}

.ce-navSystem {
  text-align: center;
  margin-top: 35px;
  padding-bottom: 35px;
}

.ce-individualContainer {
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
}

.ce-navLinkHolder {
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
/*.ce-navLinkHolder:hover {
  cursor: pointer;
}*/
.ce-navLinkTxt {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.83px;
  margin-bottom: 16px;
  width: 68px;
  display: inline-block;
}

.ce-numberCircle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: transparent;
  padding-top: 2px;
  margin: 0 auto;
  color: #fff;
  cursor: default;
  border: 2px solid #fff;
}
.ce-numberCircle::before {
  content: "";
  width: 80px;
  height: 1px;
  display: block;
  float: left;
  margin-left: -103px;
  margin-top: 8px;
  background-color: #fff;
}
.ce-navLinkHolder:first-of-type {
  margin-left: 0;
}
.ce-navLinkHolder:first-of-type .ce-numberCircle::before {
  content: none;
}
.ce-numberCircle-active {
  background-color: white;
  color: #599ba1;
}
.ce-number {
  font-size: 12px;
  font-weight: 700;
  color: inherit;
  line-height:18px;
}
.ce-number-active {
  color: #599ba1;
}
.ce-linkHr {
  display:none;
  position: absolute;
  width: 68px;
  color: #e1e1e1;
  border-top:none;
  bottom: 17px;
  left: -34px;
}
.ce-nav-checkmark {
  font-size: 10px;
  line-height: 23px;
  color: #599ba1;
}
.ce-footer {
  border-top: 1px solid #e1e1e1;
  clear: both;
  margin-top: 28px;
  background: #fff;
  width: 100%;
}

.ce-footerCancelBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 32px;
  float: right;
}

.ce-footerCancelBtn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #707070;
}

.ce-footerBtnHolder {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
