.firm-greenSide {
  border-left: 4px solid #68b7ae !important;
}

.firm-geoLabel {
  margin-top: 10px
}

.firm-addressHolder {
  margin-bottom: 12px;
}

.firm-headerLogo-label {
  width: 189px;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  display: inline-flex;
}

.firm-photoSection {
  margin-right: 109px;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 1;
}

.firm-iTag {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #599BA1;
  color: #599BA1;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  line-height: 13px;
  position: absolute;
  margin-top: 17px;
  margin-left: 144px;
}

.firm-iTag:hover {
  cursor:pointer;
}

#firm-logo{
  width: 142px;
  height: 142px;
  object-fit: cover;
}
