.team-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}

.team-subtext {
  color: #5c5f62;
  font-size: 18px;
  font-weight: 400;
  width: 234px;
  margin: 32px auto;
}

.team-creationContainer {
  margin: 0px auto 260px;
  width: 351px;
  text-align: left;
}

.team-memberContainer {
  width: 465px;
  margin: 0px auto 48px;
  text-align: left;
}

.team-memberBox {
  border: 1px solid #ccc;
  padding: 24px 0px;
  width: 612px;
  margin: 0px auto 30px;
}

.team-boxText {
  color: #39393a;
  font-size: 16px;
  font-weight: 400;
  display: inline;
}

.team-checkmark {
  color: #599ba1;
  margin-right: 10px;
}
