.m-ic-inputHolder {
  margin: 24px auto;
}

.m-ic-btnContainer {
  margin: auto;
  width: 100%;
  height: 94px;
  /*position: absolute;
  bottom: 0px;*/
  border-top: 1px solid #F6F6F6;
  padding: 27px;
}

.m-ic-btnText {
  color: #4a4a4a;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 40px;
  display: inline-block;
  margin: 0px 41px 0px 0px;
  vertical-align: middle;
}

.m-ic-container {
  font-family: Lato;
  margin-top: 35px;
  height: 555px;
}

.m-ic-headText {
  text-align: left;
}
.m-ic-btnText-number {
  color: #5c5f62;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: inline;
  left: -91px;
}

.m-ic-subTitle {
  color: #4A4A4A;
  font-size: 26px;
  line-height: 28px;
  margin-top: 56px;
}
