.m-email-header {
  width: 1136px;
  height: 56px;
  padding: 17px 0px 14px 16px;
  background-color: #50baa8;
  color: #fff;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.67px;
}

.m-email-file-upload-progress{
  width: 0px;
  height: 8px;
  background-color: #599ba1;
  border-radius: 4px;
}

.m-email-inputBox {
  min-height: 51px;
  width: 100%;
  border-bottom: 1px solid #d0d2d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-email-inputTitle {
  color: #363A3C;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  padding: 16px;
  margin: 0px;
  display: inline-block;
  float: left;
}

.m-email-userEmailBox {
  width: 360px;
}

.m-email-userEmailBox .chosen-container-multi .chosen-choices li.search-field input[type="text"],
#m-email-subjectInput::-webkit-input-placeholder,
#m-email-bodyText::-webkit-input-placeholder{
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  font-family: Lato;
}
.m-email-userEmailBox .chosen-container .chosen-drop {
  width: 360px;
  max-width: 360px;
  border: none;
}
.m-email-userEmailBox .chosen-container .chosen-results li{
  height: 40px;
  padding: 8px 16px 8px 48px;
  position: relative;
  line-height: 24px;
  color: #363A3C;
}
.m-email-userEmailBox .chosen-container .chosen-results li img{
  height: 24px;
  width: 24px;
  position: absolute;
  left: 16px;
  top: 8px;
  border-radius: 12px;
}
.m-email-userEmailBox .chosen-container .chosen-results li div{
  float: right;
}

.m-email-userEmailBox .chosen-choices li.search-choice span{
  margin-left: 32px;
  color: #363A3C;
}
.m-email-userEmailBox .chosen-choices li.search-choice img{
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  left: 8px;
  bottom: 4px;
}
.m-email-userEmailBox .chosen-choices li.search-choice div{
  display: none;
}
.m-email-userEmailBox .chosen-choices li.search-choice .search-choice-close{
  margin-left: 24px;
  font-size: 12px;
  color: #363A3C;
}
.m-email-userEmailBox .chosen-choices li.search-choice .search-choice-close:after{
  content: 'X'
}
.m-email-userEmailBox .chosen-container-multi .chosen-choices li:nth-child(2){
  display:none;
}

.m-email-input {
  height: 17px;
  color: #363A3C;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  outline: none;
  padding: 25px 5px;
  float: right;
}

.m-email-textarea {
  outline: none;
  resize: none;
  height: 374px;
  width: 100%;
  border: 0;
  color: #363A3C;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 22px 24px;
}

.m-email-footer {
  height: 72px;
  border-top: 1px solid #e1e1e1;
}

.ui-autocomplete {
  cursor:pointer;
  height:120px;
  overflow-y:scroll;
}

.m-email-attachments {
  width: 384px;
  position: absolute;
  bottom: 78px;
  background: white;
}

.m-email-attachment-row {
  border-top: 1px solid #e1e1e1;
  padding: 0px 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.m-email-attachment-text {
  width: 213px;
  height: 19px;
  margin: 8px 4px 8px 0px;
  color: #363A3C;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-email-attachment-text:hover {color: #50baa8;}

#m-email-fileUpload{
  display: block !important;
  padding: 16px;
  margin-top:14px;
}

.active-result {
  color: #363A3C;
}
