.clientName{
	width: 270px;
	height: 22px;
	color: #6c6c6c;
	font-family: Lato;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 22px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
}

.scheduleWidgetButton{
	width: 245px;
	height: 42px;
	display: block;
	border: 1px solid rgba(92, 212, 191, 0.41);
	border-radius: 2px;
	color: #50baa8;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	text-align: center;
	padding-top: 10px;
	margin-left: 12px;
	margin-top: 38px;
}