/**
 * Code for TaskManager widgets, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/
.w-tasks-DropdownTxt{
  padding: 5px 5px 5px 15px;
}
.w-tasks-DropdownTxt:hover {
  background-color: #e1e1e1;
}
.w-tasks-DropdownList{
  color: #363a3c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  z-index: 2;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  width: 19%;
  position: absolute;
  margin-bottom: 0px;
  left: 2%;
  text-align: left;
  /*padding-left: 2%;*/
}
.w-tsk-head{
  width: 25%;
  margin-bottom: 10px;
  color: #636363;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.56px;
  line-height: 24px;
}
.w-tsk-head-select{
  border: none;
  cursor: pointer;
}
.w-tasks-Dropdown{
  user-select: none;
  cursor: default;
  padding: 24px 8px;
}
.w-tasks-emptyClipboard {
  margin: auto;
  display: block;
  padding: 116px 0px 32px;
}

.w-tasks-emptyText {
  width: 296px;
  height: 90px;
  color: #9b9b9b;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 30px;
  text-align: center;
  margin: auto;
}
.task-selectDiv {
  padding: 0px 26px;
}
.w-tasks-btn {
  width: 130px;
  height: 42px;
  border: 1px solid rgba(92, 212, 191, 0.44);
  border-radius: 2px;
  color: #50baa8;
  background: #fff;
  outline: none;
}
.w-tasks-btn:hover {
  background: #599ba1;
  border-color: #599ba1;
  color: #fff;
}
.w-tasks-btnDisable {
  border: 1px solid #8b8b8b;
  color: #8b8b8b;
  background: #fff;
}
.w-tasks-btnDisable:hover {
  border: 1px solid rgba(139, 139, 139, 0.5);
  color: #8b8b8b;
  background: #fff;
  cursor: not-allowed;
}
.w-tasks-tr { width: 895px; height: 81px; font-size: 14px; color: #535353;}
.w-tasks-tr:hover { background-color: #f5f5f5; }
.w-tasks-tr:first-child .w-tasks-td { border-top: 1px solid rgba(185, 185, 185, 0); }
.w-tasks-td { border-top: 1px solid rgba(185, 185, 185, 0.39); }
.w-tasks-tr:hover .w-tasks-td { border-top: 1px solid rgba(185, 185, 185, 0); }
/*When you have over the tr, the top border of the one below dissapers.*/
.w-tasks-tr:hover + .w-tasks-tr .w-tasks-td { border-top: 1px solid rgba(185, 185, 185, 0); }

.w-task-assingeePic { width: 35px; border-radius: 35px; }

.w-task-completed .w-task-done { opacity: 0.2; }

.w-task-check { opacity: 0;}
.w-task-completed .w-task-check { opacity: 1; color: #599ba1; margin-left: 18px; }

.w-task-blockLink { font-weight:700; }
.w-task-blockLink:hover { color: #599ba1; cursor: pointer; }

.tsk-p{
  color: #616161;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 16px;
  float:left;
  margin: 36px 5px 36px 40px;
}
.tsk-btn{
  color: #50baa8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  width: 130px;
  height: 40px;
  border: 1px solid #599ba1;
  border-radius: 4px;
  float:right;
  background-color: transparent;
  margin: 24px 48px 24px 5px;
}
.tsk-btn:hover {
  color: #fff;
  background-color: #599ba1;
}
.tsk-btn-disabled{
  opacity: 0.5;
}
.tsk-btn-disabled:hover {
  color: #50baa8;
  background-color: transparent;
  cursor: default;
}
.tickMark {
  position: absolute;
  right: 20px;
  margin-top: 38px
}
.tsk-inner-border{
  width: 96%;
  height: 1px;
  margin: 0px 26px 0px 19px;
}
