.w-team-tableHeader {
  text-align: left !important;
}

th.w-team-tableTitle {
  padding-right: 30px !important;
  color: #363A3C !important;
  font-family: Lato !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 17px !important;
  padding-bottom: 0px !important;
}

.w-team-emptyClipboard {
  margin: auto;
  display: block;
  padding-top:100px;
}

.w-team-emptyText {
  color: #6D6D6D;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.25px;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  margin-top: 0px;
  margin-left: -40px;
}

.w-team-checkTitle {
  padding-left: 0px !important;
  width: 40px !important;
  line-height: 10px !important;
}

.w-team-select {
  width: 105px;
  background: #ffffff;
  border: 1px solid #cccccc
}

.team-bulkDdl {
  display: none;
  margin-right: 10px !important;
  padding: 0px 7px 0px 0px !important;
}

.team-bulkDdlTxt {
  padding: 7px;
}

.team-ddContainer, .team-ddl, .team-ddInput {
  width: 204px;
}

.team-ddContainer {
  display: none;
  right: -5px;
  bottom: -1px;
}
.team-ddShow {
  display: inline !important;
}
.team-ddInput {
  height: 33px;
  border-radius: 4px 0px 0px 4px;
}

.team-ddl {
  top: 22px;
  right: 3px;
}

.team-ddl a, .team-ddl a:active {
  text-decoration: none;
}

.w-team-trash {
  display: none;
  cursor: pointer;
}

.w-team-rowHighlight {
  background: #e9e9e9;
}

.w-team-namePending {
  color: #707070;
  font-style: italic;
}

.w-team-btnHolder {
  padding-top: 11px;
  padding-left: 11px;
}

.w-team-tableHead {
  text-align: left !important;
  font-style: normal;
  width: 32%;
}

.w-team-tablePermission {
  width: 20%;
}
