.m-dm-cancelBtn{
	width: 128px;
	height: 40px;
	background: #e1e1e1;
	border-radius: 2px;
	color: #707070;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin-right: 4px;
	padding: 10px 40px;
}
.m-dm-cancelBtn:hover{background-color:#707070; color: #e1e1e1; outline:none;}
.m-dm-cancelBtn:active{background:#707070; color:#e1e1e1; outline:none;}
.m-dm-cancelBtn:focus {background:#e1e1e1; color:#707070; outline:none;}


.m-dm-deactivateBtn{
	width: 128px;
	height: 40px;
	border-radius: 2px;
	background: #f3672f;
	color: white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin :5px;
}
.m-dm-deactivateBtn:hover {background:#bf5024; outline:none;}
.m-dm-deactivateBtn:active {background:#bf5024; outline:none;}
.m-dm-deactivateBtn:focus {background:#f3672f; outline:none;}