.customize-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}

.customize-subtext {
  color: #5c5f62;
  font-size: 18px;
  font-weight: 400;
  width: 234px;
  margin: 32px auto;
}
