doctype html
html
  head
    title Auvenir
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', media='screen', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media='screen', rel='stylesheet')

  body.plain.error-page-wrapper.background-color.background-image
    block content
