
.inbox-container {
  width: 1128px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247059);
  border-radius: 4px;
  height: 714px;
  font-size: 12px;
  font-family: Lato, Helvetica, sans-serif;
}

.inbox-dashboard {
  margin: 0px auto 30px;
  height: 714px;
  width: 1128px;
}

.inbox-newMsg {
  float: right;
  width: 169px;
  height: 40px;
  background-color: #599ba1;
  border-radius: 4px;
  margin: 16px 32px 0 0;
  font-weight: 700;
}

.inbox-search {
  float: right;
  margin: 26px 16px 0 0;
}

.inbox-header-default-title {
  float: left;
  width: 114px;
  height: 22px;
  color: #363a3c;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin: 25px 0 0 32px;
}

.inbox-header-filters {
  float: left;
  width: 500px;
  margin: 18px 0 0 32px;
}

.inbox-header-filters > ul > li.ddlItem {
  background: white;
}

.inbox-header-filters > ul > li.ddlItem > ul {
  border-radius: 4px;
  padding: 4px 0;
  background-color: #f6f6f6;
}

.inbox-header-filters .ddlItem {
  background-color: #f6f6f6;
}

.inbox-header-filters .ddlItem:hover,
.inbox-header-filters .ddlText:hover {
  background-color: white;
}

#inbox-header-message-type-filter {
  width: 109px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #363a3c;
  background-color: white;
}

#inbox-header-engagements-filter {
  width: 129px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #363a3c;
  background-color: white;
}

#inbox-header-message-type-filter:after,
#inbox-header-engagements-filter:after {
  display: none;
}

.ddlItem:hover #inbox-header-engagements-filter, .ddlItem:hover #inbox-header-message-type-filter {
  color: #599ba1;
}

.inbox-header-filters-fa-caret-down {
  color: #707070;
  padding-left: 7px;
  font-size: 12px;
  vertical-align: middle;
}

.inbox-header-hr {
  width: 1096px;
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  left: 16px;
  border-top: 1px solid #e1e1e1;
}

.inbox-msgListBox {
  width: 356px;
  height: 638px;
  float: left;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
}

.inbox-msg-item-container {
  width: 748px;
  padding-right: 16px;
  display: inline-block;
  color: #363a3c;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.inbox-msg-item-container p {
  margin: 0;
}

.inbox-msg-item-container ul {
  margin-top: 4px;
}

.inbox-msg-item-container li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
}

.inbox-msg-item-container li img {
  vertical-align: initial;
}

.inbox-msg-item-container li div {
  cursor: pointer;
  color: #599ba1;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-left: 8px;
  display: inline-block;
}

.inbox-msg-item-container:not(:last-child):after {
  content: '';
  margin: 16px 0 16px 0;
  width: 738px;
  height: 1px;
  background-color: #e1e1e1;
  display: block;
}

.inbox-msg-container-padding-left {
  padding-left: 16px;
}

.inbox-msg-container-header-title {
  height: 16px;
  color: #363a3c;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  left: 64px;
}

.inbox-msg-container-header-profilepic {
  width: 32px;
  height: 32px;
  border-radius:50%;
  margin-top: 16px;
  object-fit: cover;
  border-radius: 100%;
}

#inbox-view-request {
  width: 163px;
  height: 40px;
  border: 1px solid #50baa8;
  border-radius: 4px;
  color: #50baa8;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  position: absolute;
  top: 12px;
  right: 34px;
  background: transparent;
}

#inbox-msg-delete {
  position: absolute;
  right: 24px;
  font-size: 18px;
  top: 12px;
  color: #9b9b9b;
  display: block;
  padding: 10px;
  cursor: pointer;
}

#inbox-conversation-footer {
  display: block;
}

.inbox-conversation-hr {
  width: 635px;
  height: 1px;
  margin: 0px 0px 0px 24px;
  border-top: 0px solid #eee;
  background-color: #e1e1e1;
}

.inbox-conversation-attachments {
  width: 675px;
  padding: 0px 24px 0px;
  margin-top: -1px;
  min-height: 0px;
  max-height: 105px;
  overflow-y: auto;
}

.inbox-attachment-row {
  padding-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inbox-attachment-text {
  width: 520px;
  height: 19px;
  margin: 8px 0px;
  color: #599ba1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inbox-attachment-text:hover {
  text-decoration: underline;
  color: #50baa8;
}

.inbox-attachment-text::before {
  background-image: url('/images/icons/attachment.svg');
  position: absolute;
}

#inbox-conversation-entry-row {
  position: relative;
  width: 756px;
  height: 58px;
}

#inbox-conversation-textarea {
  width: 619px;
  max-height: 94px;
  height: 40px;
  resize: none;
  background-color: white;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 51px 8px 16px;
  line-height: 19px;
  margin: 0 16px 0 0;
  overflow: auto;
}

#inbox-file-attachments-list {
  margin: 0;
  padding: 0;
  background: white;
}

#inbox-file-attachments-list li {
  list-style: none;
  height: 36px;
  width: 618px;
  border-top: 1px solid #e1e1e1;
  vertical-align: middle;
  padding-left: 10px;
}

#inbox-file-attachments-list li .file-name {
  height: 35px;
  line-height: 35px;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 700;
  width: 420px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

#inbox-file-attachments-list li .file-upload-progress {
  width: 80px;
  height: 8px;
  background-color: #e1e1e1;
  border-radius: 4px;
  float: right;
  margin-top: 13px;
  margin-right: 29px;
}

#inbox-file-attachments-list li .file-upload-progress div {
  width: 0px;
  height: 8px;
  background-color: #599ba1;
  border-radius: 4px;
}

#inbox-file-attachments-list li img {
  width: 16px;
  height: 16px;
  margin-top: 9px;
  margin-right: 18px;
  float: right;
  cursor: pointer;
}

#inbox-conversation-reply {
  width: 105px;
  height: 40px;
  background-color: #599ba1;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  outline: none;
  border: none;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

#inbox-attachment-button {
  position: absolute;
  right: 155px;
  bottom: 29px;
  cursor: pointer;
}

.inbox-attachment-icon {
  padding-right: 8px;
}

.inbox-header {
  /*	height: 92px;*/
  width: 784px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E1E1E1;
}

.inbox-headerActions {
  width: 129px;
  height: 25px;
  background-color: #fff;
  border-radius: 17px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  position: relative;
  bottom: 50px;
  left: 610px;
  cursor: pointer;
}

.inbox-trash {
  height: 25px;
  padding: 7px 10px 5px 11px;
  border-right: 1px solid #ededed;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}

.inbox-trash:hover {
  background: #ededed;
}

.inbox-reply {
  padding: 7px 8px 8px;
  border-right: 1px solid #ededed;
}

.inbox-reply:hover {
  background: #ededed;
}

.inbox-replyAll {
  padding: 7px 7px 7px 5px;
  border-right: 1px solid #ededed;
}

.inbox-replyAll:hover {
  background: #ededed;
}

.inbox-fwd {
  padding: 7px 9px 8px 6px;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.inbox-fwd:hover {
  background: #ededed;
}

.inbox-MsgText {
  white-space: pre-wrap;
  word-wrap: break-word;
  /* width: 100%; */
  padding-top: 16px;
  color: #65676e;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 26px;
  margin-top: 16px;
  overflow-y: auto;
  margin: 0px 0px 0px 0px;
}

.inbox-msgLink-active {
  background: rgba(142, 142, 147, 0.05);
  border-left: 4px solid #599ba1 !important;
  cursor: pointer;
}

.inbox-msgLink {
  width: 342px;
  height: 90px;
  border-bottom: 2px solid #f6f6f6;
  border-left: 4px solid transparent;
  padding: 26px 15px 26px 29px;
  font-weight: 400;
  position: relative;
}

.inbox-msgLink:hover {
  background: rgba(142, 142, 147, 0.05);
  border-left: 4px solid #599ba1;
  cursor: pointer;
}

.inbox-listUserName {
  color: #314052;
  font-size: 20px;
  width: 260px;
  float: left;
  margin: 0px 0px 5px;
}

.inbox-un-read-message:before{
  content: '';
  position: absolute;
  left: 15px;
  margin: 4px 0px;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #f3672f;
}

.inbox-listTitle {
  color: #6e6e6e;
  font-size: 13px;
  width: 230px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inbox-listTime {
  color: #6e6e6e;
  font-size: 13px;
  font-weight: 400;
  top: 30px;
  right: 16px;
  position: absolute;
}

.inbox-menu-listBox {
  width: 310px;
  height: 91px;
  padding: 6px 85px 31px 30px;
  cursor: pointer;
  position: relative;
}

.inbox-menu-listBox-noEmail {
  cursor: pointer;
  position: relative;
  margin: 15px 0 10px 15px;
}

.no-display {
  display: none;
}

.inbox-numberNotification {
  width: 8px;
  height: 16px;
  color: #1d2f6d;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.43px;
  line-height: 16px;
  position: absolute;
  top: -12px;
  padding-left: 6.5px;
  padding-top: 2px;
  left: 8px;
  width: 20px;
  height: 20px;
  background-color: #ffbd50;
  border-radius: 50%;
}

.inbox-menu-listBox:hover {
  background: #f6f6f6;
}

.inbox-menu-text {
  text-decoration: blink;
  color: #666666;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-overflow: ellipsis;
  height: 36px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.inbox-menu-userName {
  height: 18px;
  font-weight: 700;
}

.inbox-menu-time {
  color: #aaa;
  font-family: "PT Serif";
  font-size: 12px;
  font-style: italic;
  line-height: 15px;
  position: relative;
  padding-left: 18px;
  margin-top: 6px;
}

.inbox-menu-time:before {
  content: ' ';
  width: 12px;
  height: 12px;
  left: 0px;
  top: 0px;
  position: absolute;
  background-image: url("/images/icons/icon-clock.svg");
}

.inbox-menu-close {
  position: absolute;
  left: 264px;
  top: 33px;
  font-size: 23px;
  color: #757575;
}

.inbox-dropdown-caret {
  left: 221px;
  top: -13px;
  font-size: 36px;
  color: white;
  position: absolute;
}

.inbox-dropmenu-container {
  max-height: 609px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.22);
  margin-top: 10px;
  border-top: 1px solid rgba(49, 63, 82, 0.14);
}

.inbox-dropmenu-trigger {
  height: 50px;
  width: 40px;
  background: transparent;
  margin: -10px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
}

.h-dd-inbox-container {
  right: -72px;
}

.inbox-view-messages {
  color: #50baa8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align:center;
  cursor:pointer;
  width:312px;
  height:47px;
  padding-top:12px;
  border-top: 1px solid rgba(49, 63, 82, 0.14);
}
.inbox-view-messages:hover {
  background: #50baa8;
  color:white;
}

#inbox-header-msgList {
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  color: #666666;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  max-height: 545px;
}

.inbox-empty-text {
  width: 361px;
  height: 90px;
  color: #6d6d6d;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 30px;
  margin: 40px auto 0px;
  text-align: center;
}

#inbox-header {
  height: 76px;
  position: relative;
}

.conversation-request-icon {
  position: absolute;
  right: 15px;
  top: 50px;
  font-size: 18px;
  color: #707070;
}

.last-message-status {
  position: absolute;
  right: 16px;
  top: 48px;
  color: white;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  background-color: #1a2a6a;
  border-radius: 4px;
  padding: 1px 4px;
}

.send-message-success-alert {
  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.57px;
}

.send-message-success-alert .icon-check {
  font-size: 23px;
  position: absolute;
  left: calc(50% - 140px);
  top: 33px;
}
