.inm-parent {
  height: 100%;
  overflow: auto;
}

.inm-header {
  background-image: linear-gradient(219deg, #142066 0%, #7cdabf 100%);
  margin-top: -20px;
}

.inm-headerTitle {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.46px;
  line-height: 28px;
  padding-top: 79px;
  padding-bottom: 79px;
}

.inm-subTitle {
  text-align: center;
  margin-bottom: 32px;
}

.inm-componentContainer {
  position: relative;
  width: 900px;
  height: auto;
  margin: 40px auto 0px;
  min-height: 600px;
}

.inm-systemContainer {
  position: relative;
  height: auto;
  margin: 0px auto 24px;
  background: #fff;
}

.inm-navSystem {
  text-align: center;
  margin-top: 35px;
  padding-bottom: 35px;
}

.inm-individualContainer {
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
}

.inm-navLinkHolder {
  position: relative;
  display: inline-block;
  width: 130px;
}
/*.inm-navLinkHolder:hover {
  cursor: pointer;
}*/
.inm-navLinkTxt {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.83px;
}

.inm-numberCircle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: transparent;
  padding-top: 2px;
  margin: 16px auto 0px;
  color: #fff;
  cursor: default;
  border: 2px solid #fff;
}
.inm-numberCircle-active {
  background-color: white;
  color: #599ba1;
}
.inm-number {
  font-size: 12px;
  font-weight: 700;
  color: inherit;
}
.inm-number-active {
  color: #599ba1;
}
.inm-linkHr {
  position: absolute;
  width: 68px;
  color: #e1e1e1;
  bottom: -9px;
  left: -34px;
}
.inm-nav-checkmark {
  font-size: 10px;
  color: #599ba1
}

.inm-linkHr {
  position: absolute;
  width: 68px;
  color: #fff;
  bottom: -9px;
  left: -34px;
}
.inm-footer {
  border-top: 1px solid #e1e1e1;
  clear: both;
  margin-top: 10px;
  background: #fff;
  width: 100%;
}

.inm-footerCancelBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 32px;
  float: right;
}

.inm-footerCancelBtn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #707070;
}

.inm-footerBtnHolder {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.inm-header {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 28px;
  margin-bottom: 32px;
}

.inm-subtext {
  color: #5c5f62;
  font-size: 18px;
  font-weight: 400;
  width: 234px;
  margin: 32px auto;
}

.inm-creationContainer {
  margin: 0px auto 60px;
  width: 351px;
  text-align: left;
}

.inm-memberContainer {
  width: 465px;
  margin: 0px auto 48px;
  text-align: left;
}

.inm-memberBox {
  border: 1px solid #ccc;
  padding: 24px 0px;
  width: 612px;
  margin: 0px auto 30px;
}

.inm-boxText {
  color: #39393a;
  font-size: 16px;
  font-weight: 400;
  display: inline;
}

.inm-checkmark {
  color: #599ba1;
  margin-right: 10px;
}
