.settings-gDrive-icon {
  width: 30px;
  height: 30px;
  margin-right: 16px;
  display: inline-block;
}

.settings-gDrive-title {
  font-size: 24px;
  color: #707070;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  margin-top: 3px;
}

.settings-gDrive-text {
  font-size: 16px;
  color: #707070;

}

.card-account-uploadLoading {
  position: static;
  width: inherit;
  height: inherit;
  background: transparent;
  padding-top: 30px;
}

.settings-gDrive-lastConn {
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}

.settings-gDrive-desc {
  margin-top: 30px;
  line-height: 24px;
}

.settings-gDrive-accTitle {
  font-weight: 400;
  font-size: 24px;
  color: #707070;
}

.c-integration-consumerName {
  display: inline-block;
  font-size: 16px;
  color: #707070;
  margin-top: 8px;
  vertical-align: top;
}

.settings-integration-switch {
  margin-top: 0px;
  margin-bottom: 0px;
}

.settings-integration-folder {
    display: inline-block;
    font-size: 16px;
    color: #707070;
}

.settings-integration-folderIcon {
  color: #599ba1;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 8px;
}

.settings-integration-trashIcon {
  float: right;
  margin-right: 40px;
  font-size: 21px;
  cursor: pointer;
  color: #707070;
}

.settings-integration-trashIcon:hover {
  color: #599ba1;
}
