/**
 * Code for FileUpload block, any new code please place
 *in respective location. If unsure please place above
 *and it will be discussed in review
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

/*Is this spcific to blocks or will it be in widgets as well??*/


.e-widget {
  position:relative;
  background: #fff;
  overflow: hidden;
  height: 300px;
}

.e-widget-header {
  background: #fff;
  position:relative;
}

.e-widget-content {
  background: whitesmoke;
  position:relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.e-widget-status {
  height: 196px;
  width: 264px;
  padding: 30px;
}

.e-widget-label {
  height: 26px;
  background-color: white;
  border-radius: 4px 0;
  color: #363a3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 13px 0 15px;
}

.e-widget-loading {
  width: 175px;
  height: 155px;
  background: #f7f7f7;
  position:relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  text-align: center;
}

.e-widget-footer {
  background: #fff;
  text-align: center;
  position: relative;
  padding: 4px;
  height: 132px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.e-widget-auditTitle {
  color: #6d6d6d;
  font-size: 24px;
  letter-spacing: 0.67px;
  padding-top: 26px;
  font-family: Lato;
  font-weight: 400;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.e-widget-dateUpdated {
  color: #8e8e8e;
  font-size: 14px;
  letter-spacing: 0.39px;
  font-weight: 400;
  line-height: 17px;
}

.e-widget-options {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: rgba(255,255,255, 0.9);
  z-index: 102;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.e-widget-filetype-container {
  width: 175px;
  height: 155px;
  text-align: center;
  background: #F7F7F7;
}

.e-widget-option-engagement {
  z-index: 102;
  margin: 69px auto;
  width: 184px;
  height: 42px;
  display: block;
  color: #599ba1;
  background: transparent;
  border: 1px solid #599ba1;
  border-radius: 2px;
  outline: none;
}
.e-widget-option-engagement:hover {
  color: #599ba1;
  border: 2px solid #599ba1;
  background: transparent;
}

.e-widget-title-text {
  font-weight: 400;
  color: #363a3c;
  position: relative;
  top: 0px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.e-widget-date-text {
  font-weight: 400;
  color: #87909a;
  position: relative;
  top: 12px;
  font-size: 12px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.e-widget-step {
  position:absolute;
  top:0px;
  left:0px;
  z-index: 102;
  padding: 3px 15px 6px;
  background: #50baa8;
  color: #fff;
}

.e-widget-people-container {
  height: 42px;
  position: relative;
  top: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.e-widget-randomImg {
  width: 136px;
  height: 136px;
  border-radius: 68px;
  opacity:1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.e-widget-photo { width: 40px; float: right; margin-left: 5px; border-radius: 20px; }

.e-widget-footer img{
  position: absolute;
  right: 11px;
  bottom: 9px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.e-widget-footer-client-name{
  position: fixed;
  background-color: white;
  border: 1px solid rgba(92, 212, 191, 0.25);
  border-radius: 19px;
  color: #363a3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 8px 14px 9px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.e-widget-option-engagement-more{
  position: absolute;
  right: 6px;
  top: 0px;
  color: #707070;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
.e-widget-upload-logo-btn{
  width: 119px;
  height: 32px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 6px 9px 7px 17px;
  color: #363a3c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}

/**** widget hover styling ****/
.e-widget:hover .e-widget-title-text {
  opacity: 0.5;
  top: 80px;
}

.e-widget:hover .e-widget-date-text { top: -28px; }

.e-widget:hover .e-widget-people-container { top: -32px; }

.e-widget:hover .e-widget-footer {
  -webkit-transform: translateY(-28px);
  transform: translateY(-28px);
}

.e-widget:hover .e-widget-content .e-widget-options,
.e-widget:hover .e-widget-footer img{
  opacity: 1;
}
.e-widget:hover .e-widget-randomImg {
  opacity: 0.5;
}

.e-widget-option-buttons {
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.e-widget-option-buttons:hover { color: #599ba1; }
