.c-notifications-title {
  padding: 3px 20px 0px 0px;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 19px;
}
.c-notifications-hr {
  width: 900px;
  margin:0px 0px 0px 0px;
}
.c-notifications-colorBox {
  width: 20px;
  height: 20px;
  margin: 12px 0px 0px 0px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.c-notifications-addDeviceBtn {
  width: 132px;
  height: 14px;
  border: 1px solid transparent !important;
  border-radius: 4px;
  margin: 48px 0px 32px -12px;
  line-height: 19px;
  font-weight: bold;
}
.c-notifications-addDeviceBtn:focus {
  outline: 0;
}
.c-notifications-mainBtn {
  float: right;
  margin-top: -13px;
  padding: 12px 23px;
}
.c-notifications-cardNote {
  width: 760px;
  color: #757575;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 22px;
  padding-left: 0px;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: 4px;
}

.c-notifications-cardSubNote {
  width: 651px;
  height: 19px;
  color: #535353;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding-left: 18px;
}

.c-notifications-subHeader {
  margin-bottom: 27px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 500;
  color: #535353;
}

.c-notifications-notifiedType {
  width: 651px;
  height: 19px;
  color: #757575;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding-left: 36px;
  margin-top: 22px;
  margin-bottom: 38px;
}


.c-notifications-divDevice {
  height:55px;
  margin-top:15px;
  position: relative;
}
.c-notifications-deviceImg {
  width:58px;
}
.c-notifications-nameHolder {
  display: inline-table;
  font-weight: 400;
  color: #757575;
  position: absolute;
  top: 9px;
  margin-left: 28px;
}
.c-notifications-deviceName {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 17px;
  display: block;
}

.c-notifications-deviceCustomName {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 19px;
}
.c-notifications-viewDeviceBtn {
  margin-right: 26px;
  width: 102px;
  height: 42px;
  border: 1px solid #599ba1 !important;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  padding: 0;
}
.c-notifications-viewDeviceBtn:hover {
  background: #599ba1;
  color: #fff;
}
.c-notifications-viewDeviceBtn:focus {
  outline:none;
}
.c-notifications-deviceViewImg {
  display: block;
  margin: 49px auto 33px;
  height: 123px;
}
.c-notifications-viewCustomName {
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  display: block;
}
.c-notifications-deviceInfo {
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-top: 8px;
}
.c-notifications-viewDisconnectButton {
  color: #50baa8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  height:40px;
  width: 180px;
  border: 1px solid #599ba1 !important;
  border-radius: 2px;
  margin-top: 30px;
}
.c-notifications-viewDisconnectButton:hover {
  background: #599ba1;
  color: #fff;
}
.c-notifications-viewDisconnectButton:focus {
  outline: none;
}

.c-notifications-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 712px;
  margin-top: 20px;
}

.c-notifications-switch input {display:none;}

.checkboxSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.checkboxSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .checkboxSlider {
  background-color: #5CD4C0;
}

input:focus + .checkboxSlider {
  box-shadow: 0 0 1px #5CD4C0;
}

input:checked + .checkboxSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.checkboxSlider.round {
  border-radius: 34px;
}

.checkboxSlider.round:before {
  border-radius: 50%;
}

.notifications-type-text{
  width: 333px;
  color: #535353;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding-left: 48px;
  margin-top: -32px;
  margin-bottom: 25px;
}
.notifications-type {
  height: 76px;
}
.notifications-type:hover{
  background: #f5f5f5;
  border-color: #f5f5f5;
}

.c-notifications-midHr {
  color: #e1e1e1;
  margin: 0px;
  width: 800px;
}
