.welcome-envelope {
  display: block;
  margin: 8px auto 0px;
}

.welcome-boxHolder {
  margin: 25px auto;
  display: table;
}

.welcome-label {
  color: #707070;
  font-size: 16px;
  line-height: 24px;
  margin: 25px auto 6px;
}

.welcome-boxDiv {
  display: inline-block;
  height: 67px;
  min-width: 381px;
  padding: 7px 18px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #4A4A4A;
  font-size: 16px;
  vertical-align: middle;
}

.welcome-logo {
  height: 51px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.welcome-names {
  display: inline;
}

.welcome-bold {
  font-weight: bold;
}

.welcome-engagementName {
  margin-top: 15px !important;
}
