.onboardAcc-selectLogo {
  height: 47px;
  width: 55px;
  float: left;
  text-align: center;
  padding-top: 5px;
}
.onboardAcc-sapImg {
  padding-top: 11px;
}

.onboardAcc-xeroImg {
  padding-top: 4px;
}
.accounting-modal-Btn {
  min-width: 128px;
  margin-left: 4px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 40px;
}
.accounting-modal-cancelBtn {
  background-color: #e1e1e1;
  color: #707070;
  margin-right: 4px;
}
.accounting-modal-text {
  width: 341px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 56px;
}
.accounting-modal-btnDiv {
  margin: 40px auto;
}
