.del-req-file-container{
  text-align: center;
}

.del-req-file-tip{
  margin: 48px auto;
  width: 341px;
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
