.deleting-message-Container{
  margin :23% auto !important;
  width: 457px;
  height: 247px;
}
.deleting-message-bodyContainerOne,.deleting-message-bodyContainerTwo,.deleting-message-bodyContainerThree{
  width: 100%;
  height: 82px;
}
.deleting-message-bodyContainerOne{
  padding-top: 41px;
  background: -webkit-linear-gradient(270deg,white 55%, #4a4a4a 180%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deleting-message-bodyContainerTwo{
  padding-top: 21px;
}
.deleting-message-bodyContainerThree{
  padding-bottom: 41px;
  background: -webkit-linear-gradient(90deg,white 55%, #4a4a4a 160%);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
}
.message-bodyContainerOne{
  padding-top: 41px;
  background: -webkit-linear-gradient(270deg,white 55%, #4a4a4a 180%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message-bodyContainerThree{
  padding-bottom: 41px;
  background: -webkit-linear-gradient(90deg,white 55%, #4a4a4a 160%);
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
}
.deleting-message-bodyTextOne,.deleting-message-bodyTextThree,.deleting-message-bodyTextTwo{
  float:left;
  width: 383px;
  height: 40px;
  color: #4a4a4a;
  font-family: Lato;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.46px;
  line-height: 40px;
  text-align: left !important;
  padding-left: 20px;
}
.deleting-message-bodyTextThree{
  width: 100% !important;
  padding-left: 50px;
}
.deleting-message-select-icon{
  padding: 17px 0px 17px 17px;
 opacity: 0.3;
}
.deleting-message-select-iconTwo{
  padding: 17px 0px 17px 17px;
}
