
.bankInt-preloader {
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff;
  margin: 50px auto;
}

.bankInt-subText {
  color: #363A3C;
  font-size: 16px;
}

.bankInt-loginDiv {
  display: block;
  width: 226px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 57px;
  padding-bottom: 72px;
  text-align: left;
}

.bankInt-forgot, .bankInt-forgot:hover  {
  color: #599ba1;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 8px;
}

.bankInt-label {
  text-align: left;
  margin-top: 31px;
  margin-bottom: 6px;
  color: #363A3C;
  font-size: 16px;
}

.bankInt-input {
  width: 226px;
}

.bankInt-successImg {
  height: 104px;
  width: 156px;
  margin-top: 60px;
}

.bankInt-successTxt {
  color: #6D6D6D;
  font-size: 16px;
  line-height: 24px;
  margin: 54px auto 0px;
  width: 341px;
}

.bankInt-failImg {
  height: 104px;
  width: 156px;
  margin-top: 24px;
}

.bankInt-failTxt {
  color: #FC8A5D;
  font-size: 18px;
  margin-top: 43px;
}

.bankInt-failTxtTwo {
  color: #6D6D6D;
  font-size: 16px;
  line-height: 24px;
  width: 337px;
  margin: 23px auto 0px;
}

.bankInt-checkDiv {
  display: block !important;
  font-size: 16px !important;
  color: #363A3C;
  padding: 30px 20px;
}
.bankInt-checkDiv:hover {
  background: #F6F6F6;
}

.bankInt-accountSection {
  text-align: left;
  height: 340px;
  overflow: auto;
}

.bankInt-accountLabel {
  text-align: left;
  padding-top: 1px;
}

.bankInt-checkInput {
  margin-top: 29px !important;
}

.bankInt-secondBtnHolder {
  position: absolute;
  bottom: 0px;
  padding: 23px 0px;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid rgba(151,151,151,0.29);
  margin-left: 20px;
}

.bankInt-secondBtns, .bankInt-secondBtns:hover {
  color: #707070;
  cursor: pointer;
}

.bankInt-back {
  float: left;
}

.bankInt-next {
  float: right;
}

.bankInt-exitIcon {
  position: absolute;
  right: 16px;
  top: -84px;
  z-index: 3;
}
.bankInt-exitIcon:hover {
  cursor: pointer;
}

.bankInt-exitImg {
  margin: 45px auto 32px;
}

.bankInt-exitText {
  width: 329px;
  margin: 0px auto;
}

.bankInt-securitySection {
  width: 253px;
  margin: 15px auto 0px;
  text-align: left;
}

.bankInt-securityTxt {
  color: #6d6d6d;
  font-size: 18px;
  margin-top: 30px
}

.bankInt-securityLabel {
  margin-top: 16px;
}

/* Preloader Spinner */
.spinner {
  opacity: 0.9;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.spinner:after,
.spinner:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-radius: 100%;
  -webkit-animation: rotate 1s linear infinite;
  animation: rotate 1s linear infinite;
}
.spinner:before {
  width: 40px;
  height: 40px;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.land-spinnerBtn:before{
  width: 25px;
  height: 25px;
}
.land-spinnerBtn:after{
  width: 25px;
  height: 25px;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
