.c-devices-title {
  padding: 3px 20px 0px 0px;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 19px;
}
.c-devices-hr {
  width: 862px;
  margin: 22px -3px;
}
.c-devices-colorBox {
  width: 20px;
  height: 20px;
  margin: 12px 0px 0px 0px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.c-devices-addDeviceBtn {
  width: 132px;
  height: 14px;
  border: 1px solid transparent !important;
  border-radius: 4px;
  margin: 48px 0px 32px -12px;
  line-height: 19px;
  font-weight: bold;
}
.c-devices-addDeviceBtn:focus {
  outline: 0;
}
.c-devices-mainBtn {
  float: right;
  margin-top: -13px;
  padding: 12px 23px;
}
.c-devices-numDevices {
  width: 600px;
  height: 19px;
  color: #757575;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding-left: 0px;
  margin-top: 22px;
  margin-bottom: 38px;
}
.c-devices-divDevice {
  height:55px;
  margin-top:15px;
  position: relative;
}
.c-devices-deviceImg {
  width:58px;
}
.c-devices-nameHolder {
  display: inline-table;
  font-weight: 400;
  color: #757575;
  position: absolute;
  top: 9px;
  margin-left: 28px;
}
.c-devices-deviceName {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 17px;
  display: block;
}

.c-devices-deviceCustomName {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 19px;
}
.c-devices-viewDeviceBtn {
  margin-right: 26px;
  width: 102px;
  height: 42px;
  border: 1px solid #599ba1 !important;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: bold;
  padding: 0;
}
.c-devices-viewDeviceBtn:hover {
  background: #599ba1;
  color: #fff;
}
.c-devices-viewDeviceBtn:focus {
  outline:none;
}
.c-devices-deviceViewImg {
  display: inline-block;
  margin: 47px 40px 0;
  float: left;
  height: 86px;
  max-width: 120px;
}
/* *** Please don't delete yet. ***
   *** when I get new images cropped nicely, might use this ***
.c-devices-deviceViewImg {
    display: inline-block;
    margin: 26px 1px 0;
    float: left;
    height: auto;
    max-height: 113px;
    padding: 17px 31px 0px;
}
*/

.c-devices-viewCustomName {
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  display: block;
}
.c-devices-deviceInfo {
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: table-cell;
  text-align: left;
  padding: 8px;
}

.c-devices-viewDisconnectButton {
  color: #50baa8;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  height:40px;
  width: 180px;
  border: 1px solid #599ba1 !important;
  border-radius: 2px;
  margin-top: 30px;
}
.c-devices-viewDisconnectButton:hover {
  background: #599ba1;
  color: #fff;
}
.c-devices-viewDisconnectButton:focus {
  outline: none;
}
