.w-mc-title{
  margin:18px 0px 24px 20px;
  color: #314052;
  font-size: 18px;
  font-weight: 400;
}
.w-mc-name {
  color: #636363;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  padding-top:13px;
  letter-spacing: 0.8px;
  margin-bottom: 5px
}
.w-mc-company {
  color: #6b6b6b;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family:"Lato";
  text-align: center;
  margin-bottom: 5px;
}
.w-mc-companyEmpty {
  margin-bottom: 27px;
}

.w-mc-inviteBtn{
  color: #50baa8;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  background-color: white;
  border-radius: 4px;
  width: 177px;
  height: 40px;
  border: 1px solid #599ba1;
  margin-top: 5px;
}

.w-mc-inviteBtn:hover {
  background: #599ba1;
  color: #fff;
}

.w-mc-settings {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  width: 280px;
}

.widgetContent:hover .w-mc-gear {opacity: 1;}
.w-mc-menu {
  background: #fff;
  width: 419px;
  height: 80px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.32);
  padding: 10px 16px;
}

.w-mc-emailText {
  color: #979797;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 10px;
  display: block;
  margin: 0px 0px 5px;
}

.w-mc-emailInput {
  display: inline-block;
  width: 211px;
  height: 40px;
  border: 1px solid #599ba1;
  margin-right: 13px;
  padding: 13px 16px;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  outline: none;
}

.w-mc-emailBtn {
  display: inline-block;
  width: 163px;
  height: 40px;
  background: #fff;
  border: 1px solid #599ba1;
  margin-bottom: 4px;
  color: #599ba1;
}


.w-mc-settingsContainer {
  position: relative;
  margin-top: -8px;
  max-height: 0px;
  overflow: hidden;
  padding: 0 2px 2px;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s;
  z-index: 2;
  left: 200px;
  top: -5px;
}

.w-mc-menuContainer {
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  left: 65%;
  width: 50%;
  position: absolute;
  text-align: center;
  top: 82%;
  margin-bottom: 0px;
}

.w-mc-hoverConnector {
  background: transparent;
  width: 419px;
  height: 15px;
  z-index: 1;
  text-align: center;
}
.w-mc-displaySettings {
  max-height: 600px;
  display: block;
}
.w-mc-profilePicture{
  display: block;
  width: 76px;
  height: 76px;
  margin: auto;
  vertical-align: top;
  object-fit: cover;
  border-radius: 100%;
}
.w-mc-settingsMenuContainerOption {
  color: #363a3c;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  margin: 0;
  padding: 5px;
}
.w-mc-settingsMenuContainerOption:hover {
  background-color: #e1e1e1;
}
.w-mc-DivExistsImgDot{
  margin-top:10px;
  position: absolute;
  top: 27%;
  left: 57%;
  border: 2px solid white;
  border-radius: 50%;
}
.w-mc-DivExistsImgDot{
  margin-top:10px;
  position: absolute;
  top: 27%;
  left: 57%;
  border: 2px solid white;
  border-radius: 50%;
}
.w-mc-DivExistsStatus{
  position: absolute;
  top: 18%;
  left: 41%;
}
.w-mc-DivExistsStatusText{
  position: absolute;
  top: 18%;
  left: 30%;
  color: #363a3c;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
