.module-fm-filter {
  display: inline-block;
  color: rgb(214, 92, 51); /*#fff;*/
  font-size: 11px;
  padding: 0px 8px;
  border-radius: 3px;
  border-color: #fff;
}

.fm-filter-clear:empty {
  border: none !important;
  box-shadow:none !important;
}
