/**
 * This is the root css file for Bay Street Labs project Auvenir. This file is
 * to be used by all Auvenir pages. This way any changes made here will affect
 * all the things and we will not have to * worry about keeping the
 * "style guide" updated.
 * Please follow BSL coding standards:
 * https://github.com/BayStreetLabs/Auvenir/wiki/BSL-Coding-Standards
 * Trevor Primett
 * Last updated: Jan 15 2016
 */

/*@OLD? denotes code that may not be used anymore and needs to be tested */
/*@CHANGE donates code that needs to be reworked to conform to code standards
 * or moved to new location*/

/*------------------------------------------------------------------------------
Table of Contents
@Fonts
@Colors
@Background
@Typography
@Buttons
@FormElements
@Checkboxes
@Response
@Tooltip
@Dashboard
@Utility
@Dropdown_Menu
@Scroll
@Calendar (SelectDate)
@Tooltip

/*@Fonts ---------------------------------------------------------------------*/
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*background: #fff;*/
}

@charset "UTF-8";

@font-face {
  font-family: "auvenir-font";
  src:url("../fonts/auvenir/auvenir-font.eot");
  src:url("../fonts/auvenir/auvenir-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/auvenir/auvenir-font.woff") format("woff"),
    url("../fonts/auvenir/auvenir-font.ttf") format("truetype"),
    url("../fonts/auvenir/auvenir-font.svg#auvenir-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "auvenir-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="auvicon-"]:before,
[class*=" auvicon-"]:before {
  font-family: "auvenir-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auvicon-arrow-back:before {
  content: "\e000";
}
.auvicon-forward:before {
  content: "\e001";
}
.auvicon-breadcrumb:before {
  content: "\e002";
}
.auvicon-calendar:before {
  content: "\e003";
}
.auvicon-camera:before {
  content: "\e004";
}
.auvicon-caution:before {
  content: "\e005";
}
.auvicon-checkmark:before {
  content: "\e006";
}
.auvicon-chevron-down:before {
  content: "\e007";
}
.auvicon-circle-1:before {
  content: "\e008";
}
.auvicon-circle-2:before {
  content: "\e009";
}
.auvicon-circle-3:before {
  content: "\e00a";
}
.auvicon-circle-4:before {
  content: "\e00b";
}
.auvicon-circle-5:before {
  content: "\e00c";
}
.auvicon-circle-6:before {
  content: "\e00d";
}
.auvicon-circle-7:before {
  content: "\e00e";
}
.auvicon-circle-9:before {
  content: "\e00f";
}
.auvicon-circle-checkmark:before {
  content: "\e010";
}
.auvicon-drag:before {
  content: "\e012";
}
.auvicon-edit:before {
  content: "\e013";
}
.auvicon-file:before {
  content: "\e016";
}
.auvicon-folder:before {
  content: "\e017";
}
.auvicon-gear:before {
  content: "\e018";
}
.auvicon-line-activity:before {
  content: "\e019";
}
.auvicon-line-attach:before {
  content: "\e01a";
}
.auvicon-line-business:before {
  content: "\e01b";
}
.auvicon-line-circle-1:before {
  content: "\e01c";
}
.auvicon-line-circle-2:before {
  content: "\e01d";
}
.auvicon-line-circle-3:before {
  content: "\e01e";
}
.auvicon-line-circle-4:before {
  content: "\e01f";
}
.auvicon-line-circle-5:before {
  content: "\e020";
}
.auvicon-line-circle-6:before {
  content: "\e021";
}
.auvicon-line-circle-7:before {
  content: "\e022";
}
.auvicon-line-circle-8:before {
  content: "\e023";
}
.auvicon-circle-8:before {
  content: "\e024";
}
.auvicon-line-circle-9:before {
  content: "\e025";
}
.auvicon-line-circle-add:before {
  content: "\e026";
}
.auvicon-line-circle-checkmark:before {
  content: "\e027";
}
.auvicon-line-circle-ex:before {
  content: "\e028";
}
.auvicon-line-clock:before {
  content: "\e029";
}
.auvicon-line-download:before {
  content: "\e02a";
}
.auvicon-line-file:before {
  content: "\e02b";
}
.auvicon-line-folder:before {
  content: "\e02c";
}
.auvicon-line-home:before {
  content: "\e02d";
}
.auvicon-line-requests:before {
  content: "\e02e";
}
.auvicon-line-search:before {
  content: "\e02f";
}
.auvicon-line-standardlist:before {
  content: "\e030";
}
.auvicon-line-subrequest:before {
  content: "\e031";
}
.auvicon-line-user:before {
  content: "\e032";
}
.auvicon-messages:before {
  content: "\e033";
}
.auvicon-more:before {
  content: "\e034";
}
.auvicon-notifications:before {
  content: "\e035";
}
.auvicon-sort-down:before {
  content: "\e036";
}
.auvicon-spinner:before {
  content: "\e037";
}
.auvicon-trash:before {
  content: "\e038";
}
.auvicon-add:before {
  content: "\e039";
}
.auvicon-icon-camera:before {
  content: "\e03e";
}
.auvicon-ex:before {
  content: "\e044";
}
.auvicon-ex-large:before {
  content: "\e045";
}
.auvicon-sort-up:before {
  content: "\e05b";
}
.auvicon-line-cloud-upload:before {
  content: "\e05e";
}
.auvicon-circle-ex:before {
  content: "\e011";
}
.auvicon-team:before {
  content: "\e014";
}
.auvicon-file-empty:before {
  content: "\e015";
}
.auvicon-side-menu:before {
  content: "\e03a";
}
.auvicon-line-circle-more:before {
  content: "\e03b";
}

/*@Colors --------------------------------------------------------------------*/

/*Primary*/
.priBG {background: #599ba1;}
.priColor {color: #599ba1;}

.priBG-light {background: #6effe7;}
.priColor-light {color: #6effe7;}

.priBG-dark {background: #45a191;}
.priColor-dark {color: #45a191;}

/*Secondary*/
.secBG {background: #1b2b6b;}
.secColor {color: #1b2b6b;}

.secBG-light {background: #283f9e;}
.secColor-light {color: #283f9e;}

.secBG-dark {background: #0e1638;}
.secColor-dark {color: #0e1638;}

/*Tertiary*/
.terBG {background: #d95b29;}
.terColor {color: #d95b29;}

.terBG-light {background: #fc8a5d;}
.terColor-light {color: #fc8a5d;}

.terBG-dark {background: #bf5024;}
.terColor-dark {color: #bf5024;}

/*Dark Grey*/
.darkgreyBG {background: #515151;}
.darkgreyColor {color: #515151;}

.darkgreyBG-light {background: #767676;}
.darkgreyColor-light {color: #767676;}

.darkgreyBG-dark {background: #323232;}
.darkgreyColor-dark {color: #323232;}

/*Light Grey*/
.lightgreyBG {background: #dbe3e8;}
.lightgreyColor {color: #dbe3e8;}

.lightgreyBG-light {background: #edf0f2;}
.lightgreyColor-light {color: #edf0f2;}

.lightgreyBG-dark {background: #a7b7c2;}
.lightgreyColor-dark {color: #a7b7c2;}





/*@Background-----------------------------------------------------------------*/

/*Container white background*/
.blockPriBG {background: #fff; border: 1px solid #979797; border-radius: 5px;}

/*Container `grey` background*/
.blockSecBG {background: #fafafa; border: 1px solid #979797; border-radius: 5px;}

/*Gradient 1*/
.priGradient {
  background-image: linear-gradient(-135deg, #142166 0%, #67b4ac 87%, #7cdabe 100%);
}

/*Gradient 2*/
.secGradient {
  background-image: linear-gradient(-219deg, #142166 3%, #7cdabe 100%);
}

.bodyBgAuvenir {
  background: -webkit-gradient(linear, right top, left top, color-stop(3%, #142166), to(#518d9a));
  background: linear-gradient(270deg, #142166 3%, #518d9a 100%);
}


/*@Typography-----------------------------------------------------------------*/

body {
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #314052;;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 { font-family: 'Lato-Bold', Helvetica, sans-serif; font-weight: 700; font-size: 80px; line-height: 88px; }

h2 { font-family: 'Lato', Helvetica, sans-serif; font-size: 40px; line-height: 48px; }

h3 { font-family: 'Lato', Helvetica, sans-serif; font-weight: 300; font-size: 26px; line-height: 32px; color: #363a3c; }

/* Text for checkboxes */
.checkmarkText {
  color: #363a3c;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  width: 424px;
  font-weight: 300;
  line-height: 24px;
  margin-top: -2px;
}

/* OVERWRITE of font awesome to make icons a smidge smaller and add padding for positioning*/
.faSmall { font-size: 0.8em; padding: 0px 8px; }
.faAlert { font-size: 1.3em; padding: 0px 10px; vertical-align: text-top; }

/*@Buttons--------------------------------------------------------------------*/

.btn {
  background: #5cd4c0;
  border-radius: 2px;
  color: #fff;
  outline: none;
  border: none;
}
.btn:hover { background: #45a191; color:#fff; }
.btn:active { background: #63e6d0; color:#fff; }
.btn:focus { background: #5cd4c0; color:#fff; }

.btn.btnError { color: #f3672f; background: transparent; border: 1px solid #f3672f; }
.btn.btnError:hover { background: #f3672f; color: #fff; }
.btn.btnError:active { background: #bf5024; }

.btn-lg-wide {
  height: 60px;
  width: 338px;
  border-radius: 6px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 20px;
}

.btn-lg-wide.ghost {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.btn-lg {
  height: 60px;
  width: 168px;
  font-family: 'Lato-Bold', Helvetica, sans-serif;
  font-size: 16px;
}

.btn-lg.ghost { border: 1px solid #5c9b9b; color: #5cd4c0; background: transparent; }

.btn-m {
  width: 185px;
  height: 50px;
  border: 1px solid #d0d2d1;
  border-radius: 2px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
  background: none;
}

.btn-sm-wide { height: 36px; width: 245px; font-family: 'Lato', Helvetica, sans-serif; font-size: 16px; }

.btn-sm-wide.ghost {
  border: 1px solid rgba(92,212,191,0.41);
  background: none;
  color: #5cd4c0;
}

.btn-sm { height: 36px; width:136px; font-family: 'Lato-Bold', Helvetica, sans-serif; font-size: 14px; }

.btn-sm.ghost {
  border: 1px solid rgba(92,212,191,0.44);
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  color: #5cd4c0;
  background: none;
}

.btn-sm-nav{/* Previous: */
  border: 1px solid #979797;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 14px;
  color: #979797;
  background: none;
}

.btn-sm-add{/* Add Address */
  border: 1px solid #d0d2d1;
  font-family: 'Lato-Bold', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #4a4a4a;
  background: none;
}

.btn-sm-assign{/* Assign To: */
  border: 1px solid #d0d2d1;
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 14px;
  color: #666;
  background: none;
}

.btn-tiny { width: 100px; height: 36px; }

/*@Buttons from components-------------------------------------*/
.auvbtn {
  padding: 0px 16px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lato', Helvetica, sans-serif;
  outline: #50baa8;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.auvbtn.primary {
  background-color: #599ba1;
  color: #fff;
}

.auvbtn.primarySmall {
  background-color: #599ba1;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  height: 33px
}

.auvbtn.primary:hover, .auvbtn.primarySmall:hover { background: #2c8188; }
.auvbtn.primary:disabled, .auvbtn.primarySmall:disabled { opacity: 0.4; }

.auvbtn.secondary {
  background-color: #979393;
  color: #fff;
}
.auvbtn.secondary:hover { background: #707070; }
.auvbtn.secondary:disabled { opacity: 0.4; }

.auvbtn.default {
  border: 1px solid #dedede;
  background: transparent;
  color: #757575;
}
.auvbtn.default:hover { background: #707070; border: 1px solid #707070; color:#fff; }
.auvbtn.default:disabled { opacity: 0.4; }

.auvbtn.light {
  background: #F6F6F6;
  color: #707070;
}
.auvbtn.light:hover { background: #DBDBDB; }
.auvbtn.light:disabled { opacity: 0.4; }

.auvbtn.warning {
  background: #f16739;
  color: #fff;
}
.auvbtn.warning:hover { background: #d95b29; }
.auvbtn.warning:disabled { opacity: 0.4; }

.auvbtn.ghost {
  border: 1px solid #5cd4c0;
  background: transparent;
  color: #50baa8;
}
.auvbtn.ghost:hover { background: #5cd4c0; color:#fff; }
.auvbtn.ghost:disabled { opacity: 0.4; }

.auvbtn.link {
  background: transparent;
  color: #50baa8;
  padding: 0px 8px;
}
.auvbtn.link:hover { text-decoration: underline; }
.auvbtn.link:disabled { opacity: 0.4; }

.auvbtn.dlink {
  background: transparent;
  color: #707070;
  padding: 0px 8px;
}
.auvbtn.dlink:hover { text-decoration: underline; }
.auvbtn.dlink:disabled { opacity: 0.4; }

.auvbtn.darkblue {
  background: #284477;
  color: #FFF;
  padding: 6px 20px;
}
.auvbtn.darkblue:hover { background: #2b3c56}
.auvbtn.darkblue:disabled { opacity: 0.4; }




/*@FormElements------------------------------------------------*/

/*"block-input-title" for label*/

/*blockSubsectionInputContainer*/
.blockInput-double {
  display: inline-block;
  margin: 0px 10px 20px 0px;
}

/*blockSubsectionInputContainer*/
.blockInput-single {
  display: block;
  margin: 0px 10px 20px 0px;
}

.blockInput {
  width: 222px;
  height: 32px;
  border: 1px solid #dedede;
  border-radius: 2px;
  outline: none;
  padding-left: 4px;
  font-size: 14px;
  color: #314052;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
}
.blockInput:focus { border-color: #5cd4c0; }
.blockInput:hover { -webkit-box-shadow: 0px 0px 4px #5cd4c0; box-shadow: 0px 0px 4px #5cd4c0; }

.blockInput:disabled {
  background: #F8F8F8;
  cursor: not-allowed;
}

.blockInput:disabled:hover { -webkit-box-shadow: 0px 0px 4px #f2f2f2; box-shadow: 0px 0px 4px #f2f2f2; }

.errorBorder { border-color: #f5ae39; }

/*@Checkboxes-----------------------------------------------------------------*/

/* This code overwites the basic checkbox styling */
input[type='checkbox'] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  outline: none;
  margin: 0px 10px -5px 0px;
  float: left;
}
input[type='checkbox']:active,
input[type='checkbox']:checked:active {
  border: 1px solid #fff ;
  outline: none;
}
input[type='checkbox']:checked {
  background: #599ba1;
  border: 1px solid #599ba1;
  color: #fff;
  outline: none;
}
input[type='checkbox'].triCheckbox:checked {
  background: #f3672f;
  border: 1px solid #f3672f;
  color: #fff;
  outline: none;
}
input[type='checkbox']:checked:after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: 2px;
  color: #fff;
  outline: none
}
input[type='checkbox']:focus {
  outline: none;
}

/*
See ".checkmarkText" for label styling
*/





/*@Response---------------------------------------------------------------------*/

.response-bar {
  border-radius: 2px;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-align: left;
  line-height: 46px;
  width: 400px;
  height: 50px;
}

.response {
  /* We won’t share this : */
  font-family: 'Lato', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

/*@Tooltip---------------------------------------------------------------------*/

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*@Dashboard---------------------------------------------------------------------*/

.dashboard {
  width: 100%;
  min-width: 1024px;
  max-width: 1440px;
  background: none;
  border: 0px solid lightgray;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  position: relative;
  display:none
}

.dashboard-offset {
  margin-top:25px;
}

.dashboard-pageNav-container {
  min-width: 1028px;
  max-width: 1440px;
  margin: 0px auto 0px;
  padding: 20px 24px 30px;
}

.dashboard-profile {
  width: 1200px;
  height: 1000px;
  background: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
  position: relative;
}

.dashboard-pageNav {
  display: inline-block;
  padding: 15px 1px 15px 1px;
    margin: 0px 60px 0px 0px;
  color: #858585;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.dashboard-pageNav:hover { cursor: pointer; color: #599ba1; }

.dashboard-pageNav.active {
  border-bottom: 3px solid #599ba1;
  padding: 15px 1px 12px 1px;
  color: #4a4a4a;
}

.engagement-icon {
  font-size: 22px;
  vertical-align: text-bottom;
}

.dashboard-tableBtn {
  cursor:pointer;
  padding:12px 36px;
  color: #5cd4c0;
  border: 1px solid rgba(92, 212, 191, 0.44);
  width: 117px;
  text-align: center;
}




/*@Input---------------------------------------------------------------------*/
.auv-inputTitle {
  font-size: 14px;
  font-weight: 400;
  color: #363a3c;
  margin: 0 0 12px 0;
  width: 461px;
}

.auv-input {
  width: 458px;
  height: 45px;
  padding: 0px 8px;
  margin: -8px 0px 8px;
  color: #363a3c;
  font-size: 16px;
  font-weight: normal;
  font-family:'Lato',Helvetica,sans-serif;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.auv-input:focus { border: 1px solid #50baa8; outline: none; }
.auv-input:hover { border: 1px solid #599ba1; }
.auv-input.auv-error { border: 1px solid rgba(253, 109, 71, 0.4); }

.auv-inputError {
  opacity: 0;
  max-height: 0px;
  font-size: 14px;
  font-weight: normal;
  margin: 0px 0px 16px;
  color: #f3672f;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.auv-inputErrorIcon {
  opacity: 0;
  font-size: 20px;
  position: absolute;
  color: #f3672f;
  /*left: 46px;*/
  /*margin: -71px 0 0 458px;*/
  margin: -73px 0 0 426px;
}
.auv-inputErrorIcon.auv-ddlErrorIcon {
  margin: -62px 0 0 365px;
}
.auv-input.auv-error + .auv-inputError {
  opacity: 1;
  max-height: 17px;
  margin: 0px 0px 16px;
}
.auv-input.auv-error ~ .auv-inputErrorIcon {
  opacity: 1;
}

.auv-chevronDown {
  position: absolute;
  left: 439px;
  margin-top: 6px;
  color: #7d7d7d;
  font-size: 9px;
  pointer-events: none;
}

.auv-input-textArea {
  height: 127px;
  width: 458px;
  padding-top: 5px;
  resize: none;
}

.parent-of-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 74px;
  position: relative;
}

/*@Utility---------------------------------------------------------------------*/
/*Pulled from layout.css*/


.page {
  display: none; /*Bad Things happen if this is removed*/
}

body:before,
body:after,
.module:before,
.module:after {
  content: " " !important;
  display: table !important;
}
body:after,
.module:after {
  clear: both !important;
}
body,
.module {
  *zoom: 1 !important;
}

.scroll {
  margin-top: 114px;
  width: 100%;
  height: calc(100% - 114px);
}

.scroll-190 {
  margin-top: 115px;
  width: 100%;
  height: calc(100% - 139px);
}

.scroll-engagement {
  margin-top: 115px;
  width: 100%;
  height: calc(100% - 115px);
}

.scroll-contacts {
  margin-top: 115px;
  width: 100%;
  height: calc(100% - 139px);
}

.scroll-settings {
  height: 100%;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hide-border {
  border: 0px !important;
}


@-webkit-keyframes out {
  0% {
    left: -100%;
    opacity:1;
  }
  60% {
    left: 100%;
    opacity:1;
  }
  100% {
    left: 100%;
    opacity:.2;
  }
}

@keyframes out {
  0% {
    left: -100%;
    opacity:1;
  }
  60% {
    left: 100%;
    opacity:1;
  }
  100% {
    left: 100%;
    opacity:.2;
  }
}

/*Make page.css for this??*/
/*position*/
.pageHeader {
  position: fixed;
  width: 100%;
  height: 45px;
  background: #fff;
  z-index: 100;
  top: 70px;
  -webkit-box-shadow: 0px 0px 3px #B7B7B7;
          box-shadow: 0px 0px 3px #B7B7B7;
  padding: 0px 24px;
}

.pageHeader-content {
  margin: 0px auto;
  max-width: 1440px;
  height: 45px;
}

.pageHeader-leftContainer { display: inline-block;}

/*.dashboardProfileTitle {*/
.pageHeader-title {
  font-size: 24px;
  color: #636363;
  line-height: 45px;
}
.pageHeader-backButton {
  font-size: 14px;
  padding-top: 9px;
  cursor: pointer;
}

.page-content { width: 1200px; margin: 0px auto 30px; position: relative; }

.wizardBlock-mainHeader {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 19px;
}

.wizardBlock-subHeader {
  font-size: 14px;
  font-weight: 300;
  color: #868b90;
}

/*Empty state audit home page*/

.createAudit-container {
  width: 284px;
  background: #18265f;
  position: relative;
  border-radius: 4px;
  float: right;
  margin-top: 95px;
  right: -227px;
}


.auditBox-caret {
  top: -30px;
  left: 129px;
  color: #18265f;
  font-size: 45px !important;
  position: absolute;
}

.auditBox-mainTxt {
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 12px 28px;
}

.auditBox-dismissContainer {
  height: 56px;
  border-top: 1px solid #131D46;
  text-align: center;
}

.auditBox-dismissTxt {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
}

.auditBox-dismissTxt:hover {
  color: #fff;
  text-decoration: none;
}

.noEngagement-container {
  width: 273px;
  text-align: center;
  margin: 98px auto auto;
}

.noEngagement-txt {
  color: #8f8f8f;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}


/*@Dropdown_Menu----------------------------------------------------------------------*/
.ddlStart{
  height: 40px;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #B5B5B5;
  border-radius: 2px;
}

.ddlStartLink {
  height: 40px;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
}

.ddlLink {
  list-style: none;
  z-index: 200;
  padding: 0;
  margin: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.ddlLinkArrow:after {
  content: url('/images/icons/auvicon-downChevron.svg');
  float: right;
  position: absolute;
  top: -3px;
  right: 8px;
}

.ddlItem {
  width: 100%;
  height: 40px;
}

.ddlLink .ddlItem {
  display: block;
  position: relative;
  float: left;
}

.ddlItem .ddlLink {
  display: none;
}

.ddlText {
  display: block;
  height: 40px;
  min-width: 80px;
  max-width: 399px;
  line-height: 38px;
  font-size: 16px;
  font-weight: normal;
  padding: 0px 24px 0px 8px ;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #363A3C;
}
.ddlText:hover {
  text-decoration: none;
  color: #363A3C;
  background: #e1e1e1;
  cursor: pointer;
}

.ddlItem:hover > .ddlLink {
  display: block;
  position: absolute;
}

.ddlStart .ddlItem .ddlLink .ddlItem {
  border-top: 0;
}

.ddlLeftMenu {
  right: 0;
}

/*This controls weather the menu appears on the right or left*/
.ddlLeftMenu .ddlLeftMenu .ddlLeftMenu {
  right: 100%;
  top: 0;
}
/*
.ddlLeftMenu:nth-child(2n+1) {
  left: 100% !important;
}
*/
/*:nth-of-type(3n+2)*/

.ddlRightMenu {
  left: 100%;
  top: 0;
}

/*@Input_Dropdown_Menu----------------------------------------------------------------------*/
.inputDdl {
  top: 61px;
  width: 457px;
  overflow: auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  max-height: 200px;
  display: none;
  position: absolute;
}
.inputDdl-after {
  display: block;
}
.auv-inputDD {
  cursor:pointer;
  margin-bottom: 0px;
}
.auv-inputDD-container {
  margin-bottom: 22px;
  position: relative;
}
.auv-inputDdl-text {
  max-width: 500px;
  width: 100%;
}
.auv-inputDDL-li {
  background: #fff;
}

/*@Scroll----------------------------------------------------------------------*/

/* these three elements are sized to fit the screen for scroll purposes*/
html, body {
  width: 100%;
}
/* make room for the footer*/
body{
  padding-bottom:40px;
}

/*@Calendar --------------------------------------------------------------------*/
.calendar {
  position: absolute;
  display: block;
  font: 500 0.8em/30px "Lato";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #404040;
}
.calendar .cal-view {
  position: relative;
  float: left;
  background: #fff;
  padding: 10px;
  border-bottom: 3px solid #5cd4c0;
}
.calendar .cal-nav {
  position: absolute;
  top: 10px;
  left: 0px;
  width: calc(100% - 20px);
  height: 10px;
  text-align: center;
  font-size: 1em;
  margin: 0px 10px;
}
.calendar .cal-nav .cal-btn {
  position: absolute;
  display: block;
  z-index: 1;
  cursor: pointer;
  cursor: hand;
  width: 32px;
  height: 32px;
  line-height: 31px;
  top: 0;
  left: auto;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border-radius: 4px;
}
.calendar .cal-nav .cal-btn:hover {
  color: #808080;
  background: #e0e0e0;
  border-color: #606060;
}

.calendar .cal-nav .cal-prev { left: 0; }

.calendar .cal-nav .cal-prev-year {
  opacity: 0;
  left: 32px;
}
.calendar .cal-nav:hover .cal-prev-year {
  opacity: 1;
}
.calendar .cal-nav .cal-next-year {
  opacity: 0;
  right: 32px !important;
}
.calendar .cal-nav:hover .cal-next-year {
  opacity: 1;
}

.calendar .cal-nav .cal-next {
  right: 0;
}

.calendar .cal-head .cal-title {
  font: 300 1.2em/32px "Lato";
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}
.calendar .cal-head span {
  cursor: pointer;
}
.calendar .cal-row {
  clear: both;
}
.calendar .cal-row.cal-tableHead {
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
}
.calendar .cal-row.cal-tableHead .cal-column {
  border-bottom: 1px solid #c0c0c0;
  border-radius: 0;
}
.calendar .cal-column {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  -webkit-transition: background-color .05s, color .05s;
  transition: background-color .05s, color .05s;
  border-radius: 50%;
}
.calendar .cal-column.cal-currentMonth {
  cursor: pointer;
  cursor: hand;
}
.calendar .cal-column.cal-currentMonth:hover {
  background: #5cd4c0;
  color: white;
}
.calendar .cal-column.cal-inactive {
  color: #a0a0a0;
  font-weight: 300;
}
.calendar .cal-column.cal-slctd {
  background: #202020;
  color: white;
  font-size: 1.15em;
  font-weight: 300;
}
.calendar .cal-column.cal-today {
  font-weight: 900;
  font-size: 1.3em;
}

.calendar .cal-dayArea {
  position: relative;
  width: 280px;
  height: 240px;
  overflow: hidden;
}
.calendar .cal-dayArea .cal-monthArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cal-month {margin-right: 4px;}


/*@newCalendar --------------------------------------------------------------------*/
.newCalendar {
  position: absolute;
  display: block;
  font: 500 12px "Lato";
  line-height: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #6d6d6d;
}
.newCalendar .newCal-view {
  position: relative;
  float: left;
  background: #fff;
  padding: 23px 43px 43px;
  border-bottom: none;
}
.newCalendar .newCal-nav {
  position: absolute;
  top: 10px;
  left: 0px;
  width: calc(100% - 20px);
  height: 10px;
  text-align: center;
  font-size: 1em;
  margin: 0px 10px;
  border-bottom: 0px !important;
}
.newCalendar .newCal-nav .newCal-btn {
  position: absolute;
  display: block;
  z-index: 1;
  cursor: pointer;
  cursor: hand;
  width: 32px;
  height: 32px;
  line-height: 31px;
  top: 4px;
  left: auto;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  border-radius: 4px;
  font-size: 10px;
}
.newCalendar .newCal-nav .newCal-btn:hover {
  color: #808080;
  background: #e0e0e0;
  border-color: #606060;
}

.newCalendar .newCal-nav .newCal-prev { left: 20px; }

.newCalendar .newCal-nav .newCal-prev-year {
  opacity: 0;
  left: 46px;
}
.newCalendar .newCal-nav:hover .newCal-prev-year {
  opacity: 1;
}
.newCalendar .newCal-nav .newCal-next-year {
  opacity: 0;
  right: 46px !important;
}
.newCalendar .newCal-nav:hover .newCal-next-year {
  opacity: 1;
}

.newCalendar .newCal-nav .newCal-next {
  right: 20px;
}

.newCalendar .newCal-head .newCal-title {
  font: 300 12px "Lato";
  line-height: 12px;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}
.newCalendar .newCal-head span {
  cursor: pointer;
  color: #363a3c;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.newCalendar .newCal-head .newCal-year {
  font-size: 9px;
}

.newCalendar .newCal-row {
  clear: both;
  border-bottom: 1px solid #f6f6f6;
}
.newCalendar .newCal-row.newCal-tableHead {
  font-weight: 300;
  height: 31px;
  font-style: italic;
  border-bottom: 0px;
}
.newCalendar .newCal-row.newCal-tableHead .newCal-column {
  border-bottom: 0px solid #f6f6f6;
  border-top: 1px solid #f6f6f6;
  border-radius: 0;
  border-left: none;
  text-transform: none;
  height: 34px;
}
.newCalendar .newCal-column {
  text-align: center;
  width: 57px;
  height: 31px;
  line-height: 29px;
  float: left;
  -webkit-transition: background-color .05s, color .05s;
  transition: background-color .05s, color .05s;
  border-radius: 0%;
  border-left: 1px solid #f6f6f6;
}
.newCalendar .newCal-column.newCal-currentMonth {
  cursor: pointer;
  cursor: hand;
}
.newCalendar .newCal-column.newCal-currentMonth:hover {
  background: #5cd4c0;
  color: white;
}
.newCalendar .newCal-column.newCal-inactive {
  color: #a0a0a0;
  font-weight: 300;
}
.newCalendar .newCal-column.newCal-slctd {
  background-color: #5cd4c0;
  color: white;
  font-size: 1.15em;
  font-weight: 300;
}
.newCalendar .newCal-column.newCal-today {
  font-weight: 900;
  font-size: 1.3em;
}

.newCalendar .newCal-dayArea {
  position: relative;
  width: 399px;
  height: 188px;
  overflow: hidden;
}
.newCalendar .newCal-dayArea .newCal-monthArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.newCal-month {
  margin-right: 0px;
  display: block;
}

.newCalendar .newCal-first-cell {
  border-left: 0px;
}

.newCal-selected-date {
  background: #5cd4c0
}

/*@Tooltip --------------------------------------------------------------------*/
.tooltipTrigger:hover > .smallToolTip-box {
  opacity: 1;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

/* Animation */
/* Fade */
.ttFadeBefore {
  opacity: 0;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}
.ttFadeAfter {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
/*----- BASIC TOOLTIP -----*/
.whiteToolTip-box {
  position: absolute;
  border-radius: 4px;
  vertical-align:middle;
  text-align:center;
  background: #fff;
  border: 1px solid #5cd4c0;
}

.whiteToolTip-caret {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #fff;
  position: absolute;
  left: 117px;
  top: -12px;
}
.whiteToolTip-triBorder {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #5cd4c0;
  position: absolute;
  left: 116px;
  top: -13px;
}

.whiteToolTip-mainTxt {
  width: 229px;
  height: 44px;
  color: #363a3c;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 25px auto !important;
}
.toolTip-x {
  background: #fff;
  border: none;
  outline: none;
  float: right;
  margin-right: 2px;
  font-size: 18px;
}
/*----- BASIC TOOLTIP -----*/
.basicToolTip-box {
  position: absolute;
  border-radius: 4px;
  vertical-align:middle;
  text-align:center;
}

.basicToolTip-caret {
  top: -30px;
  font-size: 56px !important;
  margin-top: -34px;
  left: 50%;
}

.basicToolTip-mainTxt {
  color: #fff;
  text-align: center;
  padding: 12px 28px;
  margin-top: 3px;
  font-size: 20px;
  line-height: 24px;
}

.toolTip-dismissContainer {
  height: 53px;
  border: none;
  border-top: 1px solid #142152;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  background-color: inherit;
  outline: none;
}

.toolTip-dismissContainer:hover {
  background-color: #142152;
}

/*----- SMALL HOVER TOOLTIP -----*/

.smallToolTip-box {
  position: absolute;
  border-radius: 15px;
  vertical-align:middle;
  text-align:center;
  width: auto;
  padding: 0px 30px;
  opacity: 0;
}

.smallToolTip-caret {
  position: absolute;
  top: -16px;
  font-size: 24px;
  margin-left: -5px;
  left: 50%;
}

.smallToolTip-mainTxt {
  color: #fff;
  text-align: center;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*-----LARGE HOVER-----*/

.largeTooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Gap filler */
.largeTooltip::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.largeTooltip:hover::after {
  pointer-events: auto;
}

/* Tooltip */

.largeTooltip-content {
  position: absolute;
  z-index: 9999;
  width: 300px;
  left: 50%;
  bottom: 100%;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #203570;
  background: transparent;
  opacity: 0;
  margin: 0 0 20px -150px;
  cursor: default;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.largeTooltip:hover .largeTooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.largeTooltip-content span {
  display: block;
}

.largeTooltip-text {
  border-bottom: 10px solid #203570;
  overflow: hidden;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.largeTooltip:hover .largeTooltip-text {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.largeTooltip-inner {
  background: #fff;
  padding: 24px;
  border: 1px solid #e7e7e7;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.largeTooltip:hover .largeTooltip-inner {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Arrow */

.largeTooltip-content::after {
  content: '';
  bottom: -20px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #203570;
  border-width: 10px;
  margin-left: -10px;
}

.select-client{
  float: right;
  margin: 18px 56px;
  height: 60px;
  background-color: #63e6d0;
  border:1px solid #63e6d0;
  width: 12%;
  color:#fff;
}

/*Customized styling for the date picker*/

div#ui-datepicker-div {
  width: 260px;
  font-family: Lato;
  border: 1px solid #e0e0e0 !important;
  background: white;
}
.ui-datepicker-header {
  background: #fff;
  border: none;
  color: #363a3c;
}
.ui-datepicker-title {
  margin: 7px 20px !important;
}
span.ui-datepicker-month {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: -6px;
}
#ui-datepicker-div th {
  color: #363a3c;
  padding: 5px !important;
  text-align: center !important;
  font-style: italic;
  font-weight: 400 !important;
}
a.ui-state-default {
  background: #fff !important;
}
.ui-datepicker td {
  padding: 2px;
}
a.ui-state-default {
  padding: 5px !important;
  text-align: center !important;
  color: #363a3c !important;
  border: none !important;
}
a.ui-state-default:hover, a.ui-state-default.ui-state-active {
  color: #fff !important;
  background: #599ba1 !important;
  border: none !important;
}
a.ui-state-default.ui-state-highlight {
    border: 1px solid #599ba1 !important;
    cursor: pointer;
}
span.ui-icon.ui-icon-circle-triangle-e {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #363a3c;
}
span.ui-icon.ui-icon-circle-triangle-w {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right:6px solid #363a3c;
}
.ui-state-hover {
  background: #fff !important;
  border: none !important;
  background-image: none !important;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker-prev-hover {
  left: 10px !important;
  top: 12px !important;
  cursor: pointer !important;
}
.ui-datepicker .ui-datepicker-next, .ui-datepicker-next-hover {
  right: 0px !important;
  top: 12px !important;
  cursor: pointer;
}
