/**
Currently using widgets as base for class, we should either change the name of the widget class or leave.
Adding another classs for cards that is using the same values would be redundant and bloat.
**/

.module-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
  clear: both;
  padding: 20px;
  width: auto;
  overflow: hidden;
  font-family: 'Lato', Helvetica, sans-serif;
  margin: 0px 0px 20px 0px;
}

.cardInput {
  width: 222px;
  height: 32px;
  border: 1px solid #dedede;
  border-radius: 2px;
  outline: none;
  padding-left: 4px;
  font-size: 14px;
  color: #314052;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: 400;
}
.cardInput:focus { border-color: #599ba1; }
.cardInput:hover { box-shadow: 0px 0px 4px #599ba1; }

.cardInput-title {
  display: block;
  font-family: 'Lato', Helvetica, sans-serif;
  color: #363a3c;
  font-size: 14px;
  margin-bottom: 5px;
  width: 222px;
  font-weight: 400;
}

.cardInput-single {
  display: block;
  margin: 10px 20px;
}
.inputMargin {
  padding-left: 8px;
}

.card-hr {
  color: #e1e1e1;
  margin: 16px 0px;
  width: 800px;
}
