.offline-reconnect-now-btn {
	top: 91px !important;
	bottom: 52px !important;
	width: 126px;
	height: 19px;
	color: #78c3b7;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 19px;
}

.offline-reconnect-now-btn:hover {
	cursor: pointer;
	color: #3d897c;
	text-decoration: none;
}

.offline-reconnect-now-text {
	bottom: 52px;
	color: white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 22px;
}

.offline-parent {
	text-align: left;
	padding-top: 34px !important;
	padding-left: 64px !important;
	padding-right: 64px !important;
}

.offline-body-wait {
	width: 250px;
	height: 66px;
	color: white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 22px;
	margin-bottom: 0px;
}

.offline-body-connect {
	width: 323px;
	height: 66px;
	color: white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 22px;
	margin-bottom: 0px;
}

.offline-body-timeout {
	width: 268px;
	height: 110px;
	color: white;
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.57px;
	line-height: 22px;
}

.offline-icon::before {
	background-image: url('../../../images/icons/warning-white-filled.svg');
	position: absolute;
	left: 24px;
	top: 39px;
	background-size: 15px 13px;
	display: inline-block;
	width: 15px;
	height: 13px;
	content: "";
}
