
#engagementPage .widget:nth-of-type(1) {
  float: right;
}

#engagementPage .widget:nth-of-type(2) {
  float: left;
}


body:not(.user-type-client) #engagement-main .widget:nth-of-type(1),
body:not(.user-type-client) #engagement-main .widget:nth-of-type(2) {
  margin-top: 0 !important;
}

body:not(.user-type-client) #engagementPage .widget:nth-of-type(1),
body:not(.user-type-client) #engagementPage .widget:nth-of-type(2) {
  margin-top: 0 !important;
}

.pageHeader-buttons {
  display: inline-block;
}
