/* First Step */
.files-storage-container {
  width: 184px;
  height: 48px;
  display: inline-block;
  margin-left: 24px;
  border: solid 1px #e1e1e1;
  border-radius: 4px;
  padding: 0 8px;
  cursor: pointer;
  color: #363a3c;
}
.files-storage-container:hover {
  border: solid 1px #599ba1;
  color: #363a3c;
}
.files-storage-container.oneDriveDisabled:hover {
  border: solid 1px #e1e1e1;
  color: #363a3c;
  cursor: not-allowed;
}
.files-storage-icon {
  border: solid 1px transparent;
  border-right-color: #e1e1e1;
  display: inline-block;
  font-size: 25px;
  height: 48px;
  width: 48px;
  padding: 8px 16px 8px 4px;
}
.auvicon-folder.files-storage-icon {
  color: #363a3c;
}
.files-storage-text {
  display: inline-block;
  padding-left: 16px;
  vertical-align: middle;
  font-size: 16px;
}

/* Second Step */
.storage-table-div {
  width: 752px;
  margin: 0 auto;
}
.storage-header-div {
  display: block;
  padding: 0 0 30px;
  color: #9b9b9b;
}
.header {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
}
.storage-img {
  display: inline-block;
  font-size: 29px;
  color: #599ba1;
  margin-right: 14px;
  float: left;
  padding-left: 8px;
}
.storage-cell {
  display: inline-block;
  width: 232px;
  text-align: left;
  vertical-align: top;
  margin-top: 8px;
  color: #9B9B9B;
  line-height: 19px;
  letter-spacing: 0.57px;
}
.storage-trashIcon {
  display: inline-block;
  font-size: 17px;
  color: #9b9b9b;
  vertical-align: top;
  margin-top: 6px;
  cursor: pointer;
}

/* Delete Storage Modal */
.files-deleteStorage-msg {
  display: block;
  font-size: 16px;
  color: #707070;
  line-height: 24px;
}

.files-retry:hover {
  text-decoration: underline;
  cursor: pointer;
}

.files-feedback-container {
  margin-top: 56px;
}

.files-feedback {
  display: inline;
  color: #707070;
  font-size: 15px;
  text-align: center;
}

.files-letusknow, .files-letusknow:hover {
  color: #5C9BA0;
  text-decoration: underline;
}

.files-letusknow:hover {
  cursor: pointer;
}
