.m-fa-header{
  height: 104px;
  background-color: #f6f6f6;
  border-radius: 2px 2px 0 0;
}
.m-fa-headerText{
  height: 30px;
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  padding: 40px 5px;
}
.m-fa-bodyText{
  width: 538px;
  height: 408px;
  overflow-y: scroll;
  color: #707070;
  border: 1px solid #E6E3E7;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 20px;
  margin: 29px auto 0px;
  text-align: left;
}
.m-fa-bodyLine {
  margin-top: 25px
}

.m-fa-container {
  background-color: white;
  border-radius: 2px;
}
