/*Modal_Archiving.css*/

.m-archive-cover {
	background: rgba(255,255,255,1);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(33%, rgba(255,0,0,0)), color-stop(66%, rgba(255,0,0,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,0,0,0) 33%, rgba(255,0,0,0) 66%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,0,0,0) 33%, rgba(255,0,0,0) 66%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	display: block;
	height: 200px;
	width: 424px;
	position: relative;
	z-index: 1;
}

.m-archive-deleting {
	width: 424px;
	height: 200px;
	margin: 300px auto;
	position: relative;
	overflow: hidden;
}

.m-archive-text {
	position: absolute;
	left: 0;
	top: 165px;
	-webkit-transition: all 3s linear;
	transition: all 3s linear;
}

.m-archive-slide .m-archive-text{
	top: -330px;
}