.ce-parent {
  height: 100%;
  overflow: auto;
}

.working-paper-container .ce-systemContainer {
  position: relative;
  height: auto;
  margin: 0px auto 24px;
  background: #fff;
}

.working-paper-container .ce-navSystem {
  text-align: center;
  margin-top: 35px;
  padding-bottom: 35px;
}

.working-paper-container .workingpaper-modal-body {
  width: 100%;
  height: 100%;
  background: #fff;
}

.working-paper-container .ce-individualContainer {
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
}

.working-paper-container .ce-navLinkHolder {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}
/*.ce-navLinkHolder:hover {
  cursor: pointer;
}*/
.working-paper-container .ce-navLinkTxt {
  color: #666666;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.83px;
  margin-bottom: 2px;
  width: 68px;
  display: inline-block;
}

.working-paper-container .ce-numberCircle {
  height: 26px;
  width: 26px;
  border-radius: 13px;
  background-color: #999;
  padding-top: 2px;
  margin: 0 auto;
  color: #fff;
  cursor: default;
  border: 2px solid #999;
}
.working-paper-container .ce-numberCircle::before {
  display: none;
}
.working-paper-container .ce-navLinkHolder:first-of-type {
  margin-left: 0;
}
.working-paper-container .ce-navLinkHolder:first-of-type .ce-numberCircle::before {
  content: none;
}
.working-paper-container .ce-numberCircle-active {
  background-color: white;
  color: #599ba1;
  border-color: #599ba1;
}
.working-paper-container .ce-numberCircle-done {
  background-color: #599ba1;
  border: 2px solid #599ba1;
}
.working-paper-container .ce-navLink-active {
  color: #599ba1;
}
.working-paper-container .ce-number {
  font-size: 12px;
  font-weight: 700;
  color: inherit;
  line-height:18px;
}
.working-paper-container .ce-number-active {
  color: #599ba1;
}
.working-paper-container .ce-linkHr {
  display:none;
  position: absolute;
  width: 68px;
  color: #e1e1e1;
  border-top:none;
  bottom: 17px;
  left: -34px;
}
.working-paper-container .ce-nav-checkmark {
  font-size: 10px;
  line-height: 23px;
  color: #fff;
}
.working-paper-container .ce-footer {
  border-top: none;
  clear: both;
  margin-top: 28px;
  background: #fff;
  width: 100%;
}

.working-paper-container .ce-footerCancelBtn {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 32px;
  float: right;
}

.working-paper-container .ce-footerCancelBtn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #707070;
}

.working-paper-container .ce-footerBtnHolder {
  width: 100%;
  margin: 16px auto;
}

.working-paper-container .auv-inputTitle
{
  width: 100%;
}

.working-paper-container .auv-input{
  width: 520px;
}

.working-paper-container .auv-chevronDown{
  left: 501px;
}

.working-paper-container .inputDdl{
  width: 501px;
}

input[type='checkbox']:checked {
  background: #599ba1;
  border: 1px solid #599ba1;
  color: #fff;
  outline: none;
}
