
.module-fm-fileManTable {
  color: #9b9b9b;
  background: #fff;
  /*border-bottom: 1px solid #e7e8e7;*/
  /*border-top: 1px solid #e7e8e7;*/
  padding-bottom: 15px;
}

.module-fm-tableHeader {
  height: 40px;
  color: #363A3C;
  /*border-bottom: 1px solid #e7e8e7;*/
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  width: 24%;
}
.module-fm-td-popup {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 11px;
  margin-left: 48px;
  padding: 5px;
  background-color: #fff;
  border: solid 1px #CCE2FF;
  border-radius: 5px;
  font-size: 15px;
}

/*.module-fm-tableHeader td {
  padding-left: 10px;
}*/
/*.module-fm-folderPath:hover {
  color:#599ba1;
}
.module-fm-titleDiv {
  position:relative;
}*/
.module-fm-thCheckBox {
  background: #fff !important;
  border-radius: 3px !important;
  margin-bottom: 10px !important;

}

.fm-filterDdl-holder {
  display: inline-block;
  margin-left: 16px;
  float: left;
}

.ui.dropdown.fm-filterDdl {
  background: #fff;
  min-width: 130px;
}

.dropdown.icon.fm-filterDdl-icon {
  float: right;
  margin: 5px;
}

.module-fm-trashIcon {
  font-size: 22px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: 20px;
  color: #6D6D6D
}
.module-fm-trashIcon:hover {
  cursor: pointer;
}

.module-fm-download {
  font-size: 22px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-left: 20px;
  color: #6D6D6D;
  cursor: pointer;
}

.module-fm-searchInput {
  display: inline-block;
  float: right;
  margin-right: 29px;
}

.module-fm-table {
  margin: 15px 0px;
  width: 100%;
}

.module-fm-sortActive {
  color:#599ba1;
}
.module-fm-float {
  float: right;
}
.moudle-fm-donwload {
  width: 190px;
  height: 40px;
  padding: 7px 36px;
  color: #fff;
  background-color: #599ba1 !important;
  border-radius: 2px;
  border: 1px solid rgba(92, 212, 191, 0.44);
  text-align: center;
  font-family: Lato;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 26px;
  cursor:pointer;
  top: 16px;
  right: 24px;
  position:absolute;
}

.module-fm-emptyClipboard {
  margin: auto;
  display: block;
  padding-top:100px;
}
.module-fm-modalHeaderText {
  color: #363a3c;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 30px;
  padding-top: 37px;
}

.module-fm-modalText {
  color: #707070;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width:381px;
  margin:auto;
}

.module-fm-modalReferenceKey {
  color: #363a3c;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin-top:24px;
  margin-bottom: 24px;
  text-align:center;
}
.module-fm-sortIcon {
  width: 11px;
  margin-left: 5px;
}

.module-fm-sortIcon-active {
  width: 11px;
  margin-left: 5px;
}

.module-fm-sortIcon-upside {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.module-fm-categoryIcon {
  margin-top: 16px;
  margin-right: 11px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 10px;
  float: right;
}

.module-fm-closeIcon {
  padding: 3px 3px 2px 2px;
  float: right;
  width: auto;
  height: auto;
}

.module-fm-input:focus {
  outline: none;
}

.module-fm-btn {
  width: 130px;
  height: 42px;
  border: 1px solid rgba(92, 212, 191, 0.44);
  border-radius: 2px;
  color: #50baa8;
  background: #fff;
  outline: none;
  margin-right: 45px;
}

.module-fm-btn:hover {
  background: #599ba1;
  border-color: #599ba1;
  color: #fff;
}

.module-fm-downloadAll-btn {
  margin-right: 61px;
  background: #BDBDBD;
  color: white;
  border: 0px;
  width: 130px;
  height: 42px;
  outline: none;
}

.module-fm-closeIcon:hover {
  font-weight: bold;
  cursor: pointer;
}

.module-fm-emptyText {
  width: 325px;
  color: #6D6D6D;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 100px;
  margin-top: 25px;
}

.module-fm-uploaderPic {
  width: 40px;
  border-radius: 35px;
  margin-right: 25px;
}

.module-fm-td {
  color: #363a3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.module-fm-fileCategorySelector {
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  width: 200px;
  height: 40px;
}

.module-fm-noShow {
  display: none;
}

.module-fm-margin10 {
  margin-top: -10px;
}

.module-fm-menuSortIcon {
  float: none;
  margin-top: -5px;
  margin-left: 8px;
}

.module-fm-menuChangeIcon {
  float: right;
  margin-top: 7px;
  margin-right: 0px;
  padding-right: 0px;
}

.module-fm-paddingTop {
  margin-top: 12px ! important;
}

.module-fm-borderBottom {
  border-bottom: 1px solid #515151;
}

.module-fm-tr {
  width: 895px;
  height: 49px;
  font-size: 14px;
  color: #535353;
}
.module-fm-tr-active {
  background-color: #eaeaea;
  cursor:pointer;
}
.module-fm-selectedtr {
  background-color: #f5f5f5;
}
/*.module-fm-selectedtr:hover {
  background-color: #c7c5c4
}*/
.module-fm-folderPath {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.39px;
  line-height: 17px;
  padding-left: 8px;
  cursor:pointer;
}
.module-fm-title {
  color: #314052;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  padding-top:25px;
  margin :0px 16px;
  display:table;
}
.module-fm-search {
  right:50px;
  top:26px;
  position:absolute;
  width:200px;
}
/*.module-fm-tr td {
  padding-left: 8px;
  padding-right: 25px;
}*/

.module-fm-tr:first-child .module-fm-td {
  border-top: 1px solid rgba(185, 185, 185, 0);
}
.fileManager-container {
  width: 1201px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.247059);
  border-radius: 4px;
  top: 0px;
  left: 0px;
  position: absolute;
  vertical-align: top;
  margin: 0px auto 10px;
  height: 714px;
  font-size: 12px;
  font-family: 'Lato', Helvetica, sans-serif;
  background:white;
}
.fileManager-dashboard {
  background:white;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
/*.w-docs-td { border-top: 1px solid rgba(185, 185, 185, 0.39); }*/



/*When you have over the tr, the top border of the one below dissapers.*/

.module-fm-uploaderPic:hover .module-fm-uploader {
  display: block;
  height: 5px;
  width: 10px;
}

.module-fm-ModalBtn {
  height: 40px;
  width: 128px;
  color: #fff;
  margin: 8px;
  border: none;
  outline: none;
  border-radius: 2px;
}

.module-fm-catDiv {
  display: inline-block;
  color: #fff;
  font-size: 11px;
  padding: 0px 8px;
  border-radius: 3px;
}


.module-fm-btnDelete        {background: #f3672f;}
.module-fm-btnDelete:hover  {background: #fc8a5d;}
.module-fm-btnDelete:active {background: #bf5024;}

.module-fm-btnCancel        {background: #B5B5B5;}
.module-fm-btnCancel:hover  {background: #cfcfcf;}
.module-fm-btnCancel:active {background: #9c9c9c;}
