/*************** Settings MENU **********************/
.m-s-cardContainer {
  top: 0px;
  float: right;
  width: 840px
}

/**** Nav System ****/
.m-s-navSystem {
  width: 264px;
  height: 219px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  display: inline-block;
  float: left;
  margin-right: 24px;
  background-color: white;
}

.m-s-navSystemHead {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.44px;
  line-height: 19px;
  padding: 24px 0px 0px 24px;
}

.m-s-navHr {
  width: 232px;
  margin: 16px 16px 10px 16px;
}
/**** Nav System End****/

/**** Nav Links ****/
.m-s-navLink {
  width: 231px;
  height: 31px;
  border-radius: 4px;
  margin: 0px 17px 0px 16px;
  color: #707070;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 6px 8px 0px 8px;
  cursor: pointer;
}

.m-s-navLink-active {
  background-color: #ededed;
  border-radius: 4px;
  font-weight: 700;
  font-size: 15px;
  cursor: default;
}
/**** Nav Links End ****/
